Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

fix unit test
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

typo, device available event in connector,
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/EventDrivenTcpThermostatConnectorWorker.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/ThermostatStatusDatasetSampler.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetAvailableEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Connector/DeviceAvailableEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/DeviceChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/DeviceUnavailableEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/PollingTelemetryConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

another typo
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/SchemaGenerator/SchemaGenerator.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Object/code/ObjectThingSchema.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Object/t4/ObjectThingSchema.tt
Owners: @avishekpant

Adding example
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/examples/adr_file_mount_observation.rs
Owners: @cartertinney, @vaavva, @RLeclair

Minor formatting changes
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Format
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Restructuring
  rust/azure_iot_operations_connector/examples/filemount_azure_device_registry_observation.rs
  rust/azure_iot_operations_connector/src/filemount.rs
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

Main comments
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Cargo fmt issue
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Mvoing observation section
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Implementation of file mount for ADR
  rust/Cargo.toml
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
  rust/azure_iot_operations_mqtt/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

Clippy
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

disable attributes for now
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/tcp-service-asset-definition.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset-definition.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/sql-server-asset-definition.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fix unit tests
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/ConnectorMqttConnectionSettingsTests.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/PollingTelemetryConnectorWorkerTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

initial
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/filemount.rs
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Addressing comments
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

json
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

derp
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add some partial eq and default derives for doing status updates
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

creds optional
  dotnet/samples/Connectors/PollingRestThermostatConnector/ThermostatStatusDatasetSampler.cs
  dotnet/samples/Connectors/SqlConnector/QualityAnalyzerDatasetSampler.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

more impl
  eng/test/test-connector-mount-files/connector-config/AIO_METADATA
  eng/test/test-connector-mount-files/connector-config/DIAGNOSTICS
  eng/test/test-connector-mount-files/connector-config/MQTT_CONNECTION_CONFIGURATION
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/filemount.rs
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
  rust/azure_iot_operations_connector/src/lib.rs
  rust/azure_iot_operations_connector/tests/artifact_tests.rs
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

merge fixes
  rust/azure_iot_operations_connector/src/filemount.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

Restructuring
  rust/azure_iot_operations_connector/examples/filemount_azure_device_registry_observation.rs
  rust/azure_iot_operations_connector/src/filemount.rs
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

Main comments
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Addressing comments
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Adding example
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/examples/adr_file_mount_observation.rs
Owners: @cartertinney, @vaavva, @RLeclair

Mvoing observation section
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip sample with mocked file mount
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/examples/deployed_azure_device_registry.rs
  rust/azure_iot_operations_connector/examples/filemount_azure_device_registry_observation.rs
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
Owners: @cartertinney, @vaavva, @RLeclair

add ADR intergation tests
  .github/actions/configure-aio/action.yml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[.NET] Add integration tests for AdrServiceClient functionality
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update Models and converters
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Add Asset Event Stream Validation tests
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

first test passed (yay)
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

moved tests resources to eng folder
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/coap-asset.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/my-thermostat-device.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/rest-asset.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add tests resources
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/coap-asset.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/my-thermostat-device.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/rest-asset.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
