Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

response
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Api
  rust/azure_iot_operations_services/src/azure_device_registry/api2.md
Owners: @cartertinney, @vaavva, @RLeclair

shutdown
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

clippy
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AssetServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetDataPointObservabilityModeSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetDataPointSchemaElementSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetDatasetSchemaElementSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEndpointProfileResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEndpointProfileSpecificationSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEndpointProfileStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEventObservabilityModeSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEventSchemaElementSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetSpecificationSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AuthenticationSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDetectedAssetResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DatasetsSchemaSchemaElementSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DetectedAssetDatasetSchemaElementSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DetectedAssetResponseStatusSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DiscoveredAssetEndpointProfileResponseStatusSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/Error.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/GetAssetRequest.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/MethodSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/NotificationResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ProtocolConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/RetainSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/SupportedAuthenticationMethodsSchemaElementSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/UpdateAssetStatusRequest.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/UsernamePasswordCredentialsSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/X509credentialsSchema.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

feedback
  go/services/statestore/client.go
Owners: @lev-i, @clecompt-msft

collapse logging methods in go/statestore
  go/services/statestore/client.go
  go/services/statestore/del.go
  go/services/statestore/get.go
  go/services/statestore/keynotify.go
  go/services/statestore/reconnect.go
  go/services/statestore/set.go
  go/services/statestore/vdel.go
Owners: @lev-i, @clecompt-msft

fix
  dotnet/src/Azure.Iot.Operations.Services/StateStore/IStateStoreClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClientStub.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/StateStore/StateStoreClientTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

mage ci
  go/services/statestore/API.md
Owners: @lev-i, @clecompt-msft

Refactor model classes and update method signatures for consistency
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AssetServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetDataPointObservabilityMode.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetDataPointSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetDatasetSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEndpointProfile.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEndpointProfileResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEndpointProfileSpecification.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEventObservabilityMode.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEventSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetSpecification.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/Authentication.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AuthenticationSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDetectedAssetRequest.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDetectedAssetResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDiscoveredAssetEndpointProfileRequest.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDiscoveredAssetEndpointProfileResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DatasetsSchemaSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DetectedAssetDataPointSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DetectedAssetDatasetSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DetectedAssetDatasetSchemaElementSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DetectedAssetEventSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DetectedAssetResponseStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DiscoveredAssetEndpointProfileResponseStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/EventsSchemaSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/GetAssetRequest.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/Method.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ProtocolConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/Retain.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/SupportedAuthenticationMethodsSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/Topic.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/UsernamePasswordCredentials.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/X509Credentials.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Refactor AdrServiceClient and ModelsConverter for improved consistency and clarity
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ProtocolConverter.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[.NET] Remove some unused code, add more HLC + session client unit tests
  dotnet/src/Azure.Iot.Operations.Mqtt/Converters/MqttNetConverter.cs
  dotnet/src/Azure.Iot.Operations.Mqtt/Session/MqttSessionClient.cs
  dotnet/src/Azure.Iot.Operations.Protocol/HybridLogicalClock.cs
  dotnet/test/Azure.Iot.Operations.Mqtt.UnitTests/Session/MqttSessionClientTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/HybridLogicalClockTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Enhance IAdrServiceClient interface with detailed XML documentation for improved clarity and usability
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

no comon
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

no schema naming
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

more tests
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/HybridLogicalClockTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update support wording
  SUPPORT.md
Owners: @ryanwinter

fix
  dotnet/test/Azure.Iot.Operations.Mqtt.UnitTests/Session/MqttSessionClientTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update CI, only check links in all files from a scheduled run
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

fix modified files link check variable
  .github/workflows/ci-markdown.yml
  tools/vm_template/README.md
  tools/vm_template/cloud-init.yml
  tools/vm_template/deployVm.bicep
  tools/vm_template/deployVm.json
  tools/vm_template/old/quickstart.json
  tools/vm_template/old/vmDeploy.json
  tools/vm_template/setup.sh
Owners: @avishekpant, @ryanwinter

fix filtering mode
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

fixed typo
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

Add unit tests for ModelsConverter to ensure correct model conversions
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

move conditional to inline remove unused files
  .github/workflows/ci-markdown.yml
  tools/vm_template/README.md
  tools/vm_template/cloud-init.yml
  tools/vm_template/deployVm.bicep
  tools/vm_template/deployVm.json
  tools/vm_template/old/quickstart.json
  tools/vm_template/old/vmDeploy.json
  tools/vm_template/setup.sh
Owners: @avishekpant, @ryanwinter

initial vm creation
  tools/vm-template/README.md
  tools/vm-template/cloud-init.yml
  tools/vm-template/deployVm.bicep
  tools/vm-template/deployVm.json
  tools/vmTemplate/README.md
  tools/vmTemplate/aioDeploy.json
Owners: @ryanwinter, @avishekpant

enum
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

add managed identity grant the vm access to the group
  tools/vm-template/cloud-init.yml
  tools/vm-template/deployVm.bicep
  tools/vm-template/deployVm.json
Owners: @avishekpant

arc connection working
  tools/vm-template/cloud-init.yml
  tools/vm-template/deployVm.bicep
  tools/vm-template/deployVm.json
Owners: @avishekpant

remove defaults
  tools/vm-template/README.md
  tools/vm-template/deployVm.bicep
  tools/vm-template/deployVm.json
Owners: @ryanwinter, @avishekpant

Update dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Refactor AdrServiceClient and related models for improved clarity and consistency
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDiscoveredAssetEndpointProfileRequest.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/EventsSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ProtocolConverter.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

todos
  dotnet/samples/Protocol/Codegen/SampleClient/RpcCommandRunner.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/ExtendedResponse.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

simplify
  doc/dev/adr/0020-error-modeling-headers.md
Owners: @ryanwinter

feedback
  doc/dev/adr/0020-error-modeling-headers.md
Owners: @ryanwinter

wordsmithing
  doc/dev/adr/0020-error-modeling-headers.md
Owners: @ryanwinter

reword
  doc/dev/adr/0020-error-modeling-headers.md
Owners: @ryanwinter

passthrough
  doc/dev/adr/0020-error-modeling-headers.md
Owners: @ryanwinter

serializer notes
  doc/dev/adr/0020-error-modeling-headers.md
Owners: @ryanwinter

error from
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

change invalid argument
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair
