Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

newline delimiter
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/AssetFileMonitorTests.cs
  eng/test/test-connector-mount-files/adr-resources/SomeDeviceName_SomeInboundEndpointName
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @avishekpant

to revert
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

todo revert
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

no /r
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

switch to 22.04
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

2 assets in the sample
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset1-definition.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset2-definition.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/deploy-connector-and-device.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

\n
  eng/test/test-connector-mount-files/adr-resources/SomeDeviceName_SomeInboundEndpointName
Owners: @avishekpant

add version back to linkspector
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

asdf
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

remove flags
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

asdf
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

paths
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset1-definition.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset2-definition.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

disable fail level
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

less platform specific?
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/FileUtilities.cs
  eng/test/test-connector-mount-files/adr-resources/SomeDeviceName_SomeInboundEndpointName
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @avishekpant

run linkspector without action
  .github/.linkspector.yml
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

notes
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/AssetFileMonitorTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

try piping to reviewdog
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

add reviewdog
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

unrestrict apparmor
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

add reviewdog flag
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

fix token
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

duh
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

force broken link
  README.md
Owners: @ryanwinter

concurrent
  dotnet/src/Azure.Iot.Operations.Connector/DeviceContext.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fix reviewdog reporting
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

fix bad link check
  README.md
Owners: @ryanwinter

Accept timtay suggestion
  doc/dev/adr/0022-codegen-err-headers.md
Owners: @ryanwinter

Accept timtay suggestion
  doc/dev/adr/0022-codegen-err-headers.md
Owners: @ryanwinter

Accept timtay suggestion
  doc/dev/adr/0022-codegen-err-headers.md
Owners: @ryanwinter

do nofilter to force check all files
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

remove report
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

fix broken command
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

cleanup
  .github/.linkspector.yml
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

revert some changes
  .github/.linkspector.yml
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

check json outputt
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

Arc<Mutex> current_fencing_token, update tests
  rust/azure_iot_operations_services/src/leased_lock/lease.rs
  rust/azure_iot_operations_services/tests/lease_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Codegen] Bump version so it uses the latest .NET protocol package
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
Owners: @avishekpant

replicas
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

1
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

remove api.md files from checking
  .github/.linkspector.yml
Owners: @avishekpant

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
