Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

add back replace directive and remove go.mod
  go/go.work
  go/mqtt/go.mod
  go/mqtt/go.sum
  go/protocol/go.sum
Owners: @vishnureddy17, @clecompt-msft

Rust Root Readme
  rust/azure_iot_operations_protocol/README.md
Owners: @cartertinney, @vaavva, @RLeclair

update
  rust/azure_iot_operations_protocol/README.md
Owners: @cartertinney, @vaavva, @RLeclair

update
  rust/azure_iot_operations_protocol/README.md
Owners: @cartertinney, @vaavva, @RLeclair

remove version.json files, update .gomarkdoc.yml files, regenerate READMEs
  go/mqtt/.gomarkdoc.yml
  go/mqtt/README.md
  go/mqtt/retrypolicy/README.md
  go/mqtt/version.json
  go/protocol/.gomarkdoc.yml
  go/protocol/README.md
  go/protocol/errors/README.md
  go/protocol/hlc/README.md
  go/protocol/iso/README.md
  go/protocol/mqtt/README.md
  go/protocol/version.json
  go/protocol/wallclock/README.md
Owners: @vishnureddy17, @clecompt-msft

moved to correct location;r
  rust/README.md
  rust/azure_iot_operations_protocol/README.md
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_protocol/README.md
  rust/azure_iot_operations_protocol/README.md
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_protocol/README.md
  rust/azure_iot_operations_protocol/README.md
Owners: @cartertinney, @vaavva, @RLeclair

feed name
  .pipelines/cd-ado-dotnet.yml
Owners: @jrdouceur

nuget.config files
  codegen/nuget copy.config
  eng/test/docgen/src/Azure.Iot.Operations.Protocol.UnitTests.Docgen/nuget.config
  eng/test/faultablemqttbroker/src/Azure.Iot.Operations.FaultableMqttBroker/nuget.config
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/nuget.config
  tools/dsscli/src/nuget.config
Owners: @jrdouceur

fix
  codegen/nuget copy.config
  codegen/nuget.config
Owners: @jrdouceur

Minor codegen fixes (.NET & Go) for new repo
  codegen/src/Akri.Dtdl.Codegen/Akri.Dtdl.Codegen.csproj
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/t4/GoCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Telemetry/t4/GoTelemetryReceiver.cs
Owners: @jrdouceur

Update CI with new tooling.
  .github/workflows/ci-go.yml
Owners: @jrdouceur

Add auto-gen headers to serialization files
  codegen/src/Akri.Dtdl.Codegen/EnvoyGenerator/SerializerTransform.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/AVRO/AvroSerializer.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/AVRO/EmptyAvro.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/CBOR/CborSerializer.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/CBOR/DateCborConverter.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/CBOR/DurationCborConverter.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/CBOR/EmptyCbor.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/CBOR/TimeCborConverter.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/JSON/DateJsonConverter.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/JSON/DurationJsonConverter.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/JSON/EmptyJson.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/JSON/TimeJsonConverter.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/JSON/Utf8JsonSerializer.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/protobuf/ProtobufSerializer.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/raw/PassthroughSerializer.cs
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix ordering.
  .github/workflows/ci-go.yml
  go/mqtt/.gitignore
  go/samples/counter/client/.gitignore
  go/samples/counter/server/.gitignore
  go/samples/counter/server/Dockerfile
  go/samples/counter/server/push-local.sh
  go/test/protocol/.gitignore
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

Missed sync.
  .github/workflows/ci-go.yml
  go/samples/counter/server/deployment.yaml
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

[.NET] Add nuget,org as upstream source
  dotnet/nuget.config
  eng/test/docgen/src/Azure.Iot.Operations.Protocol.UnitTests.Docgen/nuget.config
  eng/test/faultablemqttbroker/src/Azure.Iot.Operations.FaultableMqttBroker/nuget.config
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/nuget.config
  tools/dsscli/src/nuget.config
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

Add certs to GitHub env.
  .github/workflows/ci-go.yml
  go/samples/counter/client/client.go
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

Use off-cluster port.
  .github/workflows/ci-go.yml
  go/samples/counter/client/client.go
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

Re-register subscription callbacks on reconnect.
  go/mqtt/connect.go
  go/mqtt/internal/set.go
  go/mqtt/internal/set_test.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
  go/samples/greeter/client/main.go
  go/samples/greeter/server/main.go
Owners: @vishnureddy17, @clecompt-msft

Reorder registrations.
  go/mqtt/connect.go
  go/mqtt/magefile.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

just upstream
  codegen/nuget.config
  dotnet/nuget.config
  eng/test/docgen/src/Azure.Iot.Operations.Protocol.UnitTests.Docgen/nuget.config
  eng/test/faultablemqttbroker/src/Azure.Iot.Operations.FaultableMqttBroker/nuget.config
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/nuget.config
  tools/dsscli/src/nuget.config
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix .NET issue where mqtt client Id was assumed not null
  dotnet/src/Azure.Iot.Operations.Mqtt/OrderedAckMqttClient.cs
  dotnet/src/Azure.Iot.Operations.Protocol/IMqttPubSubClient.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandExecutor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandInvoker.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Telemetry/TelemetryReceiver.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Telemetry/TelemetrySender.cs
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/LeasedLockClient.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
  dotnet/test/Azure.Iot.Operations.Mqtt.UnitTests/OrderedAckMqttClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fixup
  dotnet/test/Azure.Iot.Operations.Mqtt.UnitTests/OrderedAckMqttClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

use DTDLParser-prerelease feed in code generator
  codegen/nuget.config
  codegen/src/Akri.Dtdl.Codegen/Akri.Dtdl.Codegen.csproj
Owners: @jrdouceur

[Go] Remove replace directives in preparation for v0.1.0.
  go/go.work
  go/go.work.sum
  go/mqtt/go.mod
  go/samples/counter/client/go.mod
  go/samples/counter/envoy/go.mod
  go/samples/counter/server/go.mod
  go/samples/greeter/client/go.mod
  go/samples/greeter/envoy/go.mod
  go/samples/greeter/server/go.mod
  go/test/protocol/go.mod
Owners: @vishnureddy17, @clecompt-msft

Update nuget.config
  codegen/nuget.config
Owners: @jrdouceur

more
  eng/test/docgen/src/Azure.Iot.Operations.Protocol.UnitTests.Docgen/nuget.config
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/nuget.config
  tools/dsscli/src/nuget.config
Owners: @jrdouceur

More triggers for .NET CI build
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

add action
  .github/workflows/linkcheck.yml
Owners: @jrdouceur

add markdown ci
  .github/workflows/ci-markdown.yml
  .github/workflows/linkcheck.yml
Owners: @jrdouceur

pull request on markdown changes
  .github/workflows/ci-markdown.yml
Owners: @jrdouceur

trigger workflow with md change
  README.md
Owners: @ryanwinter

support 'nullable' in Command payloads
  codegen/src/Akri.Dtdl.Codegen/SchemaGenerator/SchemaGenerator.cs
  codegen/src/Akri.Dtdl.Codegen/SchemaGenerator/SchemaTransformFactory.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Command/code/CommandAvroSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Command/code/CommandJsonSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Command/code/CommandProto2.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Command/code/CommandProto3.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Command/t4/CommandAvroSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Command/t4/CommandAvroSchema.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Command/t4/CommandJsonSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Command/t4/CommandJsonSchema.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Command/t4/CommandProto3.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Command/t4/CommandProto3.tt
Owners: @jrdouceur

support 'uuid' schema type in .NET SDK and codegen
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/UuidType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/common/DotNetSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/common/GoSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/rust/common/RustSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/common/JsonSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/TypeGenerator/JsonSchemaStandardizer.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serialization/JsonSerializerTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/CBOR/CborSerializer.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/CBOR/UuidCborConverter.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/JSON/Utf8JsonSerializer.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/JSON/UuidJsonConverter.cs
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

support 'uuid' schema type in Go codegen
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/common/GoSchemaSupport.cs
Owners: @jrdouceur

Add state change sample
  dotnet/samples/StateChangeSample/Program.cs
  dotnet/samples/StateChangeSample/README.md
  dotnet/samples/StateChangeSample/StateChangeSample.csproj
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/LeasedLockClient.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/IStateStoreClient.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

add linkspector config file, fix some links
  .github/workflows/ci-markdown.yml
  .linkspector.yml
  doc/README.md
  dotnet/README.md
  rust/README.md
Owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair

add go back to link scanning
  .linkspector.yml
Owners: @jrdouceur

Fix references
  .devcontainer/token.txt
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreKey.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreValue.cs
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i
