Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

version bump
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/t4/RustCargoToml.tt
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_services/Cargo.toml
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

cleanup and add more doc
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

version bump for connector
  rust/azure_iot_operations_connector/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

re-add device fixes
  rust/azure_iot_operations_services/src/azure_device_registry/models/device.rs
Owners: @cartertinney, @vaavva, @RLeclair

version
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

2 observes open
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

phrasing
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

description
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

open sleep
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Rust][Services] Simplify type conversions in ADR (#819)
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/helper.rs
  rust/azure_iot_operations_services/src/azure_device_registry/models/asset.rs
  rust/azure_iot_operations_services/src/azure_device_registry/models/device.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

run just 1
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

semVar on connector versioning
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

"per pod"
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

chnage the message
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

array of secrets. Each secret has isOptional flag and description
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

wip
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

feedback
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

check if it sowrks with date
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

try time again
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

go back to using reference for status update
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Change deps of azure_iot_operations_stub_services to use public versions
  tools/azure_iot_operations_stub_services/Cargo.toml
Owners: @avishekpant

multi architecture support
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

Update connector-metadata-schema.json
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

use uuid
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

use uuid
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

fixup
  doc/akri_connector/example-connector-metadata.json
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

oly run asset
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

not inrore
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

comment observes
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

include sleep
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

stop ignore
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

Allow --shared and --sdkPath options in retail builds
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/ArgBinder.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Program.cs
Owners: @avishekpant

wip
  rust/azure_iot_operations_services/src/azure_device_registry/models/device.rs
Owners: @cartertinney, @vaavva, @RLeclair

DTDL updates + Rust codegen (#827)
  eng/dtdl/adr-base-service.json
  eng/dtdl/aep-type-based-operations.json
  eng/dtdl/device-discovery-service.json
  eng/dtdl/device-name-based-operations.json
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_base_gen/adr_base_service.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_base_gen/adr_base_service/create_or_update_discovered_asset_response_payload.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_base_gen/adr_base_service/create_or_update_discovered_asset_response_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_base_gen/adr_base_service/device_specification_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_base_gen/adr_base_service/discovered_asset_dataset_data_point.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_base_gen/adr_base_service/discovered_asset_event_data_point.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_base_gen/adr_base_service/discovered_asset_response_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_response_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/models/device.rs
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ProtocolConverter.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ProtocolConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

generate device-discovery-service, change models
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AepTypeService/CreateDiscoveredAssetEndpointProfileCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AepTypeService/CreateDiscoveredAssetEndpointProfileCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AepTypeService/CreateDiscoveredAssetEndpointProfileResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AepTypeService/CreateDiscoveredAssetEndpointProfileResponseSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AepTypeService/DiscoveredAssetEndpointProfile.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AepTypeService/DiscoveredAssetEndpointProfileResponseStatusSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AepTypeService/SupportedAuthenticationMethodsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/AkriServiceError.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/AkriServiceErrorException.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/CreateOrUpdateDiscoveredDeviceCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/CreateOrUpdateDiscoveredDeviceCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/CreateOrUpdateDiscoveredDeviceRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/CreateOrUpdateDiscoveredDeviceRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/CreateOrUpdateDiscoveredDeviceResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/CreateOrUpdateDiscoveredDeviceResponseSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/DeviceDiscoveryService.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/DeviceOutboundEndpoint.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/DiscoveredDevice.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/DiscoveredDeviceEndpoint.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/DiscoveredDeviceInboundEndpointSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/DiscoveredDeviceOutboundEndpointsSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/DiscoveredDeviceResponse.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryService/SpecSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceDiscoveryServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/DeviceServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDetectedAssetResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDiscoveredAssetEndpointProfileRequest.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDiscoveredAssetEndpointProfileResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DiscoveredAsset.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DiscoveredDeviceEndpoint.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DiscoveredDeviceInboundEndpoint.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DiscoveredDeviceOutboundEndpoints.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ProtocolConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

increase the sleep
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair
