Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

keep
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "logs, to revert"
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Fix for file mount
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Adding readme plus instructions
  rust/azure_iot_operations_connector/Dockerfile
  rust/azure_iot_operations_connector/README.md
  rust/azure_iot_operations_connector/ct.yaml
  rust/azure_iot_operations_connector/my-thermostat-device.yaml
  rust/azure_iot_operations_connector/rest-asset.yaml
Owners: @cartertinney, @vaavva, @RLeclair

removing duplicate connector template
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_services/examples/connector_template.yaml
Owners: @cartertinney, @vaavva, @RLeclair

filemount regression
  rust/azure_iot_operations_connector/src/filemount.rs
Owners: @cartertinney, @vaavva, @RLeclair

cleaner ack when updating telemetry
  go/services/adr/client.go
Owners: @lev-i, @clecompt-msft

asdf
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/ThermostatStatusDatasetSampler.cs
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

another check
  dotnet/samples/Connectors/PollingRestThermostatConnector/ThermostatStatusDatasetSampler.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

descriptive
  dotnet/samples/Connectors/PollingRestThermostatConnector/ThermostatStatusDatasetSampler.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

disable auth on HTTP server, to revert
  dotnet/samples/Connectors/PollingRestThermostatConnector/SampleRestServer/server.js
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Bump versions, add akri tag
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "disable auth on HTTP server, to revert"
  dotnet/samples/Connectors/PollingRestThermostatConnector/SampleRestServer/server.js
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update unit tests for better coverage
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DatasetsSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/Error.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/UpdateAssetEndpointProfileStatusRequest.cs
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ProtocolConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Split leased_lock client into lease and lock clients
  rust/azure_iot_operations_services/examples/leased_lock_client.rs
  rust/azure_iot_operations_services/src/leased_lock.rs
  rust/azure_iot_operations_services/src/leased_lock/client.rs
  rust/azure_iot_operations_services/src/leased_lock/lease.rs
  rust/azure_iot_operations_services/src/lib.rs
  rust/azure_iot_operations_services/tests/lease_client_tests.rs
  rust/azure_iot_operations_services/tests/lock_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

so far
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/AssetFileMonitorTests.cs
  eng/test/test-connector-mount-files/adr-resources/SomeDeviceName_SomeInboundEndpointName
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @avishekpant

Updating file mount with fix
  rust/azure_iot_operations_connector/examples/filemount_azure_device_registry_observation.rs
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

keep
  dotnet/src/Azure.Iot.Operations.Connector/Assets/FilesMonitor/FilesMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[Rust][Connector] Updating file mount with fix (#752)
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Rust][Connector] Syncing file mount changes from feature/akri to feature/rust-akri (#753)
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

works
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/AssetFileMonitorTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add sample, helper files, and readme
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/README.md
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions.rs
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/Dockerfile
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/connector_template.yaml
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/rest-thermostat-asset-definition.yaml
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/thermostat-device-definition.yaml
Owners: @cartertinney, @vaavva, @RLeclair

asdf
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/AssetFileMonitorTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fmt
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions.rs
Owners: @cartertinney, @vaavva, @RLeclair

more
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/AssetFileMonitorTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

definition fix
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions.rs
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/rest-thermostat-asset-definition.yaml
Owners: @cartertinney, @vaavva, @RLeclair

just structs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/asset_management_group_action_schema_element_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/asset_specification_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/device_outbound_endpoint.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/inbound_schema_map_value_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/outbound_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/qos.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/trust_settings_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/dependencies.md
Owners: @cartertinney, @vaavva, @RLeclair

just structs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/dependencies.md
Owners: @cartertinney, @vaavva, @RLeclair

[Dev Branch] [Rust] update dev branch (#750)
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/ThermostatStatusDatasetSampler.cs
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

copy
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

renames
  rust/azure_iot_operations_connector/README.md
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions.rs
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/Dockerfile
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/ct.yaml
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/my-thermostat-device.yaml
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/rest-asset.yaml
Owners: @cartertinney, @vaavva, @RLeclair

renames
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions.rs
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/connector_template.yaml
Owners: @cartertinney, @vaavva, @RLeclair

renames
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/Dockerfile
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/connector_template.yaml
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/rest-thermostat-asset-definition.yaml
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/thermostat-device-definition.yaml
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Dev Branch] [Rust][Connector] Sample updates (#757)
  rust/azure_iot_operations_connector/README.md
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions.rs
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/Dockerfile
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/connector_template.yaml
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/rest-thermostat-asset-definition.yaml
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/thermostat-device-definition.yaml
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair
