Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

add privte preview text for akri connector
  dotnet/README.md
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[.NET] Make connector package use nuget.org packages only during release
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

debug/release
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fix
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

observe aps
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Go] Application error headers
  go/protocol/API.md
  go/protocol/app_error.go
  go/samples/protocol/greeter/client/main.go
  go/samples/protocol/greeter/envoy/greeter.go
  go/samples/protocol/greeter/server/main.go
Owners: @lev-i, @clecompt-msft

asdf
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "asdf"
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

for change
  .github/workflows/e2e-cross-language.yml
Owners: @avishekpant

[.NET] Fix .sln file's references to template project
  dotnet/Azure.Iot.Operations.sln
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

test, to revert
  dotnet/Azure.Iot.Operations.sln
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "test, to revert"
  dotnet/Azure.Iot.Operations.sln
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

test
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

break it
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockDatasetSamplerFactory.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update e2e to checkout ref
  .github/workflows/e2e-cross-language.yml
Owners: @avishekpant

?
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

remove pull_request_target
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-rust.yml
  .github/workflows/e2e-cross-language.yml
Owners: @avishekpant

empty change
  dotnet/Azure.Iot.Operations.sln
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

e2e fix
  .github/workflows/e2e-cross-language.yml
Owners: @avishekpant

test go running with ref from PR
  .github/workflows/ci-go.yml
Owners: @avishekpant

fix go variable
  .github/workflows/ci-go.yml
Owners: @avishekpant

switch to ref
  .github/workflows/ci-go.yml
Owners: @avishekpant

trigger on pull_requet
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-rust.yml
  .github/workflows/e2e-cross-language.yml
Owners: @avishekpant

switch to always, instead of continue-on-error:
  .github/workflows/e2e-cross-language.yml
Owners: @avishekpant

remove old commit
  .github/workflows/e2e-cross-language.yml
Owners: @avishekpant

update linkspector to allow links to sdk repo, and to lines in files
  .github/.linkspector.yml
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

fix dotnet client/server
  .github/workflows/e2e-cross-language.yml
Owners: @avishekpant

fix sample links
  samples/README.md
Owners: @ryanwinter

fail on broken links
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

fix links
  eng/test/test-cases/SanityCheck/README.md
  samples/README.md
Owners: @ryanwinter

Add/Implement public interface for generated ADR service client
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AssetEndpointProfileServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AssetServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

address review comments
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

address review comments
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[.NET] Update AepTypeService schema to include required fields and new extension
  eng/dtdl/aep-name-based-operations.json
  eng/dtdl/aep-type-based-operations.json
Owners: @avishekpant

address review comments
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Add/Implement public interface for generated ADR service client
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AssetEndpointProfileServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AssetServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

address review comments
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

start the mqtt client in the factory.
  dotnet/samples/Protocol/Counter/CounterServer/CounterService.cs
  dotnet/samples/Protocol/Counter/CounterServer/MqttSessionClientFactoryProvider.cs
  dotnet/samples/Protocol/Counter/CounterServer/RpcHostBackgroundService.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add instructions on creating a secret to allow forks to run a CI workflow successfully
  doc/dev/github.md
Owners: @ryanwinter

observes
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
