Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

dup log
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

not needed
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

1 replica
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

yaml
  eng/test/test-adr-resources/rest-thermostat-asset-definition.yaml
  eng/test/test-adr-resources/thermostat-device-definition.yaml
Owners: @avishekpant

close sql?
  dotnet/samples/Connectors/SqlConnector/QualityAnalyzerDatasetSampler.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

timing fix
  dotnet/samples/Connectors/SqlConnector/deploy-connector-and-device.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Update ConnectorTests.cs
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/ConnectorTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Update deploy-connector-and-device.sh
  dotnet/samples/Connectors/SqlConnector/deploy-connector-and-device.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

back to random
  dotnet/samples/Connectors/SampleTcpServiceApp/Worker.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

didn't help
  dotnet/samples/Connectors/SqlConnector/QualityAnalyzerDatasetSampler.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

push to dss from rest sample
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset1-definition.yaml
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/ConnectorTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Make cross language pipeline timeout more generous
  .github/workflows/e2e-cross-language.yml
Owners: @avishekpant

fix
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset1-definition.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset2-definition.yaml
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/ConnectorTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

derp
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/ConnectorTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Fix latent codegen lint issues from PR 553
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/dotnet/Service/t4/DotNetService.tt
  dotnet/samples/Protocol/CloudEvents/Oven/Oven.g.cs
  dotnet/samples/Protocol/ReadCloudEvents/Oven/Oven.g.cs
  dotnet/samples/Protocol/TestEnvoys/Counter/Counter.g.cs
  dotnet/samples/Protocol/TestEnvoys/CustomTopicTokens/CustomTopicTokens.g.cs
  dotnet/samples/Protocol/TestEnvoys/Math/Math.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsRequestPayloadSerialization.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsResponsePayloadSerialization.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/Memmon.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/MemoryStatsTelemetrySerialization.g.cs
  dotnet/samples/Protocol/TestEnvoys/Passthrough/Passthrough.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DiscoveredAssetResources.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/SchemaRegistry.g.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreGen/StateStore.g.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

wip
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET][Akri] Remove placeholder client ids
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/Program.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
  dotnet/samples/Connectors/SqlConnector/Program.cs
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/ConnectorFileMountSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fix broken echo
  tools/deployment/initialize-cluster.sh
Owners: @avishekpant

asdf
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/InboundEndpointSchemaMapValue.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

try setting additional variables for markdown check
  .github/.linkspector.yml
Owners: @avishekpant

add 429 to accepted status codes
  .github/.linkspector.yml
Owners: @avishekpant

use auto derived getters. add device spec to lower layers. Update sample to include assets and datasets
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

switch to using refs for all names
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

cleanup
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
Owners: @cartertinney, @vaavva, @RLeclair

cargo
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

asdf
  doc/akri_connector/example-connector-metadata.json
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

wip
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

asdf
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant

wip forwarders
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
  rust/azure_iot_operations_protocol/src/telemetry/sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

clippy fixes
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
Owners: @cartertinney, @vaavva, @RLeclair

clippy
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

Fix interaction between NormalResult and shared namespace
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/EnvoyGenerator/EnvoyTransformFactory.cs
Owners: @avishekpant

update device status to use rwlock
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

doc update to remove outdated terms
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

json transform
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/examples/transform.rs
  rust/azure_iot_operations_connector/src/data_processor.rs
  rust/azure_iot_operations_connector/src/data_processor/derived_json.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

fields pub
  rust/azure_iot_operations_services/src/schema_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

removed pub id
  rust/azure_iot_operations_services/src/schema_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

begin tests
  rust/azure_iot_operations_connector/src/data_processor/derived_json.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

test
  rust/azure_iot_operations_connector/src/data_processor/derived_json.rs
Owners: @cartertinney, @vaavva, @RLeclair

derive EQ
  rust/azure_iot_operations_services/src/schema_registry.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/format.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/schema_type.rs
Owners: @cartertinney, @vaavva, @RLeclair
