Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

Address feedback
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Some explanation of method and wrap file reads in try blocks
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

DSS API alignment.
  go/services/statestore/README.md
  go/services/statestore/client.go
  go/services/statestore/del.go
  go/services/statestore/vdel.go
Owners: @vishnureddy17, @clecompt-msft

Fix logging
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Semicolon
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Wrong directive
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix doc and trace logs
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

init commit
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/ExternalEndpointClients/HTTPClient/DateJsonConverter.cs
  dotnet/samples/ExternalEndpointClients/HTTPClient/DurationJsonConverter.cs
  dotnet/samples/ExternalEndpointClients/HTTPClient/EmptyJson.cs
  dotnet/samples/ExternalEndpointClients/HTTPClient/HTTPClient.csproj
  dotnet/samples/ExternalEndpointClients/HTTPClient/MqttSessionClientFactoryProvider.cs
  dotnet/samples/ExternalEndpointClients/HTTPClient/Program.cs
  dotnet/samples/ExternalEndpointClients/HTTPClient/TelemetryRunner.cs
  dotnet/samples/ExternalEndpointClients/HTTPClient/TimeJsonConverter.cs
  dotnet/samples/ExternalEndpointClients/HTTPClient/Utf8JsonSerializer.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

addressed comments about return types of Option<()> to be bools, delete to return the number of deleted keys, and expired_millis in SetOptions to be a Duration
  rust/azure_iot_operations_services/api-surface.md
Owners: @cartertinney, @vaavva, @RLeclair

add service error enums
  rust/azure_iot_operations_services/api-surface.md
Owners: @cartertinney, @vaavva, @RLeclair

impl
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfileCredentials.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Azure.Iot.Operations.Services.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

cancellation token, string cert, async disposable
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfileCredentials.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

state store client just get/set/del/vdel
  rust/Cargo.toml
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_protocol/src/common/hybrid_logical_clock.rs
  rust/azure_iot_operations_services/Cargo.toml
  rust/azure_iot_operations_services/examples/state_store_client.rs
  rust/azure_iot_operations_services/src/lib.rs
  rust/azure_iot_operations_services/src/state_store.rs
  rust/azure_iot_operations_services/src/state_store/README.md
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/azure_iot_operations_services/src/state_store/resp3.rs
Owners: @cartertinney, @vaavva, @RLeclair

Testing pipeline workflow
  doc/test.md
Owners: @ryanwinter

add/update unit tests
  rust/azure_iot_operations_services/examples/state_store_client.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/azure_iot_operations_services/src/state_store/resp3.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  go/mqtt/TODO.md
  go/mqtt/connect.go
  go/mqtt/internal/errors.go
  go/mqtt/packet.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
  go/mqtt/subscribe.go
  go/mqtt/translate.go
Owners: @vishnureddy17, @clecompt-msft

doc cleanup
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_services/src/state_store.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/azure_iot_operations_services/src/state_store/resp3.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Go] Update golangci-lint version.
  go/mqtt/magefile.go
  go/protocol/magefile.go
  go/services/magefile.go
  go/test/protocol/countdown_event.go
  go/test/protocol/default_executor.go
  go/test/protocol/magefile.go
  go/test/protocol/test_case_executor.go
Owners: @vishnureddy17, @clecompt-msft

remove readme in wrong location
  rust/azure_iot_operations_services/src/state_store/README.md
Owners: @cartertinney, @vaavva, @RLeclair

doc updates from implementation
  rust/azure_iot_operations_services/api-surface.md
Owners: @cartertinney, @vaavva, @RLeclair

doc sync
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/azure_iot_operations_services/src/state_store/resp3.rs
Owners: @cartertinney, @vaavva, @RLeclair

mvp
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  go/mqtt/subscribe.go
  go/protocol/mqtt/types.go
Owners: @vishnureddy17, @clecompt-msft

create test directories
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Genericize client.
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/client.go
  go/services/statestore/del.go
  go/services/statestore/get.go
  go/services/statestore/internal/resp/format.go
  go/services/statestore/internal/resp/format_test.go
  go/services/statestore/internal/resp/parse.go
  go/services/statestore/internal/resp/parse_test.go
  go/services/statestore/set.go
  go/services/statestore/vdel.go
Owners: @vishnureddy17, @clecompt-msft

test
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

derp
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

asdf
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add well-known service errors.
  go/services/statestore/README.md
  go/services/statestore/client.go
  go/services/statestore/errors/README.md
  go/services/statestore/errors/errors.go
  go/services/statestore/internal/resp/parse.go
  go/services/statestore/internal/resp/parse_test.go
Owners: @vishnureddy17, @clecompt-msft

Fix comments to match generic behavior.
  go/services/statestore/README.md
  go/services/statestore/del.go
  go/services/statestore/get.go
  go/services/statestore/vdel.go
Owners: @vishnureddy17, @clecompt-msft

works on linux?
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

hash
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

probably
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FileUtilities.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

works
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

perhaps
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

update response topic to use prefix and suffix
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

updated samples
  rust/azure_iot_operations_mqtt/README.md
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

more sample updates
  rust/azure_iot_operations_mqtt/README.md
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

move fencing token to Set arguments
  rust/azure_iot_operations_services/api-surface.md
Owners: @cartertinney, @vaavva, @RLeclair

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
