Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

Add DeviceRef to test assertions in ModelsConverterTests
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

change into observation
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

git ignore
  .gitignore
Owners: @avishekpant

Changed to directory specific git ignore
  .gitignore
  go/services/adr/.gitignore
Owners: @avishekpant, @lev-i, @clecompt-msft

wip
  rust/azure_iot_operations_services/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Go] Split Lease and Lock per ADR 20
  go/samples/services/leasedlock/main.go
  go/services/leasedlock/API.md
  go/services/leasedlock/edit.go
  go/services/leasedlock/lease.go
  go/services/leasedlock/lock.go
  go/test/integration/services/leased_lock_test.go
Owners: @lev-i, @clecompt-msft

it builds
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/EventDrivenTcpThermostatConnectorWorker.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/RestThermostatDatasetSamplerFactory.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/ThermostatStatusDatasetSampler.cs
  dotnet/samples/Connectors/SqlConnector/QualityAnalyzerDatasetSampler.cs
  dotnet/samples/Connectors/SqlConnector/SqlQualityAnalyzerDatasetSamplerFactory.cs
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetAvailabileEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetEndpointProfileContext.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/DeviceContext.cs
  dotnet/src/Azure.Iot.Operations.Connector/IAdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/IDatasetSampler.cs
  dotnet/src/Azure.Iot.Operations.Connector/IDatasetSamplerFactory.cs
  dotnet/src/Azure.Iot.Operations.Connector/IMessageSchemaProvider.cs
  dotnet/src/Azure.Iot.Operations.Connector/NoMessageSchemaProvider.cs
  dotnet/src/Azure.Iot.Operations.Connector/PollingTelemetryConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetDatasetSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEndpointProfile.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEndpointProfileSpecification.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEndpointProfileStatus.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Delete
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/dependencies.md
Owners: @cartertinney, @vaavva, @RLeclair

Make `Name` and `Specification` fields non-nullable in `Asset` class
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetDatasetSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEventSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[.NET] Add integration tests for AdrServiceClient functionality
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

wip
  rust/azure_iot_operations_services/Cargo.toml
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

one hsot
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

sigs
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

warnings as errors
  dotnet/Directory.Build.props
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/EventDrivenTcpThermostatConnectorWorker.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/RestThermostatDatasetSamplerFactory.cs
  dotnet/samples/Connectors/SqlConnector/SqlQualityAnalyzerDatasetSamplerFactory.cs
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AssetServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/Cargo.toml
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

first pass of device structs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

classes
  rust/azure_iot_operations_services/Cargo.toml
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

simplify API surface for usage
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

restructure
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

make status config common
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

api stubs for device operations in the ADR client
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

deteected
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

asset status froms
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

some sample fixes, some lower layer refactoring
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/EventDrivenTcpThermostatConnectorWorker.cs
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/tcp-service-asset-definition.yaml
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/tcp-service-asset-endpoint-profile-definition.yaml
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/tcp-service-device-definition.yaml
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/deploy-connector-and-asset.sh
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset-definition.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-device-definition.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/deploy-connector-and-device.sh
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/sql-server-asset-definition.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/sql-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/sql-server-device-definition.yaml
  dotnet/samples/Connectors/SqlConnector/deploy-connector-and-asset.sh
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitorChangeType.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/DeviceChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/DeviceCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/DeviceCredentials.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/IAssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Connector/IAdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

documentation
  dotnet/src/Azure.Iot.Operations.Connector/IAdrClientWrapper.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

some TODOs
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/EventDrivenTcpThermostatConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/IAssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/IAdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

observation and some froms implemented for asset specifcation
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

no unit tests yet, but it builds
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/Program.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
  dotnet/samples/Connectors/SqlConnector/Program.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetMonitorFactoryProvider.cs
  dotnet/src/Azure.Iot.Operations.Connector/BuildConfiguration.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockAdrClientWrapper.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockAssetFileMonitor.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockDatasetSampler.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockDatasetSamplerFactory.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockMessageSchemaProvider.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/PollingTelemetryConnectorWorkerTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Assets/MockAssetMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

asset status
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Addressing comments
  rust/Cargo.toml
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
  rust/azure_iot_operations_mqtt/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair
