Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

Update example-connector-metadata.json
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant

test commit
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

test commit
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

more
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

keep yamls
  eng/test/test-adr-resources/coap-asset.yaml
  rust/azure_iot_operations_services/examples/broker-consolidated.yaml
  rust/azure_iot_operations_services/examples/broker-values.yaml
  rust/azure_iot_operations_services/examples/coap-asset.yaml
  rust/azure_iot_operations_services/examples/helm.sh
  rust/azure_iot_operations_services/examples/iot-mq.sh
  rust/azure_iot_operations_services/examples/rest-asset.yaml
  rust/azure_iot_operations_services/examples/thermostat-device.yaml
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

ref schema
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

it validates
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant

Update connector-metadata-schema.json
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

kub permissions
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant

Sender
  rust/azure_iot_operations_protocol/src/telemetry/sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

kubernetes bundle
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant

minimal
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

gate check
  .github/workflows/ci-connector-schema.yml
Owners: @avishekpant

Add Akri observability metrics operations definition and update project references
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
  eng/dtdl/akri-observability-metrics-operations.json
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @avishekpant

name
  .github/workflows/ci-connector-schema.yml
Owners: @avishekpant

add generated code
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.sln
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/AkriMetricErrorKind.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/AkriMetricOperationResponse.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/AkriMetricOperationResponseStatus.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/AkriObservabilityService.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/CounterMetric.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/GaugeMetric.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/HistogramMetric.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/IncrementOperation.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/MetricDefinition.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/PublishMetricsCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/PublishMetricsCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/PublishMetricsRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/PublishMetricsRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/PublishMetricsResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/RecordOperation.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/BytesJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/DateJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/DecimalJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/DecimalString.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/DurationJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/EmptyJson.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/TimeJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Utf8JsonSerializer.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/UuidJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/ValueExtractor.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

datapoint
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant

initial
  rust/azure_iot_operations_connector/examples/transform.rs
  rust/azure_iot_operations_connector/src/data_processor.rs
  rust/azure_iot_operations_connector/src/data_processor/derived_json.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

doc
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

add errors for forwarding and more cloud event details
  rust/Cargo.toml
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/data_transformer.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
  rust/azure_iot_operations_protocol/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

invalid input tests
  rust/azure_iot_operations_connector/src/data_processor/derived_json.rs
Owners: @cartertinney, @vaavva, @RLeclair

address pr comments
  rust/Cargo.toml
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_mqtt/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

clippy
  rust/azure_iot_operations_protocol/src/telemetry/sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

not working
  .github/workflows/ci-connector-schema.yml
Owners: @avishekpant

diff action impl?
  .github/workflows/ci-connector-schema.yml
Owners: @avishekpant

Update ci-connector-schema.yml
  .github/workflows/ci-connector-schema.yml
Owners: @avishekpant

Update doc/dev/adr/0020-large-message-chunking.md
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

changed
  .github/workflows/ci-connector-schema.yml
Owners: @avishekpant

newer schema
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

draft 7?
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

newest json schema?
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

Revert "newest json schema?"
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

name
  .github/workflows/ci-connector-schema.yml
Owners: @avishekpant

descriptions
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant

fixes so this actually runs
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/examples/base_connector_sample_resources/connector_template.yaml
  rust/azure_iot_operations_connector/examples/base_connector_sample_resources/rest-thermostat-asset-definition.yaml
  rust/azure_iot_operations_connector/src/data_transformer.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
  rust/azure_iot_operations_connector/src/lib.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_protocol/src/telemetry/sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

clippy
  rust/azure_iot_operations_protocol/src/telemetry/sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

quick workaround for cert bug
  rust/azure_iot_operations_connector/examples/base_connector_sample_resources/connector_template.yaml
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
Owners: @cartertinney, @vaavva, @RLeclair

add config error reporting for dataset destinations
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
Owners: @cartertinney, @vaavva, @RLeclair

add in custom user data for telemetry
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
Owners: @cartertinney, @vaavva, @RLeclair

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
