Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

add edge application
  doc/dev/packaging.md
  doc/edge_application/README.md
Owners: @ryanwinter

Latest helm chart
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  tools/deployment/deploy-aio.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

Use project reference for local development purposes
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorApp.csproj
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Fix connect race and re-enable tests from main (#209)
  .github/workflows/ci-go.yml
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/errors.go
  go/mqtt/internal/connection_tracker.go
  go/mqtt/subscribe.go
  go/mqtt/test/session_client_fault_injection_integration_test.go
  go/mqtt/test/session_client_mochi_integration_test.go
  go/mqtt/test/session_client_mq_integration_test.go
  go/mqtt/test/shared_constants_test.go
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

tweaks
  README.md
  doc/components.md
  doc/dev/codespaces.md
Owners: @ryanwinter

[Go] Fully enable fault-injection tests
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/internal/background.go
  go/mqtt/internal/connection_tracker.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
  go/mqtt/test/session_client_fault_injection_integration_test.go
  go/mqtt/test/util_test.go
Owners: @vishnureddy17, @clecompt-msft

nit
  go/mqtt/test/session_client_fault_injection_integration_test.go
Owners: @vishnureddy17, @clecompt-msft

needs testing
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfileChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/ChangeType.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FileChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FileState.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

check if this works for test
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

some fixes
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorAppWorker.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Don't store a context where a channel will do.
  go/mqtt/connect.go
  go/mqtt/internal/background.go
  go/mqtt/internal/connection_tracker.go
  go/mqtt/publish.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

probably works?
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

documentation
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfileChangedEventArgs.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

hmmm
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

add additional tools during initialize cluster.
  tools/deployment/initialize-cluster.sh
Owners: @jrdouceur

fix?
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorAppWorker.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

debug
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorAppWorker.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Slightly rework ADR client ObserveAsset API (#212)
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorAppWorker.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfileChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/ChangeType.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FileChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FileState.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

new version
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

credscan false positive
  .pipelines/config/CredScanSuppressions.json
Owners: @jrdouceur

Use the latest SDK bits in the connector template
  dotnet/templates/ConnectorApp/ConnectorApp.csproj
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

readme
  dotnet/samples/HttpThermostatConnectorApp/README.md
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

install k9s with initialize cluster, also print output afterwards on how to enable non-root access to cluster
  tools/deployment/initialize-cluster.sh
Owners: @jrdouceur

add akri operator setup isntructions
  doc/akri_connector/develop.md
  doc/akri_connector/setup.md
  doc/setup.md
Owners: @ryanwinter

install helm
  tools/deployment/initialize-cluster.sh
Owners: @jrdouceur

fix kube config permissions
  tools/deployment/initialize-cluster.sh
Owners: @jrdouceur

[Go] Fully enable fault-injection tests (#211)
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/internal/background.go
  go/mqtt/internal/connection_tracker.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
  go/mqtt/test/session_client_fault_injection_integration_test.go
  go/mqtt/test/util_test.go
Owners: @vishnureddy17, @clecompt-msft

wip
  go/mqtt/auth.go
  go/mqtt/connect.go
  go/mqtt/internal/connection_tracker.go
  go/mqtt/session_client.go
Owners: @vishnureddy17, @clecompt-msft

wip
  go/mqtt/auth.go
Owners: @vishnureddy17, @clecompt-msft

overhaul connection configuration (without auth)
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/constants.go
  go/mqtt/net.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
  go/mqtt/test/session_client_fault_injection_integration_test.go
  go/mqtt/test/session_client_mq_integration_test.go
  go/samples/cloudevents/client/main.go
  go/samples/cloudevents/server/main.go
  go/samples/greeter/client/main.go
  go/samples/greeter/server/main.go
  go/samples/leasedlock/main.go
  go/samples/statestore/main.go
  go/test/protocol/common_tester.go
Owners: @vishnureddy17, @clecompt-msft

auth implementation
  go/mqtt/auth.go
  go/mqtt/connect.go
  go/mqtt/constants.go
  go/mqtt/session_client.go
Owners: @vishnureddy17, @clecompt-msft

wip
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/interface_mocks.rs
  rust/azure_iot_operations_mqtt/src/lib.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
Owners: @cartertinney, @vaavva, @RLeclair

Codegen service group ID values in Rust
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/EnvoyGenerator/EnvoyTransformFactory.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/code/RustCommandExecutor.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandExecutor.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Service/t4/RustService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/code/RustTelemetryReceiver.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.tt
Owners: @jrdouceur

sat auth implementation
  go/mqtt/auth.go
  go/mqtt/auth/mq_sat.go
  go/mqtt/auth/types.go
  go/mqtt/connection_settings.go
  go/mqtt/session_client.go
Owners: @vishnureddy17, @clecompt-msft

comment out connection settings tests for now
  go/mqtt/connection_settings_test.go
Owners: @vishnureddy17, @clecompt-msft

re-enable counter tests
  .github/workflows/ci-go.yml
Owners: @jrdouceur

format, lint, doc
  go/mqtt/README.md
  go/mqtt/auth.go
  go/mqtt/auth/README.md
  go/mqtt/auth/mq_sat.go
  go/mqtt/auth/types.go
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/net.go
  go/mqtt/session_client_options.go
  go/mqtt/test/session_client_fault_injection_integration_test.go
  go/mqtt/test/session_client_mq_integration_test.go
Owners: @vishnureddy17, @clecompt-msft

small fix
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Don't assume a dataset is present
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

don't assume asset directory exists at all, fix concurrent modification bug
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i
