Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

halfway
  codegen/codegen.sln
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
  codegen/test/ProtocolCompiler.IntegrationTests/TestCodeGenerator/Azure.Iot.Operations.ProtocolCompiler.IntegrationTests.TestCodeGenerator.csproj
Owners: @jrdouceur

maybe
  codegen/codegen.sln
  codegen/test/ProtocolCompiler.IntegrationTests/T4/Azure.Iot.Operations.ProtocolCompiler.IntegrationTests.T4.csproj
  codegen/test/ProtocolCompiler.IntegrationTests/TestCaseGenerator/Azure.Iot.Operations.ProtocolCompiler.IntegrationTests.TestCaseGenerator.csproj
  codegen/test/ProtocolCompiler.IntegrationTests/TestCodeGenerator/Azure.Iot.Operations.ProtocolCompiler.IntegrationTests.TestCodeGenerator.csproj
Owners: @jrdouceur

Topic Processor Rework
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
Owners: @cartertinney, @vaavva, @RLeclair

comment fix
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
Owners: @cartertinney, @vaavva, @RLeclair

qos0 support impl;r
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

update the readme
  dotnet/tutorials/event-driven-app/Constants.cs
  dotnet/tutorials/event-driven-app/InputWorker.cs
  dotnet/tutorials/event-driven-app/Models/InputSensorData.cs
  dotnet/tutorials/event-driven-app/Models/OutputSensorData.cs
  dotnet/tutorials/event-driven-app/MqttClientFactoryProvider.cs
  dotnet/tutorials/event-driven-app/MqttSessionClientFactoryProvider.cs
  dotnet/tutorials/event-driven-app/OutputWorker.cs
  dotnet/tutorials/event-driven-app/Program.cs
  dotnet/tutorials/event-driven-app/README.md
  dotnet/tutorials/event-driven-app/SubscribeService.cs
  dotnet/tutorials/event-driven-app/WindowFunctionWorker.cs
  dotnet/tutorials/event-driven-app/app.yml
  dotnet/tutorials/event-driven-app/appsettings.json
  dotnet/tutorials/event-driven-app/simulator.yml
  dotnet/tutorials/event-driven-app/yaml/app.yml
  dotnet/tutorials/event-driven-app/yaml/simulator.yml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix link
  dotnet/tutorials/event-driven-app/README.md
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix broken link
  README.md
Owners: @ryanwinter

optimization
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
Owners: @cartertinney, @vaavva, @RLeclair

Updated test script + README;r
  rust/azure_iot_operations_mqtt/README.md
  rust/ci/test.sh
Owners: @cartertinney, @vaavva, @RLeclair

refactored test script
  rust/ci/test.sh
Owners: @cartertinney, @vaavva, @RLeclair

0.3 bump for both crates
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_protocol/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

tests for pub_tracker pkid 0
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
Owners: @cartertinney, @vaavva, @RLeclair

continued merge
  rust/azure_iot_operations_mqtt/README.md
Owners: @cartertinney, @vaavva, @RLeclair

format
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

more doc
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
Owners: @cartertinney, @vaavva, @RLeclair

clean up errors and other loose ends
  go/mqtt/connection_settings.go
  go/mqtt/errors.go
  go/mqtt/net.go
  go/mqtt/publish.go
  go/mqtt/subscribe.go
  go/mqtt/test/session_client_fault_injection_integration_test.go
  go/mqtt/test/session_client_mochi_integration_test.go
  go/mqtt/test/session_client_mq_integration_test.go
Owners: @vishnureddy17, @clecompt-msft

update to managed client
  rust/azure_iot_operations_services/examples/state_store_client.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip;r
  rust/azure_iot_operations_mqtt/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

formatting
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
Owners: @cartertinney, @vaavva, @RLeclair

update sdk version numbers
  rust/azure_iot_operations_services/Cargo.toml
  rust/azure_iot_operations_services/examples/state_store_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

format
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
Owners: @cartertinney, @vaavva, @RLeclair

more format
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET] Make connection settings fields settable
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

so far
  dotnet/samples/ConnectorApp/connector-config.yaml
  dotnet/samples/ConnectorApp/http-server-aep.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

revert manual ack api
  go/mqtt/subscribe.go
  go/protocol/mqtt/types.go
Owners: @vishnureddy17, @clecompt-msft

asdf
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.csproj
  dotnet/samples/ConnectorApp/connector-config.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add enum values to exception definitions
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreOperationException.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

cleanup and more managed client updates
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/azure_iot_operations_services/tests/state_store_client_test.rs
Owners: @cartertinney, @vaavva, @RLeclair

Missing ;
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreOperationException.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Handle no inner exception
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreOperationException.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix for undefined exception reason
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreOperationException.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Check if exception message matches an enum value
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreOperationException.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

more
  dotnet/samples/ConnectorApp/http-connector-secrets.yaml
  dotnet/samples/ConnectorApp/install-prerequisites.sh
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

namespace
  dotnet/samples/ConnectorApp/connector-config.yaml
  dotnet/samples/ConnectorApp/http-connector-secrets.yaml
  dotnet/samples/ConnectorApp/http-server-aep.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

namespace again
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

aml
  dotnet/samples/ConnectorApp/http-server-aep.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.csproj
  dotnet/samples/ConnectorApp/connector-config.yaml
  dotnet/samples/ConnectorApp/operator-helm-values.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

unused
  dotnet/samples/ConnectorApp/broker.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

nope
  dotnet/samples/ConnectorApp/operator-helm-values.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i
