Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

first test passed (yay)
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Add ObservationsPersistAfterReconnection test
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[.NET] Add integration tests for AdrServiceClient functionality
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update Models and converters
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add ADR intergation tests
  .github/actions/configure-aio/action.yml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Add Asset Event Stream Validation tests
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

moved tests resources to eng folder
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/coap-asset.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/my-thermostat-device.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/rest-asset.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  device.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add step to create ADR resources in CI pipeline
  .github/workflows/ci-dotnet.yml
  device.yaml
  eng/test/test-adr-resources/coap-asset.yaml
  eng/test/test-adr-resources/my-thermostat-device.yaml
  eng/test/test-adr-resources/rest-asset.yaml
Owners: @avishekpant

revert previous commit
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Address PR comments
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/AdrClientServiceTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

?
  dotnet/src/Azure.Iot.Operations.Connector/PollingTelemetryConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

asdf
  dotnet/samples/Connectors/SqlConnector/QualityAnalyzerDatasetSampler.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

asdf
  dotnet/samples/Connectors/SqlConnector/QualityAnalyzerDatasetSampler.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

3 replicas?
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Address PR comments
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/ClientFactory.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

expand initizlise cluster to prompt if cluster exists
  .devcontainer/onCreateCommand.sh
  .github/actions/configure-aio/action.yml
  doc/setup.md
  tools/deployment/initialize-cluster.sh
Owners: @avishekpant, @ryanwinter

add more time for broker to come online
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

logs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

disable rust caching in workflows
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

test fix
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Address PR comments
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

wip
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

addressing PR comments to clean up flow/implementatios
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/examples/base_connector_sample_resources/thermostat-device-definition.yaml
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

address same pr comments in new code
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

change some errors to be unreachable in retry logic. rename froms to new
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

change some errors to be unreachable in retry logic. rename froms to new
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_connector/src/data_transformer2.rs
  rust/azure_iot_operations_connector/src/lib.rs
  rust/azure_iot_operations_connector/src/sample_data_pipeline.rs
Owners: @cartertinney, @vaavva, @RLeclair

Change CancellationToken for Notify in lease client
  rust/azure_iot_operations_services/src/leased_lock/lease.rs
  rust/azure_iot_operations_services/src/leased_lock/lock.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/azure_iot_operations_services/tests/lease_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

Remove mut in lease::Client::acquire
  rust/azure_iot_operations_services/src/leased_lock/lease.rs
  rust/azure_iot_operations_services/tests/lease_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

split dataset clients outside of asset specification so that references can be shared and dataset can update status for asset. WIP schema reporting. Add schema registry client to base connector
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

remove data transformer from base connector
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

remove reporter. Add full message schema flow. update to exposing forwarder on dataset client.
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/data_transformer.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update ConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Address CR comments
  rust/azure_iot_operations_services/examples/lock_client.rs
  rust/azure_iot_operations_services/src/leased_lock.rs
  rust/azure_iot_operations_services/src/leased_lock/lock.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/azure_iot_operations_services/tests/lock_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update PollingTelemetryConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Connector/PollingTelemetryConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Update deploy-connector-and-device.sh
  dotnet/samples/Connectors/SqlConnector/deploy-connector-and-device.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

random?
  dotnet/samples/Connectors/SampleTcpServiceApp/Worker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
