Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

switch step cli download to git to avoid 503 errors.
  .devcontainer/Dockerfile
Owners: @jrdouceur

custom index for pages
  .github/index-pages.html
  .github/workflows/cd-docs.yml
Owners: @jrdouceur

migrate connection settings doc
  doc/README.md
  doc/reference/README.md
  doc/reference/mqtt-connection-settings.md
Owners: @ryanwinter

use error type on payload serialize trait
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

ignore null returns in unit tests to supress warnings for .NET
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/CommandExecutorTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/CommandInvokerTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Connection/MqttConnectionSettingsTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/MockMqttPubSubClient.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/TelemetrySenderTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

checkout main for index.html static artificacts.
  .github/workflows/cd-docs.yml
Owners: @jrdouceur

Review fix.
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/listener.go
Owners: @vishnureddy17, @clecompt-msft

Post-merge cleanup.
  go/samples/statestore/go.mod
Owners: @vishnureddy17, @clecompt-msft

cleanup
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

update version
  rust/azure_iot_operations_protocol/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

Revert "update version"
  rust/azure_iot_operations_protocol/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

support topic_namespace and custom_topic_token_map in genned Rust code
  codegen/res/rust/AVRO/common_types.rs
  codegen/res/rust/JSON/common_types.rs
  codegen/res/rust/common/common_types.rs
  codegen/res/rust/common/common_types/common_options.rs
  codegen/res/rust/raw/common_types.rs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandExecutor.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandInvoker.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Project/t4/RustCargoToml.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Project/t4/RustCargoToml.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Service/t4/RustService.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Service/t4/RustService.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Telemetry/t4/RustTelemetrySender.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Telemetry/t4/RustTelemetrySender.tt
Owners: @jrdouceur

cleanup and spelling
  .vscode/dictionaries/rustsdk.txt
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
Owners: @jrdouceur, @cartertinney, @vaavva, @RLeclair

API proposal
  rust/azure_iot_operations_services/api-surface.md
Owners: @cartertinney, @vaavva, @RLeclair

Added ConnectionState enum
  rust/azure_iot_operations_mqtt/src/session/internal.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix typos
  .vscode/cspell.json
  .vscode/dictionaries/dotnet.txt
  doc/reference/mqtt-connection-settings.md
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/FreezableWallClockTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/CommandExecutorTests.cs
Owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i

missed a couple of .NET possible null and missing await warnings in tests.
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/CounterEnvoyTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/GreeterEnvoyTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/AkriMqttExceptionChecker.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/CompositeMqttClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fixed reconnect after disconnect
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @cartertinney, @vaavva, @RLeclair

removed commented code
  rust/azure_iot_operations_mqtt/src/session/internal.rs
Owners: @cartertinney, @vaavva, @RLeclair

squash changes
  README.md
  doc/dev/packaging.md
  dotnet/Azure.Iot.Operations.sln
  dotnet/tutorials/event-driven-app/EventDrivenApp.csproj
  dotnet/tutorials/event-driven-app/MqttSessionClientFactoryProvider.cs
  dotnet/tutorials/event-driven-app/Program.cs
  dotnet/tutorials/event-driven-app/README.md
  dotnet/tutorials/event-driven-app/SubscribeService.cs
  dotnet/tutorials/event-driven-app/WindowFunctionWorker.cs
  dotnet/tutorials/event-driven-app/app.yml
  dotnet/tutorials/event-driven-app/appsettings.Development.json
  dotnet/tutorials/event-driven-app/appsettings.json
  dotnet/tutorials/event-driven-app/simulator.yml
Owners: @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i

add missing cases in AVRO type switch
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/common/AvroSchemaSupport.cs
Owners: @jrdouceur

add + Sync to errors
  rust/azure_iot_operations_protocol/src/common/aio_protocol_error.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix doc tests
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

remove timestamp from key notifications
  rust/azure_iot_operations_services/api-surface.md
Owners: @cartertinney, @vaavva, @RLeclair

remove optional key notification set value
  rust/azure_iot_operations_services/api-surface.md
Owners: @cartertinney, @vaavva, @RLeclair

impl
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Just API
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfile.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfileCredentials.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_ADDITIONAL_CONFIGURATION
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_AUTHENTICATION_METHOD
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_PASSWORD_SECRET_NAME
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_TARGET_ADDRESS
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_USERNAME_SECRET_NAME
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/ENDPOINT_PROFILE_TYPE
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/secret/aep_password/some-password
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/secret/aep_username/some-username
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

unused
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/CredentialsFileChangedEventArgs.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

unused
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Azure.Iot.Operations.Services.UnitTests.csproj
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

ordering
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

unused warning
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

working verison;r
  rust/azure_iot_operations_mqtt/src/error.rs
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @cartertinney, @vaavva, @RLeclair

formatting
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

err format
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @cartertinney, @vaavva, @RLeclair

Per-key, multi-listener handlers.
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/client.go
  go/services/statestore/keynotify.go
  go/services/statestore/notify.go
Owners: @vishnureddy17, @clecompt-msft

copyright headers
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfile.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfileCredentials.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Channels fit existing use-cases better.
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/client.go
  go/services/statestore/keynotify.go
  go/services/statestore/notify.go
Owners: @vishnureddy17, @clecompt-msft

so far
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

tests + files
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_ADDITIONAL_CONFIGURATION
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_AUTHENTICATION_METHOD
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_PASSWORD_SECRET_NAME
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_TARGET_ADDRESS
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_USERNAME_SECRET_NAME
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/ENDPOINT_PROFILE_TYPE
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/secret/aep_password/some-password
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/secret/aep_username/some-username
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

todos
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
