Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

Early return from sender telemetry valdiatin
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update telemetry sample to refer to telemetry message as message instead of payload
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

Just template
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/GenericConnectorWorkerService/GenericConnectorWorkerService.csproj
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorApp.csproj
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server.yaml
  dotnet/samples/HttpThermostatConnectorApp/Program.cs
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/.dockerignore
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/Dockerfile
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/package.json
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/server.js
  dotnet/samples/HttpThermostatConnectorApp/ThermostatDatasetSamplerFactory.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatus.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatusDatasetSampler.cs
  dotnet/samples/HttpThermostatConnectorApp/deploy-connector-and-asset.sh
  dotnet/samples/HttpThermostatConnectorApp/install-prerequisites.sh
  dotnet/samples/HttpThermostatConnectorApp/setup-cluster.sh
  dotnet/templates/ConnectorApp/.template.config/template.json
  dotnet/templates/ConnectorApp/ConnectorApp.csproj
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/DatasetSampler.cs
  dotnet/templates/ConnectorApp/DatasetSamplerFactory.cs
  dotnet/templates/ConnectorApp/IDatasetSampler.cs
  dotnet/templates/ConnectorApp/IDatasetSamplerFactory.cs
  dotnet/templates/ConnectorApp/MqttSessionClientFactoryProvider.cs
  dotnet/templates/ConnectorApp/Program.cs
  dotnet/templates/ConnectorApp/SamplerContext.cs
  dotnet/templates/ConnectorApp/appsettings.Development.json
  dotnet/templates/ConnectorApp/appsettings.json
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/Azure.Iot.Operations.Services.IntegrationTests.csproj
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/ConnectorAppIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

chmod
  dotnet/src/Azure.Iot.Operations.Services/Akri/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Built with template
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorApp.csproj
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorAppWorker.cs
  dotnet/samples/HttpThermostatConnectorApp/IDatasetSampler.cs
  dotnet/samples/HttpThermostatConnectorApp/IDatasetSamplerFactory.cs
  dotnet/samples/HttpThermostatConnectorApp/MqttSessionClientFactoryProvider.cs
  dotnet/samples/HttpThermostatConnectorApp/Program.cs
  dotnet/samples/HttpThermostatConnectorApp/SamplerContext.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatDatasetSamplerFactory.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatusDatasetSampler.cs
  dotnet/samples/HttpThermostatConnectorApp/appsettings.Development.json
  dotnet/samples/HttpThermostatConnectorApp/appsettings.json
  dotnet/templates/ConnectorApp/.template.config/template.json
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

kubernetes resources + scripts
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server.yaml
  dotnet/samples/HttpThermostatConnectorApp/deploy-connector-and-asset.sh
  dotnet/samples/HttpThermostatConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

expand akri connector
  doc/README.md
  doc/akri_connector/README.md
  doc/akri_connector/configure.md
  doc/akri_connector/develop.md
  doc/edge_application/README.md
  doc/setup.md
  samples/README.md
Owners: @ryanwinter

stub out flow page, need additional work and diagrams.
  doc/akri_connector/flow.md
Owners: @ryanwinter

clarify setup
  doc/setup.md
Owners: @ryanwinter

chmod
  dotnet/src/Azure.Iot.Operations.Services/Akri/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

http server code
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/Dockerfile
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/package.json
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/server.js
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

csproj stuff
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorApp.csproj
  dotnet/templates/ConnectorApp/ConnectorApp.csproj
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

not needed
  dotnet/samples/HttpThermostatConnectorApp/deploy-connector-and-asset.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Adding Debug trait to receiver/sender TelemetryMessage / Cloud Event
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

chmod
  dotnet/samples/HttpThermostatConnectorApp/deploy-connector-and-asset.sh
  dotnet/samples/HttpThermostatConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

derp
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/HttpThermostatConnectorApp/Program.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

it works!
  dotnet/samples/HttpThermostatConnectorApp/DatasetSamplerContext.cs
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/DatasetSamplerContext.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fixup
  dotnet/templates/ConnectorApp/DatasetSamplerContext.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

minor fix for executor sample
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

so far
  dotnet/templates/README.md
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix concurrent modification error in generic connector code
  dotnet/samples/GenericConnectorWorkerService/GenericConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

concurrent
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Pass asset information into IDatasetSamplerFactory
  dotnet/samples/GenericConnectorWorkerService/GenericConnectorWorkerService.cs
  dotnet/samples/GenericConnectorWorkerService/IDatasetSamplerFactory.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatDatasetSamplerFactory.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

pass asset into sampler factory
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorAppWorker.cs
  dotnet/samples/HttpThermostatConnectorApp/IDatasetSamplerFactory.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatDatasetSamplerFactory.cs
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/DatasetSamplerFactory.cs
  dotnet/templates/ConnectorApp/IDatasetSamplerFactory.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

readme
  dotnet/templates/README.md
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

lazy
  dotnet/samples/HttpThermostatConnectorApp/ThermostatDatasetSamplerFactory.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

exception work
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatusDatasetSampler.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

derp
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpThermostatConnectorApp/ThermostatDatasetSamplerFactory.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

derp
  dotnet/samples/HttpThermostatConnectorApp/ThermostatDatasetSamplerFactory.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

more
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/session/dispatcher.rs
Owners: @cartertinney, @vaavva, @RLeclair

doc
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @cartertinney, @vaavva, @RLeclair

outgoing_max
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @cartertinney, @vaavva, @RLeclair

initial
  rust/azure_iot_operations_mqtt/src/control_packet.rs
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

move testing docs, add state column to reference docs
  doc/dev/testing/rpc-protocol-testing.md
  doc/dev/testing/session-client-testing.md
  doc/dev/testing/telemetry-protocol-testing.md
  doc/reference/README.md
Owners: @ryanwinter

update setup
  doc/setup.md
Owners: @ryanwinter

Update rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Go] Fix connect race and re-enable tests from main
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/errors.go
  go/mqtt/internal/connection_tracker.go
  go/mqtt/subscribe.go
  go/mqtt/test/session_client_fault_injection_integration_test.go
  go/mqtt/test/session_client_mochi_integration_test.go
  go/mqtt/test/session_client_mq_integration_test.go
  go/mqtt/test/shared_constants_test.go
Owners: @vishnureddy17, @clecompt-msft

update images
  doc/akri_connector/images/akri-connector.png
  doc/edge_application/images/edge-applications.png
Owners: @jrdouceur

Fix.
  .github/workflows/ci-go.yml
  go/mqtt/internal/connection_tracker.go
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

Create .NET project template for connector app (#210)
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/GenericConnectorWorkerService/GenericConnectorWorkerService.csproj
  dotnet/samples/HttpThermostatConnectorApp/DatasetSamplerContext.cs
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorAppWorker.cs
  dotnet/samples/HttpThermostatConnectorApp/IDatasetSampler.cs
  dotnet/samples/HttpThermostatConnectorApp/IDatasetSamplerFactory.cs
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpThermostatConnectorApp/MqttSessionClientFactoryProvider.cs
  dotnet/samples/HttpThermostatConnectorApp/Program.cs
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/.dockerignore
  dotnet/samples/HttpThermostatConnectorApp/ThermostatDatasetSamplerFactory.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatus.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatusDatasetSampler.cs
  dotnet/samples/HttpThermostatConnectorApp/appsettings.json
  dotnet/samples/HttpThermostatConnectorApp/deploy-connector-and-asset.sh
  dotnet/samples/HttpThermostatConnectorApp/install-prerequisites.sh
  dotnet/templates/ConnectorApp/.template.config/template.json
  dotnet/templates/ConnectorApp/ConnectorApp.csproj
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/DatasetSampler.cs
  dotnet/templates/ConnectorApp/DatasetSamplerContext.cs
  dotnet/templates/ConnectorApp/DatasetSamplerFactory.cs
  dotnet/templates/ConnectorApp/IDatasetSampler.cs
  dotnet/templates/ConnectorApp/IDatasetSamplerFactory.cs
  dotnet/templates/ConnectorApp/MqttSessionClientFactoryProvider.cs
  dotnet/templates/ConnectorApp/Program.cs
  dotnet/templates/ConnectorApp/appsettings.Development.json
  dotnet/templates/ConnectorApp/appsettings.json
  dotnet/templates/README.md
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/Azure.Iot.Operations.Services.IntegrationTests.csproj
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/ConnectorAppIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
