Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

translate update notification into DeviceEndpointClient. WIP
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

add missing DefaultManagementGroupsConfiguration field to asset apec
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetSpecification.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

schema fields are now optional
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

intermediate
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET][Akri] Client Id provided by akri now, not just client id prefix
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/ConnectorFileMountSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChecksumCalculator.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkMetadata.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkedMessageAssembler.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingConstants.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingMqttClient.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingOptions.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fix merge issues
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

not necessary
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

[.NET][Akri] Bump connector version for release
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChecksumCalculator.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkMetadata.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkedMessageAssembler.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingChecksumAlgorithm.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingConstants.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingMqttClient.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingOptions.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

merge gen.sh
  go/services/gen.sh
  go/services/schemaregistry/gen.sh
Owners: @lev-i, @clecompt-msft

move update receiver to be on DeviceEndpointClient
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

remove internal api docs
  go/services/adr/internal/adrbaseservice/API.md
  go/services/adr/internal/aeptypeservice/API.md
Owners: @lev-i, @clecompt-msft

update sample to test update flow
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

cleanup and fix another status reporting scenario
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

update asset specification to be under rwlock
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

file xor inline schema
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

Add Asset Event Stream Validation tests
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add tests resources
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/coap-asset.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/my-thermostat-device.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/rest-asset.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update Models and converters
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Address PR comments
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/ClientFactory.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add step to create ADR resources in CI pipeline
  .github/workflows/ci-dotnet.yml
  device.yaml
  eng/test/test-adr-resources/coap-asset.yaml
  eng/test/test-adr-resources/my-thermostat-device.yaml
  eng/test/test-adr-resources/rest-asset.yaml
Owners: @avishekpant

add ADR intergation tests
  .github/actions/configure-aio/action.yml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Address PR comments
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

revert previous commit
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  device.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Address PR comments
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/AdrClientServiceTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Add ObservationsPersistAfterReconnection test
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

first test passed (yay)
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

test fix
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[.NET] Add integration tests for AdrServiceClient functionality
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

moved tests resources to eng folder
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/coap-asset.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/my-thermostat-device.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/rest-asset.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add recv updates for assets. WIP how we want to handle datasets
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

implementation
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions.rs
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/filemount.rs
  rust/azure_iot_operations_connector/src/filemount/connector_artifacts.rs
  rust/azure_iot_operations_connector/tests/artifact_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

custom getter for datasets. WIP might change how it works
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

progress
  dotnet/src/Azure.Iot.Operations.Services/Observability/CachedCounter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/ICounter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/IMetricsReporterService.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/MetricsReporterService.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Utils/DefaultTimerFactory.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Utils/ITimer.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Utils/ITimerFactory.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Utils/TimerWrapper.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/CachedCounterTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/MetricsReporterServiceTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80
