Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

install t4 if not
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
Owners: @jrdouceur

cleaned up ordering
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
Owners: @jrdouceur

update scripts
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/e2e-cross-language-samples.yml
  codegen/gen_all.sh
Owners: @jrdouceur

it may work
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetInternal.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/JsonDocumentConverter.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

derp
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

not needed
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

todos
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

temp
  dotnet/samples/ConnectorApp/HttpDataRetriever.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Revert "temp"
  dotnet/samples/ConnectorApp/HttpDataRetriever.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

default topic
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

it runs. Maybe serialization of asset needs a bit of work, though
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Unknown error still includes original error message
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreOperationException.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix unit tests
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

refactoring
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fixes
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

more dictionaries
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

temp
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Update README.md
  README.md
Owners: @ryanwinter

fix?
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

internal?
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Revert "internal?"
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add Edit sample.
  go/samples/leasedlock/main.go
Owners: @vishnureddy17, @clecompt-msft

remove not needed scripts
  codegen/build.cmd
  codegen/build.sh
Owners: @jrdouceur

[Go] Disallow ack on QoS0 telemetry.
  go/protocol/README.md
  go/protocol/telemetry_receiver.go
Owners: @vishnureddy17, @clecompt-msft

Fix error verbiage, add test for fencing token skew
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreOperationException.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/StateStoreClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix fencing token skew test
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/StateStoreClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

sample
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

not needed anymore
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add lower fencing token test
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/LeasedLockClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Remove special behavior for initial connect
  go/mqtt/README.md
  go/mqtt/auth.go
  go/mqtt/connect.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
  go/mqtt/test/session_client_fault_injection_integration_test.go
  go/mqtt/test/session_client_mochi_integration_test.go
  go/mqtt/test/session_client_mq_integration_test.go
  go/samples/counter/client/client.go
  go/samples/counter/server/server.go
  go/samples/greeter/client/main.go
  go/samples/greeter/server/main.go
  go/samples/statestore/main.go
  go/test/protocol/common_tester.go
Owners: @vishnureddy17, @clecompt-msft

Document that some errors should be unreachable
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreOperationException.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[.NET] Fix out-of-date documentation on state store client
  dotnet/src/Azure.Iot.Operations.Services/StateStore/IStateStoreClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add test to see if we can flag missing fencing token. Might not be possible
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreOperationException.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/StateStoreClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Missing fencing token isn't possible
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreOperationException.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/StateStoreClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

TODO
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

more generic notes
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericHttpConnectorWorkerService.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/IHttpServerDatasetSampler.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Cloud Event support and sample
  go/go.work
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/internal/constants/metadata.go
  go/protocol/telemetry_cloud_event.go
  go/protocol/telemetry_receiver.go
  go/protocol/telemetry_sender.go
  go/protocol/telemetry_test.go
  go/protocol/types.go
  go/samples/cloudevents/client/.gitignore
  go/samples/cloudevents/client/go.mod
  go/samples/cloudevents/client/go.sum
  go/samples/cloudevents/client/main.go
  go/samples/cloudevents/envoy/.gitignore
  go/samples/cloudevents/envoy/dtmi_akri_samples_oven__1/object_operation_summary.go
  go/samples/cloudevents/envoy/dtmi_akri_samples_oven__1/telemetry_collection.go
  go/samples/cloudevents/envoy/dtmi_akri_samples_oven__1/telemetry_collection_receiver.go
  go/samples/cloudevents/envoy/dtmi_akri_samples_oven__1/telemetry_collection_sender.go
  go/samples/cloudevents/envoy/dtmi_akri_samples_oven__1/wrapper.go
  go/samples/cloudevents/envoy/gen.sh
  go/samples/cloudevents/envoy/go.mod
  go/samples/cloudevents/envoy/go.sum
  go/samples/cloudevents/envoy/oven.json
  go/samples/cloudevents/server/.gitignore
  go/samples/cloudevents/server/go.mod
  go/samples/cloudevents/server/go.sum
  go/samples/cloudevents/server/main.go
  go/samples/greeter/client/main.go
  go/samples/greeter/server/main.go
  go/samples/statestore/main.go
Owners: @vishnureddy17, @clecompt-msft

Only parse 1.0
  go/protocol/telemetry_cloud_event.go
Owners: @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
