Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

asdf
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

update cloud event source and readme
  rust/azure_iot_operations_connector/README.md
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
Owners: @cartertinney, @vaavva, @RLeclair

doc updates
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
Owners: @cartertinney, @vaavva, @RLeclair

_
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

temporary file mount cert cleanup
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
Owners: @cartertinney, @vaavva, @RLeclair

PR feedback
  rust/azure_iot_operations_connector/src/data_processor/derived_json.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix tests
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix merge conflicts
  rust/azure_iot_operations_connector/src/data_processor/derived_json.rs
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
Owners: @cartertinney, @vaavva, @RLeclair

updates
  go/services/adr/client.go
  go/services/adr/gen.sh
  go/services/adr/internal/adrbaseservice/asset_dataset_schema_element_schema.go
  go/services/connector/connector.go
  go/services/schemaregistry/alias.go
  go/services/schemaregistry/client.go
  go/services/schemaregistry/gen.sh
  go/services/schemaregistry/get.go
  go/services/schemaregistry/internal/schemaregistry/format.go
  go/services/schemaregistry/internal/schemaregistry/get_command_invoker.go
  go/services/schemaregistry/internal/schemaregistry/get_request_payload.go
  go/services/schemaregistry/internal/schemaregistry/get_request_schema.go
  go/services/schemaregistry/internal/schemaregistry/get_response_payload.go
  go/services/schemaregistry/internal/schemaregistry/put_command_invoker.go
  go/services/schemaregistry/internal/schemaregistry/put_request_payload.go
  go/services/schemaregistry/internal/schemaregistry/put_request_schema.go
  go/services/schemaregistry/internal/schemaregistry/put_response_payload.go
  go/services/schemaregistry/internal/schemaregistry/schema.go
  go/services/schemaregistry/internal/schemaregistry/schema_type.go
  go/services/schemaregistry/internal/schemaregistry/wrapper.go
  go/services/schemaregistry/put.go
  go/services/schemaregistry/schemaregistry/API.md
Owners: @lev-i, @clecompt-msft

update sample to encorporate json transformation and schema generation
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/examples/base_connector_sample_resources/rest-thermostat-asset-definition.yaml
Owners: @cartertinney, @vaavva, @RLeclair

remove explicit return signature
  rust/azure_iot_operations_connector/src/base_connector.rs
Owners: @cartertinney, @vaavva, @RLeclair

turn off requiring message schema reporting
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
Owners: @cartertinney, @vaavva, @RLeclair

retain test
  rust/azure_iot_operations_protocol/tests/telemetry_network_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

1 test
  rust/azure_iot_operations_protocol/tests/telemetry_network_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

clippy
  rust/azure_iot_operations_protocol/tests/telemetry_network_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

clippy
  rust/azure_iot_operations_protocol/tests/telemetry_network_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

first draft
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityServiceStub.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/CachedCounter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/CachedGauge.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/CachedHistogram.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/BytesJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DateJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DecimalJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DecimalString.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DurationJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/EmptyJson.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/TimeJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/Utf8JsonSerializer.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/UuidJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/ValueExtractor.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/CounterMetricCache.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/GaugeMetricCache.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/HistogramMetricCache.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/ICounter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/IGauge.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/IHistogram.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/IMetric.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/MetricsReporterOptions.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/MetricsReporterService.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

pr comments - alias adr config error, reduces some data passed to the forwarder new
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

make telemetry sender not clone and Arc default Destinations. Update error
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
  rust/azure_iot_operations_protocol/src/telemetry/sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

change API surface to be more extensible to multiple destinations in the future without requiring implementation for it now
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
Owners: @cartertinney, @vaavva, @RLeclair

support the retain flag for mqtt destination
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
Owners: @cartertinney, @vaavva, @RLeclair

asdf
  .github/workflows/publish-dotnet-snupkg.yml
Owners: @avishekpant

asdf
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

asdf
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

asdf
  .github/workflows/ci-dotnet.yml
  .github/workflows/publish-dotnet-snupkg.yml
Owners: @avishekpant

asdf
  .github/workflows/ci-dotnet.yml
  .github/workflows/publish-dotnet-snupkg.yml
Owners: @avishekpant

pathing?
  .github/workflows/ci-dotnet.yml
  .github/workflows/publish-dotnet-snupkg.yml
Owners: @avishekpant

add more log info
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

?
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

asdf
  .github/workflows/ci-dotnet.yml
  .github/workflows/publish-dotnet-snupkg.yml
Owners: @avishekpant

?
  .github/workflows/ci-dotnet.yml
  .github/workflows/publish-dotnet-snupkg.yml
Owners: @avishekpant

source
  .github/workflows/ci-dotnet.yml
  .github/workflows/publish-dotnet-snupkg.yml
Owners: @avishekpant

cleanup and some extra logs and escape routes
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/data_transformer.rs
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

better retry policy
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

add unit tests
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityServiceStub.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/DefaultTimerFactory.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/IAkriObservabilityService.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/ITimer.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/ITimerFactory.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/MetricsReporterService.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/TimerWrapper.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/CachedCounterTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/CachedGaugeTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/CachedHistogramTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/CounterMetricCacheTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/GaugeMetricCacheTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/HistogramMetricCacheTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/MetricsReporterServiceTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

initial hack commit
  hacks/SemanticDataHub/ConsoleDataVisualizer/ConsoleDataVisualizer.csproj
  hacks/SemanticDataHub/ConsoleDataVisualizer/Program.cs
  hacks/SemanticDataHub/DataSourceAlpha/DataSourceAlpha.csproj
  hacks/SemanticDataHub/DataSourceAlpha/Program.cs
  hacks/SemanticDataHub/SemanticDataClient/BytesJsonConverter.cs
  hacks/SemanticDataHub/SemanticDataClient/DateJsonConverter.cs
  hacks/SemanticDataHub/SemanticDataClient/DecimalJsonConverter.cs
  hacks/SemanticDataHub/SemanticDataClient/DecimalString.cs
  hacks/SemanticDataHub/SemanticDataClient/DurationJsonConverter.cs
  hacks/SemanticDataHub/SemanticDataClient/EmptyJson.cs
  hacks/SemanticDataHub/SemanticDataClient/FirstModel/FirstModel.g.cs
  hacks/SemanticDataHub/SemanticDataClient/FirstModel/TelemetryCollection.g.cs
  hacks/SemanticDataHub/SemanticDataClient/FirstModel/TelemetryReceiver.g.cs
  hacks/SemanticDataHub/SemanticDataClient/SemanticDataClient.csproj
  hacks/SemanticDataHub/SemanticDataClient/TimeJsonConverter.cs
  hacks/SemanticDataHub/SemanticDataClient/Utf8JsonSerializer.cs
  hacks/SemanticDataHub/SemanticDataClient/UuidJsonConverter.cs
  hacks/SemanticDataHub/SemanticDataClient/ValueExtractor.cs
  hacks/SemanticDataHub/SemanticDataHub.sln
  hacks/SemanticDataHub/SemanticDataHub/Program.cs
  hacks/SemanticDataHub/SemanticDataHub/SemanticDataHub.csproj
  hacks/SemanticDataHub/SemanticDataServer/BytesJsonConverter.cs
  hacks/SemanticDataHub/SemanticDataServer/DateJsonConverter.cs
  hacks/SemanticDataHub/SemanticDataServer/DecimalJsonConverter.cs
  hacks/SemanticDataHub/SemanticDataServer/DecimalString.cs
  hacks/SemanticDataHub/SemanticDataServer/DurationJsonConverter.cs
  hacks/SemanticDataHub/SemanticDataServer/EmptyJson.cs
  hacks/SemanticDataHub/SemanticDataServer/FirstModel/FirstModel.g.cs
  hacks/SemanticDataHub/SemanticDataServer/FirstModel/TelemetryCollection.g.cs
  hacks/SemanticDataHub/SemanticDataServer/FirstModel/TelemetrySender.g.cs
  hacks/SemanticDataHub/SemanticDataServer/SemanticDataServer.csproj
  hacks/SemanticDataHub/SemanticDataServer/TimeJsonConverter.cs
  hacks/SemanticDataHub/SemanticDataServer/Utf8JsonSerializer.cs
  hacks/SemanticDataHub/SemanticDataServer/UuidJsonConverter.cs
  hacks/SemanticDataHub/SemanticDataServer/ValueExtractor.cs
  hacks/SemanticDataHub/dtdl/SemanticDataModel.json
  hacks/SemanticDataHub/gen.sh
  hacks/SemanticDataHub/mapping.json
Owners: @avishekpant

fix retry strategy to happen a bit more frequently. Adds escape for non-critical operations
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

make device spec rwlock and have device spec and status shared down to dataset layer
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

add logic to not overwrite existing status fields that aren't relevant for certain status updates
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

management groups, optional $id
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
