Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

minor nitpicks, cloud events
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Reapply "[.NET] Derive MQTT message schema from dataset (#177)"
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/MqttMessageSchemas/ThermostatStatusTelemetryMessageSchema.json
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add ADR2 for Source ID Header
  doc/dev/adr/0002-src-id-header.md
  doc/reference/message-metadata.md
  doc/reference/topic-structure.md
Owners: @ryanwinter

add license-cla issue to troubleshooting
  doc/troubleshooting.md
Owners: @ryanwinter

Post-merge fix
  go/go.work.sum
  go/samples/cloudevents/client/go.mod
  go/samples/cloudevents/client/go.sum
  go/samples/cloudevents/client/main.go
  go/samples/cloudevents/envoy/go.mod
  go/samples/cloudevents/envoy/go.sum
  go/samples/cloudevents/server/go.mod
  go/samples/cloudevents/server/go.sum
  go/samples/cloudevents/server/main.go
Owners: @vishnureddy17, @clecompt-msft

maybe
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] go mod tidy
  go/mqtt/go.mod
  go/mqtt/go.sum
  go/protocol/go.sum
  go/samples/cloudevents/client/go.mod
  go/samples/cloudevents/client/go.sum
  go/samples/cloudevents/envoy/go.mod
  go/samples/cloudevents/envoy/go.sum
  go/samples/cloudevents/server/go.mod
  go/samples/cloudevents/server/go.sum
  go/samples/counter/client/go.mod
  go/samples/counter/client/go.sum
  go/samples/counter/envoy/go.mod
  go/samples/counter/envoy/go.sum
  go/samples/counter/server/go.mod
  go/samples/counter/server/go.sum
  go/samples/greeter/client/go.mod
  go/samples/greeter/client/go.sum
  go/samples/greeter/envoy/go.mod
  go/samples/greeter/envoy/go.sum
  go/samples/greeter/server/go.mod
  go/samples/greeter/server/go.sum
  go/samples/leasedlock/go.mod
  go/samples/leasedlock/go.sum
  go/samples/statestore/go.mod
  go/samples/statestore/go.sum
  go/services/go.mod
  go/services/go.sum
  go/test/protocol/go.mod
  go/test/protocol/go.sum
Owners: @vishnureddy17, @clecompt-msft

update Docgen and generate METL documents
  doc/dev/generated/MetlCases.md
  doc/dev/generated/MetlSpec.md
  doc/dev/proto/MetlCasesProto.xml
  doc/dev/proto/MetlSpecProto.xml
  doc/dev/proto/ProtoDocument.xsd
  eng/test/docgen/src/Azure.Iot.Operations.Protocol.UnitTests.Docgen/ExampleGenerator.cs
  eng/test/docgen/src/Azure.Iot.Operations.Protocol.UnitTests.Docgen/Program.cs
Owners: @ryanwinter, @jrdouceur

typos
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/ObserveLeadershipChangesRequestOptions.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/LeaderElectionClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

schema work is optional
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

move
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorApp.csproj
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-connector-secrets.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server.yaml
  dotnet/samples/HttpThermostatConnectorApp/Program.cs
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/.dockerignore
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/Dockerfile
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/package.json
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/server.js
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatus.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatusHttpServerSampler.cs
  dotnet/samples/HttpThermostatConnectorApp/appsettings.Development.json
  dotnet/samples/HttpThermostatConnectorApp/appsettings.json
  dotnet/samples/HttpThermostatConnectorApp/install-prerequisites.sh
  dotnet/samples/HttpThermostatConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Adding topic processor rework
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
  rust/azure_iot_operations_protocol/src/common/user_properties.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

cleanup
  doc/reference/README.md
  doc/reference/command-api.md
  doc/reference/command-errors.md
  doc/reference/commands.md
  doc/reference/envoy-binder.md
  doc/reference/session-client-testing.md
  doc/reference/session-client.md
  doc/reference/telemetry-api.md
  doc/reference/telemetry.md
  doc/terminology.md
Owners: @ryanwinter

wip
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

expose .kind() for errors
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_services/src/state_store.rs
Owners: @cartertinney, @vaavva, @RLeclair

clippy
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_services/src/state_store.rs
Owners: @cartertinney, @vaavva, @RLeclair

update ProtocolCompiler for Rust Telemetry
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Service/t4/RustService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetrySender.tt
Owners: @jrdouceur

run ci-go workflow on relevant codegen changes
  .github/workflows/ci-go.yml
Owners: @jrdouceur

asdf
  dotnet/samples/HttpThermostatConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

sample name
  dotnet/Azure.Iot.Operations.sln
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Extract and unify reconnect loops
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/internal/connection_tracker.go
  go/mqtt/publish.go
  go/mqtt/retry/exponential_backoff.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
  go/protocol/internal/errutil/context.go
  go/services/leasedlock/lock.go
  go/test/protocol/common_tester.go
Owners: @vishnureddy17, @clecompt-msft

[.NET] Make connector sample code more generic, split out HTTP connector code into separate sample (#188)
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/HttpDataRetriever.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.csproj
  dotnet/samples/GenericHttpServerConnectorWorkerService/IDatasetSampler.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/MqttSessionClientFactoryProvider.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/SamplerContext.cs
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorApp.csproj
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-connector-secrets.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server.yaml
  dotnet/samples/HttpThermostatConnectorApp/Program.cs
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/.dockerignore
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/Dockerfile
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/package.json
  dotnet/samples/HttpThermostatConnectorApp/SampleHttpServer/server.js
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatus.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatusHttpServerSampler.cs
  dotnet/samples/HttpThermostatConnectorApp/appsettings.Development.json
  dotnet/samples/HttpThermostatConnectorApp/appsettings.json
  dotnet/samples/HttpThermostatConnectorApp/install-prerequisites.sh
  dotnet/samples/HttpThermostatConnectorApp/setup-cluster.sh
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Don't save the context directly.
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/internal/connection_tracker.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

Minor cleanup.
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/internal/connection_tracker.go
  go/mqtt/publish.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

wip
  go/internal/mqtt/types.go
  go/mqtt/alias.go
  go/mqtt/auth.go
  go/mqtt/net.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
Owners: @vishnureddy17, @clecompt-msft

connection provider as arg in NewSessionClient
  go/mqtt/session_client.go
Owners: @vishnureddy17, @clecompt-msft

[Go] Extract and unify reconnect loops (#189)
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/internal/connection_tracker.go
  go/mqtt/publish.go
  go/mqtt/retry/exponential_backoff.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
  go/protocol/internal/errutil/context.go
  go/services/leasedlock/lock.go
  go/test/protocol/common_tester.go
Owners: @vishnureddy17, @clecompt-msft

Working topic processor with tests
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
Owners: @cartertinney, @vaavva, @RLeclair

Rename generic connector folder
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/GenericConnectorWorkerService/GenericConnectorWorkerService.cs
  dotnet/samples/GenericConnectorWorkerService/GenericConnectorWorkerService.csproj
  dotnet/samples/GenericConnectorWorkerService/IDatasetSampler.cs
  dotnet/samples/GenericConnectorWorkerService/MqttSessionClientFactoryProvider.cs
  dotnet/samples/GenericConnectorWorkerService/SamplerContext.cs
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorApp.csproj
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

renamed project
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/HttpThermostatConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

more wip
  go/mqtt/connect.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
Owners: @vishnureddy17, @clecompt-msft

Test connector deployment at the gate
  .github/workflows/ci-dotnet.yml
  dotnet/samples/HttpThermostatConnectorApp/deploy-connector-and-asset.sh
  dotnet/samples/HttpThermostatConnectorApp/setup-cluster.sh
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/ConnectorAppIntegrationTests.cs
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

Regularize config/argument errors across C#, Go, and METL
  dotnet/src/Azure.Iot.Operations.Protocol/AkriMqttException.cs
  dotnet/src/Azure.Iot.Operations.Protocol/MqttTopicProcessor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/PatternValidity.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandExecutor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandInvoker.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Telemetry/TelemetryReceiver.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Telemetry/TelemetrySender.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/AkriMqttExceptionChecker.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/CommandExecutorTester.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/CommandInvokerTester.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/MqttTopicProcessorTests.cs
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorEmptyName_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorNonIdempotentCommandPositiveCacheableDuration_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorNullName_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorRequestTopicCommandNameWithInvalidReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorRequestTopicModelIdWithInvalidReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorRequestTopicModelIdWithoutReplacement_StartsSuccessfully.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorRequestTopicModelIdWithoutReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerEmptyName_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerNullName_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerRequestTopicCommandNameWithInvalidReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerRequestTopicModelIdWithInvalidReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerResponseTopicPrefixCommandNameWithInvalidReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerResponseTopicPrefixModelIdWithInvalidReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerResponseTopicSuffixCommandNameWithInvalidReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerResponseTopicSuffixModelIdWithInvalidReplacement_ThrowsException.yaml
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/internal/topic.go
  go/test/protocol/binders.go
  go/test/protocol/command_executor_tester.go
  go/test/protocol/command_invoker_tester.go
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur, @vishnureddy17, @clecompt-msft

go mage and fix .NET unit tests
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/CommandExecutorTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/CommandInvokerTests.cs
  go/protocol/internal/topic.go
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @vishnureddy17, @clecompt-msft

go mage again
  go/protocol/README.md
  go/protocol/internal/topic.go
Owners: @vishnureddy17, @clecompt-msft

change error message to match test expectation
  go/protocol/internal/topic.go
Owners: @vishnureddy17, @clecompt-msft

further updates
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/internal/topic.go
  go/test/protocol/binders.go
Owners: @vishnureddy17, @clecompt-msft

pr feedback and additional progress
  go/internal/mqtt/types.go
  go/mqtt/alias.go
  go/mqtt/auth.go
  go/mqtt/connect.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
Owners: @vishnureddy17, @clecompt-msft

derp
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/Azure.Iot.Operations.Services.IntegrationTests.csproj
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

asdf:x
  dotnet/samples/HttpThermostatConnectorApp/deploy-connector-and-asset.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i
