Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

yamls and split clients
  go/samples/application/eventdrivenapp/components/models/models.go
  go/samples/application/eventdrivenapp/components/processing/processing.go
  go/samples/application/eventdrivenapp/input_client/input.yaml
  go/samples/application/eventdrivenapp/input_client/main.go
  go/samples/application/eventdrivenapp/output_client/main.go
  go/samples/application/eventdrivenapp/output_client/output.yaml
Owners: @lev-i, @clecompt-msft

update readme for public preview
  README.md
  SUPPORT.md
Owners: @ryanwinter

typo
  README.md
Owners: @ryanwinter

Address review comments
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

improve issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
Owners: @avishekpant

update config.yml with additional doc/troubleshooting links
  .github/ISSUE_TEMPLATE/config.yml
  doc/troubleshooting.md
Owners: @avishekpant, @ryanwinter

Back to single exe
  go/samples/application/eventdrivenapp/deploy.yaml
  go/samples/application/eventdrivenapp/go.mod
  go/samples/application/eventdrivenapp/go.sum
  go/samples/application/eventdrivenapp/input_client/go.mod
  go/samples/application/eventdrivenapp/input_client/go.sum
  go/samples/application/eventdrivenapp/input_client/main.go
  go/samples/application/eventdrivenapp/main.go
  go/samples/application/eventdrivenapp/models/models.go
  go/samples/application/eventdrivenapp/output_client/main.go
  go/samples/application/eventdrivenapp/output_client/output.yaml
  go/samples/application/eventdrivenapp/processing/processing.go
Owners: @lev-i, @clecompt-msft

update go.work
  go/go.work
Owners: @lev-i, @clecompt-msft

add sourcing .env file to setup
  doc/setup.md
Owners: @ryanwinter

add toc
  doc/setup.md
Owners: @ryanwinter

Removing legacy DSS CLI tool with .NET (#611)
  .github/workflows/ci-dotnet.yml
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/Azure.Iot.Operations.Services.DssCli.csproj
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/DssClientService.cs
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/MqttClientFactoryProvider.cs
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/Program.cs
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/README.md
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/appsettings.Development.json
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/appsettings.json
  tools/dsscli/src/nuget.config
Owners: @avishekpant, @ryanwinter

Update ci-markdown.yml ignore errors from linkspector (#617)
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

[Rust][Sample Applications] Adding event driven app to sample applications (#606)
  rust/Cargo.toml
  rust/azure_iot_operations_services/src/state_store.rs
  rust/sample_applications/event_driven_app/README.md
  rust/sample_applications/event_driven_app/input_client/Cargo.toml
  rust/sample_applications/event_driven_app/input_client/src/main.rs
  rust/sample_applications/event_driven_app/output_client/Cargo.toml
  rust/sample_applications/event_driven_app/output_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET] Bump versions for release (#614)
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[Go] Tag release (#613)
  go/go.work
  go/mqtt/go.mod
  go/protocol/go.mod
  go/samples/protocol/cloudevents/client/go.mod
  go/samples/protocol/cloudevents/envoy/go.mod
  go/samples/protocol/cloudevents/server/go.mod
  go/samples/protocol/counter/client/go.mod
  go/samples/protocol/counter/envoy/go.mod
  go/samples/protocol/counter/server/go.mod
  go/samples/protocol/greeter/client/go.mod
  go/samples/protocol/greeter/envoy/go.mod
  go/samples/protocol/greeter/server/go.mod
  go/samples/services/leasedlock/go.mod
  go/samples/services/schemaregistry/go.mod
  go/samples/services/statestore/go.mod
  go/services/go.mod
  go/test/integration/go.mod
  go/test/protocol/go.mod
Owners: @lev-i, @clecompt-msft

[RUST] - Connection Settings from File Mount (#593)
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/ci/build-deps.sh
Owners: @cartertinney, @vaavva, @RLeclair

[Rust][MQTT] Sample Updates (#612)
  rust/azure_iot_operations_mqtt/examples/connection_monitor.rs
  rust/azure_iot_operations_mqtt/examples/custom_reconnect_policy.rs
  rust/azure_iot_operations_mqtt/examples/manual_ack.rs
  rust/azure_iot_operations_mqtt/examples/manual_ack_sample.rs
  rust/azure_iot_operations_mqtt/examples/sat_auth.rs
  rust/azure_iot_operations_mqtt/examples/send_receive.rs
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update CredScanSuppressions.json (#620)
  .pipelines/config/CredScanSuppressions.json
Owners: @avishekpant

update samples to use env for go (#618)
  go/samples/README.md
  go/samples/protocol/cloudevents/client/main.go
  go/samples/protocol/cloudevents/server/main.go
  go/samples/protocol/counter/server/Dockerfile
  go/samples/protocol/counter/server/deployment.yaml
  go/samples/protocol/counter/server/push-local.sh
  go/samples/protocol/greeter/client/main.go
  go/samples/protocol/greeter/server/main.go
  go/samples/services/leasedlock/main.go
  go/samples/services/schemaregistry/main.go
  go/samples/services/statestore/main.go
Owners: @lev-i, @clecompt-msft

remove old template name
  samples/EventDrivenApp/Dockerfile
  samples/EventDrivenApp/README.md
  samples/EventDrivenApp/simulator.yml
  samples/README.md
Owners: @avishekpant, @ryanwinter

go.mod replace
  go/samples/application/eventdrivenapp/go.mod
  go/samples/application/eventdrivenapp/main.go
  go/samples/application/eventdrivenapp/processing/processing.go
Owners: @lev-i, @clecompt-msft

go.mod wrong name
  go/samples/application/eventdrivenapp/go.mod
  go/samples/application/eventdrivenapp/go.sum
  go/samples/application/eventdrivenapp/main.go
Owners: @lev-i, @clecompt-msft

[.NET] Rework leader election configuration in connectors
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/tcp-service-asset-endpoint-profile-definition.yaml
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/Program.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/sql-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/Connectors/SqlConnector/Program.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorLeaderElectionConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorLeaderElectionConfigurationProvider.cs
  dotnet/src/Azure.Iot.Operations.Connector/IConnectorLeaderElectionConfigurationProvider.cs
  dotnet/src/Azure.Iot.Operations.Connector/PollingTelemetryConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
  dotnet/templates/EventDrivenTelemetryConnector/EventDrivenTelemetryConnector.csproj
  dotnet/templates/EventDrivenTelemetryConnector/Program.cs
  dotnet/templates/PollingTelemetryConnector/PollingTelemetryConnector.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fixup
  dotnet/templates/PollingTelemetryConnector/Program.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Changes to docs protocol and services
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
  rust/azure_iot_operations_protocol/src/common.rs
  rust/azure_iot_operations_protocol/src/common/aio_protocol_error.rs
  rust/azure_iot_operations_protocol/src/common/hybrid_logical_clock.rs
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
  rust/azure_iot_operations_protocol/src/common/user_properties.rs
  rust/azure_iot_operations_protocol/src/rpc_command/executor.rs
  rust/azure_iot_operations_protocol/src/rpc_command/invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/sender.rs
  rust/azure_iot_operations_services/README.md
  rust/azure_iot_operations_services/src/leased_lock/client.rs
  rust/azure_iot_operations_services/src/lib.rs
  rust/azure_iot_operations_services/src/schema_registry/client.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

guid
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

nope
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

simple
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

files
  eng/dtdl/aep-name-based-operations.json
  eng/dtdl/aep-type-based-operations.json
Owners: @avishekpant

fixup
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

keeps
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

should work?
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/ConnectorLeaderElectionConfigurationProvider.cs
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/EventDrivenTcpThermostatConnectorWorker.cs
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/Program.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/ConnectorLeaderElectionConfigurationProvider.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
  dotnet/samples/Connectors/SqlConnector/ConnectorLeaderElectionConfigurationProvider.cs
  dotnet/samples/Connectors/SqlConnector/Program.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorLeaderElectionConfigurationProvider.cs
  dotnet/templates/EventDrivenTelemetryConnector/ConnectorLeaderElectionConfigurationProvider.cs
  dotnet/templates/EventDrivenTelemetryConnector/Program.cs
  dotnet/templates/PollingTelemetryConnector/ConnectorLeaderElectionConfigurationProvider.cs
  dotnet/templates/PollingTelemetryConnector/Program.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

samples
  rust/azure_iot_operations_mqtt/examples/manual_ack.rs
  rust/azure_iot_operations_protocol/examples/rpc_executor_sample_no_serialization.rs
  rust/azure_iot_operations_protocol/examples/rpc_executor_sample_with_shared_subscription.rs
  rust/azure_iot_operations_protocol/examples/rpc_executors_with_shared_subscription.rs
  rust/azure_iot_operations_protocol/examples/rpc_invoker_sample_no_serialization.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

docs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorLeaderElectionConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Connector/IConnectorLeaderElectionConfigurationProvider.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

rename
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/LeaderElectionConfigurationProvider.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/LeaderElectionConfigurationProvider.cs
  dotnet/samples/Connectors/SqlConnector/LeaderElectionConfigurationProvider.cs
  dotnet/templates/EventDrivenTelemetryConnector/LeaderElectionConfigurationProvider.cs
  dotnet/templates/EventDrivenTelemetryConnector/Program.cs
  dotnet/templates/PollingTelemetryConnector/LeaderElectionConfigurationProvider.cs
  dotnet/templates/PollingTelemetryConnector/Program.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

to revert
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "to revert"
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

derp
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/LeaderElectionConfigurationProvider.cs
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/Program.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/LeaderElectionConfigurationProvider.cs
  dotnet/samples/Connectors/SqlConnector/LeaderElectionConfigurationProvider.cs
  dotnet/samples/Connectors/SqlConnector/Program.cs
  dotnet/templates/EventDrivenTelemetryConnector/LeaderElectionConfigurationProvider.cs
  dotnet/templates/PollingTelemetryConnector/LeaderElectionConfigurationProvider.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

wip
  rust/azure_iot_operations_protocol/examples/rpc_executors_with_shared_subscription.rs
  rust/azure_iot_operations_services/Cargo.toml
  rust/azure_iot_operations_services/examples/leased_lock.rs
  rust/azure_iot_operations_services/examples/schema_registry.rs
  rust/azure_iot_operations_services/examples/state_store.rs
  rust/azure_iot_operations_services/examples/state_store_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

log update
  rust/azure_iot_operations_protocol/examples/rpc_executors_with_shared_subscription.rs
Owners: @cartertinney, @vaavva, @RLeclair

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
