Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

major merge
  doc/README.md
  doc/components.md
  doc/reference/README.md
  doc/reference/command-api.md
  doc/reference/command-cache.md
  doc/reference/command-errors.md
  doc/reference/connection-management.md
  doc/reference/envoy-binder.md
  doc/reference/error-model.md
  doc/reference/message-metadata.md
  doc/rpc-services.md
  doc/setup.md
  doc/terminology.md
Owners: @ryanwinter

refactor to use Start()/Stop() pattern
  go/mqtt/connect.go
  go/mqtt/session_client.go
Owners: @vishnureddy17, @clecompt-msft

initialize fatalerrorhandlers
  go/mqtt/session_client.go
Owners: @vishnureddy17, @clecompt-msft

logic update
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/SchemaGenerator/SchemaGenerator.cs
Owners: @jrdouceur

use DTDL Transparent cotype in codegen
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/SchemaGenerator/DtdlMqttExtensionValues.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/SchemaGenerator/SchemaGenerator.cs
Owners: @jrdouceur

update SchemaGeneratorTests
  codegen/test/ProtocolCompiler.UnitTests/SchemaGeneratorTests/SchemaGeneratorTests.cs
Owners: @jrdouceur

[Go] Replace Listen/done pattern with split Start/Close pattern
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Service/t4/GoService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Service/t4/GoService.tt
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/command_test.go
  go/protocol/internal/concurrency.go
  go/protocol/listener.go
  go/protocol/telemetry_receiver.go
  go/protocol/telemetry_test.go
  go/samples/counter/client/client.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/increment_command_executor.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/increment_command_invoker.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/increment_command_response.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/read_counter_command_executor.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/read_counter_command_invoker.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/read_counter_command_response.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/reset_command_executor.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/reset_command_invoker.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/wrapper.go
  go/samples/counter/server/server.go
  go/samples/greeter/client/main.go
  go/samples/greeter/envoy/greeter.go
  go/samples/greeter/server/main.go
  go/samples/statestore/main.go
  go/services/statestore/client.go
  go/test/protocol/command_executor_tester.go
  go/test/protocol/command_invoker_tester.go
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

addressed PR comments
  codegen/res/rust/AVRO/common_types/empty_avro.rs
  codegen/res/rust/common/common_types/b64.rs
  codegen/res/rust/common/common_types/common_options.rs
  codegen/res/rust/common/common_types/date_only.rs
  codegen/res/rust/common/common_types/time_only.rs
  codegen/res/rust/raw/common_types/bytes.rs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/EnvoyGenerator/EnvoyGenerator.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandExecutor.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandExecutor.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandInvoker.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandInvoker.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/t4/RustCargoToml.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/t4/RustCargoToml.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Serialization/code/RustSerialization.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Serialization/t4/RustSerialization.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Serialization/t4/RustSerialization.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Service/t4/RustService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Service/t4/RustService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetrySender.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetrySender.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/rust/t4/RustObject.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/rust/t4/RustObject.tt
Owners: @jrdouceur

mage ci
  go/services/statestore/README.md
Owners: @vishnureddy17, @clecompt-msft

[Go] Simplify common patterns with iterators
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/internal/concurrency.go
  go/protocol/internal/container/sync_map.go
  go/protocol/internal/options.go
  go/protocol/mqtt/README.md
  go/protocol/mqtt/options.go
  go/protocol/telemetry_receiver.go
  go/protocol/telemetry_sender.go
  go/samples/counter/client/client.go
  go/services/statestore/internal/resp/parse.go
Owners: @vishnureddy17, @clecompt-msft

so far
  dotnet/samples/ConnectorApp/MachineLastMaintenance.cs
  dotnet/samples/ConnectorApp/MachineStatus.cs
  dotnet/samples/ConnectorApp/MqttMessageSchema.json
  dotnet/samples/ConnectorApp/SampleHttpServer/server.js
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/http-server-asset-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Should work, some TODOs to follow up on
  dotnet/samples/ConnectorApp/HttpDataRetriever.cs
  dotnet/samples/ConnectorApp/MachineLastMaintenance.cs
  dotnet/samples/ConnectorApp/MachineStatus.cs
  dotnet/samples/ConnectorApp/MqttSessionClientFactoryProvider.cs
  dotnet/samples/ConnectorApp/Program.cs
  dotnet/samples/ConnectorApp/ThermostatStatus.cs
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/http-server-asset-definition.yaml
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FileUtilities.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

address PR feedback
  go/mqtt/connect.go
  go/mqtt/session_client.go
Owners: @vishnureddy17, @clecompt-msft

Use Start()/Stop() pattern rather than blocking Run() (#120)
  go/mqtt/connect.go
  go/mqtt/internal/appendable_list_with_removal_test.go
  go/mqtt/session_client.go
Owners: @vishnureddy17, @clecompt-msft

complete CONNACK and DISCONECT reason code constants
  go/mqtt/constants.go
  go/mqtt/utils.go
Owners: @vishnureddy17, @clecompt-msft

align fatal reason codes with .NET session client implementation
  go/mqtt/connect.go
  go/mqtt/utils.go
Owners: @vishnureddy17, @clecompt-msft

Align fatal reason codes with .NET session client implementation (#125)
  go/mqtt/connect.go
  go/mqtt/constants.go
  go/mqtt/utils.go
Owners: @vishnureddy17, @clecompt-msft

refactor test
  go/mqtt/test/session_client_fault_injection_integration_test.go
Owners: @vishnureddy17, @clecompt-msft

updated sample
  rust/azure_iot_operations_mqtt/examples/sat_auth_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

initial refactor of fault integration tests
  go/mqtt/test/session_client_fault_injection_integration_test.go
Owners: @vishnureddy17, @clecompt-msft

change faultable broker url to localhost
  go/mqtt/test/session_client_fault_injection_integration_test.go
Owners: @vishnureddy17, @clecompt-msft

Support DTDL v4 'decimal' type in .NET, Go, and Rust
  codegen/res/rust/JSON/common_types.rs
  codegen/res/rust/common/common_types.rs
  codegen/res/rust/common/common_types/decimal.rs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/EnvoyGenerator/ResourceTransform.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/t4/RustCargoToml.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/t4/RustCargoToml.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/common/DecimalType.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/dotnet/common/DotNetSchemaSupport.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/dotnet/t4/DotNetObject.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/dotnet/t4/DotNetObject.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/go/common/GoSchemaSupport.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/rust/common/RustSchemaSupport.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/rust/t4/RustObject.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/rust/t4/RustObject.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/common/AvroSchemaSupport.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/common/JsonSchemaSupport.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/TypeGenerator/JsonSchemaStandardizer.cs
  codegen/test/samples/dtdl/CommandComplexSchemas.json
  codegen/test/samples/go/go.mod
  codegen/test/samples/go/go.sum
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/Azure.Iot.Operations.Protocol.MetlTests.csproj
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serialization/DecimalStringUnitTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serialization/JsonSerializerTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/JSON/DecimalJsonConverter.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/JSON/Utf8JsonSerializer.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/common/DecimalString.cs
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

map datasets with name
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

re-organizing
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-connector-secrets.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/ConnectorApp/MqttMessageSchema.json
  dotnet/samples/ConnectorApp/MqttMessageSchemas/ThermostatLastMaintenanceTelemetryMessageSchema.json
  dotnet/samples/ConnectorApp/MqttMessageSchemas/ThermostatStatusTelemetryMessageSchema.json
  dotnet/samples/ConnectorApp/Program.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

logging, pathing
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Unify mage build commands.
  go/internal/.gomarkdoc.yml
  go/internal/mage/.golangci.yml
  go/internal/mage/mage.go
  go/internal/magefile.go
  go/mqtt/.golangci.yml
  go/mqtt/.gomarkdoc.yml
  go/mqtt/magefile.go
  go/protocol/.golangci.yml
  go/protocol/.gomarkdoc.yml
  go/protocol/magefile.go
  go/services/.golangci.yml
  go/services/.gomarkdoc.yml
  go/services/magefile.go
  go/test/protocol/.golangci.yml
  go/test/protocol/magefile.go
Owners: @vishnureddy17, @clecompt-msft

one dataset
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Update session-client/protocol interface
  go/internal/mqtt/README.md
  go/internal/mqtt/types.go
  go/mqtt/alias.go
  go/mqtt/connect.go
  go/mqtt/go.mod
  go/mqtt/go.sum
  go/mqtt/subscribe.go
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/go.mod
  go/protocol/go.sum
  go/protocol/internal/topic.go
  go/protocol/internal/topic_test.go
  go/protocol/listener.go
  go/protocol/stub_test.go
  go/protocol/telemetry_receiver.go
  go/protocol/telemetry_sender.go
  go/protocol/types.go
  go/samples/counter/client/client.go
  go/samples/counter/server/server.go
  go/samples/greeter/client/main.go
  go/samples/greeter/server/main.go
  go/samples/statestore/main.go
  go/services/go.mod
  go/services/go.sum
  go/test/protocol/binders.go
  go/test/protocol/command_executor_tester.go
  go/test/protocol/command_invoker_tester.go
  go/test/protocol/common_tester.go
Owners: @vishnureddy17, @clecompt-msft

Review feedback.
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Command/t4/GoCommandExecutor.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Command/t4/GoCommandExecutor.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Command/t4/GoCommandInvoker.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Command/t4/GoCommandInvoker.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Service/t4/GoService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Service/t4/GoService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Telemetry/t4/GoTelemetryReceiver.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Telemetry/t4/GoTelemetryReceiver.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Telemetry/t4/GoTelemetrySender.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Telemetry/t4/GoTelemetrySender.tt
  go/mqtt/connect.go
  go/mqtt/subscribe.go
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/listener.go
  go/protocol/stub_test.go
  go/protocol/telemetry_receiver.go
  go/protocol/telemetry_sender.go
  go/protocol/types.go
  go/samples/counter/client/client.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/increment_command_executor.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/increment_command_invoker.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/read_counter_command_executor.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/read_counter_command_invoker.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/reset_command_executor.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/reset_command_invoker.go
  go/samples/counter/envoy/dtmi_com_example_Counter__1/wrapper.go
  go/samples/counter/server/server.go
  go/samples/greeter/client/main.go
  go/samples/greeter/envoy/greeter.go
  go/samples/greeter/server/main.go
  go/samples/statestore/main.go
  go/services/statestore/client.go
  go/test/protocol/binders.go
  go/test/protocol/command_executor_tester.go
  go/test/protocol/command_invoker_tester.go
  go/test/protocol/common_tester.go
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

Use context cancel in done callback.
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

[Go] Fix mqtt lint failures
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/connection_settings_test.go
  go/mqtt/errors.go
  go/mqtt/internal/appendable_list_with_removal.go
  go/mqtt/internal/appendable_list_with_removal_test.go
  go/mqtt/packet.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

cache it
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

PR comments
  dotnet/tutorials/EventDrivenApp/Constants.cs
  dotnet/tutorials/EventDrivenApp/EventDrivenApp.csproj
  dotnet/tutorials/EventDrivenApp/InputWorker.cs
  dotnet/tutorials/EventDrivenApp/Models/InputSensorData.cs
  dotnet/tutorials/EventDrivenApp/Models/OutputSensorData.cs
  dotnet/tutorials/EventDrivenApp/Models/SensorData.cs
  dotnet/tutorials/EventDrivenApp/Models/WindowData.cs
  dotnet/tutorials/EventDrivenApp/MqttClientFactoryProvider.cs
  dotnet/tutorials/EventDrivenApp/OutputWorker.cs
  dotnet/tutorials/EventDrivenApp/Program.cs
  dotnet/tutorials/EventDrivenApp/README.md
  dotnet/tutorials/EventDrivenApp/Telemetry/SensorTelemetryReceiver.cs
  dotnet/tutorials/EventDrivenApp/Telemetry/Utf8JsonSerializer.cs
  dotnet/tutorials/EventDrivenApp/Telemetry/WindowTelemetrySender.cs
  dotnet/tutorials/EventDrivenApp/appsettings.Development.json
  dotnet/tutorials/EventDrivenApp/appsettings.json
  dotnet/tutorials/EventDrivenApp/yaml/app.yml
  dotnet/tutorials/EventDrivenApp/yaml/simulator.yml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

update tutorial readme
  dotnet/tutorials/EventDrivenApp/README.md
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix session client instantiation
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/connector-config.yaml
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Don't hardcode TLS and cleanStart
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

disconnect when session loss is detected
  go/mqtt/connect.go
Owners: @vishnureddy17, @clecompt-msft

retryableError -> fatalError
  go/mqtt/connect.go
  go/mqtt/errors.go
  go/mqtt/net.go
  go/mqtt/utils.go
Owners: @vishnureddy17, @clecompt-msft
