Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

wip
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

rename
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

wip
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET][Akri] Fix log statement
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/src/Azure.Iot.Operations.Mqtt/ExtendedPubSubMqttClient.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingMqttPubSubClient.cs
  dotnet/src/Azure.Iot.Operations.Protocol/IExtendedPubSubMqttClient.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/Chunking/ChunkingMqttClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/ClientFactory.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Chunking/ChunkingMqttClientTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add directives and ArrayTransformer
  hacks/SemanticDataHub/ConsoleDataVisualizer/Program.cs
  hacks/SemanticDataHub/SemanticDataClient/FirstModel/ArmPositionSchema.g.cs
  hacks/SemanticDataHub/SemanticDataClient/FirstModel/ArmPositionTelemetry.g.cs
  hacks/SemanticDataHub/SemanticDataHub/ArrayTransformer.cs
  hacks/SemanticDataHub/SemanticDataHub/ConversionTransformer.cs
  hacks/SemanticDataHub/SemanticDataHub/DataTransformerFactory.cs
  hacks/SemanticDataHub/SemanticDataHub/MappingTransformer.cs
  hacks/SemanticDataHub/SemanticDataServer/FirstModel/ArmPositionSchema.g.cs
  hacks/SemanticDataHub/SemanticDataServer/FirstModel/ArmPositionTelemetry.g.cs
  hacks/SemanticDataHub/config/BareBonesDeviceBinding.json
  hacks/SemanticDataHub/config/DeluxeDeviceBinding.json
  hacks/SemanticDataHub/config/DeviceToMqttMapping.json
  hacks/SemanticDataHub/dtdl/SemanticDataModel.json
Owners: @avishekpant

doc
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

progress
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingMqttPubSubClient.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/Chunking/ChunkingMqttClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

clean up
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/ChunkingMqttClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/ChunkingMqttClientTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fmt
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

test fix
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Chunking/ChunkingMqttClientTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

generated new code
  rust/azure_iot_operations_services/gen.sh
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/b64.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/date_only.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/decimal.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/empty_json.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/options.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/time_only.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/dependencies.md
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/akri_service_error.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/akri_service_error_error.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_command_invoker.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_request_payload.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_request_payload_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_request_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_payload.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_payload_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_schema_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/device_outbound_endpoint.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_endpoint.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_inbound_endpoint_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_outbound_endpoints_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_response.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/spec_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/mod.rs
Owners: @cartertinney, @vaavva, @RLeclair

manual format
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/b64.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/date_only.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/decimal.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/time_only.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_command_invoker.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_request_payload.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_request_payload_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_request_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_payload.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_payload_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_schema_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_endpoint.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_outbound_endpoints_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_response.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/spec_schema.rs
Owners: @cartertinney, @vaavva, @RLeclair

format
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/b64.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/date_only.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/decimal.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/time_only.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_command_invoker.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_request_payload.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_request_payload_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_request_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_payload.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_payload_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_schema_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_endpoint.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_outbound_endpoints_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_response.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/spec_schema.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Rust][Services] Generated code for `device-discovery-service.json` (#815)
  rust/azure_iot_operations_services/gen.sh
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/b64.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/date_only.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/decimal.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/empty_json.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/options.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/common_types/time_only.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/dependencies.md
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/akri_service_error.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/akri_service_error_error.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_command_invoker.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_request_payload.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_request_payload_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_request_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_payload.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_payload_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/create_or_update_discovered_device_response_schema_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/device_outbound_endpoint.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_endpoint.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_inbound_endpoint_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_outbound_endpoints_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/discovered_device_response.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/device_discovery_service/spec_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_discovery_gen/mod.rs
Owners: @cartertinney, @vaavva, @RLeclair

remove some unwraps. cleanup
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
Owners: @cartertinney, @vaavva, @RLeclair

refactor models
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/data_processor/derived_json.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/helper.rs
  rust/azure_iot_operations_services/src/azure_device_registry/models.rs
  rust/azure_iot_operations_services/src/azure_device_registry/models/asset.rs
  rust/azure_iot_operations_services/src/azure_device_registry/models/device.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

feedback
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

split repo name + image/helm chart name
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant

missed one
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

split configurations between inbound endpoints vs assets
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

unsude
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET] Re-add static constructor for ExtendedResponse
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/ExtendedResponse.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

refactor conversions
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/helper.rs
  rust/azure_iot_operations_services/src/azure_device_registry/models/asset.rs
Owners: @cartertinney, @vaavva, @RLeclair

file
  .github/workflows/ci-rust.yml
Owners: @avishekpant

file
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

check for version
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET] Add clarification to invoker/executor timeout documentation
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandExecutor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandInvoker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

check for version
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

CR
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/models/asset.rs
Owners: @cartertinney, @vaavva, @RLeclair

feedback
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant

[Rust][Services][Connector] Refactor ADR model organization (#816)
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/data_processor/derived_json.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/helper.rs
  rust/azure_iot_operations_services/src/azure_device_registry/models.rs
  rust/azure_iot_operations_services/src/azure_device_registry/models/asset.rs
  rust/azure_iot_operations_services/src/azure_device_registry/models/device.rs
Owners: @cartertinney, @vaavva, @RLeclair

requests and limits
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant

wording
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

feedback
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

feedback
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

feedback
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant

Revert "feedback"
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant
