Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

asdf
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityServiceMetricsApis/AkriObservabilityServiceMetricsApis.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityServiceMetricsApis/Metric.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityServiceMetricsApis/MetricScope.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityServiceMetricsApis/MetricType.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityServiceMetricsApis/TelemetryCollection.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityServiceMetricsApis/TelemetryReceiver.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityServiceMetricsApis/TelemetrySender.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/BytesJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DateJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DecimalJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DecimalString.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DurationJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/EmptyJson.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/TimeJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/Utf8JsonSerializer.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/UuidJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/ValueExtractor.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

not needed
  .github/workflows/run-codegen.yml
Owners: @avishekpant

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseServiceClientStub.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Translating protobuf metrics data to dtdl
  doc/dev/adr/observabiity-client.md
  eng/dtdl/akri-observability-metrics-operations.json
  metrics_data.json
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/aggregation_temporality.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/data.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/gauge.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/histogram.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/histogram_data_point.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/metric_scope.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/metric_type.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/number_data_point.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/sum.rs
Owners: @ryanwinter, @avishekpant, @cartertinney, @vaavva, @RLeclair

remove ADO feed from dotnet install instructions
  dotnet/README.md
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[.NET] Default clean start to false
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fix --noProj option
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/EnvoyGenerator/EnvoyGenerator.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/EnvoyGenerator/EnvoyTransformFactory.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsRequestPayloadSerialization.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsResponsePayloadSerialization.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/MemoryStatsTelemetrySerialization.g.cs
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

unit tests
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Connection/MqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

wup
  rust/azure_iot_operations_services/src/adr.rs
  rust/azure_iot_operations_services/src/adr/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

repro warnings
  eng/dtdl/opcua-datasetwrite.v2.dtdl.json
  eng/dtdl/statestore.json
Owners: @avishekpant

codegen output
  eng/dtdl/src/mrpc.client.generated.v3/CustomPayload.cs
  eng/dtdl/src/mrpc.client.generated.v3/DecimalString.cs
  eng/dtdl/src/mrpc.client.generated.v3/ExternalSerializer.cs
  eng/dtdl/src/mrpc.client.generated.v3/Write/Write.g.cs
  eng/dtdl/src/mrpc.client.generated.v3/Write/WriteDatasetCommandInvoker.g.cs
  eng/dtdl/src/mrpc.client.generated.v3/mrpc.client.generated.v3.csproj
Owners: @avishekpant

options as per dtdl
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

irrelevant dtdl files
  eng/dtdl/SchemaRegistry-1.json
  eng/dtdl/aep-name-based-operations.json
  eng/dtdl/aep-type-based-operations.json
Owners: @avishekpant

Aep status update
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

all commands
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

add pull_request_target so the workflows are run by the repository and not the fork to access the action secret.
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-rust.yml
  .github/workflows/e2e-cross-language.yml
Owners: @avishekpant

add permissions to e2e workflow
  .github/workflows/e2e-cross-language.yml
Owners: @avishekpant

removed unused nuget.config files add better name for ADO feed in codegen
  codegen/nuget.config
  dotnet/samples/applications/EventDrivenApp/NuGet.Config
  eng/test/docgen/src/Azure.Iot.Operations.Protocol.UnitTests.Docgen/nuget.config
  eng/test/faultablemqttbroker/src/Azure.Iot.Operations.FaultableMqttBroker/nuget.config
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/nuget.config
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update setup.md to check if 6.6 kernel is installed when using WSL
  doc/setup.md
  dotnet/templates/nuget.config
Owners: @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fmt + clippy
  rust/azure_iot_operations_services/src/common.rs
  rust/azure_iot_operations_services/src/lib.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

aep type
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/create_discovered_asset_endpoint_profile_command_invoker.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/create_discovered_asset_endpoint_profile_request_payload.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/create_discovered_asset_endpoint_profile_request_payload_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/create_discovered_asset_endpoint_profile_response_payload.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/create_discovered_asset_endpoint_profile_response_payload_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/create_discovered_asset_endpoint_profile_response_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/discovered_asset_endpoint_profile.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/discovered_asset_endpoint_profile_response_status_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/supported_authentication_methods_schema_element_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/common_types.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/common_types/b64.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/common_types/common_options.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/common_types/date_only.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/common_types/decimal.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/common_types/empty_json.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/common_types/time_only.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/dependencies.md
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/mod.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

update templates for dotnet
  doc/dev/packaging.md
  dotnet/templates/EventDrivenTelemetryConnector/EventDrivenTelemetryConnector.csproj
  dotnet/templates/EventDrivenTelemetryConnector/nuget.config
  dotnet/templates/PollingTelemetryConnector/PollingTelemetryConnector.csproj
  dotnet/templates/PollingTelemetryConnector/nuget.config
  dotnet/templates/README.md
Owners: @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

some doc cleanup
  doc/setup.md
  dotnet/README.md
Owners: @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fix toc
  doc/setup.md
Owners: @ryanwinter

logic alterations
  rust/azure_iot_operations_services/src/common.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET] Bump version for services release
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

wip
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET] Make connector package target the strongly signed SDK packages
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Update MqttClientOptions.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Models/MqttClientOptions.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

aep type
  rust/azure_iot_operations_services/gen.sh
  rust/azure_iot_operations_services/src/azure_device_registry/adr_name_gen/mod.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/create_discovered_asset_endpoint_profile_command_invoker.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/create_discovered_asset_endpoint_profile_request_payload_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/create_discovered_asset_endpoint_profile_response_payload.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/create_discovered_asset_endpoint_profile_response_payload_serialization.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/create_discovered_asset_endpoint_profile_response_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/aep_type_service/discovered_asset_endpoint_profile.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/common_types/b64.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/common_types/date_only.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/common_types/decimal.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/common_types/time_only.rs
  rust/azure_iot_operations_services/src/azure_device_registry/adr_type_gen/mod.rs
Owners: @cartertinney, @vaavva, @RLeclair

Dont cancel workflows run from forks
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-rust.yml
  .github/workflows/e2e-cross-language.yml
Owners: @avishekpant

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AssetEndpointProfileServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AssetServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

output github variables
  .github/workflows/ci-rust.yml
Owners: @avishekpant

print entire context
  .github/workflows/ci-markdown.yml
  .github/workflows/ci-rust.yml
Owners: @avishekpant

it builds now
  dotnet/templates/EventDrivenTelemetryConnector/EventDrivenTelemetryConnector.csproj
  dotnet/templates/PollingTelemetryConnector/PollingTelemetryConnector.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update polling telelmetry connector template so that name substitution works correctly.
  dotnet/templates/EventDrivenTelemetryConnector/.template.config/template.json
  dotnet/templates/PollingTelemetryConnector/.template.config/template.json
  dotnet/templates/PollingTelemetryConnector/DatasetSampler.cs
  dotnet/templates/PollingTelemetryConnector/DatasetSamplerFactory.cs
  dotnet/templates/PollingTelemetryConnector/LeaderElectionConfigurationProvider.cs
  dotnet/templates/PollingTelemetryConnector/MessageSchemaProvider.cs
  dotnet/templates/PollingTelemetryConnector/Program.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

remove the indirect dependencies
  dotnet/templates/EventDrivenTelemetryConnector/EventDrivenTelemetryConnector.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

rename the project file name so it is correctly tempaltized
  dotnet/templates/PollingTelemetryConnector/PollingTelemetryConnectorTemplate.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fix typo
  dotnet/templates/README.md
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
