Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

update to node 20
  .github/workflows/ci-markdown.yml
Owners: @jrdouceur

trigger for all files
  .github/workflows/ci-markdown.yml
Owners: @jrdouceur

upgrade codegen to use latest preview parser 1.1.11
  codegen/src/Akri.Dtdl.Codegen/Akri.Dtdl.Codegen.csproj
Owners: @jrdouceur

adjust logging for invoker drop
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix some links and wording in dotnet readme
  dotnet/README.md
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Address feedback
  dotnet/samples/StateStoreObserveKeySample/Program.cs
  dotnet/samples/StateStoreObserveKeySample/README.md
  dotnet/samples/StateStoreObserveKeySample/StateChangeSample.csproj
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreKey.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreObject.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreValue.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Clearer names.
  go/protocol/internal/caching/cache.go
Owners: @vishnureddy17, @clecompt-msft

mage ci
  go/protocol/iso/README.md
  go/protocol/iso/types.go
Owners: @vishnureddy17, @clecompt-msft

PR feedback
  .github/workflows/ci-markdown.yml
  .vscode/cspell.json
Owners: @jrdouceur

Add Go patch version to appease CodeQL.
  go/go.work
  go/mqtt/go.mod
  go/protocol/go.mod
  go/samples/counter/client/go.mod
  go/samples/counter/envoy/go.mod
  go/samples/counter/server/go.mod
  go/samples/greeter/client/go.mod
  go/samples/greeter/envoy/go.mod
  go/samples/greeter/server/go.mod
  go/test/protocol/go.mod
Owners: @vishnureddy17, @clecompt-msft

add additionanal parsring for codeblocks in markdown
  .vscode/cspell.json
Owners: @jrdouceur

add softwareTerms
  .github/workflows/ci-markdown.yml
  .vscode/cspell.json
Owners: @jrdouceur

add softwareterms dict
  .vscode/cspell.json
Owners: @jrdouceur

add more dictionary words
  .vscode/cspell.json
  .vscode/dictionaries/gosdk.txt
  .vscode/dictionaries/mqtt.txt
  .vscode/dictionaries/rustsdk.txt
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/MqttTopicProcessorTests.cs
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

final cleanup and comments
  .vscode/cspell.json
  .vscode/dictionaries/codegen.txt
  .vscode/dictionaries/dtdl.txt
  .vscode/dictionaries/gosdk.txt
  .vscode/dictionaries/mqtt.txt
  .vscode/dictionaries/rustsdk.txt
  tools/deployment/github-auth.sh
Owners: @jrdouceur

Address feedback
  dotnet/samples/StateStoreObserveKeySample/Program.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add cred scan suppressions file
  .pipelines/config/CredScanSuppressions.json
Owners: @jrdouceur

Fix catch
  dotnet/samples/StateStoreObserveKeySample/Program.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

no catch
  dotnet/samples/StateStoreObserveKeySample/Program.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Add script for CD.
  .github/workflows/cd-go.yml
  go/tools/release.sh
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

Typo.
  go/tools/release.sh
Owners: @vishnureddy17, @clecompt-msft

Overuse of the word "tag".
  go/tools/release.sh
Owners: @vishnureddy17, @clecompt-msft

Review fixes.
  .github/workflows/cd-go.yml
  go/tools/release.sh
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

[Go] Implement protocol versioning.
  go/protocol/README.md
  go/protocol/command_invoker.go
  go/protocol/errors/README.md
  go/protocol/errors/errors.go
  go/protocol/internal/constants/metadata.go
  go/protocol/internal/errutil/protocol.go
  go/protocol/internal/version/version.go
  go/protocol/listener.go
  go/protocol/publisher.go
  go/test/protocol/command_executor_tester.go
  go/test/protocol/command_invoker_tester.go
  go/test/protocol/test_case_catch.go
Owners: @vishnureddy17, @clecompt-msft

docs;r
  rust/README.md
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_mqtt/README.md
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/control_packet.rs
  rust/azure_iot_operations_mqtt/src/error.rs
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/lib.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_mqtt/src/session/dispatcher.rs
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
  rust/azure_iot_operations_mqtt/src/session/reconnect_policy.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
  rust/azure_iot_operations_mqtt/src/topic.rs
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_protocol/README.md
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/src/common.rs
  rust/azure_iot_operations_protocol/src/common/aio_protocol_error.rs
  rust/azure_iot_operations_protocol/src/common/hybrid_logical_clock.rs
  rust/azure_iot_operations_protocol/src/common/user_properties.rs
  rust/azure_iot_operations_protocol/src/lib.rs
  rust/azure_iot_operations_protocol/src/rpc.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry.rs
Owners: @cartertinney, @vaavva, @RLeclair

format updates
  rust/azure_iot_operations_mqtt/src/control_packet.rs
  rust/azure_iot_operations_mqtt/src/interface.rs
Owners: @cartertinney, @vaavva, @RLeclair

minor change
  rust/README.md
Owners: @cartertinney, @vaavva, @RLeclair

format
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/session/internal.rs
Owners: @cartertinney, @vaavva, @RLeclair

relative links
  rust/README.md
  rust/azure_iot_operations_mqtt/README.md
  rust/azure_iot_operations_protocol/README.md
Owners: @cartertinney, @vaavva, @RLeclair

cspell;r
  .vscode/cspell.json
  .vscode/dictionaries/rustsdk.txt
Owners: @jrdouceur

more cspell
  .vscode/dictionaries/rustsdk.txt
Owners: @jrdouceur

Added broker / sample running doc
  rust/README.md
Owners: @cartertinney, @vaavva, @RLeclair

Added sample/broker to root README
  rust/README.md
Owners: @cartertinney, @vaavva, @RLeclair

sample updates
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

more sample;r
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

sample language
  rust/azure_iot_operations_mqtt/README.md
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

clarify
  rust/README.md
Owners: @cartertinney, @vaavva, @RLeclair

update sample again
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

added resources
  doc/dev/rust_resources.md
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
Owners: @ryanwinter, @cartertinney, @vaavva, @RLeclair

added resources link
  rust/README.md
Owners: @cartertinney, @vaavva, @RLeclair
