Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

Remove unnecessary CRD installation step in connector deployment (#103)
  dotnet/samples/ConnectorApp/connector_config_crd.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

more
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/http-server-asset-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

more
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfile.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

re-order deployment steps
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

builds
  dotnet/samples/ConnectorApp/HttpDataRetriever.cs
  dotnet/samples/ConnectorApp/SampleHttpServer/server.js
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/http-server-asset-definition.yaml
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfile.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

no mqtt for now
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

derp
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

d'oh
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/samples/ConnectorApp/SampleHttpServer/server.js
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

mqtt back in
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

disposable
  dotnet/samples/ConnectorApp/HttpDataRetriever.cs
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

sampling interval
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Revert "mqtt back in"
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Reapply "mqtt back in"
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

warnings
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

nah
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/samples/ConnectorApp/SampleHttpServer/server.js
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Revert "Reapply "mqtt back in""
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Reapply "Reapply "mqtt back in""
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

update deploy script to m2
  tools/deployment/deploy-aio.sh
  tools/deployment/update-credentials.sh
  tools/deployment/yaml/aio-nightly.yaml
  tools/deployment/yaml/aio-release.yaml
  tools/deployment/yaml/certificates.yaml
Owners: @jrdouceur

simplify dev containers
  .devcontainer/devcontainer.json
  .devcontainer/nightly/devcontainer.json
Owners: @jrdouceur

Addressing comments
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

spelling updates
  doc/README.md
  doc/libraries.md
  doc/overview.md
  doc/reference/README.md
  doc/reference/command-cache.md
  doc/reference/command-timeouts.md
  doc/reference/connection-management.md
  doc/reference/envoy-binder.md
  doc/reference/message-metadata.md
  doc/reference/protocol-versioning.md
  doc/reference/session-client.md
  doc/reference/telemetry-api.md
Owners: @ryanwinter

add (dis)connect notifications and remove use byte values directly for reasoncodes
  go/mqtt/connect.go
  go/mqtt/constants.go
  go/mqtt/errors.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
  go/mqtt/utils.go
Owners: @vishnureddy17, @clecompt-msft

fix
  dotnet/samples/ConnectorApp/HttpDataRetriever.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

add comment about moving a struct type to common module
  go/mqtt/connect.go
Owners: @vishnureddy17, @clecompt-msft

Add HTTP connection logic to connector sample + Add stub asset code (#104)
  dotnet/samples/ConnectorApp/HttpDataRetriever.cs
  dotnet/samples/ConnectorApp/SampleHttpServer/server.js
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/http-server-asset-definition.yaml
  dotnet/samples/ConnectorApp/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfile.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Shutdown + lint warnings
  rust/azure_iot_operations_protocol/src/telemetry.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

so far
  dotnet/samples/ConnectorApp/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/samples/ConnectorApp/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Decouple subscription from message handler registration.
  go/go.work
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/go.mod
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/listener.go
  go/protocol/mqtt/README.md
  go/protocol/mqtt/types.go
  go/protocol/stub_test.go
  go/protocol/telemetry_receiver.go
  go/samples/counter/client/client.go
  go/samples/counter/client/go.mod
  go/samples/counter/envoy/go.mod
  go/samples/counter/server/go.mod
  go/samples/counter/server/server.go
  go/samples/greeter/client/go.mod
  go/samples/greeter/client/main.go
  go/samples/greeter/envoy/go.mod
  go/samples/greeter/server/go.mod
  go/samples/greeter/server/main.go
  go/samples/statestore/go.mod
  go/samples/statestore/main.go
  go/services/go.mod
  go/test/protocol/command_executor_tester.go
  go/test/protocol/command_invoker_tester.go
  go/test/protocol/common_tester.go
  go/test/protocol/go.mod
  go/test/protocol/protocol_test.go
  go/test/protocol/stub_session_client.go
Owners: @vishnureddy17, @clecompt-msft

asdf
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/connector-config.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fixup
  dotnet/samples/ConnectorApp/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix connector sample MQ address (#107)
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/connector-config.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Feeback.
  doc/dev/adr/0001-generalized-topic-tokens.md
Owners: @ryanwinter

rename project, fix cert location
  dotnet/tutorials/EventDrivenApp/Constants.cs
  dotnet/tutorials/EventDrivenApp/EventDrivenApp.csproj
  dotnet/tutorials/EventDrivenApp/InputWorker.cs
  dotnet/tutorials/EventDrivenApp/Models/InputSensorData.cs
  dotnet/tutorials/EventDrivenApp/Models/OutputSensorData.cs
  dotnet/tutorials/EventDrivenApp/MqttClientFactoryProvider.cs
  dotnet/tutorials/EventDrivenApp/OutputWorker.cs
  dotnet/tutorials/EventDrivenApp/Program.cs
  dotnet/tutorials/EventDrivenApp/README.md
  dotnet/tutorials/EventDrivenApp/appsettings.Development.json
  dotnet/tutorials/EventDrivenApp/appsettings.json
  dotnet/tutorials/EventDrivenApp/yaml/app.yml
  dotnet/tutorials/EventDrivenApp/yaml/simulator.yml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

update devcontainer ti include SESSION export for location of session files (certs/tokens)
  .devcontainer/devcontainer.json
  .devcontainer/nightly/devcontainer.json
  dotnet/tutorials/EventDrivenApp/yaml/app.yml
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

Update to latest operator helm chart
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Adding global auto-ack
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

Tests update
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair
