Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

version bump
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_services/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

Unify timeout options.
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/common_options.go
  go/protocol/internal/timeout.go
  go/protocol/publisher.go
  go/protocol/telemetry_receiver.go
  go/protocol/telemetry_sender.go
  go/samples/greeter/client/main.go
  go/samples/greeter/envoy/greeter.go
  go/services/statestore/del.go
  go/services/statestore/get.go
  go/services/statestore/set.go
  go/services/statestore/vdel.go
  go/test/protocol/command_executor_tester.go
  go/test/protocol/command_invoker_tester.go
Owners: @vishnureddy17, @clecompt-msft

removed panic on qos0/2
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

address pr comments, remove unneeded mut self, add some doc updates, add some tests
  rust/README.md
  rust/azure_iot_operations_services/examples/state_store_client.rs
  rust/azure_iot_operations_services/src/state_store.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

changed options parameter to pass by value to match other envoys
  rust/azure_iot_operations_services/examples/state_store_client.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

update state store error strings
  rust/azure_iot_operations_services/src/state_store.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Go] go/services release v0.0.1 (#144)
  go/go.work
  go/samples/statestore/go.mod
Owners: @vishnureddy17, @clecompt-msft

Switch to structs, add variable names
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/internal/timeout.go
  go/protocol/telemetry_receiver.go
  go/protocol/telemetry_sender.go
Owners: @vishnureddy17, @clecompt-msft

update docs and naming recs from pr comments
  rust/azure_iot_operations_services/examples/state_store_client.rs
  rust/azure_iot_operations_services/src/state_store.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/azure_iot_operations_services/src/state_store/resp3.rs
Owners: @cartertinney, @vaavva, @RLeclair

ADO crate support
  rust/.cargo/config.toml
  rust/README.md
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_services/Cargo.toml
  rust/azure_iot_operations_services/README.md
  rust/release.sh
Owners: @cartertinney, @vaavva, @RLeclair

doc updates
  .github/index-pages.html
  rust/README.md
Owners: @jrdouceur, @cartertinney, @vaavva, @RLeclair

fix tabulation in yaml file
  .github/workflows/e2e-cross-language-samples.yml
Owners: @jrdouceur

gitignore code generated from T4 templates
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/.gitignore
Owners: @jrdouceur

wip
  rust/README.md
Owners: @cartertinney, @vaavva, @RLeclair

doc update
  rust/README.md
  rust/azure_iot_operations_services/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

sample fix
  rust/azure_iot_operations_services/examples/state_store_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

added connection monitor
  rust/azure_iot_operations_mqtt/examples/monitor_sample.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @cartertinney, @vaavva, @RLeclair

doc
  rust/azure_iot_operations_mqtt/examples/monitor_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

host
  rust/azure_iot_operations_mqtt/examples/monitor_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

doc
  rust/azure_iot_operations_mqtt/examples/monitor_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

address PR comments about variables
  rust/azure_iot_operations_services/tests/state_store_client_test.rs
Owners: @cartertinney, @vaavva, @RLeclair

readme
  rust/README.md
Owners: @cartertinney, @vaavva, @RLeclair

update release script
  rust/release.sh
Owners: @cartertinney, @vaavva, @RLeclair

Remove unnecessary nil check.
  go/mqtt/connect.go
Owners: @vishnureddy17, @clecompt-msft

[Go] Implement leased-lock
  go/go.work
  go/samples/leasedlock/.gitignore
  go/samples/leasedlock/go.mod
  go/samples/leasedlock/go.sum
  go/samples/leasedlock/main.go
  go/samples/statestore/.gitignore
  go/services/leasedlock/README.md
  go/services/leasedlock/edit.go
  go/services/leasedlock/lock.go
  go/services/leasedlock/options.go
  go/services/statestore/README.md
  go/services/statestore/client.go
Owners: @vishnureddy17, @clecompt-msft

readme
  rust/README.md
Owners: @cartertinney, @vaavva, @RLeclair

grammar
  rust/README.md
Owners: @cartertinney, @vaavva, @RLeclair

[Go] Sync state-store error strings
  go/services/statestore/errors/errors.go
Owners: @vishnureddy17, @clecompt-msft

upgrade setup instructions
  doc/setup.md
  tools/deployment/deploy-aio.sh
Owners: @ryanwinter, @jrdouceur

more
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[ProtocolCompiler] Add build.sh and update gen_all.sh
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/e2e-cross-language-samples.yml
  codegen/build.sh
  codegen/gen_all.sh
  codegen/test/samples/dotnet/gen.sh
  codegen/test/samples/go/gen.sh
  codegen/test/samples/rust/gen.sh
  dotnet/samples/TestEnvoys/gen.sh
  eng/test/test-cases/dtdl/gen.sh
  go/samples/README.md
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @vishnureddy17, @clecompt-msft

mage ci
  go/services/statestore/errors/README.md
  go/services/statestore/errors/errors.go
Owners: @vishnureddy17, @clecompt-msft

[.NET] Make connector sample forward HTTP data to MQTT broker (#159)
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/HttpDataRetriever.cs
  dotnet/samples/ConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-connector-secrets.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/ConnectorApp/MqttMessageSchemas/ThermostatStatusTelemetryMessageSchema.json
  dotnet/samples/ConnectorApp/MqttSessionClientFactoryProvider.cs
  dotnet/samples/ConnectorApp/Program.cs
  dotnet/samples/ConnectorApp/SampleHttpServer/server.js
  dotnet/samples/ConnectorApp/ThermostatStatus.cs
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/setup-cluster.sh
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FileUtilities.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

so far
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericHttpServerConnectorWorkerService.csproj
  dotnet/samples/GenericHttpServerConnectorWorkerService/HttpConnectorWorkerService.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/MqttSessionClientFactoryProvider.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/Program.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/Worker.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/appsettings.Development.json
  dotnet/samples/GenericHttpServerConnectorWorkerService/appsettings.json
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

more
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericHttpConnectorWorkerService.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/Program.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Make part of the connector sample slightly more generic
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

typo
  README.md
Owners: @ryanwinter

update pub/sub/unsub interface to include ack information
  go/internal/mqtt/README.md
  go/internal/mqtt/types.go
  go/mqtt/README.md
  go/mqtt/alias.go
  go/mqtt/publish.go
  go/mqtt/subscribe.go
  go/mqtt/test/session_client_fault_injection_integration_test.go
  go/mqtt/test/session_client_mochi_integration_test.go
  go/mqtt/test/session_client_mq_integration_test.go
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/listener.go
  go/protocol/stub_test.go
  go/protocol/telemetry_sender.go
  go/protocol/types.go
Owners: @vishnureddy17, @clecompt-msft

merge ack types
  go/internal/mqtt/README.md
  go/internal/mqtt/types.go
  go/mqtt/README.md
  go/mqtt/alias.go
  go/mqtt/publish.go
  go/mqtt/subscribe.go
  go/protocol/README.md
  go/protocol/stub_test.go
  go/protocol/types.go
Owners: @vishnureddy17, @clecompt-msft

update setup
  doc/setup.md
Owners: @ryanwinter
