Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

Addressing comments
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

4 apis
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

match name
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

api
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

from impls for device structs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Make all configurations available publicly
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/Program.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
  dotnet/samples/Connectors/SqlConnector/Program.cs
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/AioMetadata.cs
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/ConnectorDiagnostics.cs
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/ConnectorDiagnosticsLogs.cs
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/ConnectorFileMountSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/ConnectorMqttConnectionAuthenticationConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/ConnectorMqttConnectionConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/ConnectorMqttConnectionServiceAccountTokenConfigurations.cs
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/MqttConnectionConfigurationTls.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/ConnectorDiagnostics.cs
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/ConnectorMqttConnectionSettingsTests.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockAdrClientWrapper.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

clippy fixes
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

new dtdl and new generated files
  eng/dtdl/device-name-based-operations.json
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/asset_management_group_action_schema_element_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/asset_specification_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/device_outbound_endpoint.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/inbound_schema_map_value_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/outbound_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/qos.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/trust_settings_schema.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/dependencies.md
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

concurrency
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

DTDL updated
  eng/dtdl/device-name-based-operations.json
Owners: @avishekpant

unit test passes
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockAdrClientWrapper.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/PollingTelemetryConnectorWorkerTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update device structs to match new dtdl
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

update wsl to refer to pre-release
  doc/setup.md
  doc/troubleshooting.md
Owners: @ryanwinter

change dtdl
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

implementation for non-notify device apis and error in progress
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

unit tests back online
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/EventDrivenTcpThermostatConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Connector/PollingTelemetryConnectorWorker.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockDatasetSampler.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/PollingTelemetryConnectorWorkerTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

asdf
  dotnet/samples/Connectors/PollingRestThermostatConnector/deploy-connector-and-device.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

wip
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

some clippy
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

sample testing device apis
  rust/azure_iot_operations_services/examples/azure_device_registry_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Remove DMR support from ProtocolCompiler
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/ArgBinder.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/CommandHandler.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/ModelSelector.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/OptionContainer.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Program.cs
  codegen/test/ProtocolCompiler.UnitTests/ModelSelectorTests/ModelSelectorTests.cs
Owners: @avishekpant

feature sample properly
  rust/azure_iot_operations_services/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

rename aep-name-based-operations.json to device-name-based-operations.json update code gen update Models and converters
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetConfigStatusSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetDatasetEventStreamStatus.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetManagementGroupActionSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetManagementGroupActionStatusSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetManagementGroupStatusSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetSpecificationSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetStatus.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetStatusEventSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetStatusStreamSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/DestinationConfiguration.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/DeviceEndpointSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/DeviceOutboundEndpoint.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/EventStreamTarget.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/InboundSchemaMapValueSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/OutboundSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/QoS.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/Qos.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/TrustSettingsSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetConfigStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetDatasetEventStreamStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetManagementGroupActionStatusSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetManagementGroupStatusSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetSpecification.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetStatusManagementGroupSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetStatusStreamSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DetectedAssetEventSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceEndpoint.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceOutboundEndpoint.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/EventStreamTarget.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/InboundEndpointSchemaMapValue.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/OutboundSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ProtocolConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/TrustSettings.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ProtocolConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

use local packages
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

latest
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

todo
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

connector template
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-config.yaml
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-config.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-config.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

derp
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/deploy-connector-and-asset.sh
  dotnet/samples/Connectors/PollingRestThermostatConnector/deploy-connector-and-device.sh
  dotnet/samples/Connectors/SqlConnector/deploy-connector-and-asset.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

version?
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "version?"
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

versions
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

to revert
  tools/broker.yaml
Owners: @avishekpant

more testing
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/ConnectorFileMountSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/MqttConnectionConfigurationTls.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

connector client id not present
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/Program.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
  dotnet/samples/Connectors/SqlConnector/Program.cs
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/ConnectorFileMountSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

tls
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

spacing
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

1 observe
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

capitalization
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
