Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

move fencing token to Set arguments
  rust/azure_iot_operations_services/examples/state_store_client.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/azure_iot_operations_services/src/state_store/resp3.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_mqtt/README.md
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_mqtt/src/lib.rs
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

suppressed clippy lint
  rust/azure_iot_operations_mqtt/src/session/internal.rs
Owners: @cartertinney, @vaavva, @RLeclair

renamed internal + doc
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
Owners: @cartertinney, @vaavva, @RLeclair

doc
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
Owners: @cartertinney, @vaavva, @RLeclair

MqttPubReceiver -> PubReceiver
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
Owners: @cartertinney, @vaavva, @RLeclair

missed files
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

.filtered_pub_receiver() -> .create_filtered_pub_receiver()
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

Added missing header
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

format
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

suppressed clippy lint
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

correct suppression;r
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET] Update DSSCLI package to use System.Text.Json 8.0.4
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/Azure.Iot.Operations.Services.DssCli.csproj
Owners: @jrdouceur

stuff
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FileUtilities.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_ADDITIONAL_CONFIGURATION
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_AUTHENTICATION_METHOD
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_PASSWORD_SECRET_NAME
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_TARGET_ADDRESS
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_USERNAME_SECRET_NAME
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/ENDPOINT_PROFILE_TYPE
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/secret/aep_password/some-password
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/secret/aep_username/some-username
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

not needed
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FileUtilities.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

small changes
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

update HLC to use more generic String for node_id
  rust/azure_iot_operations_protocol/src/common/hybrid_logical_clock.rs
Owners: @cartertinney, @vaavva, @RLeclair

docs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

headers
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

doc changes
  rust/azure_iot_operations_mqtt/src/interface.rs
Owners: @cartertinney, @vaavva, @RLeclair

support new DTDL numeric schemas in codegen
  codegen/src/Akri.Dtdl.Codegen/Akri.Dtdl.Codegen.csproj
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/ByteType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/ShortType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/UnsignedByteType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/UnsignedIntegerType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/UnsignedLongType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/UnsignedShortType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/common/DotNetSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/common/GoSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/rust/common/RustSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/common/AvroSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/common/JsonSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/common/ProtobufSupport.cs
  codegen/src/Akri.Dtdl.Codegen/TypeGenerator/JsonSchemaStandardizer.cs
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

regularize
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/common/DotNetSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/common/GoSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/rust/common/RustSchemaSupport.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

address pr comments - move request enums to use struct values, simplify tests, add doc clarifications
  rust/azure_iot_operations_services/src/state_store.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/azure_iot_operations_services/src/state_store/resp3.rs
Owners: @cartertinney, @vaavva, @RLeclair

address PR comments
  rust/azure_iot_operations_services/src/state_store.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

doc update
  rust/azure_iot_operations_services/src/state_store.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  go/mqtt/auth.go
  go/mqtt/client.go
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/connection_settings_test.go
  go/mqtt/constants.go
  go/mqtt/errors.go
  go/mqtt/internal/buffered_channel.go
  go/mqtt/internal/buffered_channel_test.go
  go/mqtt/internal/queue.go
  go/mqtt/internal/queue_test.go
  go/mqtt/packet.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
  go/mqtt/subscribe.go
  go/protocol/errors/errors.go
  go/protocol/mqtt/types.go
Owners: @vishnureddy17, @clecompt-msft

add live network tests for state store
  .github/workflows/ci-rust.yml
  rust/azure_iot_operations_services/tests/state_store_client_test.rs
Owners: @jrdouceur, @cartertinney, @vaavva, @RLeclair

fix paths
  .github/workflows/ci-rust.yml
Owners: @jrdouceur

support returning -1 if vdel's value didn't match
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/azure_iot_operations_services/src/state_store/resp3.rs
  rust/azure_iot_operations_services/tests/state_store_client_test.rs
Owners: @cartertinney, @vaavva, @RLeclair

support returning -1 if vdel's value didn't match
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/azure_iot_operations_services/src/state_store/resp3.rs
Owners: @cartertinney, @vaavva, @RLeclair

support returning -1 if vdel's value didn't match
  rust/azure_iot_operations_services/api-surface.md
Owners: @cartertinney, @vaavva, @RLeclair

not disposable anymore
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add skeleton code for .NET HTTP connector app
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.csproj
  dotnet/samples/ConnectorApp/HttpDataRetriever.cs
  dotnet/samples/ConnectorApp/Program.cs
  dotnet/samples/ConnectorApp/SampleHttpServer/.dockerignore
  dotnet/samples/ConnectorApp/SampleHttpServer/Dockerfile
  dotnet/samples/ConnectorApp/SampleHttpServer/http-server.yaml
  dotnet/samples/ConnectorApp/SampleHttpServer/package.json
  dotnet/samples/ConnectorApp/SampleHttpServer/server.js
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/appsettings.Development.json
  dotnet/samples/ConnectorApp/appsettings.json
  dotnet/samples/ConnectorApp/broker.yaml
  dotnet/samples/ConnectorApp/install-prerequisites.sh
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[.NET] ADR client API surface (#64)
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfile.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfileCredentials.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[.NET] ADR client implementation + unit tests (#71)
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfileCredentials.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FileUtilities.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Azure.Iot.Operations.Services.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Newline
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

ADR client integration into connector app
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.csproj
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i
