Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

nil pointer deference
  go/mqtt/connect.go
Owners: @vishnureddy17, @clecompt-msft

Update remove system.text.json dependency
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/Azure.Iot.Operations.Services.DssCli.csproj
Owners: @jrdouceur

update SchemaRegistryService
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/SchemaRegistryService.cs
Owners: @jrdouceur

respect context cancellation and retry condition even if maxretries is not set
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy.go
Owners: @vishnureddy17, @clecompt-msft

[Go] Fix mqtt lint failures (#132)
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/connection_settings_test.go
  go/mqtt/errors.go
  go/mqtt/internal/appendable_list_with_removal.go
  go/mqtt/internal/appendable_list_with_removal_test.go
  go/mqtt/packet.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

retryable->non-fatal
  go/mqtt/connect.go
  go/mqtt/net.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy_test.go
Owners: @vishnureddy17, @clecompt-msft

Disconnect when session loss is detected and adjust retry policy assumptions (#133)
  go/mqtt/connect.go
  go/mqtt/errors.go
  go/mqtt/net.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy_test.go
  go/mqtt/utils.go
Owners: @vishnureddy17, @clecompt-msft

[.NET] Fix bug where broker-assigned clientId was ignored
  dotnet/src/Azure.Iot.Operations.Mqtt/OrderedAckMqttClient.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandExecutor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandInvoker.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Telemetry/TelemetryReceiver.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Telemetry/TelemetrySender.cs
  dotnet/test/Azure.Iot.Operations.Mqtt.IntegrationTests/MqttSessionClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Mqtt.IntegrationTests/OrderedAckMqttClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/ClientFactory.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Improve logging, improve retry, and re-enable protocol tests
  go/internal/log/logger.go
  go/mqtt/README.md
  go/mqtt/client.go
  go/mqtt/connect.go
  go/mqtt/log_utils.go
  go/mqtt/net.go
  go/mqtt/publish.go
  go/mqtt/retry/README.md
  go/mqtt/retry/exponential_backoff.go
  go/mqtt/retry/exponential_backoff_test.go
  go/mqtt/retry/logger.go
  go/mqtt/retry/types.go
  go/mqtt/retrypolicy/README.md
  go/mqtt/retrypolicy/constants.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy_options.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy_test.go
  go/mqtt/retrypolicy/retrypolicy.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
  go/mqtt/subscribe.go
  go/test/protocol/command_executor_tester.go
  go/test/protocol/command_invoker_tester.go
  go/test/protocol/common_tester.go
  go/test/protocol/stub_mqtt_client.go
Owners: @vishnureddy17, @clecompt-msft

fixup
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

mage ci
  go/services/statestore/README.md
Owners: @vishnureddy17, @clecompt-msft

maybe
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Improve logging, improve retry, and re-enable protocol tests (#137)
  go/internal/log/logger.go
  go/mqtt/README.md
  go/mqtt/client.go
  go/mqtt/connect.go
  go/mqtt/log_utils.go
  go/mqtt/net.go
  go/mqtt/publish.go
  go/mqtt/retry/README.md
  go/mqtt/retry/exponential_backoff.go
  go/mqtt/retry/exponential_backoff_test.go
  go/mqtt/retry/logger.go
  go/mqtt/retry/types.go
  go/mqtt/retrypolicy/README.md
  go/mqtt/retrypolicy/constants.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy_options.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy_test.go
  go/mqtt/retrypolicy/retrypolicy.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
  go/mqtt/subscribe.go
  go/services/statestore/README.md
  go/test/protocol/command_executor_tester.go
  go/test/protocol/command_invoker_tester.go
  go/test/protocol/common_tester.go
  go/test/protocol/stub_mqtt_client.go
Owners: @vishnureddy17, @clecompt-msft

namespacing
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/HttpDataRetriever.cs
  dotnet/samples/ConnectorApp/MachineLastMaintenance.cs
  dotnet/samples/ConnectorApp/MqttSessionClientFactoryProvider.cs
  dotnet/samples/ConnectorApp/Program.cs
  dotnet/samples/ConnectorApp/ThermostatStatus.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

remove unused log variable
  dotnet/tutorials/EventDrivenApp/InputWorker.cs
  dotnet/tutorials/EventDrivenApp/MqttClientFactoryProvider.cs
  dotnet/tutorials/EventDrivenApp/yaml/simulator.yml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

unimplemented
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix nullable types
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Revert "maybe"
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

adjust based on upstream changes
  go/mqtt/test/session_client_fault_injection_integration_test.go
Owners: @vishnureddy17, @clecompt-msft

move window processing into new thread
  dotnet/tutorials/EventDrivenApp/InputWorker.cs
  dotnet/tutorials/EventDrivenApp/MqttClientFactoryProvider.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fixes
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

todo
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Telemetry Sender + Cloud Events
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender_sample.rs
  rust/azure_iot_operations_protocol/src/common/user_properties.rs
  rust/azure_iot_operations_protocol/src/telemetry.rs
  rust/azure_iot_operations_protocol/src/telemetry/cloud_event.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

Doc fix
  rust/azure_iot_operations_protocol/src/telemetry/cloud_event.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Go] Fix unhandled ack and greeter sample
  go/internal/mqtt/types.go
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/go.mod
  go/mqtt/go.sum
  go/mqtt/log_utils.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
  go/protocol/listener.go
  go/samples/greeter/envoy/greeter.go
  go/test/protocol/command_executor_tester.go
Owners: @vishnureddy17, @clecompt-msft

mage ci
  go/protocol/README.md
Owners: @vishnureddy17, @clecompt-msft

mage ci
  go/internal/mqtt/README.md
Owners: @vishnureddy17, @clecompt-msft

fixes so far
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/samples/ConnectorApp/KubernetesResources/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

asdf
  dotnet/samples/ConnectorApp/KubernetesResources/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

should work?
  dotnet/samples/ConnectorApp/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fixup
  dotnet/samples/ConnectorApp/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

log
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

port
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

doc cleanup
  doc/README.md
  doc/components.md
  doc/lifecycle.md
  doc/limitations.md
  doc/overview.md
Owners: @ryanwinter

Proper fallback ack.
  go/internal/mqtt/README.md
  go/internal/mqtt/types.go
  go/mqtt/README.md
  go/mqtt/subscribe.go
  go/test/protocol/stub_mqtt_client.go
Owners: @vishnureddy17, @clecompt-msft

latest operator helm chart
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i
