Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

InvalidValueError -> InvalidArgumentError
  go/mqtt/connection_settings.go
  go/mqtt/errors.go
  go/mqtt/net.go
  go/mqtt/publish.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

fix line length
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/errors.go
  go/mqtt/packet.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

defer unlock in manageOutgoingPublishes()
  go/mqtt/publish.go
Owners: @vishnureddy17, @clecompt-msft

merge a few errors into one ClientStateError
  go/mqtt/connect.go
  go/mqtt/errors.go
  go/mqtt/publish.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

remove fmt.Errorf usage and make all errors library errors
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/errors.go
  go/mqtt/net.go
  go/mqtt/publish.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

dont use nested for loop with label
  go/mqtt/publish.go
Owners: @vishnureddy17, @clecompt-msft

Initial PR into Session Client Refactor branch (#92)
  go/mqtt/TODO.md
  go/mqtt/auth.go
  go/mqtt/client.go
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/connection_settings_test.go
  go/mqtt/constants.go
  go/mqtt/errors.go
  go/mqtt/internal/buffered_channel.go
  go/mqtt/internal/buffered_channel_test.go
  go/mqtt/internal/errors.go
  go/mqtt/internal/queue.go
  go/mqtt/internal/queue_test.go
  go/mqtt/net.go
  go/mqtt/packet.go
  go/mqtt/publish.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
  go/mqtt/subscribe.go
  go/mqtt/test/session_client_fault_injection_integration_test.go
  go/mqtt/test/session_client_mochi_integration_test.go
  go/mqtt/test/session_client_mq_integration_test.go
  go/mqtt/translate.go
Owners: @vishnureddy17, @clecompt-msft

Telemetry receiver
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
  rust/azure_iot_operations_protocol/src/common/user_properties.rs
  rust/azure_iot_operations_protocol/src/telemetry.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

Quick Fix
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

ADR for generalized topic tokens
  doc/dev/adr/0001-generalized-topic-tokens.md
Owners: @ryanwinter

enforced static
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

Review fixes.
  doc/dev/adr/0001-generalized-topic-tokens.md
Owners: @ryanwinter

Fixing comments
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/telemetry.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

one sample;r
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

more sample
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

add environment variable to control running of network connected tests
  .github/workflows/ci-rust.yml
  rust/azure_iot_operations_services/tests/state_store_client_test.rs
Owners: @jrdouceur, @cartertinney, @vaavva, @RLeclair

new helm chart version
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

default namespace?
  dotnet/samples/ConnectorApp/connector-config.yaml
  dotnet/samples/ConnectorApp/http-connector-secrets.yaml
  dotnet/samples/ConnectorApp/http-server-aep.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
  dotnet/samples/SampleCloudEvents/deployment.yaml
  dotnet/samples/SampleReadCloudEvents/deployment.yaml
  tools/deployment/deploy-aio.sh
  tools/deployment/initialize-cluster.sh
  tools/deployment/yaml/aio-nightly.yaml
  tools/deployment/yaml/aio-release.yaml
  tools/deployment/yaml/certificates.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

remove newton json dep
  dotnet/tutorials/event-driven-app/EventDrivenApp.csproj
  dotnet/tutorials/event-driven-app/InputWorker.cs
  dotnet/tutorials/event-driven-app/Models/InputSensorData.cs
  dotnet/tutorials/event-driven-app/Models/OutputSensorData.cs
  dotnet/tutorials/event-driven-app/OutputWorker.cs
  dotnet/tutorials/event-driven-app/README.md
  dotnet/tutorials/event-driven-app/yaml/simulator.yml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

removed overcorrection
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
Owners: @cartertinney, @vaavva, @RLeclair

so far
  dotnet/samples/ConnectorApp/connector_config_crd.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

asdf
  dotnet/samples/ConnectorApp/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

deployment works!
  dotnet/samples/ConnectorApp/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

logs
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

user/pass name fix
  dotnet/samples/ConnectorApp/http-server-aep.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

cert + user + password are optional
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

you too, dingus
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Clarifications.
  doc/dev/adr/0001-generalized-topic-tokens.md
Owners: @ryanwinter

back to previous namespace
  dotnet/samples/ConnectorApp/connector-config.yaml
  dotnet/samples/ConnectorApp/http-connector-secrets.yaml
  dotnet/samples/ConnectorApp/http-server-aep.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
  dotnet/samples/SampleCloudEvents/deployment.yaml
  dotnet/samples/SampleReadCloudEvents/deployment.yaml
  tools/deployment/deploy-aio.sh
  tools/deployment/initialize-cluster.sh
  tools/deployment/yaml/aio-nightly.yaml
  tools/deployment/yaml/aio-release.yaml
  tools/deployment/yaml/certificates.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

initial migration / spell checking
  doc/reference/README.md
  doc/reference/command-api.md
  doc/reference/command-cache.md
  doc/reference/command-timeouts.md
  doc/reference/connection-management.md
  doc/reference/connection-settings.md
  doc/reference/envoy-binder.md
  doc/reference/error-conditions.md
  doc/reference/error-model.md
  doc/reference/message-metadata.md
  doc/reference/package-versioning.md
  doc/reference/payload-format.md
  doc/reference/protocol-versioning.md
  doc/reference/repository-structure.md
  doc/reference/resources/rpc_basic.plantuml
  doc/reference/resources/rpc_basic.svg
  doc/reference/resources/rpc_executor_disconnect_after_processing.plantuml
  doc/reference/resources/rpc_executor_disconnect_after_processing.svg
  doc/reference/resources/rpc_executor_disconnect_before_processing.plantuml
  doc/reference/resources/rpc_executor_disconnect_before_processing.svg
  doc/reference/resources/rpc_executor_timeout.plantuml
  doc/reference/resources/rpc_executor_timeout.svg
  doc/reference/resources/rpc_invoker_disconnect.plantuml
  doc/reference/resources/rpc_invoker_disconnect.svg
  doc/reference/resources/rpc_invoker_timeout.plantuml
  doc/reference/resources/rpc_invoker_timeout.svg
  doc/reference/resources/rpc_multiexecutions.plantuml
  doc/reference/resources/rpc_multiexecutions.svg
  doc/reference/rpc-protocol-testing.md
  doc/reference/rpc-protocol.md
  doc/reference/session-client-testing.md
  doc/reference/session-client.md
  doc/reference/shared-subscriptions.md
  doc/reference/telemetry-protocol-testing.md
  doc/reference/topic-structure.md
Owners: @ryanwinter, @jrdouceur

add reference TOC
  doc/reference/README.md
Owners: @ryanwinter

add codegen readme
  codegen/README.md
Owners: @ryanwinter

fix point syntax
  doc/reference/rpc-protocol.md
Owners: @ryanwinter

typoe
  doc/reference/rpc-protocol.md
Owners: @ryanwinter

[.NET] Add setup script for connector sample deployment (#100)
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.csproj
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/broker.yaml
  dotnet/samples/ConnectorApp/connector-config.yaml
  dotnet/samples/ConnectorApp/connector_config_crd.yaml
  dotnet/samples/ConnectorApp/http-connector-secrets.yaml
  dotnet/samples/ConnectorApp/http-server-aep.yaml
  dotnet/samples/ConnectorApp/install-prerequisites.sh
  dotnet/samples/ConnectorApp/setup-cluster.sh
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

testing it out
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Put mqtt stuff back in place
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add session client instantiation
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

so far
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

crd installed by helm now
  dotnet/samples/ConnectorApp/connector_config_crd.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
