Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

notes
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Escape generated reserved words
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/CodeName.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/ReservedCSharp.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/ReservedGo.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/ReservedRust.cs
Owners: @avishekpant

remove duplicate keywords
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/ReservedRust.cs
Owners: @avishekpant

mage
  go/services/adr/client.go
Owners: @lev-i, @clecompt-msft

Fixing path
  .github/workflows/ci-rust.yml
Owners: @avishekpant

Fixing path 2
  .github/workflows/ci-rust.yml
Owners: @avishekpant

Improve codegenned Rust options
  codegen/demo/rust/protocol_compiler_demo/cmd_client/src/main.rs
  codegen/demo/rust/protocol_compiler_demo/cmd_server/src/main.rs
  codegen/demo/rust/protocol_compiler_demo/telem_client/src/main.rs
  codegen/demo/rust/protocol_compiler_demo/telem_server/src/main.rs
  codegen/res/rust/AVRO/common_types.rs
  codegen/res/rust/JSON/common_types.rs
  codegen/res/rust/common/common_types.rs
  codegen/res/rust/common/common_types/common_options.rs
  codegen/res/rust/common/common_types/options.rs
  codegen/res/rust/custom/common_types.rs
  codegen/res/rust/raw/common_types.rs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandExecutor.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandInvoker.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Service/t4/RustService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetrySender.tt
  rust/azure_iot_operations_services/src/schema_registry/client.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/common_types.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/common_types/options.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/get_command_invoker.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/put_command_invoker.rs
  rust/sample_applications/counter/counter_client/src/main.rs
  rust/sample_applications/counter/counter_server/src/main.rs
  rust/sample_applications/counter/envoy/src/common_types.rs
  rust/sample_applications/counter/envoy/src/common_types/options.rs
  rust/sample_applications/counter/envoy/src/counter.rs
  rust/sample_applications/counter/envoy/src/counter/increment_command_executor.rs
  rust/sample_applications/counter/envoy/src/counter/increment_command_invoker.rs
  rust/sample_applications/counter/envoy/src/counter/read_counter_command_executor.rs
  rust/sample_applications/counter/envoy/src/counter/read_counter_command_invoker.rs
  rust/sample_applications/counter/envoy/src/counter/reset_command_executor.rs
  rust/sample_applications/counter/envoy/src/counter/reset_command_invoker.rs
  rust/sample_applications/counter/envoy/src/counter/telemetry_receiver.rs
  rust/sample_applications/counter/envoy/src/counter/telemetry_sender.rs
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

fix unit test
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/ConnectorMqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Update codegen/res/rust/common/common_types/options.rs
  codegen/res/rust/common/common_types/options.rs
Owners: @avishekpant

Update codegen/res/rust/common/common_types/options.rs
  codegen/res/rust/common/common_types/options.rs
Owners: @avishekpant

update connector unit tests
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/PollingTelemetryConnectorWorkerTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

move test files to common folder
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/Azure.Iot.Operations.Connector.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/ConnectorMqttConnectionSettingsTests.cs
  eng/test/test-connector-mount-files/README.md
  eng/test/test-connector-mount-files/connector-config-no-auth-no-tls/AIO_METADATA
  eng/test/test-connector-mount-files/connector-config-no-auth-no-tls/DIAGNOSTICS
  eng/test/test-connector-mount-files/connector-config-no-auth-no-tls/MQTT_CONNECTION_CONFIGURATION
  eng/test/test-connector-mount-files/connector-config/AIO_METADATA
  eng/test/test-connector-mount-files/connector-config/DIAGNOSTICS
  eng/test/test-connector-mount-files/connector-config/MQTT_CONNECTION_CONFIGURATION
  eng/test/test-connector-mount-files/trust-bundle/ca.txt
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @ryanwinter, @avishekpant

not for this PR
  dotnet/src/Azure.Iot.Operations.Protocol/Models/MqttClientOptions.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

tests
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/ConnectorMqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

limit import by CLI option
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Service/t4/RustService.tt
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/common_types/options.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry.rs
  rust/sample_applications/counter/envoy/src/common_types/options.rs
  rust/sample_applications/counter/envoy/src/counter.rs
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

derp
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/PollingTelemetryConnectorWorkerTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

wip
  eng/dtdl/aep-name-based-operations.json
  eng/dtdl/aep-type-based-operations.json
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

clippy fix
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

add docs
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

more
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/DeviceCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/DeviceDeletedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/FilesMonitor/FilesMonitor.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/IAssetFileMonitor.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Assets/MockAssetMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[Go] Split Lease and Lock per ADR 20
  go/samples/services/leasedlock/main.go
  go/services/leasedlock/edit.go
  go/services/leasedlock/lease.go
  go/services/leasedlock/lock.go
  go/test/integration/services/leased_lock_test.go
Owners: @lev-i, @clecompt-msft

mage ci
  go/services/leasedlock/API.md
  go/services/leasedlock/lock.go
Owners: @lev-i, @clecompt-msft

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AssetServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/Device.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceSpecification.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceStatus.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AssetServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ConfigError.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DetailsSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceEndpoint.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceInboundEndpointSchemaMapValue.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceSpecification.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceStatusConfig.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceStatusEndpoint.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceStatusInboundEndpointSchemaMapValue.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/TrustSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Add unit tests for ProtocolConverter
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ProtocolConverter.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ProtocolConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Add unit tests for ToModel converters.
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetSpecification.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDetectedAssetResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDiscoveredAssetEndpointProfileResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Azure.Iot.Operations.Services.UnitTests.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

more
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/IAdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/DeviceCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/DeviceDeletedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/FileUtilities.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/IAssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

rc
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

check current state
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Address PR comments
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

more
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

move to connector package. Get credentials API
  dotnet/samples/Connectors/PollingRestThermostatConnector/ThermostatStatusDatasetSampler.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetDeletedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/DeviceCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/DeviceCredentials.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/DeviceDeletedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/FileUtilities.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/FilesMonitor/FileChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/FilesMonitor/FilesMonitor.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/IAssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

delete services code
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetDeletedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/DeviceCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/DeviceDeletedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/FileUtilities.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/FilesMonitor/FileChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/FilesMonitor/FilesMonitor.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/IAssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

misc
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetDeletedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

receiver
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

tls
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

so far
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetAvailabileEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetMonitorFactoryProvider.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/IAssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/DeviceChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/IAdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/IDatasetSampler.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfigurationAuthentication.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfigurationServiceAccountTokenSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfigurationTls.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEventDataPointSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEventSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetSpecification.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Assets/MockAssetMonitor.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Azure.Iot.Operations.Services.UnitTests.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Add DeviceRef property to AssetSpecification and implement conversion logic
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetSpecification.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceRef.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80
