Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

disable test potentially casing a race condition
  go/mqtt/test/session_client_mq_integration_test.go
Owners: @vishnureddy17, @clecompt-msft

move + rust refactor
  eng/test/dummy_certs/README.md
  eng/test/dummy_credentials/README.md
  eng/test/dummy_credentials/TestCa.txt
  eng/test/dummy_credentials/TestCert1Key.txt
  eng/test/dummy_credentials/TestCert1Pem.txt
  eng/test/dummy_credentials/TestCert2KeyEncrypted.txt
  eng/test/dummy_credentials/TestCert2KeyPasswordFile.txt
  eng/test/dummy_credentials/TestCert2Pem.txt
  eng/test/dummy_credentials/TestMqttPasswordFile.txt
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @ryanwinter, @jrdouceur, @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

password formatting
  eng/test/dummy_credentials/TestMqttPasswordFile.txt
Owners: @jrdouceur

fix?
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

lint
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

clipy
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

Reworking topic token namespace change, making topic token map passed by reference, addressing comment
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

add clean start limitations
  doc/limitations.md
Owners: @ryanwinter

refube cibfug
  doc/akri_connector/configure.md
Owners: @ryanwinter

reading password file
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

updated cert file password
  eng/test/dummy_credentials/TestCert2KeyPasswordFile.txt
Owners: @jrdouceur

try using join
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

more join
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

fixed credential dir
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

try to change .NET
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Connection/MqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fixed .NET
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Connection/MqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

.NET syntax fix
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Connection/MqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

test fix
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Connection/MqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

add cross cutting samples
  samples/README.md
Owners: @ryanwinter

reverting dotnet
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Connection/MqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix table
  samples/README.md
Owners: @ryanwinter

formatting of table
  .github/workflows/cd-docs.yml
  doc/akri_connector/flow.md
  doc/akri_connector/rest-tutorial.md
  doc/akri_connector/setup.md
  doc/reference/README.md
  doc/setup.md
  dotnet/docfx.json
  rust/.cargo/config.toml
  samples/README.md
  tools/deployment/initialize-cluster.sh
  tools/deployment/install-tools.sh
Owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair

update table
  samples/README.md
Owners: @ryanwinter

remove payload format, update dev doc
  doc/dev/codespaces.md
  doc/reference/README.md
  doc/reference/payload-format.md
Owners: @ryanwinter

remove unwanted commits
  dotnet/docfx.json
  rust/.cargo/config.toml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_mqtt/src/interface_mocks.rs
  rust/azure_iot_operations_mqtt/src/interface_mocks.rs
Owners: @cartertinney, @vaavva, @RLeclair

uncomment tests
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/CommandInvokerTester.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/FreezableWallClockTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

comments
  rust/azure_iot_operations_mqtt/src/interface_mocks.rs
  rust/azure_iot_operations_mqtt/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

artifact feed update
  .github/workflows/ci-rust.yml
Owners: @jrdouceur

Update eng/test/dummy_credentials/README.md
  eng/test/dummy_credentials/README.md
Owners: @ryanwinter

reverted password changes
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

error
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
Owners: @cartertinney, @vaavva, @RLeclair

hostname
  rust/azure_iot_operations_mqtt/README.md
  rust/azure_iot_operations_mqtt/examples/monitor_sample.rs
  rust/azure_iot_operations_mqtt/examples/sat_auth_sample.rs
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender_sample.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
  rust/azure_iot_operations_services/examples/state_store_client.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

add support to send and receive protocol version for rpc and telemetry
  rust/azure_iot_operations_protocol/src/common/aio_protocol_error.rs
  rust/azure_iot_operations_protocol/src/common/user_properties.rs
  rust/azure_iot_operations_protocol/src/lib.rs
  rust/azure_iot_operations_protocol/src/rpc.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
  rust/azure_iot_operations_services/src/state_store.rs
Owners: @cartertinney, @vaavva, @RLeclair

update dotnet landing page
  doc/README.md
  doc/akri_connector/develop.md
  doc/deploy.md
  dotnet/README.md
Owners: @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i

refine akri setup
  doc/akri_connector/setup.md
Owners: @ryanwinter

Globalizing mutexes
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

Reverting source Id change and adding stopgap
  rust/azure_iot_operations_protocol/src/common/user_properties.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

add akri operator setup and define CRDs
  doc/akri_connector/configure-local.md
  doc/akri_connector/configure.md
  doc/akri_connector/develop.md
  doc/akri_connector/setup.md
  tools/deployment/deploy-aio.sh
Owners: @ryanwinter, @jrdouceur
