Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

nit
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix
  dotnet/samples/HttpServerConnectorApp/IDatasetSource.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

minor updates before migration
  doc/akri_connector/README.md
  doc/akri_connector/develop.md
  doc/akri_connector/setup.md
Owners: @ryanwinter

fix merge issue
  dotnet/templates/ConnectorApp/Program.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Make QoS 0 ack a no-op
  go/internal/mqtt/README.md
  go/internal/mqtt/types.go
  go/mqtt/subscribe.go
  go/protocol/listener.go
  go/protocol/telemetry_receiver.go
  go/test/integration/mqtt/session_client_test.go
Owners: @vishnureddy17, @clecompt-msft

Re-adding sender ID to samples
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

Remove unused error
  go/mqtt/README.md
  go/mqtt/errors.go
Owners: @vishnureddy17, @clecompt-msft

remove akri connector docs
  doc/README.md
  doc/akri_connector/README.md
  doc/akri_connector/configure-local.md
  doc/akri_connector/configure.md
  doc/akri_connector/develop.md
  doc/akri_connector/flow.md
  doc/akri_connector/images/akri-connector.png
  doc/akri_connector/rest-tutorial.md
  doc/akri_connector/setup.md
Owners: @ryanwinter, @jrdouceur

install requirements
  tools/deployment/initialize-cluster.sh
  tools/deployment/install-requirements.sh
Owners: @jrdouceur

add sudo to tool install
  tools/deployment/install-requirements.sh
Owners: @jrdouceur

add another sudo
  tools/deployment/install-requirements.sh
Owners: @jrdouceur

Comment clarifications
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender_sample.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

cleanup wording
  doc/README.md
  doc/limitations.md
  doc/setup.md
  samples/README.md
Owners: @ryanwinter

update samples page and typos on components
  doc/components.md
  samples/README.md
Owners: @ryanwinter

switch to same encoding as the service and decode key on key notifications
  rust/azure_iot_operations_services/Cargo.toml
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix one test case
  eng/test/test-cases/Protocol/TelemetryReceiver/TelemetryReceiverReceivesWrongContentType_NotRelayed.yaml
Owners: @jrdouceur

maybe
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

chmod
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

refactor to remove redundant code
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/CaseConverter.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/CommandExecutorTester.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/CommandInvokerTester.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/TelemetryReceiverTester.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/TelemetrySenderTester.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Adding sat auth validation at connection settings
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

flatten a bit
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

simpler
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

nope
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

to revert?
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Update FilesObserver.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

don't bother to check last write utc
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FileState.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Rust][Protocol] Rust Generalized Topic Tokens (#198)
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender_sample.rs
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Fix how FileObserver observes directories that don't exist yet but that may exist later (#218)
  dotnet/samples/HttpServerConnectorApp/IDatasetSource.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FileState.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
  dotnet/templates/ConnectorApp/IDatasetSource.cs
  dotnet/templates/ConnectorApp/Program.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
  tools/deployment/deploy-aio.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

Acknowledge Telemetry message when deserialization fails
  dotnet/src/Azure.Iot.Operations.Protocol/Telemetry/TelemetryReceiver.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/TelemetryReceiverTests.cs
  eng/test/test-cases/Protocol/TelemetryReceiver/TelemetryReceiverReceivesMalformedPayload_NotRelayed.yaml
  eng/test/test-cases/Protocol/TelemetryReceiver/TelemetryReceiverReceivesNoPayload_NotRelayed.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

latest
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
  tools/deployment/deploy-aio.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

new version
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

no longer hardcode port in connector sample
  dotnet/samples/HttpServerConnectorApp/HttpServerConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

beta1
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

2
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Revert "beta1"
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

addressing PR comments
  rust/azure_iot_operations_protocol/src/common/aio_protocol_error.rs
  rust/azure_iot_operations_protocol/src/lib.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

readmes
  rust/README.md
  rust/azure_iot_operations_mqtt/README.md
Owners: @cartertinney, @vaavva, @RLeclair

latest adr
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

Support generalized topic tokens in Rust codegen
  codegen/res/rust/common/common_types/common_options.rs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandExecutor.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandInvoker.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetrySender.tt
Owners: @jrdouceur

add wip key notification tests
  rust/azure_iot_operations_services/tests/state_store_client_test.rs
Owners: @cartertinney, @vaavva, @RLeclair

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
