Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

bump go version to use iterators
  codegen/test/samples/go/go.mod
  go/go.work
  go/mqtt/go.mod
  go/protocol/go.mod
  go/samples/counter/client/go.mod
  go/samples/counter/envoy/go.mod
  go/samples/counter/server/go.mod
  go/samples/greeter/client/go.mod
  go/samples/greeter/envoy/go.mod
  go/samples/greeter/server/go.mod
  go/samples/statestore/go.mod
  go/services/go.mod
  go/test/protocol/go.mod
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

Mark approved.
  doc/dev/adr/0001-generalized-topic-tokens.md
Owners: @ryanwinter

Remove broken link until available.
  doc/dev/adr/0001-generalized-topic-tokens.md
Owners: @ryanwinter

[Go] Implement topic token parsing.
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/command_test.go
  go/protocol/internal/topic.go
  go/protocol/internal/topic_test.go
  go/protocol/listener.go
  go/protocol/publisher.go
  go/protocol/types.go
Owners: @vishnureddy17, @clecompt-msft

Addressing comments
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Go] Update toolchain to Go 1.23
  codegen/test/samples/go/go.mod
  go/go.work
  go/mqtt/go.mod
  go/protocol/go.mod
  go/samples/counter/client/go.mod
  go/samples/counter/envoy/go.mod
  go/samples/counter/server/go.mod
  go/samples/greeter/client/go.mod
  go/samples/greeter/envoy/go.mod
  go/samples/greeter/server/go.mod
  go/samples/statestore/go.mod
  go/services/go.mod
  go/test/protocol/go.mod
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

Configure tls
  dotnet/samples/ConnectorApp/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

update dss cli instructions readme
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/README.md
Owners: @ryanwinter

Add MQTT client instantiation from operator credentials (#102)
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Update connector-config.yaml
  dotnet/samples/ConnectorApp/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Replace IsUTF8 with PayloadFormat.
  go/protocol/README.md
  go/protocol/encoding.go
  go/protocol/listener.go
  go/protocol/publisher.go
Owners: @vishnureddy17, @clecompt-msft

[Go] Use time.Duration for WithMessageExpiry
  go/protocol/README.md
  go/protocol/command_invoker.go
  go/protocol/common_options.go
  go/protocol/publisher.go
  go/protocol/telemetry_sender.go
  go/samples/greeter/client/main.go
  go/services/statestore/del.go
  go/services/statestore/get.go
  go/services/statestore/set.go
  go/services/statestore/vdel.go
  go/test/protocol/command_invoker_tester.go
Owners: @vishnureddy17, @clecompt-msft

[Go] Add gci linter to enforce import ordering
  go/mqtt/.golangci.yml
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy_test.go
  go/mqtt/session_client.go
  go/mqtt/utils.go
  go/protocol/.golangci.yml
  go/protocol/internal/errutil/util.go
  go/protocol/publisher.go
  go/services/.golangci.yml
  go/test/protocol/.golangci.yml
  go/test/protocol/akri_mqtt_error_checker.go
  go/test/protocol/command_executor_tester.go
  go/test/protocol/command_invoker_tester.go
  go/test/protocol/common_tester.go
  go/test/protocol/stub_session_client.go
  go/test/protocol/test_case_catch.go
Owners: @vishnureddy17, @clecompt-msft

moved completion token definition
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/lib.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @cartertinney, @vaavva, @RLeclair

use of new completion token
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_mqtt/examples/simple_sample2.rs
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

telemetry receiver update
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

moved event definition to interface
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/lib.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
Owners: @cartertinney, @vaavva, @RLeclair

Fix
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

add new pages and more wording updates
  doc/README.md
  doc/overview.md
  doc/protocols.md
  doc/reference/command-api.md
  doc/reference/envoy-binder.md
  doc/reference/telemetry-api.md
Owners: @ryanwinter

removed sample2
  rust/azure_iot_operations_mqtt/examples/simple_sample2.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
Owners: @cartertinney, @vaavva, @RLeclair

SAT Auth Sample with TLS
  rust/azure_iot_operations_mqtt/examples/sat_auth_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

Post merge mage ci.
  go/mqtt/README.md
Owners: @vishnureddy17, @clecompt-msft

Addressing comments
  rust/azure_iot_operations_mqtt/examples/sat_auth_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

implement generic container AppendableListWithRemoval
  go/mqtt/internal/appendable_list_with_removal.go
  go/mqtt/internal/appendable_list_with_removal_test.go
Owners: @vishnureddy17, @clecompt-msft

refactor to use new container
  go/mqtt/connect.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

Iterator() -> All()
  go/mqtt/connect.go
  go/mqtt/internal/appendable_list_with_removal.go
  go/mqtt/internal/appendable_list_with_removal_test.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

add (dis)connect notifications and use byte values directly for reason codes (#106)
  codegen/test/samples/go/go.mod
  go/go.work
  go/mqtt/connect.go
  go/mqtt/constants.go
  go/mqtt/errors.go
  go/mqtt/go.mod
  go/mqtt/internal/appendable_list_with_removal.go
  go/mqtt/internal/appendable_list_with_removal_test.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
  go/mqtt/utils.go
  go/protocol/go.mod
  go/samples/counter/client/go.mod
  go/samples/counter/envoy/go.mod
  go/samples/counter/server/go.mod
  go/samples/greeter/client/go.mod
  go/samples/greeter/envoy/go.mod
  go/samples/greeter/server/go.mod
  go/samples/statestore/go.mod
  go/services/go.mod
  go/test/protocol/go.mod
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

Remove metadata changes not needed for keynotify.
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/common_options.go
  go/protocol/internal/metadata.go
  go/protocol/internal/topic.go
  go/protocol/publisher.go
  go/protocol/telemetry_sender.go
Owners: @vishnureddy17, @clecompt-msft

remove a typo from the last pr
  go/mqtt/internal/appendable_list_with_removal_test.go
Owners: @vishnureddy17, @clecompt-msft

update codegen for latest Rust SDK
  codegen/res/rust/AVRO/common_types.rs
  codegen/res/rust/AVRO/common_types/empty_avro.rs
  codegen/res/rust/AVRO/common_types/empty_avro_serialization.rs
  codegen/res/rust/JSON/common_types.rs
  codegen/res/rust/JSON/common_types/empty_json.rs
  codegen/res/rust/JSON/common_types/empty_json_serialization.rs
  codegen/res/rust/common/common_types.rs
  codegen/res/rust/common/common_types/b64.rs
  codegen/res/rust/common/common_types/date_only.rs
  codegen/res/rust/common/common_types/time_only.rs
  codegen/res/rust/raw/common_types.rs
  codegen/res/rust/raw/common_types/bytes.rs
  codegen/res/rust/raw/common_types/bytes_serialization.rs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/CommandHandler.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandExecutor.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandExecutor.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandInvoker.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandInvoker.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/code/RustCargoToml.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/code/RustLib.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/t4/RustCargoToml.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/t4/RustCargoToml.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/t4/RustLib.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/t4/RustLib.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Serialization/code/RustSerialization.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Serialization/t4/RustSerialization.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Serialization/t4/RustSerialization.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Service/code/RustService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Service/t4/RustService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Service/t4/RustService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/rust/t4/RustIntegerEnum.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/rust/t4/RustIntegerEnum.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/rust/t4/RustObject.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/rust/t4/RustObject.tt
Owners: @jrdouceur

Expose keynotify channel as read-only for safety.
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/keynotify.go
  go/services/statestore/notify.go
Owners: @vishnureddy17, @clecompt-msft

use DTDL serviceGroupId property in codegen
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/EnvoyGenerator/EnvoyTransformFactory.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/SchemaGenerator/AnnexFileProperties.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/SchemaGenerator/DtdlMqttExtensionValues.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/SchemaGenerator/SchemaGenerator.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/common/Defaults.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/dotnet/Service/code/DotNetService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/dotnet/Service/t4/DotNetService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/dotnet/Service/t4/DotNetService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Service/code/GoService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Service/t4/GoService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Service/t4/GoService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/java/Service/code/JavaService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/java/Service/t4/JavaService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/java/Service/t4/JavaService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/python/Service/code/PythonService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/python/Service/t4/PythonService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/python/Service/t4/PythonService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Service/code/RustService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Interface/code/InterfaceAnnex.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Interface/t4/InterfaceAnnex.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Interface/t4/InterfaceAnnex.tt
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

update docs, add bicep extension to devcontainers
  .devcontainer/devcontainer.json
  .devcontainer/nightly/devcontainer.json
  README.md
  dotnet/tutorials/EventDrivenApp/README.md
  samples/README.md
  tutorials/README.md
Owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix lnk
  README.md
Owners: @ryanwinter

update overview
  doc/README.md
  doc/overview.md
Owners: @ryanwinter

fix .net solution and remove warning
  dotnet/Azure.Iot.Operations.sln
  dotnet/tutorials/EventDrivenApp/InputWorker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

extend additional catagories
  doc/README.md
Owners: @ryanwinter

add components
  doc/components.md
Owners: @ryanwinter

rename /tutorials to /samples
  README.md
  samples/README.md
Owners: @ryanwinter
