Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

change cargo back
  rust/azure_iot_operations_services/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

Refactor asset-related models and converters for improved consistency and clarity
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DatasetsSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ProtocolConverter.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ProtocolConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[ADR] Lease, Lock, & Leader
  doc/dev/adr/0020-lease-lock-leader.md
Owners: @ryanwinter

cargo
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

initial commit before gen
  go/services/adr/client.go
  go/services/adr/gen.sh
Owners: @lev-i, @clecompt-msft

Json serialization only for error headers
  dotnet/samples/Protocol/Codegen/SampleClient/RpcCommandRunner.cs
  dotnet/samples/Protocol/Codegen/SampleServer/CounterService.cs
  dotnet/samples/Protocol/Codegen/SampleServer/ErrorPayloadJsonSerializer.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/ExtendedResponse.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/IErrorHeaderPayloadSerializer.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/CounterEnvoyTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/CounterService.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/ErrorPayloadJsonSerializer.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

doc updates
  doc/dev/adr/0020-error-modeling-headers.md
Owners: @ryanwinter

Refactor AdrServiceClient and IAdrServiceClient to improve method signatures with command timeout parameters
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

derp
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/ExtendedResponse.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Address review comments
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add file stubs for connector crate
  doc/dev/packaging.md
  rust/Cargo.toml
  rust/README.md
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/lib.rs
  rust/azure_iot_operations_connector/src/source_endpoint.rs
  rust/release.sh
Owners: @ryanwinter, @cartertinney, @vaavva, @RLeclair

[.NET] Update AEP DTDL
  eng/dtdl/aep-name-based-operations.json
Owners: @avishekpant

so far
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetMonitor.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/FilesMonitor/FilesMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Stub Service with Schema Registry Stub
  .github/workflows/ci-rust.yml
  tools/stub_service/.cargo/config.toml
  tools/stub_service/Cargo.toml
  tools/stub_service/README.md
  tools/stub_service/gen.sh
  tools/stub_service/src/lib.rs
  tools/stub_service/src/main.rs
  tools/stub_service/src/schema_registry.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/common_types.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/common_types/b64.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/common_types/common_options.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/common_types/date_only.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/common_types/decimal.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/common_types/empty_json.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/common_types/time_only.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/dependencies.md
  tools/stub_service/src/schema_registry/schema_registry_gen/mod.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/format.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/get_command_executor.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/get_request_payload.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/get_request_payload_serialization.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/get_request_schema.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/get_response_payload.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/get_response_payload_serialization.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/put_command_executor.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/put_request_payload.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/put_request_payload_serialization.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/put_request_schema.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/put_response_payload.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/put_response_payload_serialization.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/schema.rs
  tools/stub_service/src/schema_registry/schema_registry_gen/schema_registry/schema_type.rs
  tools/stub_service/src/schema_registry/service.rs
Owners: @avishekpant, @ryanwinter

comment out dead link until this merges to main
  rust/README.md
Owners: @cartertinney, @vaavva, @RLeclair

Minor improvements
  tools/stub_service/Cargo.toml
  tools/stub_service/src/lib.rs
  tools/stub_service/src/main.rs
  tools/stub_service/src/schema_registry.rs
Owners: @avishekpant

Update github.md
  doc/dev/github.md
Owners: @ryanwinter

so far
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/EventDrivenTcpThermostatConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetEndpointProfileChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetMonitorFactoryProvider.cs
  dotnet/src/Azure.Iot.Operations.Connector/ChangeType.cs
  dotnet/src/Azure.Iot.Operations.Connector/PollingTelemetryConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetEndpointProfile.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetDeletedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetEndpointProfile.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetEndpointProfileCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetEndpointProfileDeletedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetMonitor.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/ChangeType.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/FilesMonitor/FileChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/FilesMonitor/FilesMonitor.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/IAssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/IAssetMonitor.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/JsonDocumentConverter.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Assets/AssetMonitorTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Assets/MockAssetMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

trying it out
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/dotnet/t4/DotNetObject.tt
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

changes for import
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Ran Codegen
  dotnet/samples/Protocol/CloudEvents/Oven/OperationSummarySchema.g.cs
  dotnet/samples/Protocol/CloudEvents/Oven/TelemetryCollection.g.cs
  dotnet/samples/Protocol/ReadCloudEvents/Oven/OperationSummarySchema.g.cs
  dotnet/samples/Protocol/ReadCloudEvents/Oven/TelemetryCollection.g.cs
  dotnet/samples/Protocol/TestEnvoys/Counter/IncrementRequestPayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Counter/IncrementResponsePayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Counter/ReadCounterResponsePayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Counter/TelemetryCollection.g.cs
  dotnet/samples/Protocol/TestEnvoys/CustomTopicTokens/ReadCustomTopicTokenResponsePayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/CustomTopicTokens/TelemetryCollection.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsRequestPayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsRequestPayloadSerialization.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsResponsePayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsResponsePayloadSerialization.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/ManagedMemoryTelemetry.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/MemoryStatsSchema.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/MemoryStatsTelemetry.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/MemoryStatsTelemetrySerialization.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/StartTelemetryRequestPayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/WorkingSetTelemetry.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileResponseSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetResponseSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DataPointsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DatasetsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DefaultTopicSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/EventsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/TopicSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/GetRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/GetRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/GetResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/PutRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/PutRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/PutResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/Schema.g.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

spacing
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/dotnet/t4/DotNetObject.tt
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

.net 9
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/gen.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Ran Codegen
  dotnet/samples/Protocol/CloudEvents/Oven/OperationSummarySchema.g.cs
  dotnet/samples/Protocol/CloudEvents/Oven/TelemetryCollection.g.cs
  dotnet/samples/Protocol/ReadCloudEvents/Oven/OperationSummarySchema.g.cs
  dotnet/samples/Protocol/ReadCloudEvents/Oven/TelemetryCollection.g.cs
  dotnet/samples/Protocol/TestEnvoys/Counter/IncrementRequestPayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Counter/IncrementResponsePayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Counter/ReadCounterResponsePayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Counter/TelemetryCollection.g.cs
  dotnet/samples/Protocol/TestEnvoys/CustomTopicTokens/ReadCustomTopicTokenResponsePayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/CustomTopicTokens/TelemetryCollection.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsRequestPayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsResponsePayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/ManagedMemoryTelemetry.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/MemoryStatsSchema.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/MemoryStatsTelemetry.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/StartTelemetryRequestPayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/WorkingSetTelemetry.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileResponseSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetResponseSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DataPointsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DatasetsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DefaultTopicSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/EventsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/TopicSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/GetRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/GetRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/GetResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/PutRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/PutRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/PutResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/Schema.g.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fix
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/dotnet/t4/DotNetObject.tt
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

deleted new lines from classes
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Ran Codegen
  dotnet/samples/Protocol/CloudEvents/Oven/OperationSummarySchema.g.cs
  dotnet/samples/Protocol/CloudEvents/Oven/TelemetryCollection.g.cs
  dotnet/samples/Protocol/ReadCloudEvents/Oven/OperationSummarySchema.g.cs
  dotnet/samples/Protocol/ReadCloudEvents/Oven/TelemetryCollection.g.cs
  dotnet/samples/Protocol/TestEnvoys/Counter/TelemetryCollection.g.cs
  dotnet/samples/Protocol/TestEnvoys/CustomTopicTokens/TelemetryCollection.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/MemoryStatsSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileResponseSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetResponseSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DataPointsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DatasetsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DefaultTopicSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/EventsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/TopicSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/GetRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/GetResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/PutRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/Schema.g.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fix
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/dotnet/t4/DotNetObject.tt
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80
