Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

derp
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

initial rust integration
  dotnet/samples/applications/EventDrivenApp/Dockerfile
  dotnet/samples/applications/EventDrivenApp/README.md
  dotnet/samples/applications/EventDrivenApp/app.yml
  rust/sample_applications/event_driven_app/Dockerfile
  rust/sample_applications/event_driven_app/README.md
  rust/sample_applications/event_driven_app/app.yml
  rust/sample_applications/event_driven_app/input_client/src/main.rs
  rust/sample_applications/event_driven_app/output_client/src/main.rs
  samples/event_driven_app/README.md
  samples/event_driven_app/simulator.yml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @ryanwinter, @avishekpant

unit test
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Connection/MqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

SR
  rust/azure_iot_operations_protocol/examples/rpc_executors_with_shared_subscription.rs
  rust/azure_iot_operations_services/Cargo.toml
  rust/azure_iot_operations_services/examples/leased_lock_client.rs
  rust/azure_iot_operations_services/examples/schema_registry_client.rs
  rust/azure_iot_operations_services/examples/state_store_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Address feedback
  go/samples/application/eventdrivenapp/go.mod
  go/samples/application/eventdrivenapp/main.go
  go/samples/application/eventdrivenapp/processing/processing.go
Owners: @lev-i, @clecompt-msft

Update go/samples/application/eventdrivenapp/go.mod
  go/samples/application/eventdrivenapp/go.mod
Owners: @lev-i, @clecompt-msft

Update go/samples/application/eventdrivenapp/go.mod
  go/samples/application/eventdrivenapp/go.mod
Owners: @lev-i, @clecompt-msft

updates for rust edge application
  doc/edge_application/deploy.md
  rust/sample_applications/event_driven_app/Dockerfile
  samples/event_driven_app/README.md
Owners: @ryanwinter, @cartertinney, @vaavva, @RLeclair

update dependencies, add gitignore
  go/samples/application/eventdrivenapp/.gitignore
  go/samples/application/eventdrivenapp/go.mod
  go/samples/application/eventdrivenapp/go.sum
Owners: @lev-i, @clecompt-msft

for some reason, i removed the module install instructions.
  go/README.md
Owners: @lev-i, @clecompt-msft

test
  rust/sample_applications/counter/counter_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

assert false
  rust/sample_applications/counter/counter_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

removed rogue log
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

reverted
  rust/sample_applications/counter/counter_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

revert to localhost
  rust/azure_iot_operations_mqtt/examples/manual_ack.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_mqtt/README.md
Owners: @cartertinney, @vaavva, @RLeclair

localhost
  rust/azure_iot_operations_mqtt/examples/manual_ack.rs
Owners: @cartertinney, @vaavva, @RLeclair

fixes
  README.md
  rust/azure_iot_operations_protocol/src/common/aio_protocol_error.rs
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
Owners: @ryanwinter, @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

minor tweaks to tutorial
  samples/event_driven_app/README.md
Owners: @ryanwinter

fixup
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Connection/MqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[Doc] Update README.md to reorder the feature table
  README.md
Owners: @ryanwinter

update to consume dotnet from feed. This will change to NuGet later today.
  doc/edge_application/deploy.md
  dotnet/README.md
  dotnet/samples/applications/EventDrivenApp/Dockerfile
  dotnet/samples/applications/EventDrivenApp/EventDrivenApp.csproj
  dotnet/samples/applications/EventDrivenApp/NuGet.Config
  samples/event_driven_app/README.md
Owners: @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

reference nightly from .net until we get the Nuget packages
  doc/edge_application/deploy.md
  dotnet/samples/applications/EventDrivenApp/Dockerfile
  dotnet/samples/applications/EventDrivenApp/EventDrivenApp.csproj
  samples/event_driven_app/README.md
Owners: @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fixing coverage
  .github/workflows/ci-rust.yml
  rust/ci/coverage.sh
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

additional cargo doc
  rust/azure_iot_operations_mqtt/src/lib.rs
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

clarify
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

pathfix
  .github/workflows/ci-rust.yml
Owners: @avishekpant

clarify again
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

indent
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

language
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

clippy, fmt
  rust/azure_iot_operations_mqtt/src/lib.rs
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix links
  doc/edge_application/README.md
  dotnet/README.md
  samples/README.md
  samples/event_driven_app/README.md
Owners: @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

more indent
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

update linkspector github ignore pattern
  .github/.linkspector.yml
Owners: @avishekpant

version bump
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_services/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

adjusting paths
  .github/workflows/ci-rust.yml
Owners: @avishekpant

Path update
  .github/workflows/ci-rust.yml
Owners: @avishekpant

Update API index.html with Go API links
  .github/pages/index.html
Owners: @avishekpant

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
