Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

progress
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

progress
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

accept suggestion
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

accept suggestion
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

Add ADR for large message chunking in MQTT protocol
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

progress
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

Address coments to large message chunking implementation details
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

Address review comments
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

wip
  rust/azure_iot_operations_connector/examples/transform.rs
  rust/azure_iot_operations_connector/src/data_processor/derived_json.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_connector/src/data_processor/derived_json.rs
Owners: @cartertinney, @vaavva, @RLeclair

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update Models and converters
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[.NET] Add integration tests for AdrServiceClient functionality
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Add Asset Event Stream Validation tests
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Add ObservationsPersistAfterReconnection test
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

first test passed (yay)
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add ADR intergation tests
  .github/actions/configure-aio/action.yml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

moved tests resources to eng folder
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/coap-asset.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/my-thermostat-device.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/rest-asset.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add tests resources
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/coap-asset.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/my-thermostat-device.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/rest-asset.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  device.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

revert previous commit
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Address PR comments
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/AdrClientServiceTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add step to create ADR resources in CI pipeline
  .github/workflows/ci-dotnet.yml
  device.yaml
  eng/test/test-adr-resources/coap-asset.yaml
  eng/test/test-adr-resources/my-thermostat-device.yaml
  eng/test/test-adr-resources/rest-asset.yaml
Owners: @avishekpant

Address PR comments
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/ClientFactory.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

test fix
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Address PR comments
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Add test resources
  dotnet/eng/test/test-adr-resources/coap-asset.yaml
  dotnet/eng/test/test-adr-resources/my-thermostat-device.yaml
  dotnet/eng/test/test-adr-resources/rest-asset.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

yaml
  .github/workflows/ci-rust.yml
Owners: @avishekpant

new enums at api
  rust/azure_iot_operations_services/src/schema_registry.rs
  rust/azure_iot_operations_services/src/schema_registry/client.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/format.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/schema_type.rs
Owners: @cartertinney, @vaavva, @RLeclair

todo
  rust/azure_iot_operations_services/src/schema_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

doc
  rust/azure_iot_operations_services/src/schema_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

asdf
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant

Update connector-metadata-schema.json
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

Update example-connector-metadata.json
  doc/akri_connector/example-connector-metadata.json
Owners: @avishekpant

Update connector-metadata-schema.json
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

Update connector-metadata-schema.json
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant

removed getrequest exposure
  rust/azure_iot_operations_services/src/schema_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update connector-metadata-schema.json
  doc/akri_connector/connector-metadata-schema.json
Owners: @avishekpant
