Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

Add ObservationsPersistAfterReconnection test
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  device.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fmt and clippy
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
  rust/azure_iot_operations_connector/tests/artifact_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

asdf
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/tcp-service-asset-definition.yaml
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/deploy-connector-and-device.sh
  dotnet/samples/Connectors/SqlConnector/deploy-connector-and-device.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

asdf
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/deploy-connector-and-device.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

more fixes
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/tcp-service-asset-definition.yaml
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/tcp-service-device-definition.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-device-definition.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/sql-server-asset-definition.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/sql-server-device-definition.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

asdf
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/tcp-service-asset-definition.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

asdf
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/ConnectorFileMountSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Fixes for current operator
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
  rust/azure_iot_operations_connector/tests/artifact_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

more
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

pod running
  rust/azure_iot_operations_connector/examples/deployed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

logs
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandInvoker.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Telemetry/TelemetryReceiver.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

format
  rust/azure_iot_operations_connector/src/filemount.rs
Owners: @cartertinney, @vaavva, @RLeclair

more logs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

keep
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

removed filemount from mqtt
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

keep2
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

log name
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

keep
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

clippy
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

blah
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Fix for watcher
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

bom fix
  eng/test/test-connector-mount-files/connector-config-no-auth-no-tls/AIO_METADATA
  eng/test/test-connector-mount-files/connector-config-no-auth-no-tls/DIAGNOSTICS
  eng/test/test-connector-mount-files/connector-config-no-auth-no-tls/MQTT_CONNECTION_CONFIGURATION
  eng/test/test-connector-mount-files/connector-config/AIO_METADATA
  eng/test/test-connector-mount-files/connector-config/DIAGNOSTICS
  eng/test/test-connector-mount-files/connector-config/MQTT_CONNECTION_CONFIGURATION
Owners: @avishekpant

Adding log
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

comment
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
Owners: @cartertinney, @vaavva, @RLeclair

removed outdated todo
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
Owners: @cartertinney, @vaavva, @RLeclair

added notes
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
Owners: @cartertinney, @vaavva, @RLeclair

cleanup and add some config files
  rust/Dockerfile
  rust/azure_iot_operations_connector/examples/deployed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_services/examples/connector_template.yaml
Owners: @cartertinney, @vaavva, @RLeclair

keep
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "blah"
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "log name"
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "logs"
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandInvoker.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Telemetry/TelemetryReceiver.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

asdf
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[.Net] apply latest DTDL changes (#726)
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetConfigStatusSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetDatasetEventStreamStatus.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetManagementGroupActionSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetManagementGroupActionStatusSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetManagementGroupStatusSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetSpecificationSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetStatus.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetStatusEventSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/AssetStatusStreamSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/DestinationConfiguration.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/DeviceEndpointSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/DeviceOutboundEndpoint.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/EventStreamTarget.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/InboundSchemaMapValueSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/OutboundSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/QoS.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/Qos.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseService/TrustSettingsSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetConfigStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetDatasetEventStreamStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetManagementGroupActionStatusSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetManagementGroupStatusSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetSpecification.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetStatusManagementGroupSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetStatusStreamSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DetectedAssetEventSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceEndpoint.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceOutboundEndpoint.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/EventStreamTarget.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/InboundEndpointSchemaMapValue.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/OutboundSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ProtocolConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/TrustSettings.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ProtocolConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[.Net] DTDL updated (#719)
  eng/dtdl/device-name-based-operations.json
Owners: @avishekpant

[Rust][Connector] File Mount ADR Client + Sample (#739)
  rust/azure_iot_operations_connector/examples/filemount_azure_device_registry_observation.rs
  rust/azure_iot_operations_connector/src/filemount.rs
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Rust] ConnectorConfiguration filemount (#742)
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/filemount.rs
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
  rust/azure_iot_operations_connector/tests/artifact_tests.rs
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET][Akri] Fix up event-driven connector sample (#743)
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/tcp-service-asset-definition.yaml
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/tcp-service-device-definition.yaml
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/deploy-connector-and-device.sh
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-device-definition.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/sql-server-asset-definition.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/sql-server-device-definition.yaml
  dotnet/samples/Connectors/SqlConnector/deploy-connector-and-device.sh
  dotnet/src/Azure.Iot.Operations.Connector/Configurations/ConnectorFileMountSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Fix filemount test files to use UTF-8 (#744)
  eng/test/test-connector-mount-files/connector-config-no-auth-no-tls/AIO_METADATA
  eng/test/test-connector-mount-files/connector-config-no-auth-no-tls/DIAGNOSTICS
  eng/test/test-connector-mount-files/connector-config-no-auth-no-tls/MQTT_CONNECTION_CONFIGURATION
  eng/test/test-connector-mount-files/connector-config/AIO_METADATA
  eng/test/test-connector-mount-files/connector-config/DIAGNOSTICS
  eng/test/test-connector-mount-files/connector-config/MQTT_CONNECTION_CONFIGURATION
Owners: @avishekpant

logs, to revert
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
