Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

add logging to counter sample
  go/samples/counter/client/client.go
  go/samples/counter/server/server.go
Owners: @vishnureddy17, @clecompt-msft

add paho logs
  go/mqtt/README.md
  go/mqtt/connect.go
  go/samples/counter/server/server.go
Owners: @vishnureddy17, @clecompt-msft

remove incorrect log line in counter client sample
  go/samples/counter/client/client.go
Owners: @vishnureddy17, @clecompt-msft

set receive maximum in connection settings]
  go/mqtt/connection_settings.go
Owners: @vishnureddy17, @clecompt-msft

revert logging added for debugging
  go/mqtt/README.md
  go/mqtt/connect.go
  go/samples/counter/client/client.go
  go/samples/counter/server/server.go
Owners: @vishnureddy17, @clecompt-msft

hotfix
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

comment
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

test
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

move ProtocolVersion functions to impl
  rust/azure_iot_operations_protocol/src/lib.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

Fencing bug
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
Owners: @cartertinney, @vaavva, @RLeclair

Defend against malformed handlers.
  go/mqtt/README.md
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

Removing prefixing functionality
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

chagnes
  .github/workflows/e2e-cross-language-samples.yml
  rust/azure_iot_operations_mqtt/examples/sat_auth_sample.rs
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @jrdouceur, @cartertinney, @vaavva, @RLeclair

[Go Session Client] Overhaul Client Configuration (#214)
  .github/workflows/ci-go.yml
  .github/workflows/e2e-cross-language-samples.yml
  go/mqtt/README.md
  go/mqtt/auth.go
  go/mqtt/auth/README.md
  go/mqtt/auth/mq_sat.go
  go/mqtt/auth/types.go
  go/mqtt/auth_utils.go
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/connection_settings_test.go
  go/mqtt/constants.go
  go/mqtt/internal/connection_tracker.go
  go/mqtt/net.go
  go/mqtt/retry/README.md
  go/mqtt/retry/types.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
  go/mqtt/subscribe.go
  go/mqtt/test/session_client_fault_injection_integration_test.go
  go/mqtt/test/session_client_mochi_integration_test.go
  go/mqtt/test/session_client_mq_integration_test.go
  go/samples/cloudevents/client/main.go
  go/samples/cloudevents/server/main.go
  go/samples/counter/client/client.go
  go/samples/counter/server/server.go
  go/samples/greeter/client/main.go
  go/samples/greeter/server/main.go
  go/samples/leasedlock/main.go
  go/samples/statestore/main.go
  go/test/protocol/common_tester.go
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

[Go] Ack message on last handler ack instead of first (#217)
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

works
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

remove iterator for parsing the version
  rust/azure_iot_operations_protocol/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

server fix
  .github/workflows/e2e-cross-language-samples.yml
Owners: @jrdouceur

more fix
  .github/workflows/e2e-cross-language-samples.yml
Owners: @jrdouceur

add validation where protocol version isn't included
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

cleanup
  rust/azure_iot_operations_protocol/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

cleanup telemetry sender imports
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

removed connection retry from env
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Go] Refactor integration tests
  .github/workflows/ci-go.yml
  go/go.work
  go/mqtt/go.sum
  go/mqtt/test/session_client_mochi_integration_test.go
  go/mqtt/test/session_client_mq_integration_test.go
  go/mqtt/test/util_test.go
  go/protocol/go.mod
  go/protocol/stub_test.go
  go/services/leasedlock/README.md
  go/services/leasedlock/lock.go
  go/services/leasedlock/options.go
  go/services/statestore/set.go
  go/test/integration/go.mod
  go/test/integration/go.sum
  go/test/integration/magefile.go
  go/test/integration/mqtt/fault_injection_test.go
  go/test/integration/mqtt/session_client_test.go
  go/test/integration/mqtt/util.go
  go/test/integration/protocol/command_test.go
  go/test/integration/protocol/telemetry_test.go
  go/test/integration/protocol/util.go
  go/test/integration/services/leased_lock_test.go
  go/test/integration/services/state_store_test.go
  go/test/protocol/magefile.go
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

Sleep a bit longer.
  go/test/integration/mqtt/session_client_test.go
Owners: @vishnureddy17, @clecompt-msft

Update rust/azure_iot_operations_mqtt/examples/sat_auth_sample.rs
  rust/azure_iot_operations_mqtt/examples/sat_auth_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
Owners: @cartertinney, @vaavva, @RLeclair

fixed
  rust/azure_iot_operations_mqtt/examples/sat_auth_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

Wait for successful connection.
  go/test/integration/mqtt/session_client_test.go
Owners: @vishnureddy17, @clecompt-msft

works
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

works
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

faster
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Cleaner ack
  go/internal/mqtt/README.md
  go/internal/mqtt/types.go
  go/mqtt/README.md
  go/mqtt/subscribe.go
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/listener.go
  go/protocol/telemetry_receiver.go
  go/services/statestore/notify.go
  go/services/statestore/reconnect.go
  go/test/integration/mqtt/session_client_test.go
  go/test/integration/mqtt/util.go
Owners: @vishnureddy17, @clecompt-msft

works
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

mage ci
  go/services/statestore/README.md
Owners: @vishnureddy17, @clecompt-msft
