Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

comment
  rust/azure_iot_operations_mqtt/src/session/receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
Owners: @cartertinney, @vaavva, @RLeclair

codegen update
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_protocol/examples/rpc_executors_with_shared_subscription.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender.rs
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/src/rpc_command/executor.rs
  rust/azure_iot_operations_protocol/src/rpc_command/invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/receiver.rs
  rust/azure_iot_operations_protocol/tests/command_network_tests.rs
  rust/azure_iot_operations_protocol/tests/metl/test_payload.rs
  rust/azure_iot_operations_protocol/tests/telemetry_network_tests.rs
  rust/azure_iot_operations_services/src/state_store/resp3.rs
  rust/sample_applications/counter/envoy/Cargo.toml
  rust/sample_applications/counter/envoy/src/common_types/b64.rs
  rust/sample_applications/counter/envoy/src/common_types/date_only.rs
  rust/sample_applications/counter/envoy/src/common_types/decimal.rs
  rust/sample_applications/counter/envoy/src/common_types/empty_json.rs
  rust/sample_applications/counter/envoy/src/common_types/time_only.rs
  rust/sample_applications/counter/envoy/src/counter/increment_command_executor.rs
  rust/sample_applications/counter/envoy/src/counter/increment_command_invoker.rs
  rust/sample_applications/counter/envoy/src/counter/increment_request_payload_serialization.rs
  rust/sample_applications/counter/envoy/src/counter/increment_response_payload_serialization.rs
  rust/sample_applications/counter/envoy/src/counter/read_counter_command_executor.rs
  rust/sample_applications/counter/envoy/src/counter/read_counter_command_invoker.rs
  rust/sample_applications/counter/envoy/src/counter/read_counter_response_payload_serialization.rs
  rust/sample_applications/counter/envoy/src/counter/telemetry_collection_serialization.rs
  rust/sample_applications/counter/envoy/src/counter/telemetry_receiver.rs
  rust/sample_applications/counter/envoy/src/counter/telemetry_sender.rs
  rust/sample_applications/event_driven_app/input_client/src/main.rs
  rust/sample_applications/event_driven_app/output_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

regenerate codegen
  codegen/res/rust/AVRO/common_types/empty_avro.rs
  codegen/res/rust/JSON/common_types/empty_json.rs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Serialization/t4/RustSerialization.tt
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/common_types/empty_json.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/get_request_payload_serialization.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/get_response_payload_serialization.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/put_request_payload_serialization.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/put_response_payload_serialization.rs
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

format mqtt + protocol
  rust/azure_iot_operations_mqtt/src/session/receiver.rs
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/src/telemetry/receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

fixed serialize tests
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
Owners: @cartertinney, @vaavva, @RLeclair

format?
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
Owners: @cartertinney, @vaavva, @RLeclair

suppress mockall bug
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
Owners: @cartertinney, @vaavva, @RLeclair

try on fn
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
Owners: @cartertinney, @vaavva, @RLeclair

testing
  .github/workflows/ci-rust.yml
  rust/ci/coverage.sh
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

removed clippy suppression
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
Owners: @cartertinney, @vaavva, @RLeclair

Address feedback
  go/samples/application/eventdrivenapp/deploy.yaml
  go/samples/application/eventdrivenapp/main.go
  go/samples/application/eventdrivenapp/models.go
  go/samples/application/eventdrivenapp/models/models.go
  go/samples/application/eventdrivenapp/processing.go
Owners: @lev-i, @clecompt-msft

testing
  .github/workflows/ci-rust.yml
Owners: @avishekpant

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseServiceException.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AepTypeServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AepTypeServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AepTypeServiceException.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrBaseServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAepTypeServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrBaseServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Remove values preservation
  go/samples/application/eventdrivenapp/processing.go
Owners: @lev-i, @clecompt-msft

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

go integration
  .devcontainer/postCreateCommand.sh
  .devcontainer/postStartCommand.sh
  go/samples/application/eventdrivenapp/Dockerfile
  samples/event_driven_app/README.md
Owners: @avishekpant, @lev-i, @clecompt-msft, @ryanwinter

update tutorial for go
  doc/edge_application/deploy.md
  go/samples/application/eventdrivenapp/Dockerfile
  samples/event_driven_app/README.md
Owners: @ryanwinter, @lev-i, @clecompt-msft

revert client id ovreride for rust samples, added client-id to environment
  rust/sample_applications/event_driven_app/app.yml
  rust/sample_applications/event_driven_app/input_client/src/main.rs
  rust/sample_applications/event_driven_app/output_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

fixes
  rust/azure_iot_operations_mqtt/examples/connection_monitor.rs
  rust/azure_iot_operations_mqtt/src/session/receiver/plenary_ack.rs
  rust/azure_iot_operations_protocol/src/lib.rs
  rust/azure_iot_operations_protocol/src/rpc_command/executor.rs
  rust/azure_iot_operations_protocol/src/rpc_command/invoker.rs
  rust/sample_applications/event_driven_app/input_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

more fix
  rust/azure_iot_operations_mqtt/examples/connection_monitor.rs
  rust/azure_iot_operations_services/examples/leased_lock_client.rs
  rust/azure_iot_operations_services/examples/schema_registry_client.rs
  rust/azure_iot_operations_services/tests/state_store_client_test.rs
Owners: @cartertinney, @vaavva, @RLeclair

ss client tests
  rust/azure_iot_operations_services/tests/state_store_client_test.rs
Owners: @cartertinney, @vaavva, @RLeclair

sr fix
  rust/azure_iot_operations_services/examples/schema_registry_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

example
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

more example fixes
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

state store
  rust/azure_iot_operations_services/examples/state_store_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

leased lock example
  rust/azure_iot_operations_services/examples/leased_lock_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor.rs
  rust/azure_iot_operations_protocol/src/lib.rs
  rust/azure_iot_operations_services/examples/leased_lock_client.rs
  rust/azure_iot_operations_services/tests/state_store_client_test.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET] Add integration test for RPC with custom response topic pattern
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/MathEnvoyTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

direct test
  rust/ci/coverage.sh
Owners: @cartertinney, @vaavva, @RLeclair

progress
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

update port mapping so its 1:1 with the same port
  .github/actions/configure-aio/action.yml
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-rust.yml
  .github/workflows/e2e-cross-language.yml
  README.md
  doc/setup.md
  tools/deployment/README.md
  tools/deployment/configure-aio.sh
  tools/deployment/initialize-cluster.sh
  tools/deployment/yaml/broker-listeners.yaml
  tools/deployment/yaml/broker.yaml
Owners: @avishekpant, @ryanwinter

progress
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

snk
  dotnet/35MSSharedLib1024.snk
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

asdf
  dotnet/MSSharedLibKey.snk
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

?
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add stats to markdown
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

ignroe security.md for linkspector
  .github/.linkspector.yml
Owners: @avishekpant

path
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
