Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

derp
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

akri connector doc update
  doc/akri_connector/README.md
  doc/akri_connector/developing.md
  doc/akri_connector/images/akri-connector.png
  doc/components.md
  doc/dev/packaging.md
Owners: @ryanwinter, @jrdouceur

Update ci-dotnet.yml
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

Update ci-dotnet.yml
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

maybe
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

Update ci-dotnet.yml
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

Rename CacheableDuration to CacheTtl in C# SDK, codegen, and METL
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/dotnet/Command/t4/DotNetCommandExecutor.tt
  doc/dev/generated/MetlCases.md
  doc/dev/generated/MetlSpec.md
  dotnet/samples/TestEnvoys/Greeter/GreeterEnvoy.g.cs
  dotnet/samples/TestEnvoys/dtmi_rpc_samples_math__1/FibCommandExecutor.g.cs
  dotnet/samples/TestEnvoys/dtmi_rpc_samples_math__1/IsPrimeCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Protocol/CommandBehaviorAttribute.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandExecutor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/api-surface.md
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/GetCommandExecutor.g.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/CommandExecutorTester.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/DefaultExecutor.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/TestCaseExecutor.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/CommandExecutorTests.cs
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorIdempotentCommandPositiveCacheTtl_StartsSuccessfully.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorIdempotentCommandPositiveCacheableDuration_StartsSuccessfully.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorIdempotentCommandZeroCacheTtl_StartsSuccessfully.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorIdempotentCommandZeroCacheableDuration_StartsSuccessfully.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorNonIdempotentCommandPositiveCacheTtl_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorNonIdempotentCommandPositiveCacheableDuration_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorNonIdempotentCommandZeroCacheTtl_StartsSuccessfully.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorNonIdempotentCommandZeroCacheableDuration_StartsSuccessfully.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorReceivesEquivalentExecutorAgnosticIdempotentRequestFromDifferentInvokerBeyondTTL_CommandExecuted.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorReceivesEquivalentExecutorAgnosticIdempotentRequestFromDifferentInvokerWithinTTL_ResponseFromCache.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorReceivesEquivalentExecutorSpecificIdempotentRequestFromDifferentInvokerBeyondTTL_CommandExecuted.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorReceivesEquivalentExecutorSpecificIdempotentRequestFromDifferentInvokerWithinTTL_CommandExecuted.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorReceivesEquivalentIdempotentRequestBeyondTTL_CommandExecuted.yaml
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorReceivesEquivalentIdempotentRequestWithinTTL_ResponseFromCache.yaml
  eng/test/test-cases/Protocol/CommandExecutor/defaults.toml
  eng/test/test-cases/schemas/Executor.schema.json
  go/test/protocol/command_executor_tester.go
  go/test/protocol/default_executor.go
  go/test/protocol/test_case_executor.go
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @ryanwinter, @jrdouceur, @vishnureddy17, @clecompt-msft

change Go casing
  go/test/protocol/command_executor_tester.go
  go/test/protocol/default_executor.go
  go/test/protocol/test_case_executor.go
Owners: @vishnureddy17, @clecompt-msft

fix some spelling mistakes
  doc/dev/generated/MetlCases.md
  doc/dev/generated/MetlSpec.md
  doc/dev/proto/MetlCasesProto.xml
  doc/dev/proto/MetlSpecProto.xml
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/CommandExecutorTests.cs
  eng/test/test-cases/Protocol/CommandExecutor/CommandExecutorReceivesEquivalentIdempotentRequestWithinTTL_ResponseFromCache.yaml
Owners: @ryanwinter, @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

logged in already?
  .github/workflows/az-login.yml
Owners: @jrdouceur

derp
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

Delete az-login.yml
  .github/workflows/az-login.yml
Owners: @jrdouceur

Update ci-dotnet.yml
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

UTF-8 check for envoy payloads
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

maybe
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

preview version tags
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

new generation , commented out
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/BytesJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/CombinedPrefixedReadOnlyDictionary.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/DateJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/DecimalJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/DecimalString.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/DurationJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/EmptyJson.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/TimeJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/Utf8JsonSerializer.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/UuidJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResourcesClient.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResourcesClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/IDiscoveredAssetResourcesClient.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetEndpointProfileCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetEndpointProfileCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetEndpointProfileRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetEndpointProfileResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/DiscoveredAssetResources.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAssetEndpointProfile_Request.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAssetEndpointProfile_Response.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request_Datasets_ElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request_Datasets_ElementSchema_DataPoints_ElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request_Datasets_ElementSchema_Topic.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request_DefaultTopic.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request_Events_ElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request_Events_ElementSchema_Topic.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Response.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/gen2.sh
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/DiscoveredAssetResourcesClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

regenerated
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResourcesClient.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResourcesClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/IDiscoveredAssetResourcesClient.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/DiscoveredAssetResourcesClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix component formatting
  doc/components.md
Owners: @ryanwinter

wip
  rust/azure_iot_operations_mqtt/src/control_packet.rs
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

remove unused files
  doc/akri_connector/develop.md
  doc/akri_connector/developing.md
  doc/lifecycle.md
  doc/overview.md
Owners: @ryanwinter

receive max and unbounded channels
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session/dispatcher.rs
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
Owners: @cartertinney, @vaavva, @RLeclair

change genscript
  dotnet/src/Azure.Iot.Operations.Services/Akri/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/Akri/gen2.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

renamed key_password_file
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

added informative comment;r
  rust/azure_iot_operations_mqtt/src/session/dispatcher.rs
Owners: @cartertinney, @vaavva, @RLeclair

Split serviceGroupId into separate telem and cmd props
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/EnvoyGenerator/EnvoyTransformFactory.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/SchemaGenerator/AnnexFileProperties.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/SchemaGenerator/DtdlMqttExtensionValues.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/SchemaGenerator/SchemaGenerator.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/dotnet/Service/code/DotNetService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/dotnet/Service/t4/DotNetService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Service/code/GoService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Service/t4/GoService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/java/Service/code/JavaService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/java/Service/t4/JavaService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/python/Service/code/PythonService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/python/Service/t4/PythonService.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Service/code/RustService.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Interface/code/InterfaceAnnex.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Interface/t4/InterfaceAnnex.tt
  codegen/test/samples/dtdl/TelemetryAndCommand.json
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-connector-secrets.yaml
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  tools/deployment/deploy-aio.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

check for test runs
  .github/workflows/ci-dotnet.yml
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

more
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

no
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

don't change this
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe?
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

this as well
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

derp
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

versions
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Update to latest Operator bits (#204)
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-connector-secrets.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server.yaml
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  tools/deployment/deploy-aio.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

Deserialization failures on samples
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

change permit
  dotnet/src/Azure.Iot.Operations.Services/Akri/gen.cmd
  dotnet/src/Azure.Iot.Operations.Services/Akri/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Printing spec version
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

Derive builders for generated structs in Rust
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/rust/common/RustSchemaSupport.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/rust/t4/RustObject.tt
Owners: @jrdouceur
