Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

include
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Azure.Iot.Operations.Services.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

add additional documentation
  rust/azure_iot_operations_services/api-surface.md
Owners: @cartertinney, @vaavva, @RLeclair

Update dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[.NET] Add some missing integration test coverage on notifications
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/StateStoreClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[.NET] Remove version from state store notification event class
  dotnet/src/Azure.Iot.Operations.Services/StateStore/KeyChangeMessageReceivedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

update Client error types
  rust/azure_iot_operations_services/api-surface.md
Owners: @cartertinney, @vaavva, @RLeclair

pre-refactor
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/state.rs
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

Fix deadlock.
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/keynotify.go
  go/services/statestore/notify.go
Owners: @vishnureddy17, @clecompt-msft

full force exit support
  rust/azure_iot_operations_mqtt/src/session/internal.rs
Owners: @cartertinney, @vaavva, @RLeclair

pre-refactor state
  rust/azure_iot_operations_mqtt/src/session/internal.rs
Owners: @cartertinney, @vaavva, @RLeclair

doc and format
  rust/azure_iot_operations_mqtt/src/error.rs
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/state.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @cartertinney, @vaavva, @RLeclair

touchups
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/state.rs
Owners: @cartertinney, @vaavva, @RLeclair

use Requirement extension in DTDL codegen
  codegen/src/Akri.Dtdl.Codegen/Akri.Dtdl.Codegen.csproj
  codegen/src/Akri.Dtdl.Codegen/SchemaGenerator/DtdlMqttExtensionValues.cs
  codegen/src/Akri.Dtdl.Codegen/SchemaGenerator/SchemaGenerator.cs
  codegen/src/Akri.Dtdl.Codegen/SchemaGenerator/SchemaTransformFactory.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/code/ObjectAvroSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/code/ObjectJsonSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/code/ObjectProto2.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/code/ObjectProto3.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectAvroSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectAvroSchema.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectJsonSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectJsonSchema.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectProto2.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectProto2.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectProto3.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectProto3.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/code/TelemetryAvroSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/code/TelemetryJsonSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/code/TelemetryProto2.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/code/TelemetryProto3.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryAvroSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryAvroSchema.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryJsonSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryJsonSchema.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryProto2.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryProto2.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryProto3.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryProto3.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/common/AvroSchemaSupport.cs
Owners: @jrdouceur

clarified current state of SessionExitHandle
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @cartertinney, @vaavva, @RLeclair

missed a file
  rust/azure_iot_operations_mqtt/src/session/internal.rs
Owners: @cartertinney, @vaavva, @RLeclair

Add FromFileMount
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix configMapPath
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

service error naming and add docs for Operation
  rust/azure_iot_operations_services/api-surface.md
Owners: @cartertinney, @vaavva, @RLeclair

added InnerSessionState to change locking
  rust/azure_iot_operations_mqtt/src/session/state.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_mqtt/src/session/internal.rs
Owners: @cartertinney, @vaavva, @RLeclair

Fixed catch
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

enforced method-long holding of rwlock where appropriate
  rust/azure_iot_operations_mqtt/src/session/state.rs
Owners: @cartertinney, @vaavva, @RLeclair

simplified condition fns
  rust/azure_iot_operations_mqtt/src/session/state.rs
Owners: @cartertinney, @vaavva, @RLeclair

disabled log in state to prevent deadlock
  rust/azure_iot_operations_mqtt/src/session/state.rs
Owners: @cartertinney, @vaavva, @RLeclair

re-enabled logging without deadlock
  rust/azure_iot_operations_mqtt/src/session/state.rs
Owners: @cartertinney, @vaavva, @RLeclair

updated comment explanation
  rust/azure_iot_operations_mqtt/src/session/internal.rs
Owners: @cartertinney, @vaavva, @RLeclair

work in progress
  go/mqtt/client.go
  go/mqtt/connect.go
  go/mqtt/internal/errors.go
  go/mqtt/internal/queue.go
  go/mqtt/publish.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
  go/mqtt/subscribe.go
  go/mqtt/test/session_client_mq_integration_test.go
  go/mqtt/translate.go
  go/protocol/errors/errors.go
Owners: @vishnureddy17, @clecompt-msft

async, don't mention files
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

state logging improvements
  rust/azure_iot_operations_mqtt/src/session/state.rs
Owners: @cartertinney, @vaavva, @RLeclair

removed outdated comment
  rust/azure_iot_operations_mqtt/src/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

removed commented macro
  rust/azure_iot_operations_mqtt/src/session/state.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_mqtt/src/session/state.rs
  rust/azure_iot_operations_mqtt/src/session/state.rs
Owners: @cartertinney, @vaavva, @RLeclair

PR feedback
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @cartertinney, @vaavva, @RLeclair

remove a bunch of dead code
  go/mqtt/connect.go
Owners: @vishnureddy17, @clecompt-msft

basic managed client imp
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip protocol ingestion
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

added todo for force_exit optimization
  rust/azure_iot_operations_mqtt/src/session/internal.rs
Owners: @cartertinney, @vaavva, @RLeclair

addressed PR
  rust/azure_iot_operations_mqtt/src/session/internal.rs
Owners: @cartertinney, @vaavva, @RLeclair

updated readme
  rust/azure_iot_operations_mqtt/README.md
Owners: @cartertinney, @vaavva, @RLeclair

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
