Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

Minor cleanup.
  go/protocol/telemetry_cloud_event.go
Owners: @vishnureddy17, @clecompt-msft

Remove TODO
  go/protocol/telemetry_cloud_event.go
Owners: @vishnureddy17, @clecompt-msft

[.NET] Implement ADR client asset APIs (#170)
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-server.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/JsonDocumentConverter.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

defer read of mqttClient.ClientId to InvokeCommand
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/dotnet/Command/t4/DotNetCommandInvoker.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/dotnet/Service/t4/DotNetService.tt
  dotnet/samples/TestEnvoys/dtmi_akri_samples_memmon__1/GetRuntimeStatsCommandInvoker.g.cs
  dotnet/samples/TestEnvoys/dtmi_akri_samples_memmon__1/Memmon.g.cs
  dotnet/samples/TestEnvoys/dtmi_akri_samples_memmon__1/StartTelemetryCommandInvoker.g.cs
  dotnet/samples/TestEnvoys/dtmi_akri_samples_memmon__1/StopTelemetryCommandInvoker.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Counter__1/Counter.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Counter__1/IncrementCommandInvoker.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Counter__1/ReadCounterCommandInvoker.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Counter__1/ResetCommandInvoker.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Passthrough__1/PassCommandInvoker.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Passthrough__1/Passthrough.g.cs
  dotnet/samples/TestEnvoys/dtmi_rpc_samples_math__1/FibCommandInvoker.g.cs
  dotnet/samples/TestEnvoys/dtmi_rpc_samples_math__1/GetRandomCommandInvoker.g.cs
  dotnet/samples/TestEnvoys/dtmi_rpc_samples_math__1/IsPrimeCommandInvoker.g.cs
  dotnet/samples/TestEnvoys/dtmi_rpc_samples_math__1/Math.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/GetCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/PutCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/SchemaRegistry.g.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreGen/InvokeCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreGen/StateStore.g.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

try it out
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/MqttMessageSchemas/ThermostatStatusTelemetryMessageSchema.json
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

quotes
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[.NET] Derive MQTT message schema from dataset (#177)
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/MqttMessageSchemas/ThermostatStatusTelemetryMessageSchema.json
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Revert "[.NET] Derive MQTT message schema from dataset (#177)"
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/MqttMessageSchemas/ThermostatStatusTelemetryMessageSchema.json
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Clarify comment, fix import.
  go/protocol/internal/errutil/mqtt.go
Owners: @vishnureddy17, @clecompt-msft

[Go] Split up mqtt/util.go, move to internal where convenient (#169)
  go/mqtt/README.md
  go/mqtt/alias.go
  go/mqtt/auth_utils.go
  go/mqtt/auth_utils_test.go
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/fatal_error.go
  go/mqtt/internal/appendable_list_with_removal_test.go
  go/mqtt/internal/log_utils.go
  go/mqtt/internal/mqtt_string.go
  go/mqtt/internal/mqtt_string_test.go
  go/mqtt/internal/random_client_id.go
  go/mqtt/internal/user_properties.go
  go/mqtt/packet.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
  go/mqtt/subscribe.go
  go/mqtt/topic_filter.go
  go/mqtt/topic_filter_test.go
  go/mqtt/utils.go
Owners: @vishnureddy17, @clecompt-msft

something like this
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/ConnectorApp/Program.cs
  dotnet/samples/ConnectorApp/ThermostatHttpServerWorkerService.csproj
  dotnet/samples/ConnectorApp/ThermostatStatusHttpServerSampler.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.csproj
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericHttpConnectorWorkerService.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/HttpRequestContext.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/IDatasetSampler.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/SamplerContext.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Handle ack errors in protocol (#167)
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/errors/README.md
  go/protocol/internal/errutil/context.go
  go/protocol/internal/errutil/mqtt.go
  go/protocol/listener.go
  go/protocol/publisher.go
  go/protocol/telemetry_receiver.go
  go/protocol/telemetry_sender.go
  go/test/protocol/command_executor_tester.go
  go/test/protocol/command_invoker_tester.go
  go/test/protocol/common_tester.go
  go/test/protocol/stub_client.go
Owners: @vishnureddy17, @clecompt-msft

Reserve keys for cloud event.
  go/protocol/README.md
  go/protocol/telemetry_cloud_event.go
Owners: @vishnureddy17, @clecompt-msft

manually patch non-codegenned GreeterEnvoy
  dotnet/samples/TestEnvoys/Greeter/GreeterEnvoy.g.cs
  go/protocol/internal/topic.go
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @vishnureddy17, @clecompt-msft

Fix race.
  go/mqtt/README.md
  go/mqtt/auth.go
  go/mqtt/connect.go
  go/mqtt/packet.go
  go/mqtt/session_client.go
  go/samples/leasedlock/main.go
Owners: @vishnureddy17, @clecompt-msft

defer read of mqttClient.ClientId to StartAsync
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/dotnet/Command/t4/DotNetCommandExecutor.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/dotnet/Service/t4/DotNetService.tt
  dotnet/samples/TestEnvoys/Greeter/GreeterEnvoy.g.cs
  dotnet/samples/TestEnvoys/dtmi_akri_samples_memmon__1/GetRuntimeStatsCommandExecutor.g.cs
  dotnet/samples/TestEnvoys/dtmi_akri_samples_memmon__1/Memmon.g.cs
  dotnet/samples/TestEnvoys/dtmi_akri_samples_memmon__1/StartTelemetryCommandExecutor.g.cs
  dotnet/samples/TestEnvoys/dtmi_akri_samples_memmon__1/StopTelemetryCommandExecutor.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Counter__1/Counter.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Counter__1/IncrementCommandExecutor.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Counter__1/ReadCounterCommandExecutor.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Counter__1/ResetCommandExecutor.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Passthrough__1/PassCommandExecutor.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Passthrough__1/Passthrough.g.cs
  dotnet/samples/TestEnvoys/dtmi_rpc_samples_math__1/FibCommandExecutor.g.cs
  dotnet/samples/TestEnvoys/dtmi_rpc_samples_math__1/GetRandomCommandExecutor.g.cs
  dotnet/samples/TestEnvoys/dtmi_rpc_samples_math__1/IsPrimeCommandExecutor.g.cs
  dotnet/samples/TestEnvoys/dtmi_rpc_samples_math__1/Math.g.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandExecutor.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/GetCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/PutCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/SchemaRegistry.g.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreGen/InvokeCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreGen/StateStore.g.cs
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerRequestTopicExecutorIdWithoutReplacement_ThrowsException.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

[Go] Tag release
  go/go.work
  go/mqtt/go.mod
  go/protocol/go.mod
  go/samples/counter/envoy/go.mod
  go/samples/leasedlock/go.mod
  go/samples/statestore/go.mod
  go/services/go.mod
  go/test/protocol/go.mod
Owners: @vishnureddy17, @clecompt-msft

Update feature readme
  README.md
Owners: @ryanwinter

Upgrade dependencies.
  go/go.work.sum
  go/internal/go.mod
  go/internal/go.sum
  go/mqtt/go.mod
  go/mqtt/go.sum
  go/protocol/go.mod
  go/protocol/go.sum
  go/samples/counter/client/go.mod
  go/samples/counter/client/go.sum
  go/samples/counter/envoy/go.mod
  go/samples/counter/envoy/go.sum
  go/samples/counter/server/go.mod
  go/samples/counter/server/go.sum
  go/samples/greeter/client/go.mod
  go/samples/greeter/client/go.sum
  go/samples/greeter/envoy/go.mod
  go/samples/greeter/envoy/go.sum
  go/samples/greeter/server/go.mod
  go/samples/greeter/server/go.sum
  go/samples/leasedlock/go.mod
  go/samples/leasedlock/go.sum
  go/samples/statestore/go.mod
  go/samples/statestore/go.sum
  go/services/go.mod
  go/services/go.sum
  go/test/protocol/go.mod
  go/test/protocol/go.sum
Owners: @vishnureddy17, @clecompt-msft

Remove additional references to 0.1.1
  go/mqtt/go.sum
  go/samples/counter/client/go.mod
  go/samples/counter/client/go.sum
  go/samples/counter/envoy/go.sum
  go/samples/counter/server/go.mod
  go/samples/counter/server/go.sum
  go/samples/greeter/client/go.mod
  go/samples/greeter/client/go.sum
  go/samples/greeter/envoy/go.mod
  go/samples/greeter/envoy/go.sum
  go/samples/greeter/server/go.mod
  go/samples/greeter/server/go.sum
  go/samples/leasedlock/go.sum
  go/samples/statestore/go.sum
  go/services/go.sum
  go/test/protocol/go.sum
Owners: @vishnureddy17, @clecompt-msft

maybe
  dotnet/samples/ConnectorApp/ThermostatStatusHttpServerSampler.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/IDatasetSampler.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

renamed
  dotnet/samples/ConnectorApp/KubernetesResources/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Update setup-cluster.sh
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

factory
  dotnet/samples/ConnectorApp/Program.cs
  dotnet/samples/ConnectorApp/ThermostatStatusHttpServerSampler.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

?
  dotnet/samples/ConnectorApp/ThermostatStatusHttpServerSampler.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Log returned ack packets
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/internal/log_utils.go
  go/mqtt/publish.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

??
  dotnet/samples/ConnectorApp/ThermostatStatusHttpServerSampler.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

add unit tests of CombinedPrefixedReadOnlyDictionary
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/CombinedPrefixedReadOnlyDictionaryTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

wut
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

????
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

npe
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

cleanup
  dotnet/samples/ConnectorApp/ThermostatStatusHttpServerSampler.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

distinguish exception type
  dotnet/src/Azure.Iot.Operations.Protocol/AkriMqttException.cs
  dotnet/src/Azure.Iot.Operations.Protocol/MqttTopicProcessor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandExecutor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandInvoker.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Telemetry/TelemetryReceiver.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Telemetry/TelemetrySender.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/CommandInvokerTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/MqttTopicProcessorTests.cs
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerInvalidRequestTopicPattern_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerInvalidResponseTopicPrefix_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerInvalidResponseTopicSuffix_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerRequestTopicCommandNameWithInvalidReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerRequestTopicExecutorIdWithoutReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerRequestTopicModelIdWithInvalidReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerRequestTopicModelIdWithoutReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerResponseTopicPrefixCommandNameWithInvalidReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerResponseTopicPrefixExecutorIdWithoutReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerResponseTopicPrefixModelIdWithInvalidReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerResponseTopicPrefixModelIdWithoutReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerResponseTopicSuffixCommandNameWithInvalidReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerResponseTopicSuffixExecutorIdWithoutReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerResponseTopicSuffixModelIdWithInvalidReplacement_ThrowsException.yaml
  eng/test/test-cases/Protocol/CommandInvoker/CommandInvokerResponseTopicSuffixModelIdWithoutReplacement_ThrowsException.yaml
  go/protocol/internal/topic.go
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur, @vishnureddy17, @clecompt-msft

fix typo
  dotnet/samples/SampleCloudEvents/CombinedPrefixedReadOnlyDictionary.cs
  dotnet/samples/SampleReadCloudEvents/CombinedPrefixedReadOnlyDictionary.cs
  dotnet/samples/TestEnvoys/CombinedPrefixedReadOnlyDictionary.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/CombinedPrefixedReadOnlyDictionary.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/CombinedPrefixedReadOnlyDictionary.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Support/CombinedPrefixedReadOnlyDictionary.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

check for non-null ClientId in generated start and invoke methods
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/dotnet/Service/t4/DotNetService.tt
  dotnet/samples/TestEnvoys/Greeter/GreeterEnvoy.g.cs
  dotnet/samples/TestEnvoys/dtmi_akri_samples_memmon__1/Memmon.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Counter__1/Counter.g.cs
  dotnet/samples/TestEnvoys/dtmi_com_example_Passthrough__1/Passthrough.g.cs
  dotnet/samples/TestEnvoys/dtmi_rpc_samples_math__1/Math.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/SchemaRegistry.g.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreGen/StateStore.g.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

call DisposeAsync on Telemetry envoys
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/dotnet/Service/t4/DotNetService.tt
  dotnet/samples/SampleCloudEvents/dtmi_akri_samples_oven__1/Oven.g.cs
  dotnet/samples/SampleReadCloudEvents/dtmi_akri_samples_oven__1/Oven.g.cs
  dotnet/samples/TestEnvoys/dtmi_akri_samples_memmon__1/Memmon.g.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

changed dependency
  rust/Cargo.toml
  rust/azure_iot_operations_mqtt/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

[Go] Log returned ack packets (#179)
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/internal/log_utils.go
  go/mqtt/publish.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

Undo __sndId removal
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/internal/constants/metadata.go
  go/protocol/telemetry_receiver.go
  go/protocol/telemetry_sender.go
  go/protocol/telemetry_test.go
  go/protocol/types.go
Owners: @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
