Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

latest mqttconnectionsettings for CA cert
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Addressing comments
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender_sample.rs
  rust/azure_iot_operations_protocol/src/telemetry/cloud_event.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Go] Fix unhandled ack and greeter sample (#140)
  go/internal/mqtt/README.md
  go/internal/mqtt/types.go
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/go.mod
  go/mqtt/go.sum
  go/mqtt/log_utils.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
  go/protocol/README.md
  go/protocol/listener.go
  go/samples/greeter/envoy/greeter.go
  go/test/protocol/command_executor_tester.go
  go/test/protocol/stub_mqtt_client.go
Owners: @vishnureddy17, @clecompt-msft

should work now, minus SAT
  dotnet/samples/ConnectorApp/connector-config.yaml
  dotnet/samples/ConnectorApp/http-connector-secrets.yaml
  dotnet/samples/ConnectorApp/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

log this too
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix some logic in CreateFromMount flow (#138)
  dotnet/samples/ConnectorApp/Worker.cs
  dotnet/samples/ConnectorApp/connector-config.yaml
  dotnet/samples/ConnectorApp/http-connector-secrets.yaml
  dotnet/samples/ConnectorApp/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/ConnectorApp/setup-cluster.sh
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

add key notification apis back in
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Fix test.
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/session_client.go
  go/mqtt/test/session_client_mq_integration_test.go
Owners: @vishnureddy17, @clecompt-msft

mage ci
  go/services/statestore/README.md
Owners: @vishnureddy17, @clecompt-msft

fix spelling / broken links
  doc/lifecycle.md
  doc/reference/README.md
  doc/reference/shared-subscriptions.md
  doc/rpc-services.md
Owners: @ryanwinter

fix more links
  README.md
  dotnet/README.md
  dotnet/samples/README.md
Owners: @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i

initial implementation of key notifications
  rust/azure_iot_operations_services/Cargo.toml
  rust/azure_iot_operations_services/examples/state_store_client.rs
  rust/azure_iot_operations_services/src/state_store.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/azure_iot_operations_services/src/state_store/resp3.rs
Owners: @cartertinney, @vaavva, @RLeclair

Redesign KeyNotify to solve the replay-on-connect issue.
  go/samples/statestore/main.go
  go/services/statestore/client.go
  go/services/statestore/del.go
  go/services/statestore/get.go
  go/services/statestore/keynotify.go
  go/services/statestore/notify.go
  go/services/statestore/set.go
  go/services/statestore/vdel.go
Owners: @vishnureddy17, @clecompt-msft

mage ci
  go/services/statestore/README.md
Owners: @vishnureddy17, @clecompt-msft

more link fixes
  doc/reference/command-api.md
  doc/rpc-services.md
Owners: @ryanwinter

works?
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fixup
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

indefinite
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

server
  dotnet/samples/ConnectorApp/SampleHttpServer/server.js
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Separating cloud events
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender_sample.rs
  rust/azure_iot_operations_protocol/src/telemetry/cloud_event.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

Removing allow
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

clean telemetry correlation id
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender_sample.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

so far
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/MqttSessionClientFactoryProvider.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

genrerated files
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetCommandRequest.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetCommandResponse.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetEndpointProfileCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetEndpointProfileCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetEndpointProfileCommandRequest.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/CreateDiscoveredAssetEndpointProfileCommandResponse.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/DiscoveredAssetResources.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Enum_Com_Microsoft_Deviceregistry_DiscoveredTopicRetain__1.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Enum_CreateDiscoveredAssetEndpointProfile_Request_SupportedAuthenticationMethods_ElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Enum_CreateDiscoveredAssetEndpointProfile_Response_Status.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Enum_CreateDiscoveredAsset_Response_Status.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAssetEndpointProfile_Request.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAssetEndpointProfile_Response.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request_Datasets_ElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request_Datasets_ElementSchema_DataPoints_ElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request_Datasets_ElementSchema_Topic.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request_DefaultTopic.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request_Events_ElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Request_Events_ElementSchema_Topic.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/dtmi_com_microsoft_deviceregistry_DiscoveredAssetResources__1/Object_CreateDiscoveredAsset_Response.g.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

other wrapper files
  dotnet/src/Azure.Iot.Operations.Services/Akri/DateJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResourcesClient.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResourcesClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DurationJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/EmptyJson.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/IDiscoveredAssetResourcesClient.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/TimeJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Utf8JsonSerializer.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/discovered_resources_commands_v1.json
  dotnet/src/Azure.Iot.Operations.Services/Akri/gen.cmd
  dotnet/src/Azure.Iot.Operations.Services/Akri/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

address comments
  rust/azure_iot_operations_protocol/src/telemetry/cloud_event.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

clippy fix
  rust/azure_iot_operations_protocol/src/telemetry/cloud_event.rs
Owners: @cartertinney, @vaavva, @RLeclair

first connection channel func
  go/mqtt/test/shared_constants.go
  go/mqtt/test/util.go
Owners: @vishnureddy17, @clecompt-msft

update rust readme
  rust/README.md
Owners: @cartertinney, @vaavva, @RLeclair

Addressing comments
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

switch from rustls to native-tls. Still missing revocation check support
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

logs
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Reconnect and notify version.
  go/internal/mqtt/options.go
  go/internal/mqtt/types.go
  go/mqtt/README.md
  go/mqtt/alias.go
  go/mqtt/connect.go
  go/mqtt/session_client.go
  go/services/statestore/README.md
  go/services/statestore/client.go
  go/services/statestore/notify.go
  go/services/statestore/reconnect.go
Owners: @vishnureddy17, @clecompt-msft

mage ci
  go/internal/mqtt/README.md
  go/mqtt/README.md
  go/mqtt/connect.go
Owners: @vishnureddy17, @clecompt-msft

address PR comments
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Go] go/services release v0.0.1
  go/go.work
  go/samples/statestore/go.mod
Owners: @vishnureddy17, @clecompt-msft

[.NET] Add timestamp API for KEYNOTIFY scenarios
  dotnet/samples/PassiveReplicationSample/PassiveReplicationNode.cs
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/LeaderElectionClient.cs
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/LeadershipChangeEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/ObserveLeadershipChangesRequestOptions.cs
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/LeasedLockClient.cs
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/LockChangeEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/ObserveLockRequestOptions.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/KeyChangeMessageReceivedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreKeyNotification.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreObserveRequestOptions.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStorePayloadParser.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/LeaderElectionClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/LeasedLockClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/StateStoreClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/LeaderElection/LeaderElectionClientTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/LeasedLock/LeasedLockClientTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/StateStore/StateStorePayloadParserTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

rename tls builder
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
Owners: @cartertinney, @vaavva, @RLeclair

slim it down a bit
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/HttpDataRetriever.cs
  dotnet/samples/ConnectorApp/MachineLastMaintenance.cs
  dotnet/samples/ConnectorApp/MqttMessageSchemas/ThermostatLastMaintenanceTelemetryMessageSchema.json
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

less frequent
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i
