Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

true true
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fix linting
  README.md
  doc/setup.md
Owners: @ryanwinter

update api doc generate to .net 9
  .github/workflows/cd-docs.yml
Owners: @avishekpant

update status indicators on main readme
  README.md
Owners: @ryanwinter

path
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

internals visible to
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandResponseMetadata.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

tests
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/Azure.Iot.Operations.Connector.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Mqtt.IntegrationTests/Azure.Iot.Operations.Mqtt.IntegrationTests.csproj
  dotnet/test/Azure.Iot.Operations.Mqtt.UnitTests/Azure.Iot.Operations.Mqtt.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/Azure.Iot.Operations.Protocol.IntegrationTests.csproj
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/Azure.Iot.Operations.Protocol.MetlTests.csproj
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Azure.Iot.Operations.Protocol.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/Azure.Iot.Operations.Services.IntegrationTests.csproj
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Azure.Iot.Operations.Services.UnitTests.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "tests"
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/Azure.Iot.Operations.Connector.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Mqtt.IntegrationTests/Azure.Iot.Operations.Mqtt.IntegrationTests.csproj
  dotnet/test/Azure.Iot.Operations.Mqtt.UnitTests/Azure.Iot.Operations.Mqtt.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/Azure.Iot.Operations.Protocol.IntegrationTests.csproj
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/Azure.Iot.Operations.Protocol.MetlTests.csproj
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Azure.Iot.Operations.Protocol.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/Azure.Iot.Operations.Services.IntegrationTests.csproj
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Azure.Iot.Operations.Services.UnitTests.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "internals visible to"
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandResponseMetadata.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fix?
  dotnet/src/Azure.Iot.Operations.Mqtt/DebugBuildConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/DebugBuildConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
  dotnet/src/Azure.Iot.Operations.Services/DebugBuildConfiguration.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

one more
  dotnet/src/Azure.Iot.Operations.Protocol/DebugBuildConfiguration.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandResponseMetadata.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

sealed
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/X509ClientCertificateLocator.cs
  dotnet/src/Azure.Iot.Operations.Protocol/ExecutionDispatcher.cs
  dotnet/src/Azure.Iot.Operations.Protocol/ExecutionDispatcherCollection.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Models/ProtocolVersion.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandInvoker.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandResponseCache.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

more
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandResponseCache.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

more
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandResponseCache.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

????
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

?
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

nuget source
  dotnet/nuget.config
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "nuget source"
  dotnet/nuget.config
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

cs8002
  dotnet/Azure.Iot.Operations.sln
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "cs8002"
  dotnet/Azure.Iot.Operations.sln
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

noerror
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

release
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

?
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

doesn't work
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

delay sign
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

always
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Importing schema
  eng/dtdl/akri-observability-metrics-operations.json
  rust/azure_iot_operations_services/gen.sh
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

update Dockerfiles
  dotnet/nuget.config
  dotnet/samples/applications/EventDrivenApp/Dockerfile
  dotnet/samples/applications/EventDrivenApp/EventDrivenApp.csproj
  dotnet/templates/nuget.config
  go/samples/application/eventdrivenapp/Dockerfile
  samples/event_driven_app/README.md
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @clecompt-msft, @ryanwinter

Adding base
  eng/dtdl/akri-observability-metrics-operations.json
  rust/azure_iot_operations_services/Cargo.toml
  rust/azure_iot_operations_services/gen.sh
  rust/azure_iot_operations_services/src/lib.rs
  rust/azure_iot_operations_services/src/observability.rs
  rust/azure_iot_operations_services/src/observability/client.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/counter_schema.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/metric_schema.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/metric_scope.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/metric_type.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/telemetry_collection.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/telemetry_collection_serialization.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/telemetry_sender.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/common_types.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/common_types/b64.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/common_types/common_options.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/common_types/date_only.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/common_types/decimal.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/common_types/empty_json.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/common_types/time_only.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/mod.rs
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

probably keep
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

warnings as warnings
  dotnet/Directory.Build.props
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

notes
  dotnet/Directory.Build.props
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

refactor
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

metadata
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

should work?
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

<PackageProjectUrl>https://github.com/Azure/iot-operations-sdks/</PackageProjectUrl>
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

test checkout of privte repo
  .github/actions/deploy-aio/action.yml
Owners: @avishekpant

call install aio script directly
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

add secret for action repository
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
