Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

Update doc/dev/github.md
  doc/dev/github.md
Owners: @ryanwinter

error renamed
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

remove clone
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

so far
  doc/dev/adr/0020-error-modeling-headers.md
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/ApplicationError.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandExecutor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandInvoker.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandResponseMetadata.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/ExtendedResponse.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/ClientFactory.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/CounterEnvoyTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/CounterService.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/CommandExecutorTester.cs
Owners: @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add template VM
  tools/vmTemplate/README.md
  tools/vmTemplate/aioDeploy.json
Owners: @ryanwinter, @avishekpant

data type + serializer
  doc/dev/adr/0020-error-modeling-headers.md
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/ApplicationError.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandResponseMetadata.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/IHeaderPayloadSerializer.cs
Owners: @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Update 0020-error-modeling-headers.md
  doc/dev/adr/0020-error-modeling-headers.md
Owners: @ryanwinter

rc
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix?
  dotnet/src/Azure.Iot.Operations.Services/Assets/FilesMonitor/FilesMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

so far so good
  dotnet/samples/Protocol/Codegen/SampleServer/CounterService.cs
  dotnet/samples/Protocol/Codegen/SampleServer/CounterServiceApplicationError.cs
  dotnet/samples/Protocol/Codegen/SampleServer/ErrorPayloadJsonSerializer.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/ApplicationError.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandExecutor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandResponseMetadata.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/ExtendedResponse.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/IErrorHeaderPayloadSerializer.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

more
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandResponseMetadata.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/ExtendedResponse.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

1 observer
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

worth testing
  dotnet/samples/Protocol/Codegen/SampleClient/RpcCommandRunner.cs
  dotnet/samples/Protocol/Codegen/SampleClient/SampleClient.csproj
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/CounterEnvoyTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/CounterService.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/CounterServiceApplicationError.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/ErrorPayloadJsonSerializer.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

1 observer
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

asdf
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandExecutor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandInvoker.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandResponseMetadata.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/IErrorHeaderPayloadSerializer.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/ClientFactory.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

unused
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/ExtendedResponse.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

pretty good shape
  dotnet/samples/Protocol/Codegen/SampleServer/CounterService.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/ExtendedResponse.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/CounterService.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

change into obseravtion
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

change name to observe
  rust/azure_iot_operations_services/src/azure_device_registry/api.md
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

api
  rust/azure_iot_operations_services/src/azure_device_registry/api.md
Owners: @cartertinney, @vaavva, @RLeclair

api
  rust/azure_iot_operations_services/src/azure_device_registry/api.md
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

test
  dotnet/samples/Protocol/Codegen/SampleClient/Program.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

asdf
  dotnet/samples/Protocol/Codegen/SampleClient/Program.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Initial PoC for layering C# SDK on Rust SDK
  interop/dotnet/ProtocolInterop.Demo/ConditionSchema.cs
  interop/dotnet/ProtocolInterop.Demo/CounterError.cs
  interop/dotnet/ProtocolInterop.Demo/CounterErrorException.cs
  interop/dotnet/ProtocolInterop.Demo/CounterGroup.cs
  interop/dotnet/ProtocolInterop.Demo/IncrementCommandInvoker.cs
  interop/dotnet/ProtocolInterop.Demo/IncrementRequestPayload.cs
  interop/dotnet/ProtocolInterop.Demo/IncrementResponsePayload.cs
  interop/dotnet/ProtocolInterop.Demo/IncrementResponseSchema.cs
  interop/dotnet/ProtocolInterop.Demo/Program.cs
  interop/dotnet/ProtocolInterop.Demo/ProtocolInterop.Demo.csproj
  interop/dotnet/ProtocolInterop.sln
  interop/dotnet/ProtocolInterop/ProtocolInterop.csproj
  interop/dotnet/ProtocolInterop/RustShim.cs
  interop/rust/.cargo/config.toml
  interop/rust/protocol_interop/Cargo.toml
  interop/rust/protocol_interop/src/custom_payload.rs
  interop/rust/protocol_interop/src/lib.rs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @avishekpant

simpler
  dotnet/samples/Protocol/Codegen/SampleClient/RpcCommandRunner.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandResponseMetadata.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/ExtendedResponse.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/CounterEnvoyTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

derp
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/CounterEnvoyTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

rename
  dotnet/samples/Protocol/Codegen/SampleClient/RpcCommandRunner.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

api
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/api.md
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

examples
  doc/dev/adr/0020-error-modeling-headers.md
Owners: @ryanwinter

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEndpointProfile.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEndpointProfileResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDetectedAssetRequest.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDetectedAssetResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDiscoveredAssetEndpointProfileRequest.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDiscoveredAssetEndpointProfileResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DatasetsSchemaSchemaElementSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DetectedAssetDataPointSchemaElementSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DetectedAssetDatasetSchemaElementSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DetectedAssetEventSchemaElementSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/Error.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/EventsSchemaSchemaElementSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/GetAssetRequest.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/MessageSchemaReference.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/RetainSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/SupportedAuthenticationMethodsSchemaElementSchema.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/Topic.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/UpdateAssetEndpointProfileStatusRequest.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/UpdateAssetStatusRequest.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

take aep in asset observes
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

wordsmithing
  doc/dev/adr/0020-error-modeling-headers.md
Owners: @ryanwinter

* add API links to go readme * Clarify client wording on repo readme
  README.md
  go/README.md
Owners: @ryanwinter, @lev-i, @clecompt-msft

update support verbage
  README.md
  SUPPORT.md
Owners: @ryanwinter

update api docs html
  .github/pages/index.html
Owners: @avishekpant

response classes
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/api2.md
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

.net abstraction stuff
  dotnet/src/Azure.Iot.Operations.Protocol/AkriSystemProperties.cs
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/ILeaderElectionClient.cs
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/LeaderElectionClient.cs
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/ObserveLeadershipChangesRequestOptions.cs
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/LeasedLockClient.cs
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/ObserveLockRequestOptions.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/IStateStoreClient.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/IStateStoreGeneratedClientHolder.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreGeneratedClientHolder.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreObserveRequestOptions.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/LeaderElection/LeaderElectionClientTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/LeasedLock/LeasedLockClientTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/StateStore/StateStoreClientTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

logs
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Mqtt/Session/MqttSessionClient.cs
  dotnet/src/Azure.Iot.Operations.Mqtt/TokenRefreshTimer.cs
  dotnet/src/Azure.Iot.Operations.Protocol/AkriSystemProperties.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/X509ClientCertificateLocator.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/IStateStoreClient.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
  go/services/statestore/client.go
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_mqtt/src/session/state.rs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @clecompt-msft, @cartertinney, @vaavva, @RLeclair

keep
  dotnet/src/Azure.Iot.Operations.Services/StateStore/IStateStoreClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

keep
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
