Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

set working dir
  .github/workflows/ci-rust.yml
Owners: @jrdouceur

permissions
  .github/workflows/ci-rust.yml
Owners: @jrdouceur

try sudo;r
  .github/workflows/ci-rust.yml
Owners: @jrdouceur

not
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

bash shell
  .github/workflows/ci-rust.yml
Owners: @jrdouceur

try sudo again;r
  .github/workflows/ci-rust.yml
Owners: @jrdouceur

revert
  .github/workflows/ci-rust.yml
Owners: @jrdouceur

typo
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

renames
  .devcontainer/devcontainer.json
  .devcontainer/nightly/devcontainer.json
  .devcontainer/yaml/aio-nightly.yaml
  .devcontainer/yaml/aio-release.yaml
  dotnet/samples/CounterServer/deployment-no-tls.yaml
  dotnet/samples/PassiveReplicationSample/deploy.yaml
  dotnet/samples/PassiveReplicationSample/readme.md
  dotnet/samples/PassiveReplicationSample/setup.sh
  dotnet/samples/SampleCloudEvents/deployment.yaml
  dotnet/samples/SampleReadCloudEvents/deployment.yaml
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/deployment-local.yaml
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/deployment-no-tls.yaml
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/deployment.yaml
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

more
  dotnet/samples/PassiveReplicationSample/readme.md
  dotnet/samples/PassiveReplicationSample/setup.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

missed one. Add documentation
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

more
  .devcontainer/yaml/aio-nightly.yaml
  .devcontainer/yaml/aio-release.yaml
  .devcontainer/yaml/certificates.yaml
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

sat port 8884
  .devcontainer/yaml/aio-nightly.yaml
  .devcontainer/yaml/aio-release.yaml
  .github/workflows/ci-dotnet.yml
  tools/deployment/initialize-cluster.sh
Owners: @jrdouceur

more renames
  .devcontainer/devcontainer.json
  .devcontainer/nightly/devcontainer.json
  .devcontainer/yaml/aio-nightly.yaml
  .devcontainer/yaml/aio-release.yaml
  dotnet/samples/CounterServer/deployment-no-tls.yaml
  dotnet/samples/PassiveReplicationSample/deploy.yaml
  dotnet/samples/PassiveReplicationSample/readme.md
  dotnet/samples/SampleCloudEvents/deployment.yaml
  dotnet/samples/SampleReadCloudEvents/deployment.yaml
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/deployment-local.yaml
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/deployment-no-tls.yaml
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/deployment.yaml
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

local registry name
  tools/deployment/initialize-cluster.sh
Owners: @jrdouceur

temp
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

sleep a bit
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

list registries
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

127 0 0 1
  tools/deployment/initialize-cluster.sh
Owners: @jrdouceur

naming?
  tools/deployment/initialize-cluster.sh
Owners: @jrdouceur

revert temp
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

SAT port?
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/deployment-local.yaml
Owners: @jrdouceur

Revert "revert temp"
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

from outside the pod?
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

don't change this
  dotnet/README.md
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

move sat token generation to common area
  .github/workflows/ci-dotnet.yml
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

remove temp
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

pathing
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

comments, naming
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

Update ci-dotnet.yml
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

fix execute permissions on ci files
  rust/ci/check.sh
  rust/ci/coverage.sh
  rust/ci/test.sh
Owners: @cartertinney, @vaavva, @RLeclair

fixes
  .github/workflows/ci-rust.yml
  rust/Cargo.toml
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/clippy.toml
  rust/rust-toolchain.toml
Owners: @jrdouceur, @cartertinney, @vaavva, @RLeclair

removed comment
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update .github/workflows/ci-rust.yml
  .github/workflows/ci-rust.yml
Owners: @jrdouceur

Added version to local path
  rust/azure_iot_operations_protocol/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

removed completed comment
  rust/azure_iot_operations_protocol/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

So far
  .pipelines/cd-ado-dotnet.yml
  dotnet/nuget.config
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

remove go.sum files
  go/mqtt/go.sum
  go/protocol/go.sum
Owners: @vishnureddy17, @clecompt-msft

add workspace
  go/go.work
  go/go.work.sum
Owners: @vishnureddy17, @clecompt-msft

fix replace directives
  codegen/test/samples/go/go.mod
  go/mqtt/go.mod
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
