Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

Add banner comment.
  go/go.work
Owners: @vishnureddy17, @clecompt-msft

Fix code gen pathing in state store + schema registry scripts
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/gen.cmd
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.cmd
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix dtdl
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

a
  dotnet/src/Azure.Iot.Operations.Services/StateStore/dss.json
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Update dss.json
  dotnet/src/Azure.Iot.Operations.Services/StateStore/dss.json
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

reverted
  dotnet/src/Azure.Iot.Operations.Services/StateStore/dss.json
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Revert "maybe"
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Revert "maybe"
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

more
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/StateStore/dss.json
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

unix line endings
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

delete first
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

move dss dtdl
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
  eng/dtdl/statestore.json
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

derp
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

minor readme updates
  README.md
  tools/README.md
  tools/deployment/deploy-aio.sh
Owners: @ryanwinter, @jrdouceur

remove unused bash code
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

Remove prerelease flag for v0.
  go/tools/release.sh
Owners: @vishnureddy17, @clecompt-msft

Corrected comment.
  go/tools/release.sh
Owners: @vishnureddy17, @clecompt-msft

Add top-level Go readme.
  go/README.md
Owners: @vishnureddy17, @clecompt-msft

Fix a couple more readmes.
  go/README.md
  go/mqtt/magefile.go
  go/mqtt/test/README.md
  go/protocol/magefile.go
Owners: @vishnureddy17, @clecompt-msft

change comment style for Go
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/t4/GoCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/t4/GoCommandExecutor.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/t4/GoCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/t4/GoCommandInvoker.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Service/t4/GoService.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Service/t4/GoService.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Telemetry/t4/GoTelemetryReceiver.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Telemetry/t4/GoTelemetryReceiver.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Telemetry/t4/GoTelemetrySender.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Telemetry/t4/GoTelemetrySender.tt
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/t4/GoIntegerEnum.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/t4/GoIntegerEnum.tt
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/t4/GoObject.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/t4/GoObject.tt
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/t4/GoStringEnum.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/t4/GoStringEnum.tt
Owners: @jrdouceur

[Go] Add Raw encoding type.
  go/protocol/README.md
  go/protocol/encoding.go
Owners: @vishnureddy17, @clecompt-msft

Add MIME type.
  go/protocol/README.md
  go/protocol/encoding.go
Owners: @vishnureddy17, @clecompt-msft

[Go] initial statestore client implementation.
  go/go.work
  go/samples/statestore/go.mod
  go/samples/statestore/go.sum
  go/samples/statestore/main.go
  go/services/.gitignore
  go/services/.golangci.yml
  go/services/.gomarkdoc.yml
  go/services/go.mod
  go/services/go.sum
  go/services/magefile.go
  go/services/statestore/README.md
  go/services/statestore/internal/error.go
  go/services/statestore/internal/resp/format.go
  go/services/statestore/internal/resp/format_test.go
  go/services/statestore/internal/resp/parse.go
  go/services/statestore/internal/resp/parse_test.go
  go/services/statestore/options.go
  go/services/statestore/statestore.go
Owners: @vishnureddy17, @clecompt-msft

initial docs flow
  .github/workflows/cd-docs.yml
Owners: @jrdouceur

add index.html
  .github/workflows/cd-docs.yml
Owners: @jrdouceur

add workflow_dispatch to allow workflow to trigger manually
  .github/workflows/cd-docs.yml
  parse.sh
Owners: @jrdouceur

remove parse.sh
  parse.sh
Owners: @jrdouceur

enable on push
  .github/workflows/cd-docs.yml
Owners: @jrdouceur

fix tag variable
  .github/workflows/cd-docs.yml
Owners: @jrdouceur

mkdir _site for index generation
  .github/workflows/cd-docs.yml
Owners: @jrdouceur

switch back to tags trigger
  .github/workflows/cd-docs.yml
Owners: @jrdouceur

add gh-token
  .github/workflows/cd-docs.yml
Owners: @jrdouceur

patch up Rust CI
  rust/azure_iot_operations_protocol/resources/AVRO/common_types/empty_avro_serialization.rs
  rust/ci/check.sh
Owners: @cartertinney, @vaavva, @RLeclair

Initial commit
  README.md
  doc/setup-environment.md
  dotnet/samples/README.md
  samples/README.md
  tools/deployment/README.md
Owners: @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i

address spelling issues
  .vscode/cspell.json
  codegen/src/Akri.Dtdl.Codegen/EnvoyGenerator/EnvoyTransformFactory.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/dotnet/Command/code/DotNetCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/dotnet/Command/code/DotNetCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/dotnet/Command/t4/DotNetCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/dotnet/Command/t4/DotNetCommandExecutor.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/dotnet/Command/t4/DotNetCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/dotnet/Command/t4/DotNetCommandInvoker.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/dotnet/Service/code/DotNetService.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/dotnet/Service/t4/DotNetService.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/dotnet/Service/t4/DotNetService.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/dotnet/Telemetry/code/DotNetTelemetryReceiver.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/dotnet/Telemetry/code/DotNetTelemetrySender.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/code/RustCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/code/RustCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandExecutor.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandInvoker.tt
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

Added api doc link
  rust/azure_iot_operations_mqtt/README.md
  rust/azure_iot_operations_protocol/README.md
Owners: @cartertinney, @vaavva, @RLeclair

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
