Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

more spelling issues
  .vscode/cspell.json
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/ArrayType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/common/DotNetSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/common/GoSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/rust/common/RustSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/TypeGenerator/GoTypeGenerator.cs
  codegen/src/Akri.Dtdl.Codegen/TypeGenerator/RustTypeGenerator.cs
  codegen/test/Akri.Dtdl.Codegen.IntegrationTests/Akri.Dtdl.Codegen.IntegrationTests.SchemaExtractor/ArrayTypeInfo.cs
  codegen/test/Akri.Dtdl.Codegen.IntegrationTests/Akri.Dtdl.Codegen.IntegrationTests.SchemaExtractor/MapTypeInfo.cs
  codegen/test/Akri.Dtdl.Codegen.IntegrationTests/Akri.Dtdl.Codegen.IntegrationTests.T4/dotnet/common/AvroDotnetTranscoder.cs
  codegen/test/Akri.Dtdl.Codegen.IntegrationTests/Akri.Dtdl.Codegen.IntegrationTests.T4/dotnet/common/JsonDotnetTranscoder.cs
  codegen/test/Akri.Dtdl.Codegen.IntegrationTests/Akri.Dtdl.Codegen.IntegrationTests.T4/dotnet/common/ProtobufDotnetTranscoder.cs
  codegen/test/Akri.Dtdl.Codegen.IntegrationTests/Akri.Dtdl.Codegen.IntegrationTests.TestCaseGenerator/ArraySchemaInstantiator.cs
  codegen/test/Akri.Dtdl.Codegen.IntegrationTests/Akri.Dtdl.Codegen.IntegrationTests.TestCaseGenerator/MapSchemaInstantiator.cs
  rust/azure_iot_operations_protocol/resources/common/common_types/time_only.rs
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair

improve wrapper line spacing
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Service/t4/RustService.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Service/t4/RustService.tt
Owners: @jrdouceur

[Go] Parse token values from received topics.
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/command_test.go
  go/protocol/common_options.go
  go/protocol/internal/metadata.go
  go/protocol/internal/topic.go
  go/protocol/listener.go
  go/protocol/publisher.go
  go/protocol/telemetry_sender.go
  go/protocol/types.go
Owners: @vishnureddy17, @clecompt-msft

Add services to CI.
  .github/workflows/ci-go.yml
Owners: @jrdouceur

support raw serialization in Go codegen
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/code/GoCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/code/GoCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/t4/GoCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/t4/GoCommandExecutor.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/t4/GoCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/t4/GoCommandInvoker.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Service/t4/GoService.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Service/t4/GoService.tt
  codegen/test/samples/dtdl/CommandRaw.json
  codegen/test/samples/dtdl/TelemetryPrimitiveSchemas.json
  codegen/test/samples/go/gen.sh
  codegen/test/samples/go/go.mod
Owners: @jrdouceur

use DTDL v4 'nullable' in SchemaRegistry commands
  dotnet/samples/SampleCloudEvents/Worker.cs
  dotnet/samples/SchemaRegistrySample/Program.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/ISchemaRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry-1.json
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/Enum_Ms_Adr_SchemaRegistry_Format__1.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/Enum_Ms_Adr_SchemaRegistry_SchemaType__1.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/GetCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/GetCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/GetCommandRequest.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/GetCommandResponse.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/Object_Get_Request.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/Object_Ms_Adr_SchemaRegistry_Schema__1.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/Object_Put_Request.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/PutCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/PutCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/PutCommandRequest.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/PutCommandResponse.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/SchemaRegistry.g.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/SchemaRegistryClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add rough notify handler.
  go/protocol/command_executor.go
  go/protocol/listener.go
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/statestore.go
Owners: @vishnureddy17, @clecompt-msft

Fix invoker correlation.
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/listener.go
Owners: @vishnureddy17, @clecompt-msft

Address feedback and various edits
  README.md
  doc/setup-environment.md
  dotnet/samples/README.md
  tools/deployment/README.md
Owners: @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i

Revisit notify API.
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/statestore.go
Owners: @vishnureddy17, @clecompt-msft

more edits
  doc/setup-environment.md
  samples/README.md
  tools/deployment/README.md
Owners: @ryanwinter

More edits, mainly rust info
  doc/setup-environment.md
Owners: @ryanwinter

removed index.html
  rust/azure_iot_operations_mqtt/README.md
  rust/azure_iot_operations_protocol/README.md
Owners: @cartertinney, @vaavva, @RLeclair

Better validation.
  go/samples/statestore/main.go
  go/services/statestore/internal/resp/errors.go
  go/services/statestore/internal/resp/parse.go
  go/services/statestore/statestore.go
Owners: @vishnureddy17, @clecompt-msft

Fix comments and readme.
  go/services/statestore/README.md
  go/services/statestore/statestore.go
Owners: @vishnureddy17, @clecompt-msft

[Go] State store client improvements.
  go/protocol/README.md
  go/protocol/listener.go
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/errors/README.md
  go/services/statestore/errors/errors.go
  go/services/statestore/internal/error.go
  go/services/statestore/internal/resp/parse.go
  go/services/statestore/internal/resp/parse_test.go
  go/services/statestore/statestore.go
Owners: @vishnureddy17, @clecompt-msft

Switch to struct to align with .NET and Rust.
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/statestore.go
Owners: @vishnureddy17, @clecompt-msft

Use "version" terminology. Switch condition to string for documentation clarity.
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/options.go
  go/services/statestore/statestore.go
Owners: @vishnureddy17, @clecompt-msft

so far
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[.NET] Remove references to state store set response retrieving the previous value
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/LeasedLockClient.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreSetResponse.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/LeasedLock/LeasedLockClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add fencing token.
  go/services/statestore/README.md
  go/services/statestore/options.go
  go/services/statestore/statestore.go
Owners: @vishnureddy17, @clecompt-msft

a few more
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/CampaignResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/LeaderElectionClient.cs
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/AcquireLockResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/LeasedLockClient.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/LeaderElection/LeaderElectionClientTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/LeasedLock/LeasedLockClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add fencing token options to the delete methods and a timeout option to all methods.
  go/services/statestore/README.md
  go/services/statestore/del.go
  go/services/statestore/get.go
  go/services/statestore/options.go
  go/services/statestore/set.go
  go/services/statestore/statestore.go
  go/services/statestore/vdel.go
Owners: @vishnureddy17, @clecompt-msft

statestore -> client
  go/services/statestore/client.go
Owners: @vishnureddy17, @clecompt-msft

mage ci
  go/services/statestore/README.md
Owners: @vishnureddy17, @clecompt-msft

so far
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfile.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfileCredentials.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/CredentialsFileChangedEventArgs.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

make nested errors implement Send to simplify application logic
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/src/common/aio_protocol_error.rs
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix over-specialization of type parameters
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandExecutor.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandInvoker.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Service/t4/RustService.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Service/t4/RustService.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Telemetry/t4/RustTelemetrySender.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Telemetry/t4/RustTelemetrySender.tt
Owners: @jrdouceur

Post-merge cleanup.
  go/services/statestore/README.md
  go/services/statestore/client.go
  go/services/statestore/notify.go
Owners: @vishnureddy17, @clecompt-msft

so far
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfile.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetEndpointProfileCredentials.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

add CommandComplexSchemas sample
  codegen/test/samples/dotnet/gen.sh
  codegen/test/samples/dtdl/CommandComplexSchemas.json
  codegen/test/samples/go/gen.sh
  codegen/test/samples/rust/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

Additional post-merge cleanup.
  go/samples/statestore/main.go
  go/services/statestore/client.go
  go/services/statestore/keynotify.go
  go/services/statestore/notify.go
Owners: @vishnureddy17, @clecompt-msft

move generated Rust wrapper code up two layers
  codegen/src/Akri.Dtdl.Codegen/EnvoyGenerator/EnvoyTransformFactory.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandExecutor.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandInvoker.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Project/code/RustNamespace.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Project/t4/RustLib.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Project/t4/RustLib.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Serialization/t4/RustSerialization.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Serialization/t4/RustSerialization.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Service/code/RustService.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Service/t4/RustService.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Service/t4/RustService.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Telemetry/t4/RustTelemetrySender.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Telemetry/t4/RustTelemetrySender.tt
Owners: @jrdouceur

enforce JSON Schema 'required' attribute in C# codegen
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/code/DotNetObject.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/common/DotNetSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/t4/DotNetObject.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/t4/DotNetObject.tt
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Miscellaneous fixes.
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/common_options.go
  go/protocol/listener.go
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/client.go
Owners: @vishnureddy17, @clecompt-msft

relocate Rust serialization resources from SDK to codegen tree
  codegen/res/rust/AVRO/common_types.rs
  codegen/res/rust/AVRO/common_types/empty_avro.rs
  codegen/res/rust/AVRO/common_types/empty_avro_serialization.rs
  codegen/res/rust/JSON/common_types.rs
  codegen/res/rust/JSON/common_types/empty_json.rs
  codegen/res/rust/JSON/common_types/empty_json_serialization.rs
  codegen/res/rust/common/common_types.rs
  codegen/res/rust/common/common_types/b64.rs
  codegen/res/rust/common/common_types/date_only.rs
  codegen/res/rust/common/common_types/time_only.rs
  codegen/res/rust/raw/common_types.rs
  codegen/res/rust/raw/common_types/bytes.rs
  codegen/res/rust/raw/common_types/bytes_serialization.rs
  codegen/src/Akri.Dtdl.Codegen/Akri.Dtdl.Codegen.csproj
Owners: @jrdouceur

some tests
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Azure.Iot.Operations.Services.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_ADDITIONAL_CONFIGURATION
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_AUTHENTICATION_METHOD
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_PASSWORD_SECRET_NAME
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_TARGET_ADDRESS
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/AEP_USERNAME_SECRET_NAME
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/config/ENDPOINT_PROFILE_TYPE
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/secret/aep_password/some-password
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/testFiles/secret/aep_username/some-username
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix payload serialize error
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

replace Rust codegen deref with passthrough API
  codegen/src/Akri.Dtdl.Codegen/EnvoyGenerator/EnvoyTransformFactory.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/code/RustCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandExecutor.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/rust/Command/t4/RustCommandInvoker.tt
Owners: @jrdouceur

change exception type per review suggestion
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/t4/DotNetObject.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/t4/DotNetObject.tt
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
