Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

revert bad link, and switch back to action
  .github/workflows/ci-markdown.yml
  README.md
Owners: @avishekpant, @ryanwinter

remove show stats to reduce load
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

switch to fail reviewdog on errro
  .github/workflows/ci-markdown.yml
  links.txt
Owners: @avishekpant

revert few more changes
  .github/.linkspector.yml
  links.txt
Owners: @avishekpant

revert one last change
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

test new
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Address CR comments
  rust/azure_iot_operations_services/src/leased_lock.rs
  rust/azure_iot_operations_services/src/leased_lock/lease.rs
  rust/azure_iot_operations_services/src/leased_lock/lock.rs
Owners: @cartertinney, @vaavva, @RLeclair

Add wait logic in lock::Client::lock(...)
  rust/azure_iot_operations_services/src/leased_lock/lock.rs
  rust/azure_iot_operations_services/tests/lock_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

docs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET] Enhance error handling by updating asset status on schema registration failure
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Update connection-settings.md default broker listener port
  doc/reference/connection-settings.md
Owners: @ryanwinter

move Arc to be on ConnectorContext instead of DataTransformer. Update add_sampled_data to return no Completion Token. Remove datapoint from being on add sampled data.
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/data_transformer.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
Owners: @cartertinney, @vaavva, @RLeclair

Changing from ; delineation to newline
  rust/azure_iot_operations_connector/examples/filemount_azure_device_registry_observation.rs
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

check if this passes build
  rust/azure_iot_operations_services/src/common.rs
Owners: @cartertinney, @vaavva, @RLeclair

allow
  rust/azure_iot_operations_services/src/common.rs
Owners: @cartertinney, @vaavva, @RLeclair

rename managed things to client for clarity
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

one test
  dotnet/Azure.Iot.Operations.sln
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/Azure.Iot.Operations.Connector.IntegrationTests.csproj
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/ClientFactory.cs
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/PollingRestThermostatConnectorTests.cs
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/ThermostatStatus.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Update PollingRestThermostatConnectorTests.cs
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/PollingRestThermostatConnectorTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

some prep changes
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceConfigStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceEndpointsStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceStatus.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ProtocolConverter.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ProtocolConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

tcp test
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/ConnectorTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Address CR comments
  rust/azure_iot_operations_services/Cargo.toml
  rust/azure_iot_operations_services/examples/lock_client.rs
  rust/azure_iot_operations_services/src/leased_lock.rs
  rust/azure_iot_operations_services/src/leased_lock/lease.rs
  rust/azure_iot_operations_services/src/leased_lock/lock.rs
  rust/azure_iot_operations_services/src/lib.rs
  rust/azure_iot_operations_services/tests/lease_client_tests.rs
  rust/azure_iot_operations_services/tests/lock_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

chmod
  dotnet/samples/Connectors/SqlConnector/deploy-connector-and-device.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fsnotify and pipeline fixes
  go/services/adr/API.md
  go/services/adr/client.go
  go/services/adr/internal/adrbaseservice/API.md
  go/services/adr/internal/aeptypeservice/API.md
  go/services/connector/API.md
  go/services/connector/main.go
Owners: @lev-i, @clecompt-msft

sql
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/sql-server-asset-definition.yaml
  dotnet/samples/Connectors/SqlConnector/deploy-connector-and-device.sh
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/ConnectorTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Adding platform independent writes to test and example
  rust/azure_iot_operations_connector/examples/filemount_azure_device_registry_observation.rs
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Missing dataSetConfiguration dtdl
  eng/dtdl/device-name-based-operations.json
Owners: @avishekpant

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

progress
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

casing?
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/sql-server-asset-definition.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "casing?"
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/sql-server-asset-definition.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

ttl
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

wip
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Regenerating adr dtdl + adding extra field on dataset struct
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/device_name_gen/adr_base_service/asset_dataset_schema_element_schema.rs
Owners: @cartertinney, @vaavva, @RLeclair

asdf
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset1-definition.yaml
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/ConnectorTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "asdf"
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset1-definition.yaml
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

notes
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/ConnectorTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

wip
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair
