Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

Extraneous file
  .devcontainer/token.txt
Owners: @jrdouceur

fix links to state store protocol
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/README.md
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/README.md
  dotnet/src/Azure.Iot.Operations.Services/StateStore/README.md
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Build DSS CLI in .NET CI pipeline
  .github/workflows/ci-dotnet.yml
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/Azure.Iot.Operations.Services.DssCli.csproj
Owners: @jrdouceur

add basic drop with unsubscribe to invoker
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

remove unneeded unused
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

Change callback
  dotnet/samples/StateChangeSample/Program.cs
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/LeasedLockClient.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/IStateStoreClient.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Assign version prefixes to all .NET packages we will ship
  codegen/src/Akri.Dtdl.Codegen/Akri.Dtdl.Codegen.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/Azure.Iot.Operations.Services.DssCli.csproj
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

remove .net Directory.Build.Props files
  codegen/src/Directory.Build.props
  dotnet/src/Directory.Build.props
  tools/dsscli/src/Directory.Build.props
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

Create Directory.Build.props
  codegen/src/Directory.Build.props
Owners: @jrdouceur

turn auto ack on for the invoker
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

address PR comments
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

support 'bytes' schema type in .NET SDK and codegen
  codegen/src/Akri.Dtdl.Codegen/SchemaGenerator/SchemaTransformFactory.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/BytesType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/common/DotNetSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/common/GoSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/rust/common/RustSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/common/JsonSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/TypeGenerator/JsonSchemaStandardizer.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serialization/JsonSerializerTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/CBOR/BytesCborConverter.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/CBOR/CborSerializer.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/CBOR/UuidCborConverter.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/JSON/BytesJsonConverter.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/JSON/Utf8JsonSerializer.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Serializers/JSON/UuidJsonConverter.cs
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

fixed dotnet links
  .github/.linkspector.yml
  .github/workflows/ci-markdown.yml
  .linkspector.yml
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/README.md
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

add cspell action
  .github/workflows/ci-markdown.yml
Owners: @jrdouceur

unnecessary
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/DssClientService.cs
Owners: @jrdouceur

spell fixes
  README.md
Owners: @ryanwinter

add cspell config
  .github/workflows/ci-markdown.yml
  .gitignore
  .vscode/cspell.json
Owners: @jrdouceur

fix cspell config path
  .github/workflows/ci-markdown.yml
Owners: @jrdouceur

cspell ignore dotfiles
  .github/workflows/ci-markdown.yml
Owners: @jrdouceur

support 'bytes' schema type in Go SDK and codegen
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/common/GoSchemaSupport.cs
  go/protocol/b64/README.md
  go/protocol/b64/types.go
  go/protocol/b64/types_test.go
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

verbose spell check
  .github/workflows/ci-markdown.yml
Owners: @jrdouceur

fix lint issue
  go/protocol/b64/types_test.go
Owners: @vishnureddy17, @clecompt-msft

check dot files update
  .github/workflows/ci-markdown.yml
Owners: @jrdouceur

define cspell glob
  .github/workflows/ci-markdown.yml
Owners: @jrdouceur

spell check all files for initial run
  .github/workflows/ci-markdown.yml
Owners: @jrdouceur

[Go] Improve cache handling for long-running requests.
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/internal/caching/cache.go
  go/protocol/internal/caching/cache_test.go
  go/protocol/internal/container/priority_map.go
  go/protocol/internal/container/priority_queue.go
Owners: @vishnureddy17, @clecompt-msft

second attempt fixing lint issue
  go/protocol/b64/types.go
  go/protocol/b64/types_test.go
Owners: @vishnureddy17, @clecompt-msft

add language settings for go rust csharp
  .vscode/cspell.json
Owners: @jrdouceur

Remove directory.build.props file from code gen folder
  codegen/src/Akri.Dtdl.Codegen/SchemaGenerator/SchemaTransformFactory.cs
  codegen/src/Directory.Build.props
Owners: @jrdouceur

add words to cspell
  .vscode/cspell.json
Owners: @jrdouceur

more langauge testing
  .vscode/cspell.json
Owners: @jrdouceur

address PR comments
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/common/GoSchemaSupport.cs
  go/protocol/b64/README.md
  go/protocol/b64/types.go
  go/protocol/b64/types_test.go
  go/protocol/iso/README.md
  go/protocol/iso/types.go
  go/protocol/iso/types_test.go
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

remove `ThisAssembly` references from codegen
  codegen/src/Akri.Dtdl.Codegen/EnvoyGenerator/EnvoyTransformFactory.cs
  codegen/src/Akri.Dtdl.Codegen/SchemaGenerator/SchemaTransformFactory.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/dotnet/Project/code/DotNetProject.cs
  codegen/test/Akri.Dtdl.Codegen.UnitTests/EnvoyGeneratorTests/DotNetProjectTests.cs
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

delete unused .net CD pipeline
  .pipelines/cd-ado-dotnet.yml
  .pipelines/config/CredScanSuppressions.json
Owners: @jrdouceur

update spelling check
  .github/workflows/ci-markdown.yml
  .vscode/cspell.json
  dotnet/samples/PassiveReplicationSample/readme.md
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/README.md
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/README.md
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

add cspell dictionaries
  .gitignore
  .vscode/cspell.json
  .vscode/dictionaries/dtdl.txt
  .vscode/dictionaries/gosdk.txt
  .vscode/dictionaries/mqtt.txt
Owners: @jrdouceur

ignore codeblocks in markdown
  .vscode/cspell.json
Owners: @jrdouceur

add additional words
  .vscode/cspell.json
  .vscode/dictionaries/gosdk.txt
Owners: @jrdouceur

update npm to remove warning
  .github/workflows/ci-markdown.yml
Owners: @jrdouceur

update to newest possible npm
  .github/workflows/ci-markdown.yml
Owners: @jrdouceur
