Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

new and start method frame with full error handling for spinning up the connector. WIP some error handling and docs
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
Owners: @cartertinney, @vaavva, @RLeclair

add debug configuration to docfx properties
  .github/pages/docfx.json
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

rc
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Add lease and lock auto-renewal
  rust/azure_iot_operations_services/examples/leased_lock_client.rs
  rust/azure_iot_operations_services/src/leased_lock/client.rs
  rust/azure_iot_operations_services/src/leased_lock/lease.rs
  rust/azure_iot_operations_services/tests/lease_client_tests.rs
  rust/azure_iot_operations_services/tests/lock_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

rc
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

rc
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

rc
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

client
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/common.rs
Owners: @cartertinney, @vaavva, @RLeclair

test1
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

from
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update tests
  rust/azure_iot_operations_services/tests/lease_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

Fix more tests
  rust/azure_iot_operations_services/tests/lock_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

Remove unused import
  rust/azure_iot_operations_services/tests/lock_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

Fix another test
  rust/azure_iot_operations_services/tests/lease_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

update to call action, rather than script directly.
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

fix action path
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

typo
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

poc for connector surfaces
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/data_transformer.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

add akri version
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

wip
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

doc
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Rust] Add the Debug and Getters traits to MqttConnectionSettings
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

test
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

tests
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Fix AVRO codegen when type is repeated
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Array/code/ArrayAvroSchema.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Array/t4/ArrayAvroSchema.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Command/code/CommandAvroSchema.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Command/t4/CommandAvroSchema.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Enum/t4/EnumAvroSchema.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Map/code/MapAvroSchema.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Map/t4/MapAvroSchema.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Nullable/code/NullableAvroSchema.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Nullable/t4/NullableAvroSchema.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Object/code/ObjectAvroSchema.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Object/code/ResultAvroSchema.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Object/t4/ObjectAvroSchema.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Object/t4/ResultAvroSchema.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Telemetry/code/TelemetryAvroSchema.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/Telemetry/t4/TelemetryAvroSchema.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/serialization/common/AvroSchemaSupport.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/TypeGenerator/AvroSchemaStandardizer.cs
Owners: @avishekpant

Accept Copilot suggestion
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/TypeGenerator/AvroSchemaStandardizer.cs
Owners: @avishekpant

remove unnecessary test
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET] Bump versions for 5/1/2025 release
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

wip
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

pipeline
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

?
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
