Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft, @timtay-microsoft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

@timtay-microsoft @olivakar @maximsemenov80 @cartertinney @vaavva @RLeclair @clecompt-msft

dotnet  @timtay-microsoft @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @clecompt-msft

wip
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

match endpoint type
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @olivakar, @maximsemenov80

Update AdrServiceClientIntegrationTests.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @olivakar, @maximsemenov80

rename
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/CreateDiscoveredDeviceRequest.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ProtocolConverter.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @olivakar, @maximsemenov80

tests$
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

todo comment
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

rename
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

error doc and todo
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

add todo comments
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Version bump
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_services/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

updates/fixes from merge in from feature/akri
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/models/asset.rs
Owners: @cartertinney, @vaavva, @RLeclair

spelling
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update device discovery and adr base dtdls
  eng/dtdl/adr-base-service.json
  eng/dtdl/device-discovery-service.json
Owners: @avishekpant

combine deletion and update flow for assets
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions.rs
  rust/azure_iot_operations_connector/examples/filemount_azure_device_registry_observation.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/filemount/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

Generalize resolver so it can be used in the ProtocolCompiler
  poc/Opc2Dtdl/Yaml2Dtdl/Program.cs
  poc/Opc2Dtdl/Yaml2Dtdl/Resolver.cs
  poc/Opc2Dtdl/Yaml2Dtdl/TypeConverter.cs
  poc/Opc2Dtdl/resolver.json
Owners: @avishekpant
