Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

it builds, and has some shape to it. Multiple datasets for sample purposes seems more reasonable to add now
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.csproj
  dotnet/samples/ConnectorApp/HttpDataRetriever.cs
  dotnet/samples/ConnectorApp/MqttSessionClientFactoryProvider.cs
  dotnet/samples/ConnectorApp/Program.cs
  dotnet/samples/ConnectorApp/ThermostatHttpServerWorkerService.csproj
  dotnet/samples/ConnectorApp/ThermostatStatusHttpServerSampler.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericHttpConnectorWorkerService.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/GenericHttpServerConnectorWorkerService.csproj
  dotnet/samples/GenericHttpServerConnectorWorkerService/HttpRequestContext.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/IHttpServerDatasetSampler.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/MqttSessionClientFactoryProvider.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/Program.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/Worker.cs
  dotnet/samples/GenericHttpServerConnectorWorkerService/appsettings.Development.json
  dotnet/samples/GenericHttpServerConnectorWorkerService/appsettings.json
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix faultable broker ignoring delay and reasoncode
  eng/test/faultablemqttbroker/src/Azure.Iot.Operations.FaultableMqttBroker/FaultableMqttBroker.cs
Owners: @jrdouceur

Update to README for Rust features
  README.md
Owners: @ryanwinter

Remove redundant WithTopicTokens in Go METL and codegen
  codegen/build.cmd
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/go/Command/t4/GoCommandInvoker.tt
  go/test/protocol/binders.go
  go/test/protocol/command_invoker_tester.go
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

run mage
  go/test/protocol/binders.go
Owners: @vishnureddy17, @clecompt-msft

Fix how faultable broker responds to connection drop fault requests
  eng/test/faultablemqttbroker/src/Azure.Iot.Operations.FaultableMqttBroker/FaultableMqttBroker.cs
Owners: @jrdouceur

Documentation minor update
  rust/azure_iot_operations_protocol/README.md
  rust/azure_iot_operations_protocol/src/telemetry.rs
  rust/azure_iot_operations_protocol/src/telemetry/cloud_event.rs
  rust/azure_iot_operations_services/README.md
Owners: @cartertinney, @vaavva, @RLeclair

run CI on faultable broker changes
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-rust.yml
Owners: @jrdouceur

Doc fixes
  rust/azure_iot_operations_protocol/src/lib.rs
  rust/azure_iot_operations_protocol/src/telemetry/cloud_event.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
  rust/azure_iot_operations_services/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

Removing mention of protocol
  rust/azure_iot_operations_services/README.md
Owners: @cartertinney, @vaavva, @RLeclair

so far
  dotnet/samples/ConnectorApp/setup-cluster.sh
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

assert the disconnect reason
  dotnet/test/Azure.Iot.Operations.Mqtt.IntegrationTests/MqttSessionClientFaultInjectionTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

temp
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

keep?
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix asset
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

naming
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

aep ref
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

file mount
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Update ServiceError and add KLZ test
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreOperationException.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/StateStoreClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

naming
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

who knows? Unit tests probably need path adjustments
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-server.yaml
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

send ack if fault has no delay
  eng/test/faultablemqttbroker/src/Azure.Iot.Operations.FaultableMqttBroker/FaultHandling.cs
  eng/test/faultablemqttbroker/src/Azure.Iot.Operations.FaultableMqttBroker/FaultableMqttBroker.cs
Owners: @jrdouceur

Make timeout -> expiry more explicit.
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/internal/timeout.go
  go/protocol/publisher.go
  go/protocol/telemetry_sender.go
  go/samples/greeter/client/main.go
Owners: @vishnureddy17, @clecompt-msft

Post-merge fix.
  go/services/statestore/keynotify.go
Owners: @vishnureddy17, @clecompt-msft

Add wrong number arguments test
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/StateStoreClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Handle ack errors in protocol
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/errors/README.md
  go/protocol/internal/errutil/context.go
  go/protocol/internal/errutil/mqtt.go
  go/protocol/listener.go
  go/protocol/publisher.go
  go/protocol/telemetry_receiver.go
  go/protocol/telemetry_sender.go
  go/test/protocol/command_executor_tester.go
  go/test/protocol/command_invoker_tester.go
  go/test/protocol/common_tester.go
  go/test/protocol/stub_client.go
Owners: @vishnureddy17, @clecompt-msft

pathing
  dotnet/samples/ConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

links?
  dotnet/samples/ConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

to revert
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

rename
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AzureDeviceRegistry/AzureDeviceRegistryClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

maybe?
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

revert?
  dotnet/samples/ConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

link?
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

actually get asset now
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/samples/ConnectorApp/KubernetesResources/http-server-asset-definition.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

build t4 on demand for .net core builds
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
Owners: @jrdouceur

format fixes
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
Owners: @jrdouceur

[Go] Split up mqtt/util.go, move to internal where convenient
  go/mqtt/README.md
  go/mqtt/alias.go
  go/mqtt/auth_utils.go
  go/mqtt/auth_utils_test.go
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/fatal_error.go
  go/mqtt/internal/appendable_list_with_removal_test.go
  go/mqtt/internal/log_utils.go
  go/mqtt/internal/mqtt_string.go
  go/mqtt/internal/mqtt_string_test.go
  go/mqtt/internal/random_client_id.go
  go/mqtt/internal/user_properties.go
  go/mqtt/packet.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
  go/mqtt/subscribe.go
  go/mqtt/topic_filter.go
  go/mqtt/topic_filter_test.go
  go/mqtt/utils.go
Owners: @vishnureddy17, @clecompt-msft

more doc updates
  doc/overview.md
  doc/setup.md
Owners: @ryanwinter

add back missing t4 generated cs.
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
Owners: @jrdouceur

this is awful
  dotnet/samples/ConnectorApp/HttpConnectorWorkerService.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AssetInternal.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
