Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

asdf
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/ConnectorAppIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

With some tests
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResourcesClient.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/IDiscoveredAssetResourcesClient.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/DiscoveredAssetResourcesClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

works
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/ConnectorAppIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Remove some error wrapping and add additional error logging
  go/internal/log/logger.go
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/errors.go
  go/mqtt/fatal_error.go
  go/mqtt/net.go
  go/mqtt/publish.go
  go/mqtt/retry/exponential_backoff.go
  go/mqtt/retry/logger.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

Add a basic integration test for the connector app, run the connector app at the gate (#193)
  .github/workflows/ci-dotnet.yml
  dotnet/samples/HttpThermostatConnectorApp/deploy-connector-and-asset.sh
  dotnet/samples/HttpThermostatConnectorApp/setup-cluster.sh
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/Azure.Iot.Operations.Services.IntegrationTests.csproj
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/ConnectorAppIntegrationTests.cs
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add interval.
  go/mqtt/retry/exponential_backoff.go
  go/mqtt/retry/logger.go
Owners: @vishnureddy17, @clecompt-msft

push updates
  README.md
  doc/dev/codespaces.md
  doc/dev/packaging.md
  tools/deployment/deploy-aio.sh
  tools/deployment/yaml/broker-values.yaml
  tools/github/github-auth.sh
Owners: @ryanwinter, @jrdouceur

fine tune setup
  doc/setup.md
Owners: @ryanwinter

Miscellaneous minor fixes, mostly to docs
  codegen/test/samples/rust/.cargo/config.toml
  doc/dev/generated/MetlCases.md
  doc/dev/generated/MetlSpec.md
  doc/dev/proto/MetlSpecProto.xml
Owners: @jrdouceur, @ryanwinter

Ready
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender_sample.rs
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

maybe
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

to revert
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

fixed
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

Revert "to revert"
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

Output connector app logs at the end of .NET CI pipeline (#195)
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

Cleanup
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

maybe
  dotnet/samples/GenericConnectorWorkerService/GenericConnectorWorkerService.cs
  dotnet/samples/GenericConnectorWorkerService/IDatasetSampler.cs
  dotnet/samples/GenericConnectorWorkerService/IDatasetSamplerFactory.cs
  dotnet/samples/HttpThermostatConnectorApp/Program.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatDatasetSamplerFactory.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatusDatasetSampler.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

nits
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatusDatasetSampler.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Generalize --sdkPath option for Rust
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/EnvoyGenerator/EnvoyGenerator.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Program.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/t4/RustCargoToml.tt
Owners: @jrdouceur

Review feedback.
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/constants.go
  go/mqtt/errors.go
  go/mqtt/session_client.go
Owners: @vishnureddy17, @clecompt-msft

derp
  dotnet/samples/HttpThermostatConnectorApp/ThermostatDatasetSamplerFactory.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Remove some error wrapping and add additional error logging (#192)
  go/internal/log/logger.go
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/constants.go
  go/mqtt/errors.go
  go/mqtt/fatal_error.go
  go/mqtt/net.go
  go/mqtt/publish.go
  go/mqtt/retry/exponential_backoff.go
  go/mqtt/retry/logger.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

[Go] Backport session-lost handling and retry condition fix
  go/go.work
  go/mqtt/connect.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy.go
  go/mqtt/test/session_client_mq_integration_test.go
  go/samples/counter/client/go.mod
  go/samples/counter/server/go.mod
  go/samples/greeter/client/go.mod
  go/samples/greeter/server/go.mod
  go/samples/statestore/go.mod
  go/test/protocol/go.mod
Owners: @vishnureddy17, @clecompt-msft

initial stab at adapting auth interfaces
  go/mqtt/auth.go
  go/mqtt/connect.go
  go/mqtt/session_client.go
  go/mqtt/session_client_options.go
Owners: @vishnureddy17, @clecompt-msft

Cleanup pass
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

so far
  dotnet/samples/GenericConnectorWorkerService/GenericConnectorWorkerService.cs
  dotnet/samples/GenericConnectorWorkerService/IDatasetSamplerFactory.cs
  dotnet/samples/GenericConnectorWorkerService/SamplerContext.cs
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpThermostatConnectorApp/ThermostatDatasetSamplerFactory.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatus.cs
  dotnet/samples/HttpThermostatConnectorApp/appsettings.json
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix for counter_client
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Go] Backport session-lost handling and retry condition fix (#197)
  go/go.work
  go/mqtt/connect.go
  go/mqtt/retrypolicy/exponential_backoff_retrypolicy.go
  go/mqtt/test/session_client_mq_integration_test.go
  go/samples/counter/client/go.mod
  go/samples/counter/server/go.mod
  go/samples/greeter/client/go.mod
  go/samples/greeter/server/go.mod
  go/samples/statestore/go.mod
  go/test/protocol/go.mod
Owners: @vishnureddy17, @clecompt-msft

more
  dotnet/samples/GenericConnectorWorkerService/GenericConnectorWorkerService.cs
  dotnet/samples/GenericConnectorWorkerService/IDatasetSampler.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatusDatasetSampler.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

logs
  dotnet/samples/HttpThermostatConnectorApp/appsettings.json
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

always log
  dotnet/samples/GenericConnectorWorkerService/MqttSessionClientFactoryProvider.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

more headers
  dotnet/samples/HttpThermostatConnectorApp/ThermostatDatasetSamplerFactory.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Some minor changes to the connector app sample (#199)
  dotnet/samples/GenericConnectorWorkerService/GenericConnectorWorkerService.cs
  dotnet/samples/GenericConnectorWorkerService/IDatasetSampler.cs
  dotnet/samples/GenericConnectorWorkerService/IDatasetSamplerFactory.cs
  dotnet/samples/GenericConnectorWorkerService/MqttSessionClientFactoryProvider.cs
  dotnet/samples/GenericConnectorWorkerService/SamplerContext.cs
  dotnet/samples/HttpThermostatConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpThermostatConnectorApp/Program.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatDatasetSamplerFactory.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatus.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatusDatasetSampler.cs
  dotnet/samples/HttpThermostatConnectorApp/ThermostatStatusHttpServerSampler.cs
  dotnet/samples/HttpThermostatConnectorApp/appsettings.json
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/Asset.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Making receiver sample have auto ack
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

Minor sender doc nit
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

Invalid content_type check on response
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Go] Restructure connect loop to reduce return parameters and inline funcs
  go/internal/mqtt/README.md
  go/internal/mqtt/types.go
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/internal/log_utils.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
Owners: @vishnureddy17, @clecompt-msft

BUG FIX: Generated C# fails build when Enum is required object field
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/common/ReferenceType.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/encapsulation/dotnet/common/DotNetSchemaSupport.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/TypeGenerator/AvroSchemaStandardizer.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/TypeGenerator/ISchemaStandardizer.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/TypeGenerator/JsonSchemaStandardizer.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/TypeGenerator/TypesGenerator.cs
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Restructure connect loop to reduce return params and inline funcs (#200)
  go/internal/mqtt/README.md
  go/internal/mqtt/types.go
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/internal/log_utils.go
  go/mqtt/publish.go
  go/mqtt/session_client.go
Owners: @vishnureddy17, @clecompt-msft

test
  .github/workflows/az-login.yml
Owners: @jrdouceur

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
