Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

Log if no asset is found on startup
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix some connector bugs (#215)
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorAppWorker.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

address some feedback
  go/mqtt/auth.go
  go/mqtt/auth/README.md
  go/mqtt/auth/mq_sat.go
  go/mqtt/auth/types.go
  go/mqtt/auth_utils.go
  go/mqtt/connect.go
  go/mqtt/connection_settings.go
  go/mqtt/session_client.go
Owners: @vishnureddy17, @clecompt-msft

initial implementation
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_mqtt/src/interface_mocks.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
Owners: @cartertinney, @vaavva, @RLeclair

cleanup
  rust/azure_iot_operations_mqtt/src/interface_mocks.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
Owners: @cartertinney, @vaavva, @RLeclair

expose CurrentConnection.down
  go/mqtt/auth.go
  go/mqtt/connect.go
  go/mqtt/internal/connection_tracker.go
Owners: @vishnureddy17, @clecompt-msft

log InitiateAuthExchange error with context.TODO()
  go/mqtt/auth.go
Owners: @vishnureddy17, @clecompt-msft

comment explaining context.TODO
  go/mqtt/auth.go
Owners: @vishnureddy17, @clecompt-msft

[Go] Ack message on last handler ack instead of first
  go/mqtt/README.md
  go/mqtt/connect.go
  go/mqtt/session_client.go
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

Rebuild message to clone maps.
  go/mqtt/README.md
  go/mqtt/subscribe.go
Owners: @vishnureddy17, @clecompt-msft

Fix how the connector app would try to locally save the same asset twice
  dotnet/samples/HttpThermostatConnectorApp/HttpThermostatConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

version 4
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Addressing comments
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
Owners: @cartertinney, @vaavva, @RLeclair

rc
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResourcesClient.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/IDiscoveredAssetResourcesClient.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/DiscoveredAssetResourcesClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

include a fail test
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/DiscoveredAssetResourcesClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

delete fail test
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/DiscoveredAssetResourcesClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

doc
  dotnet/src/Azure.Iot.Operations.Services/Akri/IDiscoveredAssetResourcesClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

reduce minimum machine requirements for codespaces
  .devcontainer/devcontainer.json
  .devcontainer/nightly/devcontainer.json
Owners: @jrdouceur

add instructions on how to codespace develop on a fork.
  doc/dev/codespaces.md
Owners: @ryanwinter

Adding prefixes for generalized topic tokens + updates to documentation
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

Maybe
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/AzureDeviceRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AzureDeviceRegistry/FilesObserver.cs
  dotnet/templates/ConnectorApp/IDatasetSampler.cs
  dotnet/templates/ConnectorApp/IDatasetSamplerFactory.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

adding missing namespaces tests
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
Owners: @cartertinney, @vaavva, @RLeclair

return ClientStateError for Unsubscribe
  go/mqtt/subscribe.go
  go/mqtt/test/session_client_mochi_integration_test.go
Owners: @vishnureddy17, @clecompt-msft

name return params in retry policy, fix connection string in mochi tests
  go/mqtt/retry/README.md
  go/mqtt/retry/types.go
  go/mqtt/test/session_client_mochi_integration_test.go
Owners: @vishnureddy17, @clecompt-msft

dont use tls in cross language sample
  .github/workflows/e2e-cross-language-samples.yml
Owners: @jrdouceur

fix nil pointer deference of username and password when using connection settings
  go/mqtt/connection_settings.go
Owners: @vishnureddy17, @clecompt-msft

rename HTTP connector sample project, don't pass in creds on each sample call
  .github/workflows/ci-dotnet.yml
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/HttpServerConnectorApp/DatasetSamplerContext.cs
  dotnet/samples/HttpServerConnectorApp/HttpServerConnectorApp.csproj
  dotnet/samples/HttpServerConnectorApp/HttpServerConnectorAppWorker.cs
  dotnet/samples/HttpServerConnectorApp/IDatasetSampler.cs
  dotnet/samples/HttpServerConnectorApp/IDatasetSamplerFactory.cs
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server.yaml
  dotnet/samples/HttpServerConnectorApp/MqttSessionClientFactoryProvider.cs
  dotnet/samples/HttpServerConnectorApp/Program.cs
  dotnet/samples/HttpServerConnectorApp/README.md
  dotnet/samples/HttpServerConnectorApp/SampleHttpServer/Dockerfile
  dotnet/samples/HttpServerConnectorApp/SampleHttpServer/package.json
  dotnet/samples/HttpServerConnectorApp/SampleHttpServer/server.js
  dotnet/samples/HttpServerConnectorApp/ThermostatDatasetSamplerFactory.cs
  dotnet/samples/HttpServerConnectorApp/ThermostatStatusDatasetSampler.cs
  dotnet/samples/HttpServerConnectorApp/appsettings.Development.json
  dotnet/samples/HttpServerConnectorApp/appsettings.json
  dotnet/samples/HttpServerConnectorApp/deploy-connector-and-asset.sh
  dotnet/samples/HttpServerConnectorApp/setup-cluster.sh
  dotnet/templates/ConnectorApp/IDatasetSampler.cs
  dotnet/templates/ConnectorApp/IDatasetSamplerFactory.cs
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

fixed
  dotnet/samples/HttpServerConnectorApp/ThermostatDatasetSamplerFactory.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

save this feedback for later
  dotnet/samples/HttpServerConnectorApp/IDatasetSampler.cs
  dotnet/samples/HttpServerConnectorApp/IDatasetSamplerFactory.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

chmod
  dotnet/samples/HttpServerConnectorApp/deploy-connector-and-asset.sh
  dotnet/samples/HttpServerConnectorApp/setup-cluster.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix
  dotnet/samples/HttpServerConnectorApp/Program.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix
  dotnet/samples/HttpServerConnectorApp/HttpServerConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/DatasetSampler.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Incorporate some feedback into the connector sample (#219)
  .github/workflows/ci-dotnet.yml
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/HttpServerConnectorApp/DatasetSamplerContext.cs
  dotnet/samples/HttpServerConnectorApp/HttpServerConnectorApp.csproj
  dotnet/samples/HttpServerConnectorApp/HttpServerConnectorAppWorker.cs
  dotnet/samples/HttpServerConnectorApp/IDatasetSampler.cs
  dotnet/samples/HttpServerConnectorApp/IDatasetSamplerFactory.cs
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server.yaml
  dotnet/samples/HttpServerConnectorApp/MqttSessionClientFactoryProvider.cs
  dotnet/samples/HttpServerConnectorApp/Program.cs
  dotnet/samples/HttpServerConnectorApp/README.md
  dotnet/samples/HttpServerConnectorApp/SampleHttpServer/Dockerfile
  dotnet/samples/HttpServerConnectorApp/SampleHttpServer/package.json
  dotnet/samples/HttpServerConnectorApp/SampleHttpServer/server.js
  dotnet/samples/HttpServerConnectorApp/ThermostatDatasetSamplerFactory.cs
  dotnet/samples/HttpServerConnectorApp/ThermostatStatusDatasetSampler.cs
  dotnet/samples/HttpServerConnectorApp/appsettings.Development.json
  dotnet/samples/HttpServerConnectorApp/appsettings.json
  dotnet/samples/HttpServerConnectorApp/deploy-connector-and-asset.sh
  dotnet/samples/HttpServerConnectorApp/setup-cluster.sh
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/DatasetSampler.cs
  dotnet/templates/ConnectorApp/IDatasetSampler.cs
  dotnet/templates/ConnectorApp/IDatasetSamplerFactory.cs
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

Adding unit tests plus addressing comments
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

Renamed dataset sampler to dataset source
  dotnet/samples/HttpServerConnectorApp/DatasetSourceContext.cs
  dotnet/samples/HttpServerConnectorApp/HttpDatasetSourceFactory.cs
  dotnet/samples/HttpServerConnectorApp/HttpServerConnectorAppWorker.cs
  dotnet/samples/HttpServerConnectorApp/IDatasetSource.cs
  dotnet/samples/HttpServerConnectorApp/IDatasetSourceFactory.cs
  dotnet/samples/HttpServerConnectorApp/Program.cs
  dotnet/samples/HttpServerConnectorApp/ThermostatStatusDatasetSource.cs
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/DatasetSamplerFactory.cs
  dotnet/templates/ConnectorApp/DatasetSource.cs
  dotnet/templates/ConnectorApp/DatasetSourceContext.cs
  dotnet/templates/ConnectorApp/DatasetSourceFactory.cs
  dotnet/templates/ConnectorApp/IDatasetSource.cs
  dotnet/templates/ConnectorApp/IDatasetSourceFactory.cs
  dotnet/templates/ConnectorApp/Program.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Change template namespace
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
  dotnet/templates/ConnectorApp/DatasetSource.cs
  dotnet/templates/ConnectorApp/DatasetSourceContext.cs
  dotnet/templates/ConnectorApp/DatasetSourceFactory.cs
  dotnet/templates/ConnectorApp/IDatasetSource.cs
  dotnet/templates/ConnectorApp/IDatasetSourceFactory.cs
  dotnet/templates/ConnectorApp/MqttSessionClientFactoryProvider.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fixing mutex on mock content type usage
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session/dispatcher.rs
Owners: @cartertinney, @vaavva, @RLeclair

added dummy certs
  eng/test/dummy_certs/README.md
  eng/test/dummy_certs/TestSdkLiteCertKey.txt
  eng/test/dummy_certs/TestSdkLiteCertPem.txt
  eng/test/dummy_certs/TestSdkLiteCertPwdKey.txt
  eng/test/dummy_certs/TestSdkLiteCertPwdPem.txt
Owners: @ryanwinter, @jrdouceur

Nit
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair
