Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

ignore malformed files
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

egt
  rust/azure_iot_operations_services/examples/azure_device_registry_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

?
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

observer
  rust/azure_iot_operations_services/examples/azure_device_registry_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_services/examples/azure_device_registry_client copy.rs
Owners: @cartertinney, @vaavva, @RLeclair

delete file
  rust/azure_iot_operations_services/examples/azure_device_registry_client copy.rs
Owners: @cartertinney, @vaavva, @RLeclair

composite
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

not needed
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

clippy
  rust/azure_iot_operations_services/examples/azure_device_registry_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Start/close, move helper functions to the end
  go/services/adr/client.go
Owners: @lev-i, @clecompt-msft

config file linking?
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset-definition.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-device-definition.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

more unique names?
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset-definition.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-device-definition.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

cleanup and make unobserving before shutdown easier
  rust/azure_iot_operations_services/examples/azure_device_registry_client.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/common.rs
Owners: @cartertinney, @vaavva, @RLeclair

remove some Options in asset specification
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Read client fields, close() for constructor errors, keep base pointers
  go/services/adr/client.go
Owners: @lev-i, @clecompt-msft

remove more unneeded from impls
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

update
  rust/azure_iot_operations_services/examples/azure_device_registry_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

update
  rust/azure_iot_operations_services/examples/azure_device_registry_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

simplify destination structs and add scaffolding for turning this into a rust enum in the future
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

struct rename for clarity. sample fixes for clarity. Add unsubscribe for asset
  rust/azure_iot_operations_services/examples/azure_device_registry_client.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

allow dead code flag
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

this it?
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/rest-server-asset-definition.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

allow dead code
  rust/azure_iot_operations_services/src/common.rs
Owners: @cartertinney, @vaavva, @RLeclair

Implementation of file mount for ADR
  rust/Cargo.toml
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
  rust/azure_iot_operations_mqtt/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

[Rust][Connector] API for file mount (#709)
  rust/Cargo.toml
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
  rust/azure_iot_operations_mqtt/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

Format
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Cargo fmt issue
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Clippy
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Minor formatting changes
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Unnecessary fields
  go/services/adr/client.go
Owners: @lev-i, @clecompt-msft

Add ThingGenerator stage to ProtocolCompiler
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/ArgBinder.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/CommandHandler.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/OptionContainer.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Program.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Array/code/ArrayThingSchema.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Array/t4/ArrayThingSchema.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Command/code/CommandAffordance.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Command/t4/CommandAffordance.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Enum/code/EnumThingSchema.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Enum/t4/EnumThingSchema.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Interface/code/InterfaceThing.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Interface/t4/InterfaceThing.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Map/code/MapThingSchema.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Map/t4/MapThingSchema.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Object/code/ObjectThingSchema.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Object/t4/ObjectThingSchema.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Telemetry/code/TelemetriesAffordance.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Telemetry/code/TelemetryAffordance.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Telemetry/t4/TelemetriesAffordance.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Telemetry/t4/TelemetryAffordance.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/common/ThingDescriber.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/ThingGenerator/RecursionException.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/ThingGenerator/ThingGenerator.cs
  codegen/test/ProtocolCompiler.UnitTests/SchemaGeneratorTests/models/CommandRaw.json
  codegen/test/ProtocolCompiler.UnitTests/SchemaGeneratorTests/models/CommandWithResponseResult.json
  codegen/test/ProtocolCompiler.UnitTests/SchemaGeneratorTests/models/CommandWithServiceGroupId.json
  codegen/test/ProtocolCompiler.UnitTests/SchemaGeneratorTests/models/TelemetryRawSeparate.json
  codegen/test/ProtocolCompiler.UnitTests/SchemaGeneratorTests/models/TelemetryRawSingle.json
  codegen/test/ProtocolCompiler.UnitTests/SchemaGeneratorTests/models/TelemetryWithServiceGroupId.json
  codegen/test/ProtocolCompiler.UnitTests/ThingGeneratorTests/ThingGeneratorTests.cs
  codegen/test/ProtocolCompiler.UnitTests/ThingGeneratorTests/problematicModels/CommandWithRecursiveRequestObject.json
  codegen/test/ProtocolCompiler.UnitTests/ThingGeneratorTests/problematicModels/CommandWithRecursiveResponseObject.json
  codegen/test/ProtocolCompiler.UnitTests/ThingGeneratorTests/problematicModels/TelemetryWithRecursiveObject.json
  codegen/test/ProtocolCompiler.UnitTests/ThingGeneratorTests/schemas/td-json-schema-validation.json
Owners: @avishekpant

fix typo
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/SchemaGenerator/SchemaGenerator.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Object/code/ObjectThingSchema.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/translation/Object/t4/ObjectThingSchema.tt
Owners: @avishekpant

add adr feature branch as cargo dependency and start base connector stubs
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/file_mount_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

check in changes before pivoting to correct variables passing
  tools/vm-template/cloud-init.yml
  tools/vm-template/deployVm.bicep
  tools/vm-template/deployVm.json
Owners: @avishekpant

todo cleanup
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandInvoker.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Telemetry/TelemetryReceiver.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Telemetry/TelemetrySender.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

more todo cleanup
  dotnet/samples/Connectors/PollingRestThermostatConnector/Program.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

documentation
  dotnet/src/Azure.Iot.Operations.Connector/ChangeType.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

test fix
  dotnet/src/Azure.Iot.Operations.Connector/PollingTelemetryConnectorWorker.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/PollingTelemetryConnectorWorkerTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

unit test fixes
  eng/test/test-connector-mount-files/connector-config/MQTT_CONNECTION_CONFIGURATION
Owners: @avishekpant

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
