Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

update sample, needs threading work
  dotnet/tutorials/event-driven-app/README.md
  dotnet/tutorials/event-driven-app/SensorData.cs
  dotnet/tutorials/event-driven-app/WindowFunctionWorker.cs
  dotnet/tutorials/event-driven-app/appsettings.json
  tools/deployment/deploy-aio.sh
  tools/deployment/update-credentials.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

support raw serialization in Go codegen (#52)
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/code/GoCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/code/GoCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/t4/GoCommandExecutor.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/t4/GoCommandExecutor.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/t4/GoCommandInvoker.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Command/t4/GoCommandInvoker.tt
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Service/t4/GoService.cs
  codegen/src/Akri.Dtdl.Codegen/T4/communication/go/Service/t4/GoService.tt
  codegen/test/samples/dtdl/CommandRaw.json
  codegen/test/samples/dtdl/TelemetryPrimitiveSchemas.json
  codegen/test/samples/go/gen.sh
  codegen/test/samples/go/go.mod
Owners: @jrdouceur

[Go] initial statestore client implementation. (#46)
  .github/workflows/ci-go.yml
  go/go.work
  go/samples/statestore/go.mod
  go/samples/statestore/go.sum
  go/samples/statestore/main.go
  go/services/.gitignore
  go/services/.golangci.yml
  go/services/.gomarkdoc.yml
  go/services/go.mod
  go/services/go.sum
  go/services/magefile.go
  go/services/statestore/README.md
  go/services/statestore/internal/error.go
  go/services/statestore/internal/resp/format.go
  go/services/statestore/internal/resp/format_test.go
  go/services/statestore/internal/resp/parse.go
  go/services/statestore/internal/resp/parse_test.go
  go/services/statestore/options.go
  go/services/statestore/statestore.go
Owners: @jrdouceur, @vishnureddy17, @clecompt-msft

Doc workflow - add gh token (#49)
  .github/workflows/cd-docs.yml
Owners: @jrdouceur

Add Setup Documentation (#50)
  doc/setup-environment.md
  dotnet/samples/README.md
  samples/README.md
  tools/deployment/README.md
Owners: @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i

pipeline updates to improve stability (#61)
  .devcontainer/Dockerfile
  .github/index-pages.html
  .github/workflows/cd-docs.yml
  .vscode/cspell.json
  .vscode/dictionaries/dotnet.txt
  doc/README.md
  doc/reference/README.md
  doc/reference/mqtt-connection-settings.md
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/CounterEnvoyTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/GreeterEnvoyTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/AkriMqttExceptionChecker.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/CompositeMqttClient.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/FreezableWallClockTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/CommandExecutorTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/CommandInvokerTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Connection/MqttConnectionSettingsTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/MockMqttPubSubClient.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/TelemetrySenderTests.cs
Owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Rust] Added API doc links to READMEs (#51)
  rust/azure_iot_operations_mqtt/README.md
  rust/azure_iot_operations_protocol/README.md
Owners: @cartertinney, @vaavva, @RLeclair

[.NET] Remove version from state store notification event class (#66)
  dotnet/src/Azure.Iot.Operations.Services/StateStore/KeyChangeMessageReceivedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreClient.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Rust] Update HLC to use more generic String for node_id (#78)
  rust/azure_iot_operations_protocol/src/common/hybrid_logical_clock.rs
Owners: @cartertinney, @vaavva, @RLeclair

[Go] Align state-store API with feedback. (#75)
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/client.go
  go/services/statestore/del.go
  go/services/statestore/errors/README.md
  go/services/statestore/errors/errors.go
  go/services/statestore/get.go
  go/services/statestore/internal/resp/format.go
  go/services/statestore/internal/resp/format_test.go
  go/services/statestore/internal/resp/parse.go
  go/services/statestore/internal/resp/parse_test.go
  go/services/statestore/set.go
  go/services/statestore/vdel.go
Owners: @vishnureddy17, @clecompt-msft

[Go] State store client improvements. (#55)
  go/protocol/README.md
  go/protocol/listener.go
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/client.go
  go/services/statestore/del.go
  go/services/statestore/errors/README.md
  go/services/statestore/errors/errors.go
  go/services/statestore/get.go
  go/services/statestore/internal/error.go
  go/services/statestore/internal/resp/parse.go
  go/services/statestore/internal/resp/parse_test.go
  go/services/statestore/options.go
  go/services/statestore/set.go
  go/services/statestore/statestore.go
  go/services/statestore/vdel.go
Owners: @vishnureddy17, @clecompt-msft

use DTDL v4 'nullable' in SchemaRegistry commands (#53)
  dotnet/samples/SampleCloudEvents/Worker.cs
  dotnet/samples/SchemaRegistrySample/Program.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/ISchemaRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry-1.json
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistryClient.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/Enum_Ms_Adr_SchemaRegistry_Format__1.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/Enum_Ms_Adr_SchemaRegistry_SchemaType__1.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/GetCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/GetCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/GetCommandRequest.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/GetCommandResponse.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/Object_Get_Request.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/Object_Ms_Adr_SchemaRegistry_Schema__1.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/Object_Put_Request.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/PutCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/PutCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/PutCommandRequest.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/PutCommandResponse.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/dtmi_ms_adr_SchemaRegistry__1/SchemaRegistry.g.cs
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/SchemaRegistryClientIntegrationTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Rust] Session State + SessionExitHandle updates (#67)
  rust/azure_iot_operations_mqtt/README.md
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/state.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

support new DTDL numeric schemas in codegen (#79)
  codegen/src/Akri.Dtdl.Codegen/Akri.Dtdl.Codegen.csproj
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/ByteType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/ShortType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/UnsignedByteType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/UnsignedIntegerType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/UnsignedLongType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/common/UnsignedShortType.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/common/DotNetSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/go/common/GoSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/rust/common/RustSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/common/AvroSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/common/JsonSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/common/ProtobufSupport.cs
  codegen/src/Akri.Dtdl.Codegen/TypeGenerator/JsonSchemaStandardizer.cs
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

enforce JSON Schema 'required' attribute in C# codegen (#58)
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/code/DotNetObject.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/common/DotNetSchemaSupport.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/t4/DotNetObject.cs
  codegen/src/Akri.Dtdl.Codegen/T4/encapsulation/dotnet/t4/DotNetObject.tt
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

use Requirement extension in DTDL codegen (#68)
  codegen/src/Akri.Dtdl.Codegen/Akri.Dtdl.Codegen.csproj
  codegen/src/Akri.Dtdl.Codegen/SchemaGenerator/DtdlMqttExtensionValues.cs
  codegen/src/Akri.Dtdl.Codegen/SchemaGenerator/SchemaGenerator.cs
  codegen/src/Akri.Dtdl.Codegen/SchemaGenerator/SchemaTransformFactory.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/code/ObjectAvroSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/code/ObjectJsonSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/code/ObjectProto2.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/code/ObjectProto3.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectAvroSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectAvroSchema.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectJsonSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectJsonSchema.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectProto2.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectProto2.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectProto3.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Object/t4/ObjectProto3.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/code/TelemetryAvroSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/code/TelemetryJsonSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/code/TelemetryProto2.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/code/TelemetryProto3.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryAvroSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryAvroSchema.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryJsonSchema.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryJsonSchema.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryProto2.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryProto2.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryProto3.cs
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/Telemetry/t4/TelemetryProto3.tt
  codegen/src/Akri.Dtdl.Codegen/T4/serialization/common/AvroSchemaSupport.cs
Owners: @jrdouceur

Add MqttConnectionSettings creation from file mount (#70)
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[Go] Update golangci-lint version. (#73)
  go/mqtt/magefile.go
  go/protocol/magefile.go
  go/services/magefile.go
  go/test/protocol/countdown_event.go
  go/test/protocol/default_executor.go
  go/test/protocol/magefile.go
  go/test/protocol/test_case_executor.go
Owners: @vishnureddy17, @clecompt-msft

[Rust] Fix Error Types (#62)
  .vscode/dictionaries/rustsdk.txt
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/src/common/aio_protocol_error.rs
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @jrdouceur, @cartertinney, @vaavva, @RLeclair

[.NET] Remove references to state store set response retrieving the previous value (#56)
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/CampaignResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/LeaderElection/LeaderElectionClient.cs
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/AcquireLockResponse.cs
  dotnet/src/Azure.Iot.Operations.Services/LeasedLock/LeasedLockClient.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreSetResponse.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/LeaderElection/LeaderElectionClientTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/LeasedLock/LeasedLockClientTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

[.NET] Update DSSCLI package to use System.Text.Json 8.0.4 (#77)
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/Azure.Iot.Operations.Services.DssCli.csproj
Owners: @jrdouceur

[Go] Miscellaneous fixes. (#59)
  go/protocol/README.md
  go/protocol/command_executor.go
  go/protocol/command_invoker.go
  go/protocol/common_options.go
  go/protocol/listener.go
  go/samples/statestore/main.go
  go/services/statestore/README.md
  go/services/statestore/client.go
Owners: @vishnureddy17, @clecompt-msft

squash changes
  NOTICE.txt
Owners: @jrdouceur

wip
  rust/azure_iot_operations_mqtt/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

doc adjustments
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/session/managed_client.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
Owners: @cartertinney, @vaavva, @RLeclair

PR feedback
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

check for GH rendering
  rust/azure_iot_operations_mqtt/README.md
Owners: @cartertinney, @vaavva, @RLeclair

used basic include_str
  rust/azure_iot_operations_mqtt/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

Added README doctests to both crates
  rust/azure_iot_operations_mqtt/src/lib.rs
  rust/azure_iot_operations_protocol/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

doc update
  rust/azure_iot_operations_mqtt/src/lib.rs
  rust/azure_iot_operations_protocol/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

temporarily disable Rust codegen
  codegen/src/Akri.Dtdl.Codegen/CommandHandler.cs
Owners: @jrdouceur

Skeleton code for telemetry using HTTP connector app
  dotnet/Azure.Iot.Operations.sln
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Add dotnet sample
  README.md
  doc/dev/packaging.md
  dotnet/Azure.Iot.Operations.sln
  dotnet/tutorials/event-driven-app/EventDrivenApp.csproj
  dotnet/tutorials/event-driven-app/MqttSessionClientFactoryProvider.cs
  dotnet/tutorials/event-driven-app/Program.cs
  dotnet/tutorials/event-driven-app/README.md
  dotnet/tutorials/event-driven-app/SensorData.cs
  dotnet/tutorials/event-driven-app/SubscribeService.cs
  dotnet/tutorials/event-driven-app/WindowFunctionWorker.cs
  dotnet/tutorials/event-driven-app/app.yml
  dotnet/tutorials/event-driven-app/appsettings.Development.json
  dotnet/tutorials/event-driven-app/appsettings.json
  dotnet/tutorials/event-driven-app/simulator.yml
  tools/deployment/deploy-aio.sh
  tools/deployment/update-credentials.sh
Owners: @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

Update Worker.cs
  dotnet/samples/ConnectorApp/Worker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Use default kubernetes namespace for deployed test resources
  dotnet/samples/SampleCloudEvents/deployment.yaml
  dotnet/samples/SampleReadCloudEvents/deployment.yaml
  tools/deployment/deploy-aio.sh
  tools/deployment/initialize-cluster.sh
  tools/deployment/yaml/aio-nightly.yaml
  tools/deployment/yaml/aio-release.yaml
  tools/deployment/yaml/certificates.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

disable admissionWebhook due to cert bug. update cert-man to 1.15
  tools/deployment/deploy-aio.sh
  tools/deployment/yaml/broker-values.yaml
Owners: @jrdouceur

Revert "Use default kubernetes namespace for deployed test resources (#82)"
  dotnet/samples/SampleCloudEvents/deployment.yaml
  dotnet/samples/SampleReadCloudEvents/deployment.yaml
  tools/deployment/deploy-aio.sh
  tools/deployment/initialize-cluster.sh
  tools/deployment/yaml/aio-nightly.yaml
  tools/deployment/yaml/aio-release.yaml
  tools/deployment/yaml/certificates.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

disable webhook admission
  tools/deployment/deploy-aio.sh
  tools/deployment/yaml/broker-values.yaml
Owners: @jrdouceur

enable case sensativity in markdown, and dont check code blocks
  .vscode/cspell.json
Owners: @jrdouceur

Support manual ack for notifications.
  go/services/statestore/README.md
  go/services/statestore/client.go
  go/services/statestore/notify.go
  go/services/statestore/options.go
Owners: @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
