Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

codegen
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/t4/RustCargoToml.tt
Owners: @avishekpant

commented out unsafe tests
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

updated toolchain
  rust/rust-toolchain.toml
Owners: @cartertinney, @vaavva, @RLeclair

2024
  rust/azure_iot_operations_mqtt/src/session/receiver.rs
  rust/azure_iot_operations_mqtt/src/session/receiver/ordered_acker.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/src/rpc_command/executor.rs
  rust/azure_iot_operations_protocol/src/rpc_command/invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/receiver.rs
  rust/azure_iot_operations_protocol/tests/metl/command_executor_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/command_invoker_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/mqtt_hub.rs
  rust/azure_iot_operations_protocol/tests/metl/telemetry_sender_tester.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

pre clippy
  rust/azure_iot_operations_mqtt/src/session/receiver/ordered_acker.rs
Owners: @cartertinney, @vaavva, @RLeclair

clippy mqtt
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session/receiver.rs
  rust/azure_iot_operations_mqtt/src/session/receiver/ordered_acker.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

switch to docker outside of docker
  .devcontainer/devcontainer.json
Owners: @avishekpant

clippy
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/src/rpc_command/executor.rs
  rust/azure_iot_operations_protocol/src/rpc_command/invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

metl clippy
  rust/azure_iot_operations_protocol/tests/metl/command_executor_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/command_invoker_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/defaults.rs
  rust/azure_iot_operations_protocol/tests/metl/mqtt_hub.rs
  rust/azure_iot_operations_protocol/tests/metl/telemetry_sender_tester.rs
Owners: @cartertinney, @vaavva, @RLeclair

manual clippy
  rust/azure_iot_operations_services/examples/leased_lock_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

autoclippy
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_mqtt/src/session/receiver.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/src/rpc_command/executor.rs
  rust/azure_iot_operations_protocol/tests/metl/command_executor_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/mqtt_hub.rs
Owners: @cartertinney, @vaavva, @RLeclair

enable edition
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_services/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

sample edition
  rust/sample_applications/counter/counter_client/Cargo.toml
  rust/sample_applications/counter/counter_server/Cargo.toml
  rust/sample_applications/event_driven_app/input_client/Cargo.toml
  rust/sample_applications/event_driven_app/output_client/Cargo.toml
Owners: @cartertinney, @vaavva, @RLeclair

toolchain update
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/rust-toolchain.toml
Owners: @cartertinney, @vaavva, @RLeclair

cargo fix
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/session/receiver.rs
  rust/azure_iot_operations_mqtt/src/session/receiver/ordered_acker.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_protocol/src/rpc_command/executor.rs
  rust/azure_iot_operations_protocol/src/rpc_command/invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry/receiver.rs
  rust/azure_iot_operations_protocol/tests/metl/command_executor_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/command_invoker_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/mqtt_hub.rs
  rust/azure_iot_operations_protocol/tests/metl/telemetry_sender_tester.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

more cov
  .github/workflows/ci-rust.yml
  rust/ci/coverage.sh
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

adjust script to check if logged in
  tools/deployment/install-aio-arc.sh
Owners: @avishekpant

add missing keyword
  tools/deployment/install-aio-arc.sh
Owners: @avishekpant

mqtt clippy
  rust/Cargo.toml
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session/receiver.rs
  rust/azure_iot_operations_mqtt/src/session/receiver/ordered_acker.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

removing duplicate code cov
  .github/workflows/ci-rust.yml
Owners: @avishekpant

protocol autoclippy
  rust/azure_iot_operations_protocol/src/rpc_command/executor.rs
  rust/azure_iot_operations_protocol/src/rpc_command/invoker.rs
Owners: @cartertinney, @vaavva, @RLeclair

protocol clippy
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/tests/metl/command_executor_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/command_invoker_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/defaults.rs
  rust/azure_iot_operations_protocol/tests/metl/mqtt_hub.rs
  rust/azure_iot_operations_protocol/tests/metl/telemetry_sender_tester.rs
Owners: @cartertinney, @vaavva, @RLeclair

manual clippy services
  rust/azure_iot_operations_services/examples/leased_lock_client.rs
Owners: @cartertinney, @vaavva, @RLeclair

autoclippy services
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

format
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/session/receiver.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_protocol/src/rpc_command/executor.rs
  rust/azure_iot_operations_protocol/tests/metl/command_executor_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/command_invoker_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/mqtt_hub.rs
  rust/azure_iot_operations_protocol/tests/metl/telemetry_sender_tester.rs
Owners: @cartertinney, @vaavva, @RLeclair

2024 codegen
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Project/t4/RustCargoToml.tt
Owners: @avishekpant

commented out unsafe tests
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

more comments
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

add go to event drive tutorial
  samples/event_driven_app/README.md
Owners: @ryanwinter

add go artifacts and fix yaml extensions
  dotnet/samples/applications/EventDrivenApp/app.yaml
  go/samples/application/eventdrivenapp/Dockerfile
  go/samples/application/eventdrivenapp/app.yaml
  samples/event_driven_app/README.md
  samples/event_driven_app/simulator.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @clecompt-msft, @ryanwinter, @avishekpant

stop and start the cluster on resuming
  .devcontainer/postStartCommand.sh
Owners: @avishekpant

remove broker reconfiguration (not allowed) remove listener and auth to suppress warnings
  .devcontainer/postStartCommand.sh
  tools/deployment/deploy-aio.sh
  tools/deployment/yaml/aio-developer.yaml
Owners: @avishekpant

fix existing cert check
  tools/deployment/deploy-aio.sh
Owners: @avishekpant

improve deploy script
  tools/deployment/deploy-aio.sh
Owners: @avishekpant

only create the broker if missing as it cant be modified once created
  tools/deployment/deploy-aio.sh
  tools/deployment/yaml/broker-listeners.yaml
  tools/deployment/yaml/broker.yml
Owners: @avishekpant

fix filename typo
  tools/deployment/yaml/broker.yaml
Owners: @avishekpant

force replace brokerlisteners
  tools/deployment/deploy-aio.sh
Owners: @avishekpant

restructure broker configuration yaml
  tools/deployment/yaml/broker-listeners.yaml
Owners: @avishekpant

Update README.md to correct Operations title
  README.md
Owners: @ryanwinter

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
