Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

add generated code
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.sln
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/AkriMetricErrorKind.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/AkriMetricOperationResponse.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/AkriMetricOperationResponseStatus.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/AkriObservabilityService.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/CounterMetric.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/GaugeMetric.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/HistogramMetric.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/IncrementOperation.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/MetricDefinition.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/PublishMetricsCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/PublishMetricsCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/PublishMetricsRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/PublishMetricsRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/PublishMetricsResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityService/RecordOperation.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/BytesJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/DateJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/DecimalJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/DecimalString.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/DurationJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/EmptyJson.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/TimeJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Utf8JsonSerializer.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/UuidJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/ValueExtractor.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/src/Azure.Iot.Operations.Services/Observability/MetricsReporterService.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/CachedCounterTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/CachedGaugeTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/CachedHistogramTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/MetricsReporterServiceTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Add Akri observability metrics operations definition and update project references
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
  eng/dtdl/akri-observability-metrics-operations.json
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @avishekpant

first draft
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityServiceStub.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/CachedCounter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/CachedGauge.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/CachedHistogram.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/BytesJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DateJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DecimalJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DecimalString.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DurationJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/EmptyJson.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/TimeJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/Utf8JsonSerializer.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/UuidJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/ValueExtractor.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/CounterMetricCache.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/GaugeMetricCache.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/HistogramMetricCache.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/ICounter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/IGauge.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/IHistogram.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/IMetric.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/MetricsReporterOptions.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/MetricsReporterService.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add unit tests
  dotnet/src/Azure.Iot.Operations.Services/Observability/AkriObservabilityServiceStub.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/DefaultTimerFactory.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/IAkriObservabilityService.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/ITimer.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/ITimerFactory.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/MetricsReporterService.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/TimerWrapper.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/CachedCounterTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/CachedGaugeTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/CachedHistogramTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/CounterMetricCacheTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/GaugeMetricCacheTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/HistogramMetricCacheTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Observability/MetricsReporterServiceTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChecksumCalculator.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkedMessageSplitter.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingMqttClient.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Azure.Iot.Operations.Protocol.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Chunking/ChunkedMessageAssemblerTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Chunking/ChunkedMessageSplitterTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Chunking/ChunkingMqttClientTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkedMessageSplitter.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingOptions.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[.Net][Akri] Bump versions for feature branch release
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

delete files
  rust/azure_iot_operations_services/examples/rest-thermostat-asset-definition.yaml
  rust/azure_iot_operations_services/examples/thermostat-device-definition.yaml
Owners: @cartertinney, @vaavva, @RLeclair

[.NET] Make connector templates target feature branch package bits
  dotnet/templates/EventDrivenTelemetryConnector/EventDrivenTelemetryConnector.csproj
  dotnet/templates/EventDrivenTelemetryConnector/MessageSchemaProvider.cs
  dotnet/templates/EventDrivenTelemetryConnector/Program.cs
  dotnet/templates/EventDrivenTelemetryConnector/TemplateConnectorWorker.cs
  dotnet/templates/PollingTelemetryConnector/DatasetSampler.cs
  dotnet/templates/PollingTelemetryConnector/DatasetSamplerFactory.cs
  dotnet/templates/PollingTelemetryConnector/MessageSchemaProvider.cs
  dotnet/templates/PollingTelemetryConnector/PollingTelemetryConnectorTemplate.csproj
  dotnet/templates/PollingTelemetryConnector/Program.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

asdf
  dotnet/templates/EventDrivenTelemetryConnector/TemplateConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

change working dir
  .github/workflows/ci-rust.yml
Owners: @avishekpant

add dataset creation flow
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

add updates for datasets
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

ChunkingMqttClientTests drafted
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Chunking/ChunkingMqttClientTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

cleanup
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

clippy
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix tokio select formatting
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

small test refactor to deduplicate a string
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

not ignore the tes
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

progress
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingConstants.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingMqttClient.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Chunking/ChunkedMessageAssemblerTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Chunking/ChunkingMqttClientTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkedMessageSplitter.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingMqttClient.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/Utils.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add integration tests
  dotnet/src/Azure.Iot.Operations.Protocol/AssemblyInfo.cs
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/ChunkingMqttClientTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add integration tests
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/Chunking/ChunkingMqttClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add UnitExtractor
  hacks/SemanticDataHub/SemanticDataHub.sln
  hacks/SemanticDataHub/SemanticDataHub/ConversionTransformer.cs
  hacks/SemanticDataHub/UnitExtractor/Program.cs
  hacks/SemanticDataHub/UnitExtractor/UnitExtractor.csproj
  hacks/SemanticDataHub/gen.sh
Owners: @avishekpant

tests
  rust/azure_iot_operations_connector/src/filemount/connector_artifacts.rs
  rust/azure_iot_operations_connector/tests/artifact_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

conversion tests
  rust/azure_iot_operations_connector/src/filemount/connector_artifacts.rs
Owners: @cartertinney, @vaavva, @RLeclair

comment
  rust/azure_iot_operations_connector/src/filemount/connector_artifacts.rs
Owners: @cartertinney, @vaavva, @RLeclair

PR comments
  rust/azure_iot_operations_connector/src/filemount/connector_artifacts.rs
Owners: @cartertinney, @vaavva, @RLeclair

enabled SAT file mount validation
  eng/test/test-connector-mount-files/connector-config-no-auth-no-tls/MQTT_CONNECTION_CONFIGURATION
  rust/azure_iot_operations_connector/src/filemount/connector_artifacts.rs
  rust/azure_iot_operations_connector/tests/artifact_tests.rs
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_connector/src/filemount/connector_artifacts.rs
  rust/azure_iot_operations_connector/tests/artifact_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

progress
  dotnet/src/Azure.Iot.Operations.Protocol/AssemblyInfo.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingConstants.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Chunking/ChunkingMqttClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

tried symlink simulation
  rust/azure_iot_operations_connector/src/filemount/connector_artifacts.rs
Owners: @cartertinney, @vaavva, @RLeclair

add a few more unit conversions
  hacks/SemanticDataHub/config/QuantitativeTypeMap.json
Owners: @avishekpant

new DTDLs
  eng/dtdl/adr-base-service.json
  eng/dtdl/device-discovery-service.json
Owners: @avishekpant

add dataset update handling to sample. Add filtering on update notifications that are just status updates. Remove arc from Forwarder. Remove rwlock on forwarder message schema reference
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

new shell script
  rust/azure_iot_operations_services/gen.sh
Owners: @cartertinney, @vaavva, @RLeclair

Remove kubernetes permissions fields, add aio connector metadata schema version field
  doc/akri_connector/connector-metadata-schema.json
  doc/akri_connector/example-connector-metadata.json
  doc/akri_connector/minimal-example-connector-metadata.json
Owners: @avishekpant

asset update
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

renames and removes
  rust/azure_iot_operations_connector/src/filemount/connector_config.rs
  rust/azure_iot_operations_connector/tests/artifact_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
