Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

pass action token to composite action
  .github/actions/configure-aio/action.yml
  .github/workflows/e2e-cross-language.yml
Owners: @avishekpant

update github API pages for go links
  .github/pages/index.html
Owners: @avishekpant

expand the PAT inline
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

checkout the action in a subpath to retain main repo checkout
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

update remaining CI scripts
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-rust.yml
Owners: @avishekpant

run workflows on .github changes
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-rust.yml
Owners: @avishekpant

remove additional extensions
  .devcontainer/devcontainer.json
Owners: @avishekpant

remove devcontainer trigger for CI
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-rust.yml
Owners: @avishekpant

fix typo
  tools/deployment/README.md
Owners: @ryanwinter

fix typo in CI workflows
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
Owners: @avishekpant

Adding new
  rust/azure_iot_operations_services/src/observability.rs
  rust/azure_iot_operations_services/src/observability/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

release, too
  dotnet/src/Azure.Iot.Operations.Mqtt/DebugBuildConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Protocol/DebugBuildConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Services/DebugBuildConfiguration.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

doesn't work
  dotnet/src/Azure.Iot.Operations.Mqtt/DebugBuildConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Protocol/DebugBuildConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Services/DebugBuildConfiguration.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

mostly works
  dotnet/src/Azure.Iot.Operations.Mqtt/DebugBuildConfiguration.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/Azure.Iot.Operations.Connector.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Mqtt.IntegrationTests/Azure.Iot.Operations.Mqtt.IntegrationTests.csproj
  dotnet/test/Azure.Iot.Operations.Mqtt.UnitTests/Azure.Iot.Operations.Mqtt.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/Azure.Iot.Operations.Protocol.MetlTests.csproj
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Azure.Iot.Operations.Protocol.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Azure.Iot.Operations.Services.UnitTests.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

gen.sh
  dotnet/samples/Protocol/CloudEvents/Oven/Oven.g.cs
  dotnet/samples/Protocol/CloudEvents/ValueExtractor.cs
  dotnet/samples/Protocol/ReadCloudEvents/Oven/Oven.g.cs
  dotnet/samples/Protocol/ReadCloudEvents/ValueExtractor.cs
  dotnet/samples/Protocol/TestEnvoys/Counter/Counter.g.cs
  dotnet/samples/Protocol/TestEnvoys/CustomTopicTokens/CustomTopicTokens.g.cs
  dotnet/samples/Protocol/TestEnvoys/Math/Math.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsResponsePayloadSerialization.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/Memmon.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/MemoryStatsTelemetrySerialization.g.cs
  dotnet/samples/Protocol/TestEnvoys/Passthrough/Passthrough.g.cs
  dotnet/samples/Protocol/TestEnvoys/ValueExtractor.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/ValueExtractor.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DiscoveredAssetResources.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/Common/ValueExtractor.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/SchemaRegistry.g.cs
  dotnet/src/Azure.Iot.Operations.Services/StateStore/StateStoreGen/StateStore.g.cs
  go/samples/protocol/counter/envoy/counter/increment_command_invoker.go
  go/samples/protocol/counter/envoy/counter/read_counter_command_invoker.go
  go/samples/protocol/counter/envoy/counter/reset_command_invoker.go
  go/services/schemaregistry/schemaregistry/get_command_invoker.go
  go/services/schemaregistry/schemaregistry/put_command_invoker.go
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @clecompt-msft

works?
  dotnet/src/Azure.Iot.Operations.Protocol/RPC/CommandResponseCache.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetEndpointProfile.cs
  dotnet/test/Azure.Iot.Operations.Mqtt.UnitTests/Azure.Iot.Operations.Mqtt.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/AsyncAtomic.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/Azure.Iot.Operations.Protocol.MetlTests.csproj
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/CommandExecutorTester.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/CommandInvokerTester.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/FreezableWallClockTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/StubMqttClient.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/TelemetryReceiverTester.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/TelemetrySenderTester.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/TestCommandExecutor.cs
  dotnet/test/Azure.Iot.Operations.Protocol.MetlTests/TestTelemetryReceiver.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Azure.Iot.Operations.Protocol.UnitTests.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

rename
  dotnet/src/Azure.Iot.Operations.Mqtt/BuildConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Protocol/BuildConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Services/BuildConfiguration.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

[Go] go mod tidy following release
  go/go.work.sum
  go/mqtt/go.sum
  go/protocol/go.sum
  go/samples/protocol/cloudevents/client/go.sum
  go/samples/protocol/cloudevents/envoy/go.mod
  go/samples/protocol/cloudevents/envoy/go.sum
  go/samples/protocol/cloudevents/server/go.sum
  go/samples/protocol/counter/client/go.sum
  go/samples/protocol/counter/envoy/go.mod
  go/samples/protocol/counter/envoy/go.sum
  go/samples/protocol/counter/server/go.sum
  go/samples/protocol/greeter/client/go.sum
  go/samples/protocol/greeter/envoy/go.mod
  go/samples/protocol/greeter/envoy/go.sum
  go/samples/protocol/greeter/server/go.sum
  go/samples/services/leasedlock/go.sum
  go/samples/services/schemaregistry/go.mod
  go/samples/services/schemaregistry/go.sum
  go/samples/services/statestore/go.sum
  go/services/go.sum
  go/test/integration/go.mod
  go/test/integration/go.sum
  go/test/protocol/go.sum
Owners: @lev-i, @clecompt-msft

Design
  doc/dev/adr/observabiity-client.md
Owners: @ryanwinter

fix moq issues
  dotnet/src/Azure.Iot.Operations.Mqtt/BuildConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Protocol/BuildConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Services/BuildConfiguration.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Removing questions
  doc/dev/adr/observabiity-client.md
Owners: @ryanwinter

Adding sample
  doc/dev/adr/observabiity-client.md
Owners: @ryanwinter

removing unit
  doc/dev/adr/observabiity-client.md
Owners: @ryanwinter

Add Observability client DTDL to repo in eng folder
  eng/dtdl/akri-observability-metrics-operations.json
Owners: @avishekpant

Update DTDL
  eng/dtdl/akri-observability-metrics-operations.json
  rust/azure_iot_operations_services/src/lib.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/metric.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/metric_schema.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/metric_type.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/telemetry_collection.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/telemetry_collection_serialization.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/telemetry_sender.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/common_types/b64.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/common_types/date_only.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/common_types/decimal.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/common_types/time_only.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/dependencies.md
  rust/azure_iot_operations_services/src/observability/observability_gen/mod.rs
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AdrBaseServiceException.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AepTypeServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AepTypeServiceException.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAdrServiceClient.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/IAepTypeServiceClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update shell scripts
  codegen/demo/dotnet/bld.sh
  codegen/demo/gen.sh
  codegen/demo/go/bld.sh
  codegen/demo/rust/bld.sh
  codegen/test/samples/dotnet/bld.sh
  codegen/test/samples/dotnet/gen.sh
  codegen/test/samples/go/bld.sh
  codegen/test/samples/go/gen.sh
  codegen/test/samples/rust/bld.sh
  codegen/test/samples/rust/gen.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @avishekpant

set script execute bit
  codegen/demo/dotnet/bld.sh
  codegen/demo/gen.sh
  codegen/demo/go/bld.sh
  codegen/demo/rust/bld.sh
  codegen/test/samples/dotnet/bld.sh
  codegen/test/samples/go/bld.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @avishekpant

remove status section from ADR 19
  doc/dev/adr/0019-codegen-user-errs.md
Owners: @ryanwinter

starting point
  dotnet/src/Azure.Iot.Operations.Services/Observability/ObservabilityClient/temp
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
  eng/dtdl/akri-observability-metrics-operations.json
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @avishekpant

[Codegen] Target .NET 9
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
  codegen/test/ProtocolCompiler.UnitTests/Azure.Iot.Operations.ProtocolCompiler.UnitTests.csproj
Owners: @avishekpant

Ran Codegen
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsResponsePayloadSerialization.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/MemoryStatsTelemetrySerialization.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/BytesJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DateJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DecimalJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DecimalString.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/DurationJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/EmptyJson.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/TimeJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/Utf8JsonSerializer.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/UuidJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/Common/ValueExtractor.cs
  dotnet/src/Azure.Iot.Operations.Services/Observability/ObservabilityClient/temp
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

9 path in codegen scripts
  .github/workflows/e2e-cross-language.yml
  .github/workflows/run-codegen.yml
  codegen/demo/gen.sh
  codegen/test/samples/dotnet/gen.sh
  codegen/test/samples/go/gen.sh
  codegen/test/samples/rust/gen.sh
  dotnet/samples/Protocol/CloudEvents/gen.sh
  dotnet/samples/Protocol/ReadCloudEvents/gen.sh
  dotnet/samples/Protocol/TestEnvoys/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/Akri/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
  go/samples/protocol/cloudevents/envoy/gen.sh
  go/samples/protocol/counter/envoy/gen.sh
  rust/azure_iot_operations_services/gen.sh
  rust/sample_applications/counter/gen.sh
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @clecompt-msft, @cartertinney, @vaavva, @RLeclair

folder name
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Update gen.sh
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

order
  .github/workflows/run-codegen.yml
Owners: @avishekpant

Updated API
  doc/dev/adr/observabiity-client.md
  eng/dtdl/akri-observability-metrics-operations.json
  rust/azure_iot_operations_services/src/observability/client.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/metric.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/metric_scope.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/metric_type.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/akri_observability_service_metrics_apis/telemetry_collection.rs
  rust/azure_iot_operations_services/src/observability/observability_gen/dependencies.md
Owners: @ryanwinter, @avishekpant, @cartertinney, @vaavva, @RLeclair

path?
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

?
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

wrong branch
  dotnet/src/Azure.Iot.Operations.Services/Observability/gen.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
