Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft

newest
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

maybe
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

to revert
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

to revert
  dotnet/samples/HttpServerConnectorApp/HttpServerConnectorAppWorker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix
  dotnet/samples/HttpServerConnectorApp/HttpServerConnectorAppWorker.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

format
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/connector-config.yaml
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

trust issues
  dotnet/samples/HttpServerConnectorApp/HttpServerConnectorAppWorker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

debugging
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

more logs
  dotnet/samples/HttpServerConnectorApp/HttpServerConnectorAppWorker.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

SAT token bug
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
Owners: @cartertinney, @vaavva, @RLeclair

use the ca certs, you dingus
  dotnet/src/Azure.Iot.Operations.Protocol/Models/MqttClientOptions.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

Fix .NET bug where setting trust chain directly was ignored
  dotnet/src/Azure.Iot.Operations.Protocol/Models/MqttClientOptions.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Connection/MqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

cleanup
  dotnet/samples/HttpServerConnectorApp/HttpServerConnectorAppWorker.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

matching source cloud event sample value
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

Cleanup
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_mqtt/src/session/session.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update to latest operator bits, bump SDK versions for operator repo to consume (#235)
  dotnet/samples/HttpServerConnectorApp/HttpServerConnectorAppWorker.cs
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/connector-config.yaml
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server-asset-definition.yaml
  dotnet/samples/HttpServerConnectorApp/KubernetesResources/http-server-asset-endpoint-profile-definition.yaml
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Models/MqttClientOptions.cs
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
  dotnet/templates/ConnectorApp/ConnectorAppWorker.cs
  tools/deployment/deploy-aio.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i, @jrdouceur

Cleanup
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetrySender.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetrySender.tt
Owners: @jrdouceur
