Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

?
  .github/actions/configure-aio/action.yml
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

2504
  .github/actions/configure-aio/action.yml
Owners: @avishekpant

cleanup
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/data_transformer.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/data_transformer.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

clippy fix
  rust/azure_iot_operations_connector/src/base_connector.rs
Owners: @cartertinney, @vaavva, @RLeclair

1 more test
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/common.rs
  rust/azure_iot_operations_services/src/common.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

docs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET] Delete old Akri DTDL and its code gen'd client
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/BytesJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/DateJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/DecimalJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/DecimalString.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/DurationJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/EmptyJson.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/TimeJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/Utf8JsonSerializer.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/UuidJsonConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/Common/ValueExtractor.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileCommandExecutor.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileCommandInvoker.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileResponseSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetRequestSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetResponseSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DataPointsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DatasetsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DefaultTopicSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DiscoveredAssetResources.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/DiscoveredTopicRetain.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/EventsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/StatusSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/SupportedAuthenticationMethodsSchemaElementSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/TopicSchema.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResourcesClient.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResourcesClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/IDiscoveredAssetResourcesClient.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/discovered_resources_commands_v1.json
  dotnet/src/Azure.Iot.Operations.Services/Akri/gen.cmd
  dotnet/src/Azure.Iot.Operations.Services/Akri/gen.sh
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/DiscoveredAssetResourcesClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

docs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

asdff
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

not needed
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

have data transformer have factory that's passed into connector on new
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/data_transformer.rs
Owners: @cartertinney, @vaavva, @RLeclair

pr comments - naming and add time to data
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/data_transformer.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

updated tests
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

[.NET][Akri] Get device credentials using relative paths from GetDevice call
  dotnet/samples/Connectors/PollingRestThermostatConnector/RestThermostatDatasetSamplerFactory.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/ThermostatStatusDatasetSampler.cs
  dotnet/samples/Connectors/SqlConnector/QualityAnalyzerDatasetSampler.cs
  dotnet/samples/Connectors/SqlConnector/SqlQualityAnalyzerDatasetSamplerFactory.cs
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/EndpointCredentials.cs
  dotnet/src/Azure.Iot.Operations.Connector/Assets/IAssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Connector/IAdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/IDatasetSamplerFactory.cs
  dotnet/src/Azure.Iot.Operations.Connector/PollingTelemetryConnectorWorker.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockAdrClientWrapper.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockAssetFileMonitor.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockDatasetSamplerFactory.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

make fake changes to trigger all workflows
  .github/copilot-instructions.md
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/SchemaRegistryClientIntegrationTests.cs
Owners: @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

rc
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

aio prot doc
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

timeput doc
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

iamgeName
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/PollingRestThermostatConnector/KubernetesResources/connector-template.yaml
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

doc
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair
