Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @ryanwinter, @timtay-microsoft, @tmahmood-microsoft, @lev-i, @cartertinney, @vaavva, @RLeclair, @vishnureddy17, @clecompt-msft

apply certs?
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

maybe
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

namespace
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

create namespace
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

simplify for now
  .github/workflows/ci-dotnet.yml
  dotnet/samples/CounterServer/deployment-no-tls.yaml
  dotnet/samples/PassiveReplicationSample/deploy.yaml
  dotnet/samples/PassiveReplicationSample/readme.md
  dotnet/samples/PassiveReplicationSample/setup.sh
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/Azure.Iot.Operations.Services.SchemaRegistry.Host.csproj
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/deployment-local.yaml
Owners: @jrdouceur, @timtay-microsoft, @tmahmood-microsoft, @lev-i

pathing
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

install step and k3d if missing
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

wrong file
  tools/deployment/deploy-aio.sh
  tools/deployment/initialize-cluster.sh
Owners: @jrdouceur

install Dapr as well
  tools/deployment/initialize-cluster.sh
Owners: @jrdouceur

nightly
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

one dash?
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

no dash
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

update usage
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

temp
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

fix pathing?
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

more pathing
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

fix dotnet build issues
  dotnet/Azure.Iot.Operations.sln
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

nuget config file
  dotnet/nuget.config
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

dtdl parser?
  codegen/nuget.config
Owners: @jrdouceur

maybe
  codegen/test/Akri.Dtdl.Codegen.IntegrationTests/Akri.Dtdl.Codegen.IntegrationTests.STK/dotnet/Akri.Dtdl.Codegen.IntegrationTests.STK.csproj
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix
  codegen/test/Akri.Dtdl.Codegen.IntegrationTests/Akri.Dtdl.Codegen.IntegrationTests.STK/dotnet/Akri.Dtdl.Codegen.IntegrationTests.STK.csproj
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

asdf
  dotnet/samples/TestEnvoys/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

asdf
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

asdf
  codegen/gen_all.sh
Owners: @jrdouceur

pathing?
  codegen/test/samples/dotnet/gen.sh
  dotnet/samples/PassiveReplicationSample/readme.md
  dotnet/samples/TestEnvoys/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

set -e
  dotnet/samples/TestEnvoys/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

one more
  codegen/test/samples/dotnet/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

no bash vars
  codegen/test/samples/dotnet/gen.sh
  dotnet/samples/TestEnvoys/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

newlines?
  dotnet/samples/TestEnvoys/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

more
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/gen.sh
  dotnet/src/Azure.Iot.Operations.Services/StateStore/gen.sh
Owners: @timtay-microsoft, @tmahmood-microsoft, @lev-i

fix pathing
  eng/test/schema-registry/src/Azure.Iot.Operations.Services.SchemaRegistry.Host/Azure.Iot.Operations.Services.SchemaRegistry.Host.csproj
Owners: @jrdouceur

maybe
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

error codes
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

Initial Rust
  rust/Cargo.toml
  rust/azure_iot_operations_mqtt/Cargo.toml
  rust/azure_iot_operations_mqtt/README.md
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
  rust/azure_iot_operations_mqtt/src/control_packet.rs
  rust/azure_iot_operations_mqtt/src/error.rs
  rust/azure_iot_operations_mqtt/src/interface.rs
  rust/azure_iot_operations_mqtt/src/lib.rs
  rust/azure_iot_operations_mqtt/src/rumqttc_adapter.rs
  rust/azure_iot_operations_mqtt/src/session.rs
  rust/azure_iot_operations_mqtt/src/session/dispatcher.rs
  rust/azure_iot_operations_mqtt/src/session/internal.rs
  rust/azure_iot_operations_mqtt/src/session/pub_tracker.rs
  rust/azure_iot_operations_mqtt/src/session/reconnect_policy.rs
  rust/azure_iot_operations_mqtt/src/session/wrapper.rs
  rust/azure_iot_operations_mqtt/src/topic.rs
  rust/azure_iot_operations_mqtt/tests/mock_example.rs
  rust/azure_iot_operations_protocol/Cargo.toml
  rust/azure_iot_operations_protocol/README.md
  rust/azure_iot_operations_protocol/examples/counter_client.rs
  rust/azure_iot_operations_protocol/examples/counter_server.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/src/common.rs
  rust/azure_iot_operations_protocol/src/common/aio_protocol_error.rs
  rust/azure_iot_operations_protocol/src/common/hybrid_logical_clock.rs
  rust/azure_iot_operations_protocol/src/common/payload_serialize.rs
  rust/azure_iot_operations_protocol/src/common/topic_processor.rs
  rust/azure_iot_operations_protocol/src/common/user_properties.rs
  rust/azure_iot_operations_protocol/src/lib.rs
  rust/azure_iot_operations_protocol/src/rpc.rs
  rust/azure_iot_operations_protocol/src/rpc/command_executor.rs
  rust/azure_iot_operations_protocol/src/rpc/command_invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/telemetry_sender.rs
  rust/clippy.toml
  rust/rust-toolchain.toml
Owners: @cartertinney, @vaavva, @RLeclair

more directory stuff
  .github/workflows/ci-dotnet.yml
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

fix pathing?
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

Added CI
  .github/workflows/ci-rust.yml
  rust/Makefile
Owners: @jrdouceur, @cartertinney, @vaavva, @RLeclair

file exists
  .github/workflows/ci-dotnet.yml
  tools/deployment/deploy-aio.sh
Owners: @jrdouceur

relative
  .github/workflows/ci-dotnet.yml
Owners: @jrdouceur

Added CI infra
  rust/Makefile
  rust/ci/build-deps.sh
  rust/ci/check.sh
  rust/ci/coverage.sh
  rust/ci/jq/coverage.jq
  rust/ci/minimal-deps.sh
  rust/ci/test.sh
Owners: @cartertinney, @vaavva, @RLeclair

.github/CODEOWNERS:

* @jrdouceur
*.md    @ryanwinter

dotnet  @timtay-microsoft @tmahmood-microsoft @lev-i

/rust   @cartertinney @vaavva @RLeclair

/go @vishnureddy17 @clecompt-msft
