Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

Updates, flattening + Removing prefixes
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandExecutor.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandInvoker.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetrySender.tt
  rust/azure_iot_operations_protocol/examples/rpc_executor_sample_no_serialization.rs
  rust/azure_iot_operations_protocol/examples/rpc_executor_sample_with_shared_subscription.rs
  rust/azure_iot_operations_protocol/examples/rpc_invoker_sample_no_serialization.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender_sample.rs
  rust/azure_iot_operations_protocol/src/lib.rs
  rust/azure_iot_operations_protocol/src/rpc_command.rs
  rust/azure_iot_operations_protocol/src/rpc_command/executor.rs
  rust/azure_iot_operations_protocol/src/rpc_command/invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry.rs
  rust/azure_iot_operations_protocol/src/telemetry/receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/sender.rs
  rust/azure_iot_operations_protocol/tests/command_network_tests.rs
  rust/azure_iot_operations_protocol/tests/metl/command_executor_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/command_invoker_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/telemetry_receiver_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/telemetry_sender_tester.rs
  rust/azure_iot_operations_protocol/tests/telemetry_network_tests.rs
  rust/azure_iot_operations_services/src/schema_registry/client.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/get_command_invoker.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/put_command_invoker.rs
  rust/azure_iot_operations_services/src/state_store.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/sample_applications/counter/envoy/src/counter/increment_command_executor.rs
  rust/sample_applications/counter/envoy/src/counter/increment_command_invoker.rs
  rust/sample_applications/counter/envoy/src/counter/read_counter_command_executor.rs
  rust/sample_applications/counter/envoy/src/counter/read_counter_command_invoker.rs
  rust/sample_applications/counter/envoy/src/counter/reset_command_executor.rs
  rust/sample_applications/counter/envoy/src/counter/reset_command_invoker.rs
  rust/sample_applications/counter/envoy/src/counter/telemetry_receiver.rs
  rust/sample_applications/counter/envoy/src/counter/telemetry_sender.rs
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

minor doc fix
  rust/azure_iot_operations_services/src/state_store.rs
Owners: @cartertinney, @vaavva, @RLeclair

sort fix
  go/samples/application/eventdrivenapp/main.go
Owners: @lev-i, @clecompt-msft

Minor update
  rust/azure_iot_operations_services/src/schema_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

mqtt samples
  rust/azure_iot_operations_mqtt/examples/connection_monitor.rs
  rust/azure_iot_operations_mqtt/examples/custom_reconnect_policy.rs
  rust/azure_iot_operations_mqtt/examples/manual_ack.rs
  rust/azure_iot_operations_mqtt/examples/manual_ack_sample.rs
  rust/azure_iot_operations_mqtt/examples/sat_auth.rs
  rust/azure_iot_operations_mqtt/examples/send_receive.rs
  rust/azure_iot_operations_mqtt/examples/simple_sample.rs
  rust/sample_applications/counter/counter_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

clippy
  rust/azure_iot_operations_mqtt/examples/custom_reconnect_policy.rs
  rust/azure_iot_operations_mqtt/examples/manual_ack.rs
  rust/azure_iot_operations_mqtt/examples/sat_auth.rs
Owners: @cartertinney, @vaavva, @RLeclair

rc
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

Removing legacy DSS CLI tool with .NET
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/Azure.Iot.Operations.Services.DssCli.csproj
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/DssClientService.cs
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/MqttClientFactoryProvider.cs
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/Program.cs
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/README.md
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/appsettings.Development.json
  tools/dsscli/src/Azure.Iot.Operations.Services.DssCli/appsettings.json
  tools/dsscli/src/nuget.config
Owners: @avishekpant, @ryanwinter

revert
  rust/sample_applications/counter/README.md
  rust/sample_applications/counter/counter_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

string
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

to string
  rust/azure_iot_operations_mqtt/src/connection_settings.rs
Owners: @cartertinney, @vaavva, @RLeclair

Removing DSS CLI build
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

Update structure
  go/samples/application/eventdrivenapp/README.md
  go/samples/application/eventdrivenapp/input_client/go.mod
  go/samples/application/eventdrivenapp/input_client/go.sum
  go/samples/application/eventdrivenapp/input_client/main.go
  go/samples/application/eventdrivenapp/internal/models/models.go
  go/samples/application/eventdrivenapp/internal/processing/processing.go
  go/samples/application/eventdrivenapp/main.go
  go/samples/application/eventdrivenapp/output_client/go.mod
  go/samples/application/eventdrivenapp/output_client/go.sum
  go/samples/application/eventdrivenapp/output_client/main.go
  go/samples/application/eventdrivenapp/yaml/app.yml
  go/samples/application/eventdrivenapp/yaml/simulator.yml
Owners: @lev-i, @clecompt-msft

[Go] Tag release
  go/go.work
  go/mqtt/go.mod
  go/protocol/go.mod
  go/samples/protocol/cloudevents/client/go.mod
  go/samples/protocol/cloudevents/envoy/go.mod
  go/samples/protocol/cloudevents/server/go.mod
  go/samples/protocol/counter/client/go.mod
  go/samples/protocol/counter/envoy/go.mod
  go/samples/protocol/counter/server/go.mod
  go/samples/protocol/greeter/client/go.mod
  go/samples/protocol/greeter/envoy/go.mod
  go/samples/protocol/greeter/server/go.mod
  go/samples/services/leasedlock/go.mod
  go/samples/services/schemaregistry/go.mod
  go/samples/services/statestore/go.mod
  go/services/go.mod
  go/test/integration/go.mod
  go/test/protocol/go.mod
Owners: @lev-i, @clecompt-msft

Addressing comments
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandExecutor.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Command/t4/RustCommandInvoker.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetryReceiver.tt
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/T4/communication/rust/Telemetry/t4/RustTelemetrySender.tt
  rust/azure_iot_operations_protocol/examples/rpc_executor_sample_no_serialization.rs
  rust/azure_iot_operations_protocol/examples/rpc_executor_sample_with_shared_subscription.rs
  rust/azure_iot_operations_protocol/examples/rpc_invoker_sample_no_serialization.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_executor_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_rpc_invoker_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver_sample.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender_sample.rs
  rust/azure_iot_operations_protocol/src/rpc_command.rs
  rust/azure_iot_operations_protocol/src/rpc_command/executor.rs
  rust/azure_iot_operations_protocol/src/rpc_command/invoker.rs
  rust/azure_iot_operations_protocol/src/telemetry.rs
  rust/azure_iot_operations_protocol/src/telemetry/receiver.rs
  rust/azure_iot_operations_protocol/src/telemetry/sender.rs
  rust/azure_iot_operations_protocol/tests/command_network_tests.rs
  rust/azure_iot_operations_protocol/tests/metl/command_executor_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/command_invoker_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/telemetry_receiver_tester.rs
  rust/azure_iot_operations_protocol/tests/metl/telemetry_sender_tester.rs
  rust/azure_iot_operations_protocol/tests/telemetry_network_tests.rs
  rust/azure_iot_operations_services/src/schema_registry/client.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/get_command_invoker.rs
  rust/azure_iot_operations_services/src/schema_registry/schemaregistry_gen/schema_registry/put_command_invoker.rs
  rust/azure_iot_operations_services/src/state_store.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
  rust/sample_applications/counter/envoy/src/counter/increment_command_executor.rs
  rust/sample_applications/counter/envoy/src/counter/increment_command_invoker.rs
  rust/sample_applications/counter/envoy/src/counter/read_counter_command_executor.rs
  rust/sample_applications/counter/envoy/src/counter/read_counter_command_invoker.rs
  rust/sample_applications/counter/envoy/src/counter/reset_command_executor.rs
  rust/sample_applications/counter/envoy/src/counter/reset_command_invoker.rs
  rust/sample_applications/counter/envoy/src/counter/telemetry_receiver.rs
  rust/sample_applications/counter/envoy/src/counter/telemetry_sender.rs
Owners: @avishekpant, @cartertinney, @vaavva, @RLeclair

minor comment
  rust/azure_iot_operations_protocol/src/telemetry/receiver.rs
Owners: @cartertinney, @vaavva, @RLeclair

Some changes didn't push
  go/go.work
  go/samples/application/eventdrivenapp/output_client/go.mod
  go/samples/application/eventdrivenapp/output_client/main.go
Owners: @lev-i, @clecompt-msft

accept suggestion
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

[.NET] Bump versions for release
  dotnet/src/Azure.Iot.Operations.Connector/Azure.Iot.Operations.Connector.csproj
  dotnet/src/Azure.Iot.Operations.Mqtt/Azure.Iot.Operations.Mqtt.csproj
  dotnet/src/Azure.Iot.Operations.Protocol/Azure.Iot.Operations.Protocol.csproj
  dotnet/src/Azure.Iot.Operations.Services/Azure.Iot.Operations.Services.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

accept suggestion
  doc/dev/adr/0020-large-message-chunking.md
Owners: @ryanwinter

[.NET] Remove timing-based integration test
  dotnet/test/Azure.Iot.Operations.Protocol.IntegrationTests/GreeterEnvoyTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Addressing comments + Changing to channels
  rust/sample_applications/event_driven_app/input_client/src/main.rs
  rust/sample_applications/event_driven_app/output_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

codegen
  rust/azure_iot_operations_services/src/adr/aep-name-based-operations.json
  rust/azure_iot_operations_services/src/adr/aep-type-based-operations.json
  rust/azure_iot_operations_services/src/adr/gen.sh
Owners: @cartertinney, @vaavva, @RLeclair

Replacing aggregate with From
  rust/sample_applications/event_driven_app/output_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

Ran Codegen
  dotnet/samples/Protocol/CloudEvents/BytesJsonConverter.cs
  dotnet/samples/Protocol/CloudEvents/DateJsonConverter.cs
  dotnet/samples/Protocol/CloudEvents/DecimalJsonConverter.cs
  dotnet/samples/Protocol/CloudEvents/DecimalString.cs
  dotnet/samples/Protocol/CloudEvents/DurationJsonConverter.cs
  dotnet/samples/Protocol/CloudEvents/EmptyJson.cs
  dotnet/samples/Protocol/CloudEvents/Oven/OperationSummarySchema.g.cs
  dotnet/samples/Protocol/CloudEvents/Oven/Oven.g.cs
  dotnet/samples/Protocol/CloudEvents/Oven/TelemetryCollection.g.cs
  dotnet/samples/Protocol/CloudEvents/Oven/TelemetryReceiver.g.cs
  dotnet/samples/Protocol/CloudEvents/Oven/TelemetrySender.g.cs
  dotnet/samples/Protocol/CloudEvents/TimeJsonConverter.cs
  dotnet/samples/Protocol/CloudEvents/Utf8JsonSerializer.cs
  dotnet/samples/Protocol/CloudEvents/UuidJsonConverter.cs
  dotnet/samples/Protocol/ReadCloudEvents/BytesJsonConverter.cs
  dotnet/samples/Protocol/ReadCloudEvents/DateJsonConverter.cs
  dotnet/samples/Protocol/ReadCloudEvents/DecimalJsonConverter.cs
  dotnet/samples/Protocol/ReadCloudEvents/DecimalString.cs
  dotnet/samples/Protocol/ReadCloudEvents/DurationJsonConverter.cs
  dotnet/samples/Protocol/ReadCloudEvents/EmptyJson.cs
  dotnet/samples/Protocol/ReadCloudEvents/Oven/OperationSummarySchema.g.cs
  dotnet/samples/Protocol/ReadCloudEvents/Oven/Oven.g.cs
  dotnet/samples/Protocol/ReadCloudEvents/Oven/TelemetryCollection.g.cs
  dotnet/samples/Protocol/ReadCloudEvents/Oven/TelemetryReceiver.g.cs
  dotnet/samples/Protocol/ReadCloudEvents/Oven/TelemetrySender.g.cs
  dotnet/samples/Protocol/ReadCloudEvents/TimeJsonConverter.cs
  dotnet/samples/Protocol/ReadCloudEvents/Utf8JsonSerializer.cs
  dotnet/samples/Protocol/ReadCloudEvents/UuidJsonConverter.cs
  dotnet/samples/Protocol/TestEnvoys/TestEnvoys.csproj
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

minor fix
  rust/sample_applications/event_driven_app/input_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

file locations wrong
  eng/dtdl/aep-name-based-operations.json
  eng/dtdl/aep-type-based-operations.json
Owners: @avishekpant

Adjustments to new samples
  rust/sample_applications/event_driven_app/input_client/src/main.rs
  rust/sample_applications/event_driven_app/output_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

import fix
  go/samples/application/eventdrivenapp/input_client/main.go
  go/samples/application/eventdrivenapp/internal/processing/processing.go
  go/samples/application/eventdrivenapp/output_client/main.go
Owners: @lev-i, @clecompt-msft

wip
  rust/sample_applications/counter/counter_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

test
  rust/sample_applications/counter/counter_client/src/main.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update ci-markdown.yml ignore errors from linkspector
  .github/workflows/ci-markdown.yml
Owners: @avishekpant

issue update
  .github/ISSUE_TEMPLATE/bug-report.yml
Owners: @avishekpant

imports again
  go/samples/application/eventdrivenapp/input_client/go.mod
  go/samples/application/eventdrivenapp/output_client/go.mod
Owners: @lev-i, @clecompt-msft

update samples to use env for go
  go/samples/README.md
  go/samples/protocol/cloudevents/client/main.go
  go/samples/protocol/cloudevents/server/main.go
  go/samples/protocol/counter/server/Dockerfile
  go/samples/protocol/counter/server/deployment.yaml
  go/samples/protocol/counter/server/push-local.sh
  go/samples/protocol/greeter/client/main.go
  go/samples/protocol/greeter/server/main.go
  go/samples/services/leasedlock/main.go
  go/samples/services/schemaregistry/main.go
  go/samples/services/statestore/main.go
Owners: @lev-i, @clecompt-msft

wip
  rust/azure_iot_operations_protocol/examples/simple_telemetry_receiver.rs
  rust/azure_iot_operations_protocol/examples/simple_telemetry_sender.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update go/samples/README.md
  go/samples/README.md
Owners: @lev-i, @clecompt-msft

[Codegen] Bump version for release
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/Azure.Iot.Operations.ProtocolCompiler.csproj
Owners: @avishekpant

fix samples after codegen
  dotnet/samples/Protocol/CloudEvents/OvenService.cs
  dotnet/samples/Protocol/CloudEvents/Worker.cs
  dotnet/samples/Protocol/ReadCloudEvents/OvenClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Update CredScanSuppressions.json
  .pipelines/config/CredScanSuppressions.json
Owners: @avishekpant

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft
