Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

cleint id
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update ci-dotnet.yml
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

list pods
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

expect messages
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

always
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

wip
  rust/azure_iot_operations_connector/src/data_transformer2.rs
  rust/azure_iot_operations_connector/src/lib.rs
Owners: @cartertinney, @vaavva, @RLeclair

merge errs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

derp
  .github/workflows/ci-dotnet.yml
  dotnet/samples/Connectors/PollingRestThermostatConnector/ThermostatStatusDatasetSampler.cs
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

exit if image import fails
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/deploy-connector-and-device.sh
  dotnet/samples/Connectors/PollingRestThermostatConnector/deploy-connector-and-device.sh
  dotnet/samples/Connectors/SqlConnector/deploy-connector-and-device.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry/client.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

asset name
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

asset name
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

skip for now
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

enable sql connector tests
  .github/workflows/ci-dotnet.yml
  dotnet/test/Azure.Iot.Operations.Connector.IntegrationTests/ConnectorTests.cs
Owners: @avishekpant, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

timing issue?
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/deploy-connector-and-device.sh
  dotnet/samples/Connectors/PollingRestThermostatConnector/deploy-connector-and-device.sh
  dotnet/samples/Connectors/SqlConnector/deploy-connector-and-device.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

describe as well
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

Address more CR comments
  rust/azure_iot_operations_services/examples/lock_client.rs
  rust/azure_iot_operations_services/src/leased_lock.rs
  rust/azure_iot_operations_services/src/leased_lock/lease.rs
  rust/azure_iot_operations_services/src/leased_lock/lock.rs
  rust/azure_iot_operations_services/tests/lease_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

Refactor device and asset status update methods for improved error handling
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

update connector crate to point to current adr client
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions.rs
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/connector_template.yaml
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
  rust/azure_iot_operations_connector/src/data_transformer.rs
  rust/azure_iot_operations_connector/src/destination_endpoint.rs
Owners: @cartertinney, @vaavva, @RLeclair

update for operator changes
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/rest-thermostat-asset-definition.yaml
Owners: @cartertinney, @vaavva, @RLeclair

adding prompt for existing cluster
  tools/deployment/initialize-cluster.sh
Owners: @avishekpant

derp
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Change KeyLengthZero to InvalidArgument in state store
  rust/azure_iot_operations_services/src/leased_lock.rs
  rust/azure_iot_operations_services/src/state_store.rs
  rust/azure_iot_operations_services/src/state_store/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

fix
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/connector-template.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "timing issue?"
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/deploy-connector-and-device.sh
  dotnet/samples/Connectors/PollingRestThermostatConnector/deploy-connector-and-device.sh
  dotnet/samples/Connectors/SqlConnector/deploy-connector-and-device.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

remove creds that couldn't be found from device definition
  rust/azure_iot_operations_connector/examples/connector_get_adr_definitions_resources/thermostat-device-definition.yaml
Owners: @cartertinney, @vaavva, @RLeclair

fmt
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip implementation of get devices and minor sample to test flow
  rust/azure_iot_operations_connector/Cargo.toml
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

update adr client errors
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

wip
  rust/azure_iot_operations_connector/src/data_transformer2.rs
  rust/azure_iot_operations_connector/src/lib.rs
  rust/azure_iot_operations_connector/src/sample_data_pipeline.rs
Owners: @cartertinney, @vaavva, @RLeclair

derp
  dotnet/samples/Connectors/SqlConnector/LeaderElectionConfigurationProvider.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

once more
  dotnet/samples/Connectors/SqlConnector/KubernetesResources/sql-server-asset-definition.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

add sample resource files. update status to use retry crate instead of macro. cleanup. split status into being able to report device and endpoint separately
  rust/azure_iot_operations_connector/README.md
  rust/azure_iot_operations_connector/examples/base_connector_sample.rs
  rust/azure_iot_operations_connector/examples/base_connector_sample_resources/Dockerfile
  rust/azure_iot_operations_connector/examples/base_connector_sample_resources/connector_template.yaml
  rust/azure_iot_operations_connector/examples/base_connector_sample_resources/rest-thermostat-asset-definition.yaml
  rust/azure_iot_operations_connector/examples/base_connector_sample_resources/thermostat-device-definition.yaml
  rust/azure_iot_operations_connector/src/base_connector.rs
  rust/azure_iot_operations_connector/src/base_connector/managed_azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

what
  dotnet/samples/Connectors/SqlConnector/QualityAnalyzerDatasetSampler.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

1 test
  rust/azure_iot_operations_services/tests/azure_device_registry_client_tests.rs
Owners: @cartertinney, @vaavva, @RLeclair

add tests resources
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/coap-asset.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/my-thermostat-device.yaml
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/resources/rest-asset.yaml
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/test/Azure.Iot.Operations.Services.IntegrationTests/AdrServiceClientIntegrationTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80
