Repository Azure/iot-operations-sdks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrdouceur, @avishekpant, @ryanwinter, @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80, @cartertinney, @vaavva, @RLeclair, @clecompt-msft

.github/CODEOWNERS:

* @jrdouceur
* @avishekpant

*.md    @ryanwinter

dotnet  @timtay-microsoft @lev-i @olivakar @maximsemenov80

/rust   @cartertinney @vaavva @RLeclair

/go @lev-i @clecompt-msft

Ran Codegen
  dotnet/samples/Protocol/TestEnvoys/Counter/IncrementRequestPayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Counter/IncrementResponsePayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Counter/ReadCounterResponsePayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/CustomTopicTokens/ReadCustomTopicTokenResponsePayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsRequestPayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/GetRuntimeStatsResponsePayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/ManagedMemoryTelemetry.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/MemoryStatsTelemetry.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/StartTelemetryRequestPayload.g.cs
  dotnet/samples/Protocol/TestEnvoys/Memmon/WorkingSetTelemetry.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetEndpointProfileResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/Akri/DiscoveredAssetResources/CreateDiscoveredAssetResponsePayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/GetRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/PutRequestPayload.g.cs
  dotnet/src/Azure.Iot.Operations.Services/SchemaRegistry/SchemaRegistry/PutResponsePayload.g.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

request build error
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update gen.sh
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/gen.sh
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

progress
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/AssetServiceClientStub.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/Device.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceSpecification.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/DeviceStatus.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

changed observation error
  rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

source code builds (not samples nor tests)
  dotnet/Directory.Build.props
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetAvailabileEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetChangedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Connector/IDatasetSampler.cs
  dotnet/src/Azure.Iot.Operations.Connector/IDatasetSamplerFactory.cs
  dotnet/src/Azure.Iot.Operations.Connector/IMessageSchemaProvider.cs
  dotnet/src/Azure.Iot.Operations.Connector/NoMessageSchemaProvider.cs
  dotnet/src/Azure.Iot.Operations.Connector/PollingTelemetryConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

more progress, some blockers
  dotnet/samples/Connectors/EventDrivenTcpThermostatConnector/EventDrivenTcpThermostatConnectorWorker.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/RestThermostatDatasetSamplerFactory.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/ThermostatStatusDatasetSampler.cs
  dotnet/samples/Connectors/SqlConnector/QualityAnalyzerDatasetSampler.cs
  dotnet/samples/Connectors/SqlConnector/SqlQualityAnalyzerDatasetSamplerFactory.cs
  dotnet/src/Azure.Iot.Operations.Connector/AdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/AssetEndpointProfileContext.cs
  dotnet/src/Azure.Iot.Operations.Connector/IAdrClientWrapper.cs
  dotnet/src/Azure.Iot.Operations.Connector/PollingTelemetryConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetEndpointProfileCreatedEventArgs.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetEndpointProfileCredentials.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetFileMonitor.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/IAssetFileMonitor.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockAdrClientWrapper.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockDatasetSampler.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockDatasetSamplerFactory.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/MockMessageSchemaProvider.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/PollingTelemetryConnectorWorkerTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Assets/AssetMonitorTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/Assets/MockAssetMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

client update
  go/services/adr/client.go
Owners: @lev-i, @clecompt-msft

Adding logging per service
  tools/stub_service/Cargo.toml
  tools/stub_service/src/lib.rs
  tools/stub_service/src/main.rs
  tools/stub_service/src/schema_registry.rs
  tools/stub_service/src/schema_registry/service.rs
Owners: @avishekpant

Adding rolling file change
  tools/stub_service/src/lib.rs
  tools/stub_service/src/main.rs
Owners: @avishekpant

stuff
  dotnet/samples/Connectors/PollingRestThermostatConnector/RestThermostatDatasetSamplerFactory.cs
  dotnet/samples/Connectors/PollingRestThermostatConnector/ThermostatStatusDatasetSampler.cs
  dotnet/samples/Connectors/SqlConnector/QualityAnalyzerDatasetSampler.cs
  dotnet/src/Azure.Iot.Operations.Connector/AioDiagnosticsLogs.cs
  dotnet/src/Azure.Iot.Operations.Connector/AioMetadata.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorDiagnostics.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfigurationAuthentication.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfigurationServiceAccountTokenSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfigurationTls.cs
  dotnet/src/Azure.Iot.Operations.Connector/PollingTelemetryConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetDataPointSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetDatasetSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetEventSchemaElement.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/AssetSpecification.cs
  dotnet/src/Azure.Iot.Operations.Services/AssetAndDeviceRegistry/Models/ModelsConverter.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/FilesMonitor/FilesMonitor.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Connection/MqttConnectionSettingsTests.cs
  dotnet/test/Azure.Iot.Operations.Services.UnitTests/AssetAndDeviceRegistry/ModelsConverterTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

keep
  dotnet/src/Azure.Iot.Operations.Connector/AioDiagnosticsLogs.cs
  dotnet/src/Azure.Iot.Operations.Connector/AioMetadata.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorDiagnostics.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfigurationAuthentication.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfigurationServiceAccountTokenSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfigurationTls.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

so far
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorDiagnostics.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorDiagnosticsLogs.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/TelemetryConnectorWorker.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/ConnectorMqttConnectionSettingsTests.cs
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/Connection/MqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

so far
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfiguration.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

asdf
  dotnet/src/Azure.Iot.Operations.Services/Assets/AssetMonitor.cs
  dotnet/src/Azure.Iot.Operations.Services/Assets/FilesMonitor/FilesMonitor.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Allow wider range of JSON Schema formats as ProtocolCompiler input
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/TypeGenerator/JsonSchemaStandardizer.cs
  codegen/test/samples/json/complex-type-schema.schema.json
Owners: @avishekpant

Update codegen/src/Azure.Iot.Operations.ProtocolCompiler/TypeGenerator/JsonSchemaStandardizer.cs
  codegen/src/Azure.Iot.Operations.ProtocolCompiler/TypeGenerator/JsonSchemaStandardizer.cs
Owners: @avishekpant

Addressing comments
  tools/stub_service/src/schema_registry.rs
  tools/stub_service/src/schema_registry/service.rs
Owners: @avishekpant

shutdown
  rust/azure_iot_operations_services/src/azure_device_registry/client.rs
Owners: @cartertinney, @vaavva, @RLeclair

Update rust/azure_iot_operations_services/src/azure_device_registry.rs
  rust/azure_iot_operations_services/src/azure_device_registry.rs
Owners: @cartertinney, @vaavva, @RLeclair

tests
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/MqttConnectionConfiguration.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/Azure.Iot.Operations.Connector.UnitTests.csproj
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/ConnectorMqttConnectionSettingsTests.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/TestMountFiles/AIO_MQTT_CLIENT_ID
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/TestMountFiles/BROKER_TARGET_ADDRESS
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/TestMountFiles/BROKER_USE_TLS
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/TestMountFiles/ConnectorConfig/AIO_METADATA
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/TestMountFiles/ConnectorConfig/DIAGNOSTICS
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/TestMountFiles/ConnectorConfig/MQTT_CONNECTION_CONFIGURATION
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/TestMountFiles/ConnectorConfigNoAuthNoTls/AIO_METADATA
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/TestMountFiles/ConnectorConfigNoAuthNoTls/DIAGNOSTICS
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/TestMountFiles/ConnectorConfigNoAuthNoTls/MQTT_CONNECTION_CONFIGURATION
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/TestMountFiles/TrustBundle/ca.txt
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

folder
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/AioMetadata.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/ConnectorDiagnostics.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/ConnectorDiagnosticsLogs.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/MqttConnectionConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/MqttConnectionConfigurationAuthentication.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/MqttConnectionConfigurationServiceAccountTokenSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/MqttConnectionConfigurationTls.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Updating readme
  tools/stub_service/README.md
Owners: @ryanwinter

Adjusting constants
  tools/stub_service/src/lib.rs
  tools/stub_service/src/main.rs
Owners: @avishekpant

error messages
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Adding pattern plus removing superfluous logs
  tools/stub_service/src/lib.rs
  tools/stub_service/src/main.rs
Owners: @avishekpant

Rename
  tools/azure_iot_operations_stub_service/.cargo/config.toml
  tools/azure_iot_operations_stub_service/Cargo.toml
  tools/azure_iot_operations_stub_service/README.md
  tools/azure_iot_operations_stub_service/gen.sh
  tools/azure_iot_operations_stub_service/src/lib.rs
  tools/azure_iot_operations_stub_service/src/main.rs
  tools/azure_iot_operations_stub_service/src/schema_registry.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/common_types.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/common_types/b64.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/common_types/common_options.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/common_types/date_only.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/common_types/decimal.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/common_types/empty_json.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/common_types/time_only.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/dependencies.md
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/mod.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/format.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/get_command_executor.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/get_request_payload.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/get_request_payload_serialization.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/get_request_schema.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/get_response_payload.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/get_response_payload_serialization.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/put_command_executor.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/put_request_payload.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/put_request_payload_serialization.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/put_request_schema.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/put_response_payload.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/put_response_payload_serialization.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/schema.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/schema_registry/schema_type.rs
  tools/azure_iot_operations_stub_service/src/schema_registry/service.rs
Owners: @avishekpant, @ryanwinter

Minor update
  tools/azure_iot_operations_stub_service/src/main.rs
Owners: @avishekpant

internal
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/AioMetadata.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/ConnectorDiagnostics.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/ConnectorDiagnosticsLogs.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/MqttConnectionConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/MqttConnectionConfigurationAuthentication.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/MqttConnectionConfigurationServiceAccountTokenSettings.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/MqttConnectionConfigurationTls.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Models/MqttClientOptions.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/ConnectorMqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Missing s
  tools/azure_iot_operations_stub_service/src/schema_registry/schema_registry_gen/dependencies.md
  tools/azure_iot_operations_stub_services/.cargo/config.toml
  tools/azure_iot_operations_stub_services/Cargo.toml
  tools/azure_iot_operations_stub_services/README.md
  tools/azure_iot_operations_stub_services/gen.sh
  tools/azure_iot_operations_stub_services/src/lib.rs
  tools/azure_iot_operations_stub_services/src/main.rs
  tools/azure_iot_operations_stub_services/src/schema_registry.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/common_types.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/common_types/b64.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/common_types/common_options.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/common_types/date_only.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/common_types/decimal.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/common_types/empty_json.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/common_types/time_only.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/mod.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/format.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/get_command_executor.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/get_request_payload.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/get_request_payload_serialization.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/get_request_schema.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/get_response_payload.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/get_response_payload_serialization.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/put_command_executor.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/put_request_payload.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/put_request_payload_serialization.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/put_request_schema.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/put_response_payload.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/put_response_payload_serialization.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/schema.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/schema_registry_gen/schema_registry/schema_type.rs
  tools/azure_iot_operations_stub_services/src/schema_registry/service.rs
Owners: @ryanwinter, @avishekpant

params
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorConfigurations/MqttConnectionConfiguration.cs
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Mqtt/Converters/MqttNetConverter.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Models/MqttClientOptions.cs
  dotnet/test/Azure.Iot.Operations.Connector.UnitTests/ConnectorMqttConnectionSettingsTests.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

typo
  dotnet/src/Azure.Iot.Operations.Connector/ConnectorMqttConnectionSettings.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

for now
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

[.NET] Add ReceiveMaximum configuration to MqttConnectionSettings
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Models/MqttClientOptions.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

more
  dotnet/src/Azure.Iot.Operations.Mqtt/Converters/MqttNetConverter.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "[.NET] Update AEP DTDL (#687)"
  eng/dtdl/aep-name-based-operations.json
Owners: @avishekpant

fix
  dotnet/src/Azure.Iot.Operations.Protocol/Models/MqttClientOptions.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

fix unit test
  dotnet/test/Azure.Iot.Operations.Protocol.UnitTests/MockMqttClient.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80

Revert "for now"
  .github/workflows/ci-dotnet.yml
Owners: @avishekpant

Revert "params"
  dotnet/src/Azure.Iot.Operations.Mqtt/Converters/MqttNetConverter.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Connection/MqttConnectionSettings.cs
  dotnet/src/Azure.Iot.Operations.Protocol/Models/MqttClientOptions.cs
Owners: @timtay-microsoft, @lev-i, @olivakar, @maximsemenov80
